openapi: 3.2.0
info:
  title: Airia Web Frameworks API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Frameworks
paths:
  /v1/governance/frameworks:
    get:
      tags:
      - Frameworks
      operationId: Frameworks_GetAllFrameworks2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GovernanceFrameworkDto'
      summary: Frameworks get all frameworks2
      x-summary-source: derived
  /v1/governance/frameworks/{key}:
    get:
      tags:
      - Frameworks
      operationId: Frameworks_GetFrameworkByKey2
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GovernanceFrameworkDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Frameworks get framework by key2
      x-summary-source: derived
  /v1/governance/frameworks/{key}/enable:
    patch:
      tags:
      - Frameworks
      operationId: Frameworks_EnableFramework2
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GovernanceFrameworkDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Frameworks enable framework2
      x-summary-source: derived
  /v1/governance/frameworks/{key}/disable:
    patch:
      tags:
      - Frameworks
      operationId: Frameworks_DisableFramework2
      parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GovernanceFrameworkDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Frameworks disable framework2
      x-summary-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    GovernanceFrameworkDto:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        key:
          type:
          - string
          - 'null'
        name:
          type: string
        isEnabled:
          type: boolean
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
