openapi: 3.2.0
info:
  title: Airia Web Public Governance API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: PublicGovernance
paths:
  /v1/public/governance/{shareToken}:
    get:
      tags:
      - PublicGovernance
      operationId: PublicGovernance_GetByShareToken
      parameters:
      - name: shareToken
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGovernanceDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        429:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Public governance get by share token
      x-summary-source: derived
  /v1/public/governance/multi:
    get:
      tags:
      - PublicGovernance
      operationId: PublicGovernance_GetMultiByShareTokens
      parameters:
      - name: tokens
        in: query
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicGovernanceDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        429:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Public governance get multi by share tokens
      x-summary-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    PublicRiskClassificationDto:
      type: object
      additionalProperties: false
      properties:
        frameworkKey:
          type: string
        frameworkName:
          type: string
        level:
          type: string
    PublicGovernanceDto:
      type: object
      additionalProperties: false
      properties:
        useCaseName:
          type: string
        useCaseStage:
          type:
          - string
          - 'null'
        owner:
          type:
          - string
          - 'null'
        governanceLevel:
          type:
          - string
          - 'null'
        governanceScore:
          type:
          - integer
          - 'null'
          format: int32
        autonomy:
          type:
          - string
          - 'null'
        lastAssessedDate:
          type:
          - string
          - 'null'
          format: date-time
        models:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PublicModelDto'
        assets:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PublicAssetDto'
        guardrails:
          type:
          - array
          - 'null'
          items:
            type: string
        guardrailCount:
          type:
          - integer
          - 'null'
          format: int32
        intendedFor:
          type:
          - array
          - 'null'
          items:
            type: string
        notIntendedFor:
          type:
          - array
          - 'null'
          items:
            type: string
        disclaimer:
          type:
          - string
          - 'null'
        summary:
          type:
          - string
          - 'null'
        riskClassifications:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PublicRiskClassificationDto'
    PublicModelDto:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        provider:
          type: string
        version:
          type:
          - string
          - 'null'
    PublicAssetDto:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        type:
          type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
