openapi: 3.2.0
info:
  title: Airia Web Security Center API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: SecurityCenter
paths:
  /v1/SecurityCenter/summary:
    get:
      tags:
      - SecurityCenter
      operationId: SecurityCenter_GetSecuritySummary
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuritySummaryResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Security center get security summary
      x-summary-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    SecuritySummaryResponse:
      type: object
      additionalProperties: false
      properties:
        activeGuardrailsCount:
          type: integer
          format: int32
        securityScore:
          type: number
          format: double
        gatewayRequestsCount:
          type: integer
          format: int32
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
