openapi: 3.2.0
info:
  title: Airia Web Usecase Risk Classification API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: UsecaseRiskClassification
paths:
  /v1/governance/usecases/risk-classification/message:
    post:
      tags:
      - UsecaseRiskClassification
      operationId: UsecaseRiskClassification_SendMessage2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsecaseRiskClassificationMessageRequest'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsecaseRiskClassificationMessageResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Usecase risk classification send message2
      x-summary-source: derived
components:
  schemas:
    Iso42001Level:
      type: string
      description: ''
      x-enumNames:
      - Level1
      - Level2
      - Level3
      - Level4
      - Level5
      - NotApplicable
      enum:
      - Level1
      - Level2
      - Level3
      - Level4
      - Level5
      - NotApplicable
    EuAiActCategory:
      type: string
      description: ''
      x-enumNames:
      - Prohibited
      - HighRisk
      - LimitedRisk
      - MinimalRisk
      - NotApplicable
      enum:
      - Prohibited
      - HighRisk
      - LimitedRisk
      - MinimalRisk
      - NotApplicable
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    UsecaseRiskClassificationMessageResponse:
      type: object
      additionalProperties: false
      required:
      - message
      properties:
        message:
          type: string
        isFinalClassification:
          type: boolean
        savedClassification:
          oneOf:
          - $ref: '#/components/schemas/UseCaseRiskClassificationDto'
    NistAiRmfTier:
      type: string
      description: ''
      x-enumNames:
      - Tier1
      - Tier2
      - Tier3
      - Tier4
      - Tier5
      - NotApplicable
      enum:
      - Tier1
      - Tier2
      - Tier3
      - Tier4
      - Tier5
      - NotApplicable
    UseCaseRiskClassificationDto:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        useCaseId:
          type: string
          format: guid
        isActive:
          type: boolean
        euAiAct:
          $ref: '#/components/schemas/EuAiActCategory'
        nistAiRmfTier:
          $ref: '#/components/schemas/NistAiRmfTier'
        iso42001Level:
          $ref: '#/components/schemas/Iso42001Level'
        mitRiskControlIds:
          type: array
          items:
            type: string
        coSaiControlIds:
          type: array
          items:
            type: string
        governanceScore:
          type:
          - integer
          - 'null'
          format: int32
        governanceLevel:
          type:
          - string
          - 'null'
        summary:
          type:
          - string
          - 'null'
        riskAssessmentJson:
          type:
          - string
          - 'null'
        euAiActConfidence:
          type:
          - string
          - 'null'
        nistAiRmfConfidence:
          type:
          - string
          - 'null'
        iso42001Confidence:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        userId:
          type:
          - string
          - 'null'
          format: guid
    UsecaseRiskClassificationHistoryMessage:
      type: object
      additionalProperties: false
      required:
      - role
      - message
      properties:
        role:
          type: string
          minLength: 1
        message:
          type: string
          minLength: 1
    UsecaseRiskClassificationMessageRequest:
      type: object
      additionalProperties: false
      required:
      - useCaseDescription
      properties:
        useCaseId:
          type:
          - string
          - 'null'
          format: guid
        useCaseDescription:
          type: string
          minLength: 1
        agentIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        userMessage:
          type:
          - string
          - 'null'
        conversationHistory:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UsecaseRiskClassificationHistoryMessage'
        organizationalContext:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
