openapi: 3.2.0
info:
  title: Airia Web Department API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Department
paths:
  /v1/Department:
    get:
      tags:
      - Department
      operationId: Department_GetAllDepartments2
      parameters:
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DepartmentResponseModel'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Department get all departments2
      x-summary-source: derived
    post:
      tags:
      - Department
      operationId: Department_CreateDepartment2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentRequestModel'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepartmentResponseModel'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Department create department2
      x-summary-source: derived
  /v1/Department/{id}:
    put:
      tags:
      - Department
      operationId: Department_UpdateDepartment2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepartmentRequestModel'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Department update department2
      x-summary-source: derived
    delete:
      tags:
      - Department
      operationId: Department_DeleteDepartment2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Department delete department2
      x-summary-source: derived
  /v1/Department/orders:
    put:
      tags:
      - Department
      operationId: Department_UpdateDepartmentOrders2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchDepartmentOrdersUpdateRequestModel'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Department update department orders2
      x-summary-source: derived
components:
  schemas:
    ConnectionSalesforceAgentforce:
      type: object
      additionalProperties: false
      properties:
        instanceUrl:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
    AiAssetInternalStatus:
      type: string
      description: ''
      x-enumNames:
      - Undefined
      - Synchronizing
      - MissingFromSource
      enum:
      - Undefined
      - Synchronizing
      - MissingFromSource
    NistAiRmfTier:
      type: string
      description: ''
      x-enumNames:
      - Tier1
      - Tier2
      - Tier3
      - Tier4
      - Tier5
      - NotApplicable
      enum:
      - Tier1
      - Tier2
      - Tier3
      - Tier4
      - Tier5
      - NotApplicable
    UseCaseVersion:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          useCaseId:
            type: string
            format: guid
          revisionNumber:
            type: integer
            format: int32
          versionLabel:
            type:
            - string
            - 'null'
            maxLength: 64
            minLength: 0
          isActive:
            type: boolean
          isArchived:
            type: boolean
          name:
            type: string
            maxLength: 200
            minLength: 0
          description:
            type:
            - string
            - 'null'
          stage:
            $ref: '#/components/schemas/UseCaseStage'
          status:
            oneOf:
            - $ref: '#/components/schemas/UseCaseStatus'
          autonomy:
            oneOf:
            - $ref: '#/components/schemas/UseCaseAutonomy'
          impacted:
            type:
            - string
            - 'null'
            maxLength: 500
            minLength: 0
          ownerId:
            type:
            - string
            - 'null'
            format: guid
          reviewerId:
            type:
            - string
            - 'null'
            format: guid
          riskDomainId:
            type:
            - string
            - 'null'
            format: guid
          riskSubDomainId:
            type:
            - string
            - 'null'
            format: guid
          reviewedAt:
            type:
            - string
            - 'null'
            format: date-time
          contextChangedAt:
            type:
            - string
            - 'null'
            format: date-time
          acceptsAssetUpdates:
            type: boolean
          core:
            oneOf:
            - $ref: '#/components/schemas/UseCaseCore'
          intendedUse:
            oneOf:
            - $ref: '#/components/schemas/UseCaseIntendedUse'
          reviewPolicy:
            oneOf:
            - $ref: '#/components/schemas/UseCaseReviewPolicy'
          nutritionLabelJson:
            type:
            - string
            - 'null'
          receiptJson:
            type:
            - string
            - 'null'
          rowVersion:
            type: integer
          useCase:
            oneOf:
            - $ref: '#/components/schemas/UseCase'
    DataSourceFile:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        additionalProperties: false
        properties:
          dataSourceId:
            type: string
            format: guid
          filePath:
            type:
            - string
            - 'null'
          inputToken:
            type:
            - string
            - 'null'
          processingStatus:
            $ref: '#/components/schemas/FileProcessingStatus'
          processingStartedAt:
            type:
            - string
            - 'null'
            format: date-time
          fileMetadataJson:
            type:
            - string
            - 'null'
          fileMetadata:
            oneOf:
            - $ref: '#/components/schemas/DataSourceFileMetadata'
          processingLogsJson:
            type:
            - string
            - 'null'
          processingLogs:
            oneOf:
            - $ref: '#/components/schemas/FileProcessingLogDetails'
    DataSourceGroup:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        properties:
          name:
            type: string
            maxLength: 256
            minLength: 0
          description:
            type: string
          dataSources:
            type: array
            items:
              $ref: '#/components/schemas/DataSource'
    QuickAction:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        displayName:
          type: string
        quickActionType:
          $ref: '#/components/schemas/QuickActionType'
        initialMessage:
          type:
          - string
          - 'null'
        assignedAgent:
          oneOf:
          - $ref: '#/components/schemas/AssignedAgent'
        targetDomains:
          type:
          - array
          - 'null'
          items:
            type: string
    ConnectionGoogleWorkspace:
      type: object
      additionalProperties: false
      properties:
        domain:
          type:
          - string
          - 'null'
        serviceAccountKey:
          type:
          - string
          - 'null'
        adminEmail:
          type:
          - string
          - 'null'
    RiskDomain:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
          maxLength: 200
          minLength: 1
        color:
          type:
          - string
          - 'null'
          maxLength: 20
        displayOrder:
          type: integer
          format: int32
        subDomains:
          type: array
          items:
            $ref: '#/components/schemas/RiskSubDomain'
    AgentEvaluationEvaluator:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - descriptorJson
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          agentEvaluationId:
            type: string
            format: guid
          agentEvaluation:
            $ref: '#/components/schemas/AgentEvaluation'
          evalSuiteEvaluatorId:
            type:
            - string
            - 'null'
            format: guid
          evalSuiteEvaluator:
            oneOf:
            - $ref: '#/components/schemas/EvalSuiteEvaluator'
          descriptorJson:
            type: string
            minLength: 1
          initParamsJson:
            type:
            - string
            - 'null'
    ExternalScenarioOverrides:
      allOf:
      - $ref: '#/components/schemas/ScenarioOverrides'
      - type: object
        additionalProperties: false
        properties:
          overrideKind:
            $ref: '#/components/schemas/ScenarioOverrideKind'
          systemPromptOverride:
            type:
            - string
            - 'null'
          additionalInstructions:
            type:
            - string
            - 'null'
          configOverrides:
            type:
            - object
            - 'null'
            additionalProperties:
              $ref: '#/components/schemas/JsonNode'
    ScenarioOverrides:
      type: object
      discriminator:
        propertyName: kind
        mapping:
          Internal: '#/components/schemas/InternalScenarioOverrides'
          External: '#/components/schemas/ExternalScenarioOverrides'
      x-abstract: true
      additionalProperties: false
      required:
      - kind
      properties:
        modelOverride:
          oneOf:
          - $ref: '#/components/schemas/ModelOverride'
        toolOverrides:
          oneOf:
          - $ref: '#/components/schemas/ToolPatch'
        kind:
          type: string
    DeploymentPrompt:
      type: string
      description: ''
      x-enumNames:
      - Artifact
      - Citation
      enum:
      - Artifact
      - Citation
    ClassificationAssignment:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          assetId:
            type: string
            format: guid
          classificationId:
            type: string
            format: guid
          assignedClassificationLabelId:
            type:
            - string
            - 'null'
            format: guid
          assignedClassificationLabel:
            oneOf:
            - $ref: '#/components/schemas/ClassificationLabel'
          inferredClassificationLabelId:
            type:
            - string
            - 'null'
            format: guid
          classification:
            $ref: '#/components/schemas/Classification'
          riskMetadata:
            oneOf:
            - $ref: '#/components/schemas/RiskMetadata'
    GovernanceArtifact:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        required:
        - useCaseId
        - artifactType
        - fileId
        - fileName
        - uploadedByUserId
        - uploadedAt
        properties:
          useCaseId:
            type: string
            format: guid
            minLength: 1
          useCaseVersionId:
            type:
            - string
            - 'null'
            format: guid
          artifactType:
            type: string
            maxLength: 200
            minLength: 1
          fileId:
            type: string
            maxLength: 100
            minLength: 1
          fileName:
            type: string
            maxLength: 500
            minLength: 1
          slotKey:
            type:
            - string
            - 'null'
            maxLength: 200
          uploadedByUserId:
            type: string
            format: guid
            minLength: 1
          uploadedAt:
            type: string
            format: date-time
          useCase:
            $ref: '#/components/schemas/UseCase'
    JsonNode:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        underlyingElement: {}
        options:
          oneOf:
          - $ref: '#/components/schemas/JsonNodeOptions'
        parent:
          oneOf:
          - $ref: '#/components/schemas/JsonNode'
        root:
          $ref: '#/components/schemas/JsonNode'
    ChunkingStrategy:
      type: string
      description: ''
      x-enumNames:
      - Automatic
      - Recursive
      - Html
      - Markdown
      - Code
      - Token
      - Character
      enum:
      - automatic
      - recursive
      - html
      - markdown
      - code
      - token
      - character
    MitigationArtifactEvidenceState:
      type: string
      description: ''
      x-enumNames:
      - Qualifying
      - Candidate
      - Missing
      - InProgress
      enum:
      - Qualifying
      - Candidate
      - Missing
      - InProgress
    GatewayResilienceRuleEntity:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        properties:
          gatewayConfigurationId:
            type: string
            format: guid
          name:
            type: string
          order:
            type: integer
            format: int32
          mode:
            type: string
          weight:
            type: integer
            format: int32
          timeoutInSeconds:
            type: integer
            format: int32
          httpStatusCodes:
            type: array
            items:
              type: integer
              format: int32
          enableAffinity:
            type: boolean
          affinityTtlSeconds:
            type: integer
            format: int32
          gatewayRuleId:
            type:
            - string
            - 'null'
            format: guid
          failureThreshold:
            type: integer
            format: int32
          failureRateThreshold:
            type: number
            format: decimal
          timespanWindowInSeconds:
            type: integer
            format: int32
          cooldownSeconds:
            type: integer
            format: int32
          targets:
            type: array
            items:
              $ref: '#/components/schemas/GatewayResilienceTargetEntity'
    ClassificationType:
      type: string
      description: ''
      x-enumNames:
      - Default
      - Custom
      - RiskLevel
      enum:
      - Default
      - Custom
      - RiskLevel
    EvaluationType:
      type: string
      description: ''
      x-enumNames:
      - Standard
      - RedTeaming
      - Bias
      - StandardBiasDrift
      - Consistency
      enum:
      - Standard
      - RedTeaming
      - Bias
      - StandardBiasDrift
      - Consistency
    UserProvisioningSource:
      type: string
      description: ''
      x-enumNames:
      - EndpointDiscovered
      enum:
      - EndpointDiscovered
    RiskRegistryStatus:
      type: string
      description: ''
      x-enumNames:
      - PendingReview
      - Mitigate
      - Accept
      - Transfer
      - Avoid
      enum:
      - PendingReview
      - Mitigate
      - Accept
      - Transfer
      - Avoid
    ConnectionGoogleAgentPlatform:
      type: object
      additionalProperties: false
      properties:
        projectId:
          type: string
        location:
          type: string
        serviceAccountJson:
          type: string
    BaseOptionalProjectEntity:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        x-abstract: true
        additionalProperties: false
        properties:
          projectId:
            type:
            - string
            - 'null'
            format: guid
    RetryConfiguration:
      type: object
      additionalProperties: false
      properties:
        enabled:
          type: boolean
        maxRetries:
          type: integer
          format: int32
          maximum: 100
          minimum: 0
        delay:
          type: integer
          format: int32
          maximum: 300000
          minimum: 1
        maxDelay:
          type: integer
          format: int32
          maximum: 600000
          minimum: 1
        backoffMultiplier:
          type: number
          format: double
          maximum: 10
          minimum: 1
        useJitter:
          type: boolean
    SpmConnection:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - name
        - securePostureProvider
        - connectionJson
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          name:
            type: string
            minLength: 1
          securePostureProvider:
            $ref: '#/components/schemas/SecurePostureProvider'
          connectionJson:
            type: string
            minLength: 1
          connection:
            oneOf:
            - $ref: '#/components/schemas/ConnectionConfiguration'
          isDeleted:
            type:
            - boolean
            - 'null'
          spmAgents:
            type: array
            items:
              $ref: '#/components/schemas/SpmAgent'
          analysisRuns:
            type: array
            items:
              $ref: '#/components/schemas/SpmAppIntegrationAnalysisRun'
    SecurePostureStatus:
      type: string
      description: ''
      x-enumNames:
      - NotSecured
      - Secured
      - PartiallySecured
      - NotSecurableSecurePostureProvider
      - NotSecurableAiProvider
      - NotSecurableAiModel
      - NoAiService
      enum:
      - NotSecured
      - Secured
      - PartiallySecured
      - NotSecurableSecurePostureProvider
      - NotSecurableAiProvider
      - NotSecurableAiModel
      - NoAiService
    Classification:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          classificationName:
            type: string
            maxLength: 500
            minLength: 0
          required:
            type: boolean
          isActive:
            type: boolean
          type:
            $ref: '#/components/schemas/ClassificationType'
          classificationLabels:
            type: array
            items:
              $ref: '#/components/schemas/ClassificationLabel'
          classificationAssignments:
            type: array
            items:
              $ref: '#/components/schemas/ClassificationAssignment'
          tenantId:
            type:
            - string
            - 'null'
            format: guid
    SpmAgentType:
      type: string
      description: ''
      x-enumNames:
      - Agent
      - Flow
      - Workflow
      x-enum-descriptions:
      - A conversational AI agent that maintains context across turns. Supports multi-turn Red Teaming campaigns (e.g. AWS Bedrock Agent, Copilot Studio Bot).
      - A deterministic automation flow. Stateless — each invocation is independent with no conversation history (e.g. AWS Bedrock Flow, Copilot Studio Power Automate flow).
      - A workflow automation. Stateless with no conversation context support (e.g. N8n workflow).
      enum:
      - Agent
      - Flow
      - Workflow
    MitigationArtifactType:
      type: string
      description: ''
      x-enumNames:
      - Guardrail
      - Evaluation
      - RedTeamingCampaign
      - Assessment
      - GatewayLimit
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
      - ExternalAgentRouting
      enum:
      - Guardrail
      - Evaluation
      - RedTeamingCampaign
      - Assessment
      - GatewayLimit
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
      - ExternalAgentRouting
    RiskSubDomainMitigation:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        riskSubDomainId:
          type: string
          format: guid
        mitigationStepDefinitionId:
          type: string
          format: guid
        displayOrder:
          type: integer
          format: int32
        riskSubDomain:
          oneOf:
          - $ref: '#/components/schemas/RiskSubDomain'
        definition:
          oneOf:
          - $ref: '#/components/schemas/MitigationStepDefinition'
    SupportedInputMode:
      type: string
      description: ''
      x-enumNames:
      - FileUpload
      - Whiteboard
      - Code
      - Math
      enum:
      - FileUpload
      - Whiteboard
      - Code
      - Math
    MitigationStep:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - title
        - description
        properties:
          id:
            type: string
            format: guid
          riskMetadataId:
            type: string
            format: guid
          title:
            type: string
            maxLength: 200
            minLength: 1
          description:
            type: string
            maxLength: 2000
            minLength: 1
          callToAction:
            type:
            - string
            - 'null'
            maxLength: 200
          controlId:
            type:
            - string
            - 'null'
            maxLength: 50
          status:
            $ref: '#/components/schemas/MitigationStepStatus'
          mitigationStepDefinitionId:
            type:
            - string
            - 'null'
            format: guid
          definition:
            oneOf:
            - $ref: '#/components/schemas/MitigationStepDefinition'
          completionSource:
            oneOf:
            - $ref: '#/components/schemas/MitigationStepCompletionSource'
          completedByUserId:
            type:
            - string
            - 'null'
            format: guid
          completedByUser:
            oneOf:
            - $ref: '#/components/schemas/User'
          verificationEvidence:
            oneOf:
            - $ref: '#/components/schemas/MitigationVerificationEvidence'
          targetAssetAggregateId:
            type:
            - string
            - 'null'
            format: guid
          origin:
            oneOf:
            - $ref: '#/components/schemas/MitigationStepOrigin'
          tenantId:
            type: string
            format: guid
    AssignedAgent:
      type: object
      additionalProperties: false
      properties:
        deploymentId:
          type: string
          format: guid
        agentName:
          type: string
        agentUrl:
          type: string
        isConfigurable:
          type: boolean
    RegulatoryRisk:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          riskProfileId:
            type: string
            format: guid
          frameworkKey:
            type: string
            maxLength: 128
          classificationValue:
            type: string
            maxLength: 128
          rationale:
            type:
            - string
            - 'null'
            maxLength: 2000
          confidence:
            type:
            - string
            - 'null'
            maxLength: 50
          assessedAt:
            type:
            - string
            - 'null'
            format: date-time
          definitionVersionId:
            type:
            - string
            - 'null'
            format: guid
          applicability:
            type:
            - string
            - 'null'
            maxLength: 32
          normalizedScore:
            type:
            - integer
            - 'null'
          details:
            type:
            - string
            - 'null'
    ConnectionCopilotStudio:
      type: object
      additionalProperties: false
      properties:
        tenantId:
          type:
          - string
          - 'null'
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        certificateData:
          type:
          - string
          - 'null'
        certificatePassword:
          type:
          - string
          - 'null'
        useCertificateAuth:
          type: boolean
        environmentUrl:
          type:
          - string
          - 'null'
        webhookThreatDetectionEnabled:
          type: boolean
        allowedWebhookAppIds:
          type: array
          items:
            type: string
        collectConversationTranscripts:
          type: boolean
        transcriptCollectionStartedAt:
          type:
          - string
          - 'null'
          format: date-time
    AdministrativeScope:
      type: string
      description: ''
      x-enumNames:
      - Tenant
      - Project
      - Personal
      enum:
      - Tenant
      - Project
      - User
    ResidualRisk:
      type: string
      description: ''
      x-enumNames:
      - Low
      - Medium
      - High
      - Critical
      enum:
      - Low
      - Medium
      - High
      - Critical
    ConnectionOkta:
      type: object
      additionalProperties: false
      properties:
        orgUrl:
          type:
          - string
          - 'null'
        apiToken:
          type:
          - string
          - 'null'
        maxUsers:
          type:
          - integer
          - 'null'
          format: int32
        autoManageDiscoveredAiApps:
          type:
          - boolean
          - 'null'
    UseCase:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        - stage
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type:
            - string
            - 'null'
            format: guid
          name:
            type: string
            maxLength: 200
            minLength: 0
          stage:
            $ref: '#/components/schemas/UseCaseStage'
          description:
            type:
            - string
            - 'null'
          ownerId:
            type:
            - string
            - 'null'
            format: guid
          reviewerId:
            type:
            - string
            - 'null'
            format: guid
          impacted:
            type:
            - string
            - 'null'
            maxLength: 500
            minLength: 0
          reviewedAt:
            type:
            - string
            - 'null'
            format: date-time
          contextChangedAt:
            type:
            - string
            - 'null'
            format: date-time
          registerTemplatesPinnedAt:
            type:
            - string
            - 'null'
            format: date-time
          riskDomainId:
            type:
            - string
            - 'null'
            format: guid
          riskSubDomainId:
            type:
            - string
            - 'null'
            format: guid
          autonomy:
            oneOf:
            - $ref: '#/components/schemas/UseCaseAutonomy'
          status:
            oneOf:
            - $ref: '#/components/schemas/UseCaseStatus'
          acceptsAssetUpdates:
            type: boolean
          hasAutoGeneratedName:
            type: boolean
          core:
            oneOf:
            - $ref: '#/components/schemas/UseCaseCore'
          intendedUse:
            oneOf:
            - $ref: '#/components/schemas/UseCaseIntendedUse'
          reviewPolicy:
            oneOf:
            - $ref: '#/components/schemas/UseCaseReviewPolicy'
          registerFactAnswers:
            type: object
            additionalProperties:
              type: string
          receiptJson:
            type:
            - string
            - 'null'
          nutritionLabelJson:
            type:
            - string
            - 'null'
          activeVersionId:
            type:
            - string
            - 'null'
            format: guid
          approvedVersionId:
            type:
            - string
            - 'null'
            format: guid
          rowVersion:
            type: integer
          activeVersion:
            oneOf:
            - $ref: '#/components/schemas/UseCaseVersion'
          approvedVersion:
            oneOf:
            - $ref: '#/components/schemas/UseCaseVersion'
          reviewer:
            oneOf:
            - $ref: '#/components/schemas/User'
          riskDomain:
            oneOf:
            - $ref: '#/components/schemas/RiskDomain'
          riskSubDomain:
            oneOf:
            - $ref: '#/components/schemas/RiskSubDomain'
          assignedAssets:
            type: array
            items:
              $ref: '#/components/schemas/AiAssetAggregate'
          assetAssignments:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseAssetAssignment'
          artifacts:
            type: array
            items:
              $ref: '#/components/schemas/GovernanceArtifact'
          frameworkSnapshots:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseGovernanceFrameworkSnapshot'
          registerTemplateSnapshots:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseRegisterTemplateSnapshot'
          evaluationSelections:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseEvaluationSelection'
    UseCaseEvaluationSelectionSource:
      type: string
      description: ''
      x-enumNames:
      - Manual
      - CreatedFromUseCase
      - Automation
      - LegacyAuto
      enum:
      - Manual
      - CreatedFromUseCase
      - Automation
      - LegacyAuto
    GatewayProviderConfigurationEntity:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        properties:
          gatewayConfigurationId:
            type: string
            format: guid
          provider:
            $ref: '#/components/schemas/GatewayProviders'
          enabled:
            type: boolean
          url:
            type:
            - string
            - 'null'
          useAiriaApiKey:
            type: boolean
          credentialId:
            type:
            - string
            - 'null'
            format: guid
          gatewayConfiguration:
            $ref: '#/components/schemas/GatewayConfigurationEntity'
          credential:
            oneOf:
            - $ref: '#/components/schemas/Credentials'
          allowedModelNames:
            type:
            - array
            - 'null'
            items:
              type: string
          configuredModels:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ConfiguredModelEntry'
          syncParameterId:
            type:
            - string
            - 'null'
            format: guid
          authMethod:
            $ref: '#/components/schemas/AzureFoundryAuthMethod'
          enableUserImpersonation:
            type: boolean
    ConnectionAzureFoundry:
      type: object
      additionalProperties: false
      properties:
        projectEndpoint:
          type: string
        tenantId:
          type:
          - string
          - 'null'
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        evaluationsEnabled:
          type: boolean
    AiAssetSourceSyncParameters:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        x-abstract: true
        additionalProperties: false
        properties:
          name:
            type: string
            maxLength: 250
          lastUpdated:
            type:
            - string
            - 'null'
            format: date-time
          id:
            type: string
            format: guid
          region:
            type: string
            maxLength: 250
          aiAssetAggregateSourceId:
            type: string
            format: guid
          parameterType:
            $ref: '#/components/schemas/AiAssetSourceSyncParameterType'
          aiAssetAggregateSource:
            $ref: '#/components/schemas/AiAssetAggregateSource'
          tenantId:
            type: string
            format: guid
          credentialId:
            type: string
            format: guid
          credential:
            oneOf:
            - $ref: '#/components/schemas/Credentials'
    GatewayResilienceTargetEntity:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        properties:
          resilienceRuleId:
            type: string
            format: guid
          name:
            type: string
          order:
            type: integer
            format: int32
          weight:
            type: integer
            format: int32
          timeoutInSeconds:
            type:
            - integer
            - 'null'
            format: int32
          httpStatusCodes:
            type:
            - array
            - 'null'
            items:
              type: integer
              format: int32
          failureThreshold:
            type:
            - integer
            - 'null'
            format: int32
          failureRateThreshold:
            type:
            - number
            - 'null'
            format: decimal
          timespanWindowInSeconds:
            type:
            - integer
            - 'null'
            format: int32
          cooldownSeconds:
            type:
            - integer
            - 'null'
            format: int32
          actions:
            type: array
            items:
              $ref: '#/components/schemas/RuleActionEntity'
    MitigationVerifierKey:
      type: string
      description: ''
      x-enumNames:
      - Guardrail
      - Evaluation
      - RedTeaming
      - Gateway
      - Assessment
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
      enum:
      - Guardrail
      - Evaluation
      - RedTeaming
      - Gateway
      - Assessment
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
    N8nCredentialsForAiriaGateway:
      type: object
      additionalProperties: false
      properties:
        n8nCredentialId:
          type: string
        n8nCredentialName:
          type: string
        n8nCredentialType:
          type: string
        n8nNodeType:
          type: string
        airiaGatewayUrl:
          type: string
        airiaGatewayConfigurationId:
          type: string
          format: guid
        airiaApiKeyId:
          type: string
          format: guid
    ConnectionPurview:
      type: object
      additionalProperties: false
      properties:
        tenantId:
          type:
          - string
          - 'null'
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        accountName:
          type:
          - string
          - 'null'
    PromptVersion:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        properties:
          promptId:
            type: string
            format: guid
          versionNumber:
            type: integer
            format: int32
          isLatest:
            type: boolean
          versionChangeDescription:
            type: string
            maxLength: 256
            minLength: 0
          promptMessage:
            type: string
    MitigationCapability:
      type: string
      description: ''
      x-enumNames:
      - Invocable
      - TrafficInterposed
      - ConfigControlledLlmRouting
      - ConfigControlledMcpRouting
      - ConfigControlledMcpSanction
      - ConfigControlledGateway
      - Observed
      - Declared
      enum:
      - Invocable
      - TrafficInterposed
      - ConfigControlledLlmRouting
      - ConfigControlledMcpRouting
      - ConfigControlledMcpSanction
      - ConfigControlledGateway
      - Observed
      - Declared
    RiskSubDomain:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: string
          format: guid
        riskDomainId:
          type: string
          format: guid
        name:
          type: string
          maxLength: 500
          minLength: 1
        code:
          type:
          - string
          - 'null'
          maxLength: 10
        description:
          type:
          - string
          - 'null'
          maxLength: 2000
        displayOrder:
          type: integer
          format: int32
        riskDomain:
          oneOf:
          - $ref: '#/components/schemas/RiskDomain'
        mitigations:
          type: array
          items:
            $ref: '#/components/schemas/RiskSubDomainMitigation'
        controls:
          type: array
          items:
            $ref: '#/components/schemas/RiskSubDomainControl'
    CredentialEntry:
      type: object
      additionalProperties: false
      properties:
        key:
          $ref: '#/components/schemas/CredentialKeyField'
        value:
          type: string
    StepType:
      type: string
      description: ''
      x-enumNames:
      - AIOperation
      - DataSearch
      - ExecutePipelineStep
      - InputStep
      - MachineLearningOperationStep
      - MemoryLoadStep
      - MemoryStoreStep
      - OutputStep
      - PythonStep
      - Exception
      - RouterStep
      - AnnotationStep
      - ApprovalStep
      - WebhookApprovalStep
      - ToolActionStep
      - AgentCardStep
      - ConditionalBranchStep
      - LoopContainerStep
      - LoopStartStep
      - LoopEndStep
      - JsonFormatterStep
      - SdkStep
      - CustomFormHumanApprovalStep
      - ImageGenerationStep
      - DocumentSplitterStep
      enum:
      - AIOperation
      - dataSearch
      - executePipelineStep
      - inputStep
      - machineLearningOperationStep
      - memoryLoadStep
      - memoryStoreStep
      - outputStep
      - pythonStep
      - exception
      - routerStep
      - annotationStep
      - approvalStep
      - webhookApprovalStep
      - toolActionStep
      - agentCardStep
      - conditionalBranchStep
      - loopContainerStep
      - loopStartStep
      - loopEndStep
      - jsonFormatterStep
      - sdkStep
      - customFormHumanApprovalStep
      - imageGenerationStep
      - documentSplitterStep
    Prompt:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        properties:
          activeVersionId:
            type:
            - string
            - 'null'
            format: guid
          name:
            type:
            - string
            - 'null'
            maxLength: 256
            minLength: 0
          versions:
            type: array
            items:
              $ref: '#/components/schemas/PromptVersion'
          activeVersion:
            oneOf:
            - $ref: '#/components/schemas/PromptVersion'
          isAgentSpecific:
            type: boolean
          isDeleted:
            type:
            - boolean
            - 'null'
    RuleGroupConditionEntity:
      allOf:
      - $ref: '#/components/schemas/RuleConditionEntity'
      - type: object
        additionalProperties: false
        properties:
          logicalOperator:
            type: string
          children:
            type: array
            items:
              $ref: '#/components/schemas/RuleConditionEntity'
    N8nOriginalNodeCredentials:
      type: object
      additionalProperties: false
      properties:
        nodeId:
          type: string
        credentials:
          type:
          - object
          - 'null'
          additionalProperties: {}
    UseCaseCore:
      type: object
      additionalProperties: false
      properties:
        summary:
          type:
          - string
          - 'null'
        tags:
          type: array
          items:
            type: string
    GatewayRuleEntity:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        additionalProperties: false
        properties:
          gatewayConfigurationId:
            type: string
            format: guid
          gatewayConfiguration:
            oneOf:
            - $ref: '#/components/schemas/GatewayConfigurationEntity'
          name:
            type: string
          priority:
            type: integer
            format: int32
          conditionId:
            type: string
            format: guid
          condition:
            oneOf:
            - $ref: '#/components/schemas/RuleConditionEntity'
          allConditions:
            type: array
            items:
              $ref: '#/components/schemas/RuleConditionEntity'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/RuleActionEntity'
          behavior:
            type: string
          syncParameterId:
            type:
            - string
            - 'null'
            format: guid
          origin:
            type:
            - string
            - 'null'
          sourceRef:
            type:
            - string
            - 'null'
          displayName:
            type:
            - string
            - 'null'
    AssessmentTemplateScope:
      type: string
      description: ''
      x-enumNames:
      - Organization
      - UseCase
      - Asset
      enum:
      - Organization
      - UseCase
      - Asset
    RiskArtifact:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - riskMetadataId
        - artifactType
        - fileId
        - fileName
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          riskMetadataId:
            type: string
            format: guid
            minLength: 1
          artifactType:
            type: string
            maxLength: 200
            minLength: 1
          fileId:
            type: string
            maxLength: 100
            minLength: 1
          fileName:
            type: string
            maxLength: 500
            minLength: 1
          riskMetadata:
            $ref: '#/components/schemas/RiskMetadata'
    RiskControlGroup:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
          maxLength: 200
          minLength: 1
        key:
          type:
          - string
          - 'null'
          maxLength: 128
        controls:
          type: array
          items:
            $ref: '#/components/schemas/RiskControl'
    EvaluatorSource:
      type: string
      description: ''
      x-enumNames:
      - Airia
      - AzureFoundry
      enum:
      - Airia
      - AzureFoundry
    EvalSuiteEvaluator:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - evaluatorKey
        - displayName
        - descriptorJson
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type:
            - string
            - 'null'
            format: guid
          evalSuiteId:
            type: string
            format: guid
          evalSuite:
            $ref: '#/components/schemas/EvalSuite'
          evaluatorKey:
            type: string
            maxLength: 128
            minLength: 1
          displayName:
            type: string
            maxLength: 128
            minLength: 1
          isEnabled:
            type: boolean
          isHidden:
            type: boolean
          descriptorJson:
            type: string
            minLength: 1
    QuickActionType:
      type: string
      description: ''
      x-enumNames:
      - Page
      - Selection
      - PageSource
      enum:
      - Page
      - Selection
      - PageSource
    SourceType:
      type: string
      description: ''
      x-enumNames:
      - UserProvided
      - Library
      enum:
      - userProvided
      - library
    ConnectionAzurePowerApps:
      type: object
      additionalProperties: false
      properties:
        tenantId:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
    MitigationControlFunction:
      type: string
      description: ''
      x-enumNames:
      - Prevent
      - Detect
      - Respond
      enum:
      - Prevent
      - Detect
      - Respond
    ConnectionLangGraph:
      type: object
      additionalProperties: false
      properties:
        apiKey:
          type: string
        url:
          type: string
    AiAssetMetadataType:
      type: string
      description: ''
      x-enumNames:
      - DirectValue
      - SingleOption
      - MultipleOption
      enum:
      - DirectValue
      - SingleOption
      - MultipleOption
    RiskTransferDecision:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - justification
        - transferredOwner
        properties:
          id:
            type: string
            format: guid
          riskMetadataId:
            type: string
            format: guid
          justification:
            type: string
            maxLength: 2000
            minLength: 1
          transferredOwner:
            type: string
            maxLength: 500
            minLength: 1
          evidenceLink:
            type:
            - string
            - 'null'
            maxLength: 200
          user:
            oneOf:
            - $ref: '#/components/schemas/User'
          tenantId:
            type: string
            format: guid
    CredentialType:
      type: string
      description: ''
      x-enumNames:
      - None
      - Ai21
      - Alibaba
      - AlphaVantage
      - Anthropic
      - Asana
      - Atlassian
      - AtlassianApiKey
      - AtlassianOauth
      - Azure
      - AzureAIStudio
      - AzureBlob
      - AzureML
      - BasicAuth
      - Bedrock
      - BoxOauth
      - BraveSearchApiKey
      - Cohere
      - Compass
      - CustomCredential
      - CustomAPIKey
      - CustomOpenAI
      - DataBricksToken
      - DropboxOauth
      - ElevenLabs
      - Exa
      - Firecrawl
      - GenericOpenAI
      - GithubPersonalAccessToken
      - Google
      - GoogleOauth
      - GoogleServiceAccount
      - HeaderAuth
      - Hubspot
      - HuggingFace
      - ICDOauth
      - IPAPI
      - JinaAI
      - LinkPreview
      - McpAccessToken
      - McpHeaders
      - MicrosoftOauth
      - MicrosoftBingSearch
      - Mistral
      - MongoDb
      - MongoDbCloudId
      - MongoDbConnectionString
      - MsServer
      - MySql
      - NASA
      - NewsAPI
      - NotionIntegrationSecret
      - Nutritionix
      - Ollama
      - OpenAI
      - OpenVINO
      - Perplexity
      - PgSql
      - Pinecone
      - PyTorch
      - QueryParamAuth
      - Reddit
      - Replicate
      - S3
      - SalesforceOauth
      - ScaleFlex
      - SendGrid
      - Serper
      - ServiceNow
      - SlackBotAccessToken
      - SlackOauth
      - SlackUserAccessToken
      - SnowflakeEncryptedKey
      - SnowflakePrivateKey
      - Spotify
      - Stability
      - Strava
      - SupabasePersonalAccessToken
      - TogetherAI
      - WatsonAix
      - Weaviate
      - WeatherStack
      - WolframAlpha
      - XKey
      - XAI
      - XOauth
      - Youtube
      - FredApiKey
      - GovRegulationsApiKey
      - SecHeader
      - PineconeApiKey
      - LaunchDarklyApiKey
      - PerplexityApiKey
      - StripeApiKey
      - AirtableApiKey
      - SmartSheetApiKey
      - GrafanaApiKey
      - GenericOAuth
      - AiriaXApiKey
      - AzureAi
      - BedrockArn
      - ScaleflexMcpHeaders
      - WhatsAppCloudApi
      - NotionOauth
      - SapHana
      - BitlyApiKey
      - CalendlyAccessToken
      - ClickUpApiKey
      - DiscordBotToken
      - FreshdeskApiKey
      - IntercomAccessToken
      - LinearApiKey
      - MailchimpApiKey
      - MondayComApiKey
      - PipedriveApiKey
      - ShopifyAccessToken
      - SurveyMonkeyAccessToken
      - TelegramBotToken
      - TodoistApiKey
      - TrelloApiKey
      - TwilioApiKey
      - TypeformAccessToken
      - ZendeskApiKey
      - ZoomOauth
      - QuickBooksOauth
      - AwsAccessKey
      - JiraOauth
      - XeroOauth
      - ActiveCampaignApiKey
      - GitlabAccessToken
      - ClockifyApiKey
      - PagerDutyApiKey
      - NetlifyAccessToken
      - HelpScoutApiKey
      - HarvestAccessToken
      - DiscourseApiKey
      - ConvertKitApiKey
      - BaserowApiKey
      - NocoDBApiKey
      - PayPalOAuth
      - KeapAccessToken
      - MauticApiKey
      - AffinityApiKey
      - HighLevelApiKey
      - InvoiceNinjaApiKey
      - MagentoAccessToken
      - CustomerIoApiKey
      - AgileCrmApiKey
      - PostHogApiKey
      - OrbitApiKey
      - SentryIoApiKey
      - WooCommerceApiKey
      - SpotifyOauth
      - UptimeRobotApiKey
      - MediumAccessToken
      - LinkedInOauth
      - StravaOauth
      - SupabaseApiKey
      - MetabaseApiKey
      - PaddleApiKey
      - JenkinsApiKey
      - SalesmateApiKey
      - ChargebeeApiKey
      - HomeAssistantAccessToken
      - CircleCiApiKey
      - RedditApiOauth
      - OktaApiKey
      - WhatsAppAccessToken
      - FreshserviceApiKey
      - FreshworksCrmApiKey
      - BrevoApiKey
      - MailerLiteApiKey
      - CloudflareApiKey
      - StrapiApiKey
      - GetResponseApiKey
      - TwistAccessToken
      - WekanApiKey
      - ZulipApiKey
      - NextCloudApiKey
      - CodaApiKey
      - DriftAccessToken
      - QuickBaseApiKey
      - TheHiveApiKey
      - KoBoToolboxApiKey
      - GrafanaApiApiKey
      - ActionNetworkApiKey
      - AdaloApiKey
      - AirtopApiKey
      - ApiTemplateIoApiKey
      - AutopilotApiKey
      - AwsLambdaApiKey
      - BannerbearApiKey
      - BeeminderApiKey
      - BitwardenApiKey
      - BrandfetchApiKey
      - BubbleApiKey
      - ClearbitApiKey
      - CockpitApiKey
      - CoinGeckoApiKey
      - MicrosoftGraphAccessToken
      - GcpServiceAccount
      - GoogleCloudOAuth
      - MsServerEntraId
      - DemioApiKey
      - DhlApiKey
      - DisqusApiKey
      - DropcontactApiKey
      - EgoiApiKey
      - EmeliaApiKey
      - ErpNextApiKey
      - FlowApiKey
      - GhostApiKey
      - GongApiKey
      - GotifyApiKey
      - GoToWebinarOAuth2
      - GristApiKey
      - HackerNewsApiKey
      - HaloPsaApiKey
      - HumanticAiApiKey
      - HunterApiKey
      - IterableApiKey
      - JinaAiApiKey
      - LemlistApiKey
      - LingvaNexApiKey
      - LoneScaleApiKey
      - MailcheckApiKey
      - MailgunApiKey
      - MailjetApiKey
      - MandrillApiKey
      - MarketstackApiKey
      - MatrixApiKey
      - MattermostApiKey
      - MessageBirdApiKey
      - MindeeApiKey
      - MispApiKey
      - MistralAiApiKey
      - MoceanApiKey
      - MonicaCrmApiKey
      - Msg91ApiKey
      - NasaApiKey
      - NpmApiKey
      - OdooApiKey
      - OneSimpleApiApiKey
      - OnfleetApiKey
      - OpenThesaurusApiKey
      - OpenWeatherMapApiKey
      - OuraApiKey
      - PeekalinkApiKey
      - PhantombusterApiKey
      - PhilipsHueApiKey
      - PlivoApiKey
      - ProfitWellApiKey
      - PushbulletApiKey
      - PushcutApiKey
      - PushoverApiKey
      - QuickChartApiKey
      - RaindropApiKey
      - RocketChatApiKey
      - RundeckApiKey
      - SeaTableApiKey
      - SecurityScorecardApiKey
      - SegmentApiKey
      - SendyApiKey
      - Signl4ApiKey
      - Sms77ApiKey
      - SplunkApiKey
      - StackbyApiKey
      - StoryblokApiKey
      - SyncroMspApiKey
      - TaigaApiKey
      - TapfiliateApiKey
      - TravisCiApiKey
      - TwakeApiKey
      - UnleashedSoftwareApiKey
      - UpleadApiKey
      - UProcApiKey
      - UrlScanIoApiKey
      - VeroApiKey
      - VonageApiKey
      - WebflowApiKey
      - WiseApiKey
      - TwitterOAuth2
      - YourlsApiKey
      - ZammadApiKey
      - ZohoCrmOAuth2
      - DocuSignOAuth2
      - AzureDevOpsPersonalAccessToken
      - WorkdayOAuth2
      - DatadogApiKey
      - AmazonSESApiKey
      - BitbucketOAuth2
      - SAPApiKey
      - Dynamics365OAuth2
      - SnowflakeApiKey
      - TwitchOAuth2
      - FigmaPersonalAccessToken
      - AwsCloudWatchApiKey
      - AzureBlobStorageApiKey
      - OneLoginOAuth2
      - SmtpRelay
      - WordpressApiKey
      - ContentfulApiKey
      - CopperApiKey
      - DeepLApiKey
      - CortexApiKey
      - AzureFoundryEntraId
      - Causeway
      - Amazon
      - Clerk
      - Brightspace
      - GenericAnthropic
      - Cohesity
      - AnthropicInferenceHooks
      - AnthropicAnalytics
      - GoogleVertexAi
      enum:
      - None
      - AI21
      - Alibaba
      - AlphaVantage
      - Anthropic
      - Asana
      - Atlassian
      - AtlassianApiKey
      - AtlassianOauth
      - Azure
      - AzureAIStudio
      - AzureBlob
      - AzureML
      - BasicAuth
      - Bedrock
      - BoxOauth
      - BraveSearchApiKey
      - Cohere
      - Compass
      - CustomCredential
      - CustomAPIKey
      - Custom OpenAI
      - DataBricksToken
      - DropboxOauth
      - ElevenLabs
      - Exa
      - Firecrawl
      - GenericOpenAI
      - GithubPersonalAccessToken
      - Google
      - GoogleOauth
      - GoogleServiceAccount
      - HeaderAuth
      - Hubspot
      - Hugging Face
      - ICDOauth
      - IPAPI
      - JinaAI
      - LinkPreview
      - McpAccessToken
      - McpHeaders
      - MicrosoftOauth
      - MicrosoftBingSearch
      - Mistral
      - MongoDb
      - MongoDbCloudId
      - MongoDbConnectionString
      - MsServer
      - MySql
      - NASA
      - NewsAPI
      - NotionIntegrationSecret
      - Nutritionix
      - Ollama
      - OpenAI
      - OpenVINO
      - Perplexity
      - PgSql
      - Pinecone
      - PyTorch
      - QueryParamAuth
      - Reddit
      - Replicate
      - S3
      - SalesforceOauth
      - ScaleFlex
      - SendGrid
      - Serper
      - ServiceNow
      - SlackBotAccessToken
      - SlackOauth
      - SlackUserAccessToken
      - SnowflakeEncryptedKey
      - SnowflakePrivateKey
      - Spotify
      - Stability
      - Strava
      - SupabasePersonalAccessToken
      - Together AI
      - WatsonAix
      - Weaviate
      - WeatherStack
      - WolframAlpha
      - X
      - XAI
      - XOauth
      - Youtube
      - FredApiKey
      - GovRegulationsApiKey
      - SecHeader
      - PineconeApiKey
      - LaunchDarklyApiKey
      - PerplexityApiKey
      - StripeApiKey
      - AirtableApiKey
      - SmartSheetApiKey
      - GrafanaApiKey
      - GenericOAuth
      - AiriaXApiKey
      - AzureAi
      - BedrockArn
      - ScaleflexMcpHeaders
      - WhatsAppCloudApi
      - NotionOauth
      - SapHana
      - BitlyApiKey
      - CalendlyAccessToken
      - ClickUpApiKey
      - DiscordBotToken
      - FreshdeskApiKey
      - IntercomAccessToken
      - LinearApiKey
      - MailchimpApiKey
      - MondayComApiKey
      - PipedriveApiKey
      - ShopifyAccessToken
      - SurveyMonkeyAccessToken
      - TelegramBotToken
      - TodoistApiKey
      - TrelloApiKey
      - TwilioApiKey
      - TypeformAccessToken
      - ZendeskApiKey
      - ZoomOauth
      - QuickBooksOauth
      - AwsAccessKey
      - JiraOauth
      - XeroOauth
      - ActiveCampaignApiKey
      - GitlabAccessToken
      - ClockifyApiKey
      - PagerDutyApiKey
      - NetlifyAccessToken
      - HelpScoutApiKey
      - HarvestAccessToken
      - DiscourseApiKey
      - ConvertKitApiKey
      - BaserowApiKey
      - NocoDBApiKey
      - PayPalOAuth
      - KeapAccessToken
      - MauticApiKey
      - AffinityApiKey
      - HighLevelApiKey
      - InvoiceNinjaApiKey
      - MagentoAccessToken
      - CustomerIoApiKey
      - AgileCrmApiKey
      - PostHogApiKey
      - OrbitApiKey
      - SentryIoApiKey
      - WooCommerceApiKey
      - SpotifyOauth
      - UptimeRobotApiKey
      - MediumAccessToken
      - LinkedInOauth
      - StravaOauth
      - SupabaseApiKey
      - MetabaseApiKey
      - PaddleApiKey
      - JenkinsApiKey
      - SalesmateApiKey
      - ChargebeeApiKey
      - HomeAssistantAccessToken
      - CircleCiApiKey
      - RedditApiOauth
      - OktaApiKey
      - WhatsAppAccessToken
      - FreshserviceApiKey
      - FreshworksCrmApiKey
      - BrevoApiKey
      - MailerLiteApiKey
      - CloudflareApiKey
      - StrapiApiKey
      - GetResponseApiKey
      - TwistAccessToken
      - WekanApiKey
      - ZulipApiKey
      - NextCloudApiKey
      - CodaApiKey
      - DriftAccessToken
      - QuickBaseApiKey
      - TheHiveApiKey
      - KoBoToolboxApiKey
      - GrafanaApiApiKey
      - ActionNetworkApiKey
      - AdaloApiKey
      - AirtopApiKey
      - ApiTemplateIoApiKey
      - AutopilotApiKey
      - AwsLambdaApiKey
      - BannerbearApiKey
      - BeeminderApiKey
      - BitwardenApiKey
      - BrandfetchApiKey
      - BubbleApiKey
      - ClearbitApiKey
      - CockpitApiKey
      - CoinGeckoApiKey
      - MicrosoftGraphAccessToken
      - GcpServiceAccount
      - GoogleCloudOAuth
      - MsServerEntraId
      - DemioApiKey
      - DhlApiKey
      - DisqusApiKey
      - DropcontactApiKey
      - EgoiApiKey
      - EmeliaApiKey
      - ErpNextApiKey
      - FlowApiKey
      - GhostApiKey
      - GongApiKey
      - GotifyApiKey
      - GoToWebinarOAuth2
      - GristApiKey
      - HackerNewsApiKey
      - HaloPsaApiKey
      - HumanticAiApiKey
      - HunterApiKey
      - IterableApiKey
      - JinaAiApiKey
      - LemlistApiKey
      - LingvaNexApiKey
      - LoneScaleApiKey
      - MailcheckApiKey
      - MailgunApiKey
      - MailjetApiKey
      - MandrillApiKey
      - MarketstackApiKey
      - MatrixApiKey
      - MattermostApiKey
      - MessageBirdApiKey
      - MindeeApiKey
      - MispApiKey
      - MistralAiApiKey
      - MoceanApiKey
      - MonicaCrmApiKey
      - Msg91ApiKey
      - NasaApiKey
      - NpmApiKey
      - OdooApiKey
      - OneSimpleApiApiKey
      - OnfleetApiKey
      - OpenThesaurusApiKey
      - OpenWeatherMapApiKey
      - OuraApiKey
      - PeekalinkApiKey
      - PhantombusterApiKey
      - PhilipsHueApiKey
      - PlivoApiKey
      - ProfitWellApiKey
      - PushbulletApiKey
      - PushcutApiKey
      - PushoverApiKey
      - QuickChartApiKey
      - RaindropApiKey
      - RocketChatApiKey
      - RundeckApiKey
      - SeaTableApiKey
      - SecurityScorecardApiKey
      - SegmentApiKey
      - SendyApiKey
      - Signl4ApiKey
      - Sms77ApiKey
      - SplunkApiKey
      - StackbyApiKey
      - StoryblokApiKey
      - SyncroMspApiKey
      - TaigaApiKey
      - TapfiliateApiKey
      - TravisCiApiKey
      - TwakeApiKey
      - UnleashedSoftwareApiKey
      - UpleadApiKey
      - UProcApiKey
      - UrlScanIoApiKey
      - VeroApiKey
      - VonageApiKey
      - WebflowApiKey
      - WiseApiKey
      - TwitterOAuth2
      - YourlsApiKey
      - ZammadApiKey
      - ZohoCrmOAuth2
      - DocuSignOAuth2
      - AzureDevOpsPersonalAccessToken
      - WorkdayOAuth2
      - DatadogApiKey
      - AmazonSESApiKey
      - BitbucketOAuth2
      - SAPApiKey
      - Dynamics365OAuth2
      - SnowflakeApiKey
      - TwitchOAuth2
      - FigmaPersonalAccessToken
      - AwsCloudWatchApiKey
      - AzureBlobStorageApiKey
      - OneLoginOAuth2
      - SmtpRelay
      - WordpressApiKey
      - ContentfulApiKey
      - CopperApiKey
      - DeepLApiKey
      - CortexApiKey
      - AzureFoundryEntraId
      - Causeway
      - Amazon
      - Clerk
      - Brightspace
      - GenericAnthropic
      - Cohesity
      - AnthropicInferenceHooks
      - AnthropicAnalytics
      - GoogleVertexAi
    SpmAgent:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - spmConnectionId
        - name
        - externalId
        - securePostureProvider
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          spmConnectionId:
            type: string
            format: guid
            minLength: 1
          name:
            type: string
            minLength: 1
          externalId:
            type: string
            minLength: 1
          description:
            type:
            - string
            - 'null'
          versionId:
            type:
            - string
            - 'null'
          isActive:
            type:
            - boolean
            - 'null'
          nodesCount:
            type:
            - integer
            - 'null'
            format: int32
          aiModelNames:
            type:
            - string
            - 'null'
          aiProviderNames:
            type:
            - string
            - 'null'
          aiNodesCount:
            type:
            - integer
            - 'null'
            format: int32
          aiSecurableNodesCount:
            type:
            - integer
            - 'null'
            format: int32
          securedNodesCount:
            type:
            - integer
            - 'null'
            format: int32
          credentialsCount:
            type:
            - integer
            - 'null'
            format: int32
          externalCreatedAt:
            type:
            - string
            - 'null'
            format: date-time
          externalCreatedBy:
            type:
            - string
            - 'null'
            maxLength: 255
          externalOwner:
            type:
            - string
            - 'null'
            maxLength: 255
          sourceEnvironment:
            type:
            - string
            - 'null'
            maxLength: 255
          sourceEnvironmentId:
            type: string
            maxLength: 255
          lastSeenSyncOrgTaskId:
            type: string
            format: guid
          externalModifiedBy:
            type:
            - string
            - 'null'
            maxLength: 255
          externalPublishedAt:
            type:
            - string
            - 'null'
            format: date-time
          language:
            type:
            - string
            - 'null'
            maxLength: 100
          authenticationMode:
            type:
            - string
            - 'null'
            maxLength: 100
          authenticationTrigger:
            type:
            - string
            - 'null'
            maxLength: 100
          accessControlPolicy:
            type:
            - string
            - 'null'
            maxLength: 100
          externalStatus:
            type:
            - string
            - 'null'
            maxLength: 100
          owningBusinessUnit:
            type:
            - string
            - 'null'
            maxLength: 255
          externalPublishedBy:
            type:
            - string
            - 'null'
            maxLength: 255
          externalUpdatedAt:
            type:
            - string
            - 'null'
            format: date-time
          securedStatus:
            $ref: '#/components/schemas/SecurePostureStatus'
          securedNote:
            type:
            - string
            - 'null'
          securedAt:
            type:
            - string
            - 'null'
            format: date-time
          secureApiKeyId:
            type:
            - string
            - 'null'
            format: guid
          agentJson:
            type: string
          securePostureProvider:
            $ref: '#/components/schemas/SecurePostureProvider'
          agentType:
            oneOf:
            - $ref: '#/components/schemas/SpmAgentType'
          spmConnection:
            $ref: '#/components/schemas/SpmConnection'
          spmComponents:
            type: array
            items:
              $ref: '#/components/schemas/SpmComponent'
          hasAnySecuring:
            type: boolean
          isSecurable:
            type: boolean
          refreshedAt:
            type:
            - string
            - 'null'
            format: date-time
          securityScoreStatus:
            $ref: '#/components/schemas/SpmSecurityScoreStatus'
          securityScore:
            type:
            - number
            - 'null'
            format: double
          securityAnalyzedAt:
            type:
            - string
            - 'null'
            format: date-time
          securityAnalysisDetails:
            type:
            - string
            - 'null'
          workflowDisplayJson:
            type:
            - string
            - 'null'
          workflowDisplayComputedAt:
            type:
            - string
            - 'null'
            format: date-time
          discoveryPublishedAt:
            type:
            - string
            - 'null'
            format: date-time
          isAutonomous:
            type:
            - boolean
            - 'null'
          platformUrl:
            type:
            - string
            - 'null'
            maxLength: 2048
          orgWideAccessible:
            type:
            - boolean
            - 'null'
          publiclyAccessible:
            type:
            - boolean
            - 'null'
          sharedWithUserCount:
            type:
            - integer
            - 'null'
            format: int32
          sharedWithUsers:
            type:
            - string
            - 'null'
            maxLength: 2000
          projectId:
            type:
            - string
            - 'null'
            maxLength: 255
          projectName:
            type:
            - string
            - 'null'
            maxLength: 255
          instructions:
            type:
            - string
            - 'null'
          schemaName:
            type:
            - string
            - 'null'
            maxLength: 255
          autonomousTriggersCount:
            type:
            - integer
            - 'null'
            format: int32
          webBrowsingCapability:
            type:
            - boolean
            - 'null'
          requireUsersToSignIn:
            type:
            - boolean
            - 'null'
          generativeAiEnabled:
            type:
            - boolean
            - 'null'
          agentToAgentEnabled:
            type:
            - boolean
            - 'null'
          guardrailPolicyName:
            type:
            - string
            - 'null'
            maxLength: 255
          guardrailPolicyJson:
            type:
            - string
            - 'null'
          guardrailsCollectedAt:
            type:
            - string
            - 'null'
            format: date-time
          resourceCategory:
            type: string
          resourceType:
            type: string
          platformResourceId:
            type: string
          agentAuthenticationSetting:
            type:
            - string
            - 'null'
    ApiKeyScopeName:
      type: string
      description: ''
      x-enumNames:
      - Conversations
      - Project
      - Findings
      - EndpointAgentPolicy
      - BrowserExtensionProvisioning
      - LiteLlmGuardrail
      enum:
      - Conversations
      - Project
      - Findings
      - EndpointAgentPolicy
      - BrowserExtensionProvisioning
      - LiteLlmGuardrail
    AiAssetType:
      type: string
      description: ''
      x-enumNames:
      - InternalModel
      - InternalDataSource
      - InternalTools
      - InternalAgent
      - InternalProject
      - InternalMcpServer
      - ExternalModel
      - UseCase
      - ExternalAgent
      - GovernanceAgent
      - ExternalApplication
      - InternalApplication
      - EndpointApp
      - EndpointMcpServer
      - ExternalDataSource
      enum:
      - InternalModel
      - InternalDataSource
      - InternalTools
      - InternalAgent
      - InternalProject
      - InternalMcpServer
      - ExternalModel
      - UseCase
      - ExternalAgent
      - GovernanceAgent
      - ExternalApplication
      - InternalApplication
      - EndpointApp
      - EndpointMcpServer
      - ExternalDataSource
    TableDocumentProcessingMode:
      type: string
      description: ''
      x-enumNames:
      - Unspecified
      - Semantic
      - Sql
      - Both
      - Embedding
      - Graph
      - Labels
      - HybridEntityRag
      enum:
      - Unspecified
      - Semantic
      - Sql
      - Both
      - Embedding
      - Graph
      - Labels
      - HybridEntityRag
    TeamsManifestCustomizationConfig:
      type: object
      additionalProperties: false
      properties:
        botName:
          type:
          - string
          - 'null'
        colorIconBlobId:
          type:
          - string
          - 'null'
          format: guid
        outlineIconBlobId:
          type:
          - string
          - 'null'
          format: guid
    UserGroup:
      type: object
      additionalProperties: false
      properties:
        userGroupId:
          type: string
          format: guid
        userId:
          type: string
          format: guid
        groupId:
          type: string
          format: guid
        tenantId:
          type: string
          format: guid
        user:
          $ref: '#/components/schemas/User'
        group:
          $ref: '#/components/schemas/Group'
    CampaignTargetKind:
      type: string
      description: ''
      x-enumNames:
      - PublishedPipelineVersion
      - ChangeScenario
      - ExternalHttp
      - SpmAgent
      - GatewayRoute
      enum:
      - PublishedPipelineVersion
      - ChangeScenario
      - ExternalHttp
      - SpmAgent
      - GatewayRoute
    AgentTriggerAllowedType:
      type: string
      description: ''
      x-enumNames:
      - Unrestricted
      - Domains
      - Emails
      enum:
      - Unrestricted
      - Domains
      - Emails
    Memory:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        properties:
          lookupId:
            type:
            - string
            - 'null'
            format: guid
          isUserSpecific:
            type: boolean
          name:
            type: string
            minLength: 1
          isDeleted:
            type:
            - boolean
            - 'null'
          isConversationScoped:
            type: boolean
          memoryDataEntries:
            type: array
            items:
              $ref: '#/components/schemas/MemoryData'
    AssessmentTemplateVersionStatus:
      type: string
      description: ''
      x-enumNames:
      - Processing
      - Completed
      - Failed
      enum:
      - Processing
      - Completed
      - Failed
    UseCaseAutonomy:
      type: string
      description: ''
      x-enumNames:
      - HumanInTheLoop
      - HumanOnTheLoop
      - HumanInTheCommand
      - SupervisedAutonomy
      - FullAutonomy
      enum:
      - HumanInTheLoop
      - HumanOnTheLoop
      - HumanInTheCommand
      - SupervisedAutonomy
      - FullAutonomy
    AgentEvaluationSpmAgent:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          agentEvaluationId:
            type: string
            format: guid
          agentEvaluation:
            $ref: '#/components/schemas/AgentEvaluation'
          spmAgentId:
            type: string
            format: guid
          spmAgent:
            $ref: '#/components/schemas/SpmAgent'
    UseCaseAssetAssignment:
      type: object
      additionalProperties: false
      properties:
        useCaseId:
          type: string
          format: guid
        aiAssetAggregateId:
          type: string
          format: guid
        aiAssetVersionId:
          type:
          - string
          - 'null'
          format: guid
    AIModel:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        required:
        - priceType
        properties:
          category:
            oneOf:
            - $ref: '#/components/schemas/ModelCategory'
          outputModalities:
            type:
            - array
            - 'null'
            items:
              type: string
          modelParameters:
            type: array
            items:
              $ref: '#/components/schemas/ModelParameter'
          displayName:
            type: string
          modelName:
            type:
            - string
            - 'null'
          promptId:
            type:
            - string
            - 'null'
            format: guid
          systemPrompt:
            oneOf:
            - $ref: '#/components/schemas/Prompt'
          url:
            type:
            - string
            - 'null'
          type:
            $ref: '#/components/schemas/InputType'
          provider:
            $ref: '#/components/schemas/ProviderType'
          credentialsId:
            type:
            - string
            - 'null'
            format: guid
          oAuthProviderConfigId:
            type:
            - string
            - 'null'
            format: guid
          credentials:
            oneOf:
            - $ref: '#/components/schemas/Credentials'
          gatewayConfigurationId:
            type:
            - string
            - 'null'
            format: guid
          deploymentType:
            $ref: '#/components/schemas/DeploymentType'
          sourceType:
            $ref: '#/components/schemas/SourceType'
          connectionString:
            type:
            - string
            - 'null'
          containerName:
            type:
            - string
            - 'null'
          deployedKey:
            type:
            - string
            - 'null'
          deployedUrl:
            type:
            - string
            - 'null'
          state:
            oneOf:
            - $ref: '#/components/schemas/ModelState'
          uploadedContainerId:
            type:
            - string
            - 'null'
            format: guid
          libraryModelId:
            type:
            - string
            - 'null'
            format: guid
          inputTokenPrice:
            type:
            - number
            - 'null'
            format: decimal
          outputTokenPrice:
            type:
            - number
            - 'null'
            format: decimal
          tokenUnits:
            type:
            - integer
            - 'null'
            format: int32
          hasToolSupport:
            type: boolean
          hasStreamSupport:
            type: boolean
          allowAiriaCredentials:
            type: boolean
          allowBYOKCredentials:
            type: boolean
          author:
            type:
            - string
            - 'null'
          priceType:
            $ref: '#/components/schemas/PriceType'
          routeThroughACC:
            type: boolean
          accGroup:
            type:
            - string
            - 'null'
          hasResponseSchemaSupport:
            type: boolean
          reasoning:
            type: boolean
          reasoningEffortLevels:
            type:
            - array
            - 'null'
            items:
              type: string
          requiresAdaptiveThinking:
            type: boolean
          supportsSearch:
            type: boolean
          supportsPromptCaching:
            type: boolean
          maxOutputTokens:
            type:
            - integer
            - 'null'
            format: int32
    CustomCredentials:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        properties:
          credentialType:
            $ref: '#/components/schemas/CredentialType'
          name:
            type: string
            maxLength: 255
            minLength: 1
          credentialData:
            type: string
    Assessment:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - aiAssetAggregateId
        - name
        - templateId
        - templateVersionId
        - version
        - status
        - approverId
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          aiAssetAggregateId:
            type: string
            format: guid
            minLength: 1
          name:
            type: string
            maxLength: 256
            minLength: 1
          templateId:
            type: string
            format: guid
            minLength: 1
          templateVersionId:
            type: string
            format: guid
            minLength: 1
          version:
            type: string
            maxLength: 50
            minLength: 1
          status:
            $ref: '#/components/schemas/AssessmentStatus'
          lastCompletedAt:
            type:
            - string
            - 'null'
            format: date-time
          approverId:
            type: string
            format: guid
            minLength: 1
          responses:
            type:
            - string
            - 'null'
          fileId:
            type:
            - string
            - 'null'
            maxLength: 100
          template:
            oneOf:
            - $ref: '#/components/schemas/AssessmentTemplate'
          templateVersion:
            oneOf:
            - $ref: '#/components/schemas/AssessmentTemplateVersion'
          aiAssetAggregate:
            oneOf:
            - $ref: '#/components/schemas/AiAssetAggregate'
          originSource:
            type:
            - string
            - 'null'
            maxLength: 256
          originId:
            type:
            - string
            - 'null'
            format: guid
          originContext:
            type:
            - object
            - 'null'
            additionalProperties:
              type: string
    EvalSuite:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - source
        - externalSuiteId
        - name
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type:
            - string
            - 'null'
            format: guid
          source:
            $ref: '#/components/schemas/EvaluatorSource'
          spmConnectionId:
            type:
            - string
            - 'null'
            format: guid
          spmConnection:
            oneOf:
            - $ref: '#/components/schemas/SpmConnection'
          externalSuiteId:
            type: string
            maxLength: 64
            minLength: 1
          name:
            type: string
            maxLength: 128
            minLength: 1
          description:
            type:
            - string
            - 'null'
            maxLength: 512
          isEnabled:
            type: boolean
          isHidden:
            type: boolean
          refreshedAt:
            type: string
            format: date-time
          evaluators:
            type: array
            items:
              $ref: '#/components/schemas/EvalSuiteEvaluator'
    Group:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          identityServerGroupId:
            type:
            - string
            - 'null'
          name:
            type: string
          parentId:
            type:
            - string
            - 'null'
            format: guid
          parent:
            $ref: '#/components/schemas/Group'
          groupType:
            $ref: '#/components/schemas/GroupType'
          isIdpProvisioned:
            type: boolean
          createTenantEnabled:
            type: boolean
          totalUsers:
            type: integer
            format: int32
          rolesList:
            type: array
            items:
              $ref: '#/components/schemas/Role'
          groupLeaderId:
            type:
            - string
            - 'null'
            format: guid
          projectIds:
            type: array
            items:
              type: string
              format: guid
    RuleActionEntity:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        x-abstract: true
        additionalProperties: false
        properties:
          ruleId:
            type:
            - string
            - 'null'
            format: guid
          rule:
            oneOf:
            - $ref: '#/components/schemas/GatewayRuleEntity'
          resilienceTargetId:
            type:
            - string
            - 'null'
            format: guid
          resilienceTarget:
            oneOf:
            - $ref: '#/components/schemas/GatewayResilienceTargetEntity'
          order:
            type: integer
            format: int32
    SubdomainApplicability:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          riskProfileId:
            type: string
            format: guid
          riskSubDomainId:
            type: string
            format: guid
          applicable:
            type: boolean
          confidence:
            type:
            - string
            - 'null'
            maxLength: 50
          rationale:
            type:
            - string
            - 'null'
            maxLength: 2000
          inherentImpact:
            type:
            - integer
            - 'null'
            format: int32
          inherentLikelihood:
            type:
            - integer
            - 'null'
            format: int32
          inherentScore:
            type:
            - integer
            - 'null'
            format: int32
          residualImpact:
            type:
            - integer
            - 'null'
            format: int32
          residualLikelihood:
            type:
            - integer
            - 'null'
            format: int32
          residualScore:
            type:
            - integer
            - 'null'
            format: int32
          inherentExposure:
            type:
            - integer
            - 'null'
            format: int32
          inherentAutonomy:
            type:
            - integer
            - 'null'
            format: int32
          inherentOpFrequency:
            type:
            - integer
            - 'null'
            format: int32
          inherentInputSurface:
            type:
            - integer
            - 'null'
            format: int32
          residualExposure:
            type:
            - integer
            - 'null'
            format: int32
          residualAutonomy:
            type:
            - integer
            - 'null'
            format: int32
          residualOpFrequency:
            type:
            - integer
            - 'null'
            format: int32
          residualInputSurface:
            type:
            - integer
            - 'null'
            format: int32
          inherentUnknownFieldsJson:
            type:
            - string
            - 'null'
          residualUnknownFieldsJson:
            type:
            - string
            - 'null'
    AgentEvaluation:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - evaluationName
        - evaluationType
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          evaluationName:
            type: string
            maxLength: 128
            minLength: 1
          description:
            type:
            - string
            - 'null'
            maxLength: 512
          pipelineVersionIds:
            type: array
            items:
              type: string
              format: guid
          agentEvaluationTargets:
            type: array
            items:
              $ref: '#/components/schemas/AgentEvaluationTarget'
          datasetIds:
            type: array
            items:
              type: string
              format: guid
          spmAgentIds:
            type: array
            items:
              type: string
              format: guid
          agentEvaluationToSpmAgents:
            type: array
            items:
              $ref: '#/components/schemas/AgentEvaluationSpmAgent'
          agentEvaluationToEvaluators:
            type: array
            items:
              $ref: '#/components/schemas/AgentEvaluationEvaluator'
          dataset:
            type: array
            items:
              $ref: '#/components/schemas/AgentEvaluationDataset'
          modelId:
            type:
            - string
            - 'null'
            format: guid
          evaluatorSource:
            oneOf:
            - $ref: '#/components/schemas/EvaluatorSource'
          spmConnectionId:
            type:
            - string
            - 'null'
            format: guid
          spmConnection:
            oneOf:
            - $ref: '#/components/schemas/SpmConnection'
          modelIdentifierType:
            $ref: '#/components/schemas/ModelIdentifierType'
          evaluationType:
            $ref: '#/components/schemas/EvaluationType'
          runsPerTestCase:
            type:
            - integer
            - 'null'
            format: int32
          baselineEvaluationId:
            type:
            - string
            - 'null'
            format: guid
          variants:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AgentEvaluationVariant'
          comparisonSetId:
            type:
            - string
            - 'null'
            format: guid
          baselineMode:
            $ref: '#/components/schemas/WhatIfBaselineMode'
          accuracyThreshold:
            type:
            - integer
            - 'null'
            format: int32
          biasThreshold:
            type:
            - number
            - 'null'
            format: double
          driftThreshold:
            type:
            - integer
            - 'null'
            format: int32
          scheduleId:
            type:
            - string
            - 'null'
            format: guid
          schedule:
            oneOf:
            - $ref: '#/components/schemas/AgentEvaluationSchedule'
          originSource:
            type:
            - string
            - 'null'
            maxLength: 256
          originId:
            type:
            - string
            - 'null'
            format: guid
          originContext:
            type:
            - object
            - 'null'
            additionalProperties:
              type: string
    ConnectionOpenAi:
      type: object
      additionalProperties: false
      properties:
        workspaceLabel:
          type:
          - string
          - 'null'
        enabledCapabilities:
          type: array
          items:
            $ref: '#/components/schemas/SpmProviderKind'
    ConnectionMicrosoftDefenderXdr:
      type: object
      additionalProperties: false
      properties:
        tenantId:
          type:
          - string
          - 'null'
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        maxUsers:
          type:
          - integer
          - 'null'
          format: int32
    PipelineStepDependency:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        additionalProperties: false
        properties:
          pipelineStepId:
            type: string
            format: guid
          parentId:
            type: string
            format: guid
          parentHandleId:
            type: string
            format: guid
          handleId:
            type: string
            format: guid
    AiAssetMetadataValueType:
      type: string
      description: ''
      x-enumNames:
      - Text
      - Number
      - Boolean
      - DateTime
      - User
      enum:
      - Text
      - Number
      - Boolean
      - DateTime
      - User
    ConnectionCloudflare:
      type: object
      additionalProperties: false
      properties:
        accountId:
          type:
          - string
          - 'null'
        apiToken:
          type:
          - string
          - 'null'
        maxRecordsPerRequest:
          type:
          - integer
          - 'null'
          format: int32
    AgentEvaluationVariant:
      type: object
      additionalProperties: false
      properties:
        variantId:
          type: string
          format: guid
        label:
          type: string
        isBaseline:
          type: boolean
        overrides:
          oneOf:
          - $ref: '#/components/schemas/ExternalScenarioOverrides'
    DatasourceState:
      type: string
      description: ''
      x-enumNames:
      - Unknown
      - Pending
      - Validating
      - Ingesting
      - Storing
      - Indexing
      - Finished
      - Failed
      - Validated
      - Ingested
      - Stored
      - Indexed
      enum:
      - Unknown
      - Pending
      - Validating
      - Ingesting
      - Storing
      - Indexing
      - Finished
      - Failed
      - Validated
      - Ingested
      - Stored
      - Indexed
    ModelOverride:
      type: object
      additionalProperties: false
      properties:
        modelId:
          type: string
        identifierType:
          $ref: '#/components/schemas/ModelIdentifierType'
    UseCaseEvaluationSelection:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - useCaseId
        - agentEvaluationId
        - source
        - selectedAt
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          useCaseId:
            type: string
            format: guid
            minLength: 1
          agentEvaluationId:
            type: string
            format: guid
            minLength: 1
          source:
            $ref: '#/components/schemas/UseCaseEvaluationSelectionSource'
          selectedAt:
            type: string
            format: date-time
          selectedByUserId:
            type:
            - string
            - 'null'
            format: guid
          useCase:
            $ref: '#/components/schemas/UseCase'
          agentEvaluation:
            $ref: '#/components/schemas/AgentEvaluation'
    ProviderType:
      type: string
      description: ''
      x-enumNames:
      - OpenAI
      - Ollama
      - Azure
      - HuggingFace
      - Anthropic
      - AzureAIStudio
      - OpenVINO
      - PyTorch
      - Replicate
      - Stability
      - Mistral
      - Perplexity
      - WatsonAix
      - Ai21
      - Cohere
      - Google
      - TogetherAI
      - XAI
      - Bedrock
      - Compass
      - AzureML
      - Unknown
      - Alibaba
      - GenericOpenAI
      - GenericAnthropic
      - GoogleVertex
      enum:
      - OpenAI
      - Ollama
      - Azure
      - Hugging Face
      - Anthropic
      - AzureAIStudio
      - OpenVINO
      - PyTorch
      - Replicate
      - Stability
      - Mistral
      - Perplexity
      - WatsonAix
      - AI21
      - Cohere
      - Google
      - Together AI
      - xAI
      - Amazon Bedrock
      - Compass
      - AzureML
      - Unknown
      - Alibaba
      - GenericOpenAI
      - GenericAnthropic
      - Google Vertex AI
    RiskControl:
      type: object
      additionalProperties: false
      required:
      - controlId
      - name
      properties:
        id:
          type: string
          format: guid
        controlGroupId:
          type: string
          format: guid
        controlId:
          type: string
          maxLength: 50
          minLength: 1
        name:
          type: string
          maxLength: 500
          minLength: 1
        controlGroup:
          oneOf:
          - $ref: '#/components/schemas/RiskControlGroup'
[...]
