openapi: 3.2.0
info:
  title: Airia Web Agent Discovery API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: AgentDiscovery
paths:
  /v1/AgentDiscovery/status:
    get:
      tags:
      - AgentDiscovery
      operationId: AgentDiscovery_GetAgentStatus2
      parameters:
      - name: projectName
        in: query
        schema:
          type: string
        x-position: 1
      - name: agentName
        in: query
        schema:
          type: string
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDiscoveryStatus'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
          content:
            application/json:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Agent discovery get agent status2
      x-summary-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    AgentDiscoveryStatus:
      type: object
      additionalProperties: false
      properties:
        isAvailable:
          type: boolean
        pipelineId:
          type:
          - string
          - 'null'
          format: guid
        projectId:
          type:
          - string
          - 'null'
          format: guid
        message:
          type:
          - string
          - 'null'
        agentName:
          type:
          - string
          - 'null'
        projectName:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
