openapi: 3.2.0
info:
  title: Airia Web Convert API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Convert
paths:
  /docgen/v2/Convert/csv-to-xlsx:
    post:
      tags:
      - Convert
      operationId: Convert_ConvertCsvToXlsx
      parameters:
      - name: X-Use-Platform-Blob-Proxy
        x-originalName: usePlatformBlobProxy
        in: header
        schema:
          type:
          - boolean
          - 'null'
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                files:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                    format: binary
                names:
                  type:
                  - string
                  - 'null'
                sorts:
                  type:
                  - string
                  - 'null'
                firstRowIsHeader:
                  type: boolean
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertCsvToXlsxResponseV2'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        413:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Convert convert csv to xlsx
      x-summary-source: derived
  /docgen/v2/Convert/csv-to-pptx:
    post:
      tags:
      - Convert
      operationId: Convert_ConvertCsvToPptx
      parameters:
      - name: X-Use-Platform-Blob-Proxy
        x-originalName: usePlatformBlobProxy
        in: header
        schema:
          type:
          - boolean
          - 'null'
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                names:
                  type:
                  - string
                  - 'null'
                sorts:
                  type:
                  - string
                  - 'null'
                firstRowIsHeader:
                  type: boolean
                startDate:
                  type:
                  - string
                  - 'null'
                endDate:
                  type:
                  - string
                  - 'null'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertCsvToPptxResponseV2'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        413:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Convert convert csv to pptx
      x-summary-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    ConvertCsvToPptxResponseV2:
      type: object
      additionalProperties: false
      properties:
        url:
          type: string
        duration:
          type:
          - integer
          - 'null'
          format: int64
    ConvertCsvToXlsxResponseV2:
      type: object
      additionalProperties: false
      properties:
        url:
          type: string
        duration:
          type:
          - integer
          - 'null'
          format: int64
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
