openapi: 3.2.0
info:
  title: Airia Web Memory API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Memory
paths:
  /v1/Memory:
    post:
      tags:
      - Memory
      operationId: Memory_CreateMemoryObject2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemoryDto'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Memory create memory object2
      x-summary-source: derived
    get:
      tags:
      - Memory
      operationId: Memory_GetAllMemoryObjects2
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: projectId
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        x-position: 6
      - name: includeGlobal
        in: query
        schema:
          type: boolean
          default: false
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfMemoryDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Memory get all memory objects2
      x-summary-source: derived
  /v1/Memory/{id}:
    get:
      tags:
      - Memory
      operationId: Memory_GetMemoryObjectById2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MemoryDto'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Memory get memory object by id2
      x-summary-source: derived
    delete:
      tags:
      - Memory
      operationId: Memory_DeleteMemoryObject2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Memory delete memory object2
      x-summary-source: derived
    put:
      tags:
      - Memory
      operationId: Memory_UpdateMemoryObject2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: memoryDto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemoryDto'
        required: true
        x-position: 2
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Memory update memory object2
      x-summary-source: derived
  /v1/Memory/{id}/user-data:
    get:
      tags:
      - Memory
      operationId: Memory_GetUserMemoryData2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMemoryDataDto'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Memory get user memory data2
      x-summary-source: derived
    put:
      tags:
      - Memory
      operationId: Memory_UpdateUserMemoryData2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserMemoryDataRequest'
        required: true
        x-position: 2
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Memory update user memory data2
      x-summary-source: derived
  /v1/Memory/{id}/data/{lookupId}/history:
    get:
      tags:
      - Memory
      operationId: Memory_GetMemoryDataHistory2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: lookupId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: pageNumber
        in: query
        schema:
          type: integer
          format: int32
          default: 1
        x-position: 3
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 20
        x-position: 4
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Memory get memory data history2
      x-summary-source: derived
  /v1/Memory/{id}/references:
    get:
      tags:
      - Memory
      operationId: Memory_GetMemoryReferences2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PipelineReferenceDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Memory get memory references2
      x-summary-source: derived
  /v1/Memory/{id}/usage-info:
    get:
      tags:
      - Memory
      operationId: Memory_GetMemoryUsageInfo2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineUsageInfoResult'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Memory get memory usage info2
      x-summary-source: derived
components:
  schemas:
    PipelineUsageInfoResult:
      type: object
      additionalProperties: false
      properties:
        references:
          type: array
          items:
            $ref: '#/components/schemas/PipelineUsageInfo'
        usedInOtherProjects:
          type: boolean
    MemoryDto:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
          minLength: 1
        projectId:
          type:
          - string
          - 'null'
          format: guid
        projectName:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        isUserSpecific:
          type: boolean
        isConversationScoped:
          type: boolean
        data:
          type:
          - string
          - 'null'
        dataSize:
          type:
          - integer
          - 'null'
          format: int64
    PipelineReferenceDto:
      type: object
      additionalProperties: false
      properties:
        pipelineName:
          type: string
        versionDisplay:
          type: string
        isLatest:
          type: boolean
        pipelineId:
          type: string
          format: guid
        pipelineVersionId:
          type: string
          format: guid
        projectId:
          type: string
          format: guid
        versionNumber:
          type: string
    PipelineUsageInfo:
      type: object
      additionalProperties: false
      properties:
        pipelineId:
          type: string
          format: guid
        pipelineName:
          type: string
        pipelineVersionId:
          type: string
          format: guid
        versionNumber:
          type: string
        isLatest:
          type: boolean
        projectId:
          type:
          - string
          - 'null'
          format: guid
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    UserMemoryDataDto:
      type: object
      additionalProperties: false
      properties:
        data:
          type:
          - string
          - 'null'
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
    UpdateUserMemoryDataRequest:
      type: object
      additionalProperties: false
      properties:
        data:
          type:
          - string
          - 'null'
    PagedResultOfMemoryDto:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MemoryDto'
        totalCount:
          type: integer
          format: int32
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
