openapi: 3.2.0
info:
  title: Airia Web Governance Workflows API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: GovernanceWorkflows
paths:
  /v1/governance/workflows/active:
    get:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_GetTenantWorkflow2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDetailDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows get tenant workflow2
      x-summary-source: derived
  /v1/governance/workflows/metadata:
    get:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_GetMetadata2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowBuilderMetadataDto'
      summary: Governance workflows get metadata2
      x-summary-source: derived
  /v1/governance/workflows:
    get:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_GetWorkflows2
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: projectIds
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: includeGlobal
        in: query
        schema:
          type: boolean
          default: false
        x-position: 7
      - name: templatesOnly
        in: query
        schema:
          type: boolean
          default: false
        x-position: 8
      - name: workflowType
        in: query
        schema:
          oneOf:
          - oneOf:
            - $ref: '#/components/schemas/WorkflowType'
        x-position: 9
      - name: excludeTemplates
        in: query
        schema:
          type: boolean
          default: false
        x-position: 10
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfWorkflowDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows get workflows2
      x-summary-source: derived
    post:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_CreateWorkflow2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkflowRequest'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDetailDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows create workflow2
      x-summary-source: derived
  /v1/governance/workflows/{id}:
    get:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_GetWorkflow2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDetailDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows get workflow2
      x-summary-source: derived
    put:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_UpdateWorkflow2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWorkflowRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDetailDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows update workflow2
      x-summary-source: derived
    delete:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_DeleteWorkflow2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows delete workflow2
      x-summary-source: derived
  /v1/governance/workflows/{id}/versions:
    get:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_GetWorkflowVersions2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkflowDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows get workflow versions2
      x-summary-source: derived
  /v1/governance/workflows/version-diff:
    get:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_GetVersionDiff2
      parameters:
      - name: fromVersionId
        in: query
        schema:
          type: string
          format: guid
        x-position: 1
      - name: toVersionId
        in: query
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowVersionDiffDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows get version diff2
      x-summary-source: derived
  /v1/governance/workflows/templates:
    get:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_GetTemplates2
      parameters:
      - name: workflowType
        in: query
        schema:
          default: 0
          oneOf:
          - oneOf:
            - $ref: '#/components/schemas/WorkflowType'
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkflowDetailDto'
        500:
          description: ''
      summary: Governance workflows get templates2
      x-summary-source: derived
  /v1/governance/workflows/from-template:
    post:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_CreateFromTemplate2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFromTemplateRequest'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDetailDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows create from template2
      x-summary-source: derived
  /v1/governance/workflows/{workflowId}/stages/{stageId}/approvers:
    put:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_SetStageApprovers2
      parameters:
      - name: workflowId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: stageId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetStageApproversRequest'
        required: true
        x-position: 3
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDetailDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      deprecated: true
      summary: Governance workflows set stage approvers2
      x-summary-source: derived
  /v1/governance/workflows/{id}/publish:
    post:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_PublishWorkflow2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDetailDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows publish workflow2
      x-summary-source: derived
  /v1/governance/workflows/{id}/restore:
    post:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_RestoreWorkflowVersion2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDetailDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows restore workflow version2
      x-summary-source: derived
  /v1/governance/workflows/{id}/discard-draft:
    post:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_DiscardWorkflowDraft2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows discard workflow draft2
      x-summary-source: derived
  /v1/governance/workflows/{id}/update-policy:
    put:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_SetMajorUpdatePolicy2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMajorUpdatePolicyRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDetailDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows set major update policy2
      x-summary-source: derived
  /v1/governance/workflows/{id}/template-upgrade:
    get:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_GetTemplateUpgrade2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: templateFamilyId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 2
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpgradeAvailability'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows get template upgrade2
      x-summary-source: derived
  /v1/governance/workflows/{id}/template-upgrade/preview:
    get:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_GetTemplateUpgradePreview2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: templateFamilyId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 2
      - name: force
        in: query
        schema:
          type: boolean
          default: false
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpgradePreview'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows get template upgrade preview2
      x-summary-source: derived
  /v1/governance/workflows/{id}/template-upgrade/adopt:
    post:
      tags:
      - GovernanceWorkflows
      operationId: GovernanceWorkflows_AdoptTemplateUpgrade2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdoptTemplateUpgradeRequest'
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowDetailDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Governance workflows adopt template upgrade2
      x-summary-source: derived
components:
  schemas:
    RiskLevel:
      type: string
      description: ''
      x-enumNames:
      - None
      - Low
      - Medium
      - High
      - Critical
      enum:
      - None
      - Low
      - Medium
      - High
      - Critical
    ArtifactCatalogEntry:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        label:
          type: string
        gateRequirementUsable:
          type: boolean
        displaySectionUsable:
          type: boolean
        supportsCriteria:
          type: boolean
    ArtifactTypeMetadata:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        label:
          type: string
    JsonNode:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        underlyingElement: {}
        options:
          oneOf:
          - $ref: '#/components/schemas/JsonNodeOptions'
        parent:
          oneOf:
          - $ref: '#/components/schemas/JsonNode'
        root:
          $ref: '#/components/schemas/JsonNode'
    StageDto:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        workflowId:
          type: string
          format: guid
        name:
          type: string
        stageKey:
          type: string
        order:
          type: integer
          format: int32
        type:
          $ref: '#/components/schemas/StageType'
        mandatory:
          type: boolean
        regulatoryMappings:
          type: array
          items:
            type: string
        gate:
          oneOf:
          - $ref: '#/components/schemas/StageGateConfig'
        automations:
          type: array
          items:
            $ref: '#/components/schemas/StageAutomationConfig'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/StagePolicy'
        failurePolicy:
          $ref: '#/components/schemas/StageFailurePolicy'
        failureRouteStageId:
          type:
          - string
          - 'null'
          format: guid
        dependsOn:
          type: array
          items:
            type: string
            format: guid
        joinMode:
          $ref: '#/components/schemas/JoinMode'
        entryCondition:
          oneOf:
          - $ref: '#/components/schemas/ConditionNode'
        branchGroup:
          type:
          - string
          - 'null'
        scheduledStartAt:
          type:
          - string
          - 'null'
          format: date-time
        isSteadyState:
          type: boolean
        manualEntryOnly:
          type: boolean
        displaySection:
          oneOf:
          - $ref: '#/components/schemas/DisplaySectionV2Dto'
        defaultApprovers:
          oneOf:
          - $ref: '#/components/schemas/DefaultApproversDto'
        approvalRelevant:
          type: boolean
    SubFieldMetadata:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        label:
          type: string
        options:
          type:
          - array
          - 'null'
          items:
            type: string
    ConditionGrammarMetadata:
      type: object
      additionalProperties: false
      properties:
        logicalOperators:
          type: array
          items:
            type: string
        comparisonOperators:
          type: array
          items:
            type: string
        staticFields:
          type: array
          items:
            $ref: '#/components/schemas/ConditionFieldMetadata'
        fieldPatterns:
          type: array
          items:
            $ref: '#/components/schemas/ConditionFieldPatternMetadata'
    WorkflowChangeSummaryDto:
      type: object
      additionalProperties: false
      properties:
        tier:
          type: string
        isMaterial:
          type: boolean
        changedItemKeys:
          type: array
          items:
            type: string
    WorkflowMonitor:
      type: object
      additionalProperties: false
      required:
      - name
      - sensor
      - action
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
          maxLength: 200
          minLength: 1
        description:
          type:
          - string
          - 'null'
          maxLength: 1000
        sensor:
          type: string
          maxLength: 100
          minLength: 1
        condition:
          oneOf:
          - $ref: '#/components/schemas/ConditionNode'
        action:
          $ref: '#/components/schemas/GovernanceAction'
        stageName:
          type:
          - string
          - 'null'
          maxLength: 200
        priority:
          type: integer
          format: int32
        enabled:
          type: boolean
    OperatorMetadata:
      type: object
      additionalProperties: false
      properties:
        op:
          type: string
        label:
          type: string
        impliedValue:
          type:
          - string
          - 'null'
    WorkflowVersionState:
      type: string
      description: ''
      x-enumNames:
      - Draft
      - Published
      - Archived
      enum:
      - Draft
      - Published
      - Archived
    JsonNodeOptions:
      type: object
      additionalProperties: false
      properties:
        propertyNameCaseInsensitive:
          type: boolean
    PolicyConditionFieldMetadata:
      type: object
      additionalProperties: false
      properties:
        field:
          type: string
        label:
          type: string
        subFields:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SubFieldMetadata'
        operators:
          type: array
          items:
            $ref: '#/components/schemas/OperatorMetadata'
        valueType:
          type: string
        options:
          type:
          - array
          - 'null'
          items:
            type: string
    WorkflowBuilderMetadataDto:
      type: object
      additionalProperties: false
      properties:
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/MetricMetadata'
        automations:
          type: array
          items:
            $ref: '#/components/schemas/AutomationTypeMetadata'
        approvalLogicOptions:
          type: array
          items:
            type: string
        riskTiers:
          type: array
          items:
            type: string
        policyActionTypes:
          type: array
          items:
            $ref: '#/components/schemas/PolicyActionTypeMetadata'
        policyConditionFields:
          type: array
          items:
            $ref: '#/components/schemas/PolicyConditionFieldMetadata'
        artifactTypes:
          type: array
          items:
            $ref: '#/components/schemas/ArtifactTypeMetadata'
        displaySections:
          type: array
          items:
            $ref: '#/components/schemas/DisplaySectionMetadata'
        sensorTypes:
          type: array
          items:
            type: string
        monitorConditionFields:
          type: array
          items:
            $ref: '#/components/schemas/PolicyConditionFieldMetadata'
        sdkSteps:
          type: array
          items:
            $ref: '#/components/schemas/SdkStepMetadata'
        stages:
          type: array
          items:
            $ref: '#/components/schemas/StageNameMetadata'
        automationCatalog:
          type: array
          items:
            $ref: '#/components/schemas/AutomationCatalogEntry'
        artifactCatalog:
          type: array
          items:
            $ref: '#/components/schemas/ArtifactCatalogEntry'
        gateOptions:
          $ref: '#/components/schemas/GateOptionsMetadata'
    WorkflowVersionChangeType:
      type: string
      description: ''
      x-enumNames:
      - Changed
      - Added
      - Removed
      enum:
      - Changed
      - Added
      - Removed
    TemplateUpgradeChangeType:
      type: string
      description: ''
      x-enumNames:
      - Change
      - Remove
      enum:
      - Change
      - Remove
    SdkStepMetadata:
      type: object
      additionalProperties: false
      properties:
        stepType:
          type: string
        group:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        icon:
          type:
          - string
          - 'null'
    RuleSchedule:
      type: object
      additionalProperties: false
      required:
      - scheduleType
      properties:
        scheduleType:
          $ref: '#/components/schemas/ScheduleType'
        minute:
          type: integer
          format: int32
          maximum: 59
          minimum: 0
        hour:
          type: integer
          format: int32
          maximum: 23
          minimum: 0
        day:
          type: integer
          format: int32
          maximum: 31
          minimum: 1
        month:
          type: integer
          format: int32
          maximum: 12
          minimum: 1
        daysOfWeek:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
    TemplateUpgradeAvailability:
      type: object
      additionalProperties: false
      required:
      - tenantWorkflowId
      - sourceTemplateFamilyId
      - targetTemplateVersionId
      properties:
        tenantWorkflowId:
          type: string
          format: guid
        sourceTemplateFamilyId:
          type: string
          format: guid
        adoptedTemplateVersion:
          type: integer
          format: int32
        availableTemplateVersion:
          type: integer
          format: int32
        targetTemplateVersionId:
          type: string
          format: guid
    DisplaySectionMetadata:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        label:
          type: string
        supportedModes:
          type: array
          items:
            $ref: '#/components/schemas/StageDisplayMode'
    CreateFromTemplateRequest:
      type: object
      additionalProperties: false
      required:
      - templateId
      - name
      properties:
        templateId:
          type: string
          format: guid
          minLength: 1
        name:
          type: string
          maxLength: 200
          minLength: 0
        description:
          type:
          - string
          - 'null'
          maxLength: 1000
          minLength: 0
    CreateWorkflowRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - riskTierScope
      - regulatoryFrameworks
      properties:
        workflowType:
          $ref: '#/components/schemas/WorkflowType'
        name:
          type: string
          maxLength: 200
          minLength: 0
        description:
          type:
          - string
          - 'null'
          maxLength: 1000
          minLength: 0
        riskTierScope:
          type: array
          items:
            $ref: '#/components/schemas/RiskLevel'
        regulatoryFrameworks:
          type: array
          items:
            type: string
        isTemplate:
          type: boolean
        settings:
          oneOf:
          - $ref: '#/components/schemas/WorkflowSettings'
        triggers:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowTrigger'
        monitors:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowMonitor'
        stages:
          type: array
          items:
            $ref: '#/components/schemas/CreateStageRequest'
    StagePolicy:
      type: object
      additionalProperties: false
      required:
      - name
      - condition
      - action
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
          minLength: 1
        condition:
          $ref: '#/components/schemas/ConditionNode'
        action:
          $ref: '#/components/schemas/GovernanceAction'
        source:
          type: string
        enforced:
          type: boolean
        priority:
          type: integer
          format: int32
        schedule:
          oneOf:
          - $ref: '#/components/schemas/RuleSchedule'
    StageDisplayMode:
      type: string
      description: ''
      x-enumNames:
      - Requirement
      - Summary
      - Informational
      enum:
      - Requirement
      - Summary
      - Informational
    DisplaySectionItemDto:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        order:
          type: integer
          format: int32
        systemRequirement:
          type: boolean
        options:
          type:
          - object
          - 'null'
          additionalProperties: {}
        isRequired:
          type: boolean
        requirementReason:
          type:
          - string
          - 'null'
    ScheduleType:
      type: string
      description: ''
      x-enumNames:
      - Hourly
      - Daily
      - Weekly
      - Minute
      - OneTime
      - Monthly
      - Quarterly
      enum:
      - Hourly
      - Daily
      - Weekly
      - Minute
      - OneTime
      - Monthly
      - Quarterly
    PolicyActionTypeMetadata:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
        label:
          type: string
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/ActionParameterMetadata'
    WorkflowSettings:
      type: object
      additionalProperties: false
      properties:
        autoProgress:
          type: boolean
        autoApplyMajorUpdates:
          type: boolean
    TemplateUpgradeConflict:
      type: object
      additionalProperties: false
      required:
      - field
      - conflictKey
      properties:
        stageKey:
          type: string
        field:
          type: string
        tenantValue:
          type:
          - string
          - 'null'
        templateValue:
          type:
          - string
          - 'null'
        conflictKey:
          type: string
        changeType:
          $ref: '#/components/schemas/TemplateUpgradeChangeType'
    SlaOptionsMetadata:
      type: object
      additionalProperties: false
      properties:
        supported:
          type: boolean
        escalationSupported:
          type: boolean
    WorkflowVersionDiffItemDto:
      type: object
      additionalProperties: false
      required:
      - key
      properties:
        key:
          type: string
        stageKey:
          type:
          - string
          - 'null'
        field:
          type:
          - string
          - 'null'
        changeType:
          $ref: '#/components/schemas/WorkflowVersionChangeType'
        isMaterial:
          type: boolean
        oldValue:
          oneOf:
          - $ref: '#/components/schemas/JsonNode'
        newValue:
          oneOf:
          - $ref: '#/components/schemas/JsonNode'
    WorkflowType:
      type: string
      description: ''
      x-enumNames:
      - Governance
      - Security
      - WhatIfScenarios
      enum:
      - Governance
      - Security
      - WhatIfScenarios
    ConditionFieldMetadata:
      type: object
      additionalProperties: false
      properties:
        field:
          type: string
        label:
          type: string
        valueType:
          type: string
        values:
          type:
          - array
          - 'null'
          items:
            type: string
    WorkflowDto:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        workflowType:
          $ref: '#/components/schemas/WorkflowType'
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        stageCount:
          type: integer
          format: int32
        riskTierScope:
          type: array
          items:
            $ref: '#/components/schemas/RiskLevel'
        regulatoryFrameworks:
          type: array
          items:
            type: string
        isActive:
          type: boolean
        version:
          type: integer
          format: int32
        majorVersion:
          type: integer
          format: int32
        minorVersion:
          type: integer
          format: int32
        versionLabel:
          type: string
        changeSummary:
          oneOf:
          - $ref: '#/components/schemas/WorkflowChangeSummaryDto'
        versionState:
          $ref: '#/components/schemas/WorkflowVersionState'
        familyId:
          type: string
          format: guid
        sourceTemplateFamilyId:
          type:
          - string
          - 'null'
          format: guid
        hasDraft:
          type: boolean
        draftId:
          type:
          - string
          - 'null'
          format: guid
        isTemplate:
          type: boolean
        settings:
          $ref: '#/components/schemas/WorkflowSettings'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        createdByUserId:
          type:
          - string
          - 'null'
          format: guid
        createdByName:
          type:
          - string
          - 'null'
        updatedByUserId:
          type:
          - string
          - 'null'
          format: guid
        updatedByName:
          type:
          - string
          - 'null'
    CreateStageRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - order
      properties:
        name:
          type: string
          maxLength: 200
          minLength: 0
        order:
          type: integer
          format: int32
        type:
          $ref: '#/components/schemas/StageType'
        mandatory:
          type: boolean
        regulatoryMappings:
          type: array
          items:
            type: string
        gate:
          oneOf:
          - $ref: '#/components/schemas/StageGateConfig'
        automations:
          type: array
          items:
            $ref: '#/components/schemas/StageAutomationConfig'
        policies:
          type: array
          items:
            $ref: '#/components/schemas/StagePolicy'
        failurePolicy:
          $ref: '#/components/schemas/StageFailurePolicy'
        failureRouteStageId:
          type:
          - string
          - 'null'
          format: guid
        dependsOn:
          type: array
          items:
            type: string
            format: guid
        joinMode:
          $ref: '#/components/schemas/JoinMode'
        entryCondition:
          oneOf:
          - $ref: '#/components/schemas/ConditionNode'
        branchGroup:
          type:
          - string
          - 'null'
          maxLength: 200
          minLength: 0
        scheduledStartAt:
          type:
          - string
          - 'null'
          format: date-time
        isSteadyState:
          type: boolean
        manualEntryOnly:
          type: boolean
        displaySection:
          oneOf:
          - $ref: '#/components/schemas/DisplaySectionV2Dto'
    ConditionFieldPatternMetadata:
      type: object
      additionalProperties: false
      properties:
        pattern:
          type: string
        label:
          type: string
        valueType:
          type: string
    TemplateUpgradeAddition:
      type: object
      additionalProperties: false
      required:
      - field
      - description
      properties:
        stageKey:
          type: string
        field:
          type: string
        value:
          type:
          - string
          - 'null'
        description:
          type: string
    ArtifactCriterion:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        category:
          type:
          - string
          - 'null'
        subCategories:
          type: array
          items:
            type: string
    StageNameMetadata:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        label:
          type: string
        kind:
          type: string
        description:
          type: string
        appliesStageRestrictions:
          type: boolean
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    DocumentSlotOptionsMetadata:
      type: object
      additionalProperties: false
      properties:
        supported:
          type: boolean
        fields:
          type: array
          items:
            $ref: '#/components/schemas/ActionParameterMetadata'
    DocumentSlot:
      type: object
      additionalProperties: false
      properties:
        slotKey:
          type: string
        label:
          type: string
        description:
          type:
          - string
          - 'null'
        required:
          type: boolean
        acceptedFileTypes:
          type:
          - array
          - 'null'
          items:
            type: string
    WorkflowDetailDto:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        workflowType:
          $ref: '#/components/schemas/WorkflowType'
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        riskTierScope:
          type: array
          items:
            $ref: '#/components/schemas/RiskLevel'
        regulatoryFrameworks:
          type: array
          items:
            type: string
        isActive:
          type: boolean
        version:
          type: integer
          format: int32
        majorVersion:
          type: integer
          format: int32
        minorVersion:
          type: integer
          format: int32
        versionLabel:
          type: string
        changeSummary:
          oneOf:
          - $ref: '#/components/schemas/WorkflowChangeSummaryDto'
        versionState:
          $ref: '#/components/schemas/WorkflowVersionState'
        familyId:
          type: string
          format: guid
        sourceTemplateFamilyId:
          type:
          - string
          - 'null'
          format: guid
        isTemplate:
          type: boolean
        settings:
          $ref: '#/components/schemas/WorkflowSettings'
        triggers:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowTrigger'
        monitors:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowMonitor'
        stages:
          type: array
          items:
            $ref: '#/components/schemas/StageDto'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        createdByUserId:
          type:
          - string
          - 'null'
          format: guid
        createdByName:
          type:
          - string
          - 'null'
        updatedByUserId:
          type:
          - string
          - 'null'
          format: guid
        updatedByName:
          type:
          - string
          - 'null'
        publishedAt:
          type:
          - string
          - 'null'
          format: date-time
        publishedByUserId:
          type:
          - string
          - 'null'
          format: guid
        publishedByName:
          type:
          - string
          - 'null'
    UpdateWorkflowRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - riskTierScope
      - regulatoryFrameworks
      properties:
        workflowType:
          oneOf:
          - $ref: '#/components/schemas/WorkflowType'
        name:
          type: string
          maxLength: 200
          minLength: 0
        description:
          type:
          - string
          - 'null'
          maxLength: 1000
          minLength: 0
        riskTierScope:
          type: array
          items:
            $ref: '#/components/schemas/RiskLevel'
        regulatoryFrameworks:
          type: array
          items:
            type: string
        isActive:
          type: boolean
        settings:
          oneOf:
          - $ref: '#/components/schemas/WorkflowSettings'
        triggers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkflowTrigger'
        monitors:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WorkflowMonitor'
        stages:
          type: array
          items:
            $ref: '#/components/schemas/UpdateStageRequest'
    StageFailurePolicy:
      type: string
      description: ''
      x-enumNames:
      - FailWorkflow
      - RouteTo
      - PauseForUser
      enum:
      - FailWorkflow
      - RouteTo
      - PauseForUser
    GateOptionsMetadata:
      type: object
      additionalProperties: false
      properties:
        requirementTypes:
          type: array
          items:
            type: string
        attestationKeys:
          type: array
          items:
            type: string
        documentSlots:
          $ref: '#/components/schemas/DocumentSlotOptionsMetadata'
        regressOnSatisfied:
          $ref: '#/components/schemas/RegressOnSatisfiedMetadata'
        sla:
          $ref: '#/components/schemas/SlaOptionsMetadata'
        conditionGrammar:
          $ref: '#/components/schemas/ConditionGrammarMetadata'
    ConditionNode:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        type:
          type: string
    SetMajorUpdatePolicyRequest:
      type: object
      additionalProperties: false
      properties:
        autoApplyMajorUpdates:
          type: boolean
    WorkflowTrigger:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        type:
          type: string
        enabled:
          type: boolean
    ActionParameterMetadata:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        label:
          type: string
        inputType:
          type: string
        options:
          type:
          - array
          - 'null'
          items:
            type: string
        optionsFrom:
          type:
          - string
          - 'null'
        optionSets:
          type:
          - object
          - 'null'
          additionalProperties:
            type: array
            items:
              type: string
        visibleWhen:
          type:
          - string
          - 'null'
    JoinMode:
      type: string
      description: ''
      x-enumNames:
      - All
      - Any
      - Majority
      enum:
      - All
      - Any
      - Majority
    StageAutomationConfig:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        type:
          type: string
        timing:
          type: string
        condition:
          oneOf:
          - $ref: '#/components/schemas/ConditionNode'
    StageType:
      type: string
      description: ''
      x-enumNames:
      - Sequential
      - Parallel
      enum:
      - Sequential
      - Parallel
    WorkflowVersionDiffDto:
      type: object
      additionalProperties: false
      properties:
        fromVersionId:
          type: string
          format: guid
        toVersionId:
          type: string
          format: guid
        fromVersionLabel:
          type: string
        toVersionLabel:
          type: string
        isMaterial:
          type: boolean
        items:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowVersionDiffItemDto'
    DisplaySectionV2Dto:
      type: object
      additionalProperties: false
      properties:
        actionable:
          type: array
          items:
            $ref: '#/components/schemas/DisplaySectionItemDto'
        representational:
          type: array
          items:
            $ref: '#/components/schemas/DisplaySectionItemDto'
    UpdateStageRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - order
      properties:
        id:
          type:
          - string
          - 'null'
          format: guid
        name:
          type: string
          maxLength: 200
          minLength: 0
        order:
          type: integer
          format: int32
        type:
          $ref: '#/components/schemas/StageType'
        mandatory:
          type: boolean
        regulatoryMappings:
          type: array
          items:
            type: string
        gate:
          oneOf:
          - $ref: '#/components/schemas/StageGateConfig'
        automations:
          type: array
          items:
            $ref: '#/components/schemas/StageAutomationConfig'
        policies:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StagePolicy'
        failurePolicy:
          oneOf:
          - $ref: '#/components/schemas/StageFailurePolicy'
        failureRouteStageId:
          type:
          - string
          - 'null'
          format: guid
        dependsOn:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        joinMode:
          oneOf:
          - $ref: '#/components/schemas/JoinMode'
        entryCondition:
          oneOf:
          - $ref: '#/components/schemas/ConditionNode'
        branchGroup:
          type:
          - string
          - 'null'
          maxLength: 200
          minLength: 0
        scheduledStartAt:
          type:
          - string
          - 'null'
          format: date-time
        isSteadyState:
          type:
          - boolean
          - 'null'
        manualEntryOnly:
          type:
          - boolean
          - 'null'
        displaySection:
          oneOf:
          - $ref: '#/components/schemas/DisplaySectionV2Dto'
    AutomationCatalogEntry:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
        label:
          type: string
        description:
          type: string
        icon:
          type: string
        category:
          type: string
        managementTier:
          type: string
        allowedStageNames:
          type: array
          items:
            type: string
        supportedTimings:
          type: array
          items:
            type: string
        supportsCondition:
          type: boolean
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/ActionParameterMetadata'
    GovernanceAction:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        type:
          type: string
    RegressOnSatisfiedMetadata:
      type: object
      additionalProperties: false
      properties:
        allowedStageNames:
          type: array
          items:
            type: string
        authorable:
          type: boolean
    AdoptTemplateUpgradeRequest:
      type: object
      additionalProperties: false
      properties:
        conflictResolutions:
          type:
          - array
          - 'null'
          items:
            type: string
        templateFamilyId:
          type:
          - string
          - 'null'
          format: guid
        force:
          type: boolean
    StageGateConfig:
      type: object
      additionalProperties: false
      properties:
        requiresApproval:
          type: boolean
        genericApproval:
          type: boolean
        approverUserIds:
          type: array
          items:
            type: string
            format: guid
        approverRoleIds:
          type: array
          items:
            type: string
            format: guid
        approverGroupIds:
          type: array
          items:
            type: string
            format: guid
        approvalLogic:
          type: string
        slaHours:
          type:
          - integer
          - 'null'
          format: int32
        escalationUserIds:
          type: array
          items:
            type: string
            format: guid
        evaluationThresholds:
          type: object
          additionalProperties:
            type: number
            format: double
        requiredArtifacts:
          type: array
          items:
            type: string
        requiredArtifactCriteria:
          type: array
          items:
            $ref: '#/components/schemas/ArtifactCriterion'
        documentSlots:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DocumentSlot'
        requiredAttestations:
          type: array
          items:
            type: string
        satisfactionCondition:
          oneOf:
          - $ref: '#/components/schemas/ConditionNode'
        regressOnSatisfied:
          type: boolean
    AutomationTypeMetadata:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
        label:
          type: string
        allowedStageNames:
          type: array
          items:
            type: string
        category:
          type: string
        status:
          type: string
    DefaultApproversDto:
      type: object
      additionalProperties: false
      properties:
        approverUserIds:
          type: array
          items:
            type: string
            format: guid
        approverGroupIds:
          type: array
          items:
            type: string
            format: guid
        approvalLogic:
          type: string
    TemplateUpgradePreview:
      type: object
      additionalProperties: false
      required:
      - tenantWorkflowId
      properties:
        tenantWorkflowId:
          type: string
          format: guid
        adoptedTemplateVersion:
          type: integer
          format: int32
        targetTemplateVersion:
          type: integer
          format: int32
        additions:
          type: array
          items:
            $ref: '#/components/schemas/TemplateUpgradeAddition'
        conflicts:
          type: array
          items:
            $ref: '#/components/schemas/TemplateUpgradeConflict'
        updates:
          type: array
          items:
            $ref: '#/components/schemas/TemplateUpgradeConflict'
    SetStageApproversRequest:
      type: object
      additionalProperties: false
      properties:
        userIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        roleIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        groupIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
    PagedResultOfWorkflowDto:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/WorkflowDto'
        totalCount:
          type: integer
          format: int32
    MetricMetadata:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        comparison:
          type: string
        allowedStageNames:
          type: array
          items:
            type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
