openapi: 3.2.0
info:
  title: Airia Web MCP Deployments API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: McpDeployments
paths:
  /v1/McpDeployments:
    get:
      tags:
      - McpDeployments
      operationId: McpDeployments_GetDeployments
      parameters:
      - name: pageNumber
        in: query
        schema:
          type: integer
          format: int32
          default: 1
        x-position: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: -1
        x-position: 2
      - name: sortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: sortDirection
        in: query
        schema:
          type: string
          default: DESC
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: projectId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 6
      - name: gatewayLibraryId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedMcpDeploymentResponse'
      summary: Mcp deployments get deployments
      x-summary-source: derived
    post:
      tags:
      - McpDeployments
      operationId: McpDeployments_CreateDeployment
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateMcpDeploymentRequest'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpDeploymentDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        429:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        502:
          description: ''
        503:
          description: ''
      summary: Mcp deployments create deployment
      x-summary-source: derived
  /v1/McpDeployments/{id}:
    get:
      tags:
      - McpDeployments
      operationId: McpDeployments_GetDeploymentById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpDeploymentDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Mcp deployments get deployment by id
      x-summary-source: derived
    put:
      tags:
      - McpDeployments
      operationId: McpDeployments_UpdateDeployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateMcpDeploymentRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpDeploymentDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        429:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        502:
          description: ''
        503:
          description: ''
      summary: Mcp deployments update deployment
      x-summary-source: derived
    delete:
      tags:
      - McpDeployments
      operationId: McpDeployments_DeleteDeployment
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Mcp deployments delete deployment
      x-summary-source: derived
  /v1/McpDeployments/ensure:
    put:
      tags:
      - McpDeployments
      operationId: McpDeployments_EnsureDeployment
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrUpdateMcpDeploymentRequest'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpDeploymentDto'
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpDeploymentDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        429:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        502:
          description: ''
        503:
          description: ''
      summary: Mcp deployments ensure deployment
      x-summary-source: derived
  /v1/McpDeployments/system/{deploymentType}/provision:
    post:
      tags:
      - McpDeployments
      operationId: McpDeployments_ProvisionSystemMcpDeployment
      parameters:
      - name: deploymentType
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvisionSystemMcpDeploymentRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/McpDeploymentDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        429:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        502:
          description: ''
        503:
          description: ''
      summary: Mcp deployments provision system mcp deployment
      x-summary-source: derived
  /v1/McpDeployments/{deploymentId}/tools:
    get:
      tags:
      - McpDeployments
      operationId: McpDeployments_GetCachedTools
      parameters:
      - name: deploymentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/McpToolCacheDto'
      summary: Mcp deployments get cached tools
      x-summary-source: derived
  /v1/McpDeployments/{id}/clear-credential-refs:
    post:
      tags:
      - McpDeployments
      operationId: McpDeployments_ClearDeploymentCredentialRefs
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: keepProviderConfig
        in: query
        schema:
          type: boolean
          default: false
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
      summary: Mcp deployments clear deployment credential refs
      x-summary-source: derived
components:
  schemas:
    CreateOrUpdateMcpDeploymentRequest:
      type: object
      additionalProperties: {}
      required:
      - gatewayLibraryId
      - name
      properties:
        gatewayLibraryId:
          type: string
          format: guid
        name:
          type: string
          maxLength: 256
          minLength: 1
        description:
          type:
          - string
          - 'null'
        authenticationType:
          type:
          - string
          - 'null'
          maxLength: 256
          minLength: 0
        oauthProviderConfigId:
          type:
          - string
          - 'null'
          maxLength: 256
          minLength: 0
        displayEphemeralName:
          type:
          - string
          - 'null'
        useJwtForwarding:
          type:
          - boolean
          - 'null'
        credentialId:
          type:
          - string
          - 'null'
          format: guid
        iconUrl:
          type:
          - string
          - 'null'
          maxLength: 512
          minLength: 0
        routeThroughAcc:
          type:
          - boolean
          - 'null'
        accGroup:
          type:
          - string
          - 'null'
          maxLength: 256
          minLength: 0
        projectId:
          type:
          - string
          - 'null'
          format: guid
        instructions:
          type:
          - string
          - 'null'
          maxLength: 8192
          minLength: 0
        instructionsToolDescription:
          type:
          - string
          - 'null'
          maxLength: 500
          minLength: 0
        automaticallyUpdateToolDefinitions:
          type:
          - boolean
          - 'null'
        cachedTools:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CreateMcpToolCacheRequest'
        configurationProperties:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        selectedToolNames:
          type:
          - array
          - 'null'
          items:
            type: string
    McpToolCacheDto:
      type: object
      additionalProperties: {}
      required:
      - deploymentId
      - toolName
      - cachedAt
      - friendlyName
      - isSelected
      properties:
        id:
          type:
          - string
          - 'null'
          format: guid
        deploymentId:
          type: string
          format: guid
        toolName:
          type: string
          maxLength: 256
          minLength: 1
        toolDescription:
          type:
          - string
          - 'null'
        inputSchema:
          type:
          - string
          - 'null'
        outputSchema:
          type:
          - string
          - 'null'
        annotations:
          type:
          - string
          - 'null'
        isDerivedAnnotation:
          type: boolean
        derivedAnnotationMeta:
          type:
          - string
          - 'null'
        cachedAt:
          type: string
          format: date-time
        friendlyName:
          type: string
        catalogVersion:
          type:
          - string
          - 'null'
        observationSourceRevision:
          type:
          - string
          - 'null'
        isSelected:
          type: boolean
        sourceMoved:
          type: boolean
    CreateMcpToolCacheRequest:
      type: object
      additionalProperties: {}
      required:
      - toolName
      properties:
        toolName:
          type: string
          maxLength: 256
          minLength: 1
        toolDescription:
          type:
          - string
          - 'null'
        inputSchema:
          type:
          - string
          - 'null'
        outputSchema:
          type:
          - string
          - 'null'
        annotations:
          type:
          - string
          - 'null'
        isDerivedAnnotation:
          type: boolean
        derivedAnnotationMeta:
          type:
          - string
          - 'null'
        expectedCatalogVersion:
          type:
          - string
          - 'null'
        expectedObservationSourceRevision:
          type:
          - string
          - 'null'
        isSelected:
          type: boolean
    McpDeploymentDto:
      type: object
      additionalProperties: {}
      required:
      - id
      - gatewayLibraryId
      - name
      - displayEphemeralName
      - useJwtForwarding
      - routeThroughAcc
      - tenantId
      - automaticallyUpdateToolDefinitions
      - cachedTools
      properties:
        id:
          type: string
          format: guid
        gatewayLibraryId:
          type: string
          format: guid
        credentialId:
          type:
          - string
          - 'null'
          format: guid
        name:
          type: string
          maxLength: 256
          minLength: 1
        description:
          type:
          - string
          - 'null'
        authenticationType:
          type:
          - string
          - 'null'
          maxLength: 256
          minLength: 0
        oauthProviderConfigId:
          type:
          - string
          - 'null'
          maxLength: 256
          minLength: 0
        displayEphemeralName:
          type: string
          maxLength: 256
          minLength: 0
        useJwtForwarding:
          type: boolean
        iconUrl:
          type:
          - string
          - 'null'
          maxLength: 512
          minLength: 0
        routeThroughAcc:
          type: boolean
        accGroup:
          type:
          - string
          - 'null'
          maxLength: 256
          minLength: 0
        projectId:
          type:
          - string
          - 'null'
          format: guid
        tenantId:
          type: string
          format: guid
        instructions:
          type:
          - string
          - 'null'
          maxLength: 8192
          minLength: 0
        instructionsToolDescription:
          type:
          - string
          - 'null'
          maxLength: 500
          minLength: 0
        automaticallyUpdateToolDefinitions:
          type: boolean
        sourceMovedAt:
          type:
          - string
          - 'null'
          format: date-time
        cachedTools:
          type: array
          items:
            $ref: '#/components/schemas/McpToolCacheDto'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    PagedMcpDeploymentResponse:
      type: object
      additionalProperties: {}
      required:
      - items
      - totalCount
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/McpDeploymentDto'
        totalCount:
          type: integer
          format: int32
    ProvisionSystemMcpDeploymentRequest:
      type: object
      additionalProperties: {}
      required:
      - projectId
      properties:
        projectId:
          type: string
          format: guid
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
