openapi: 3.2.0
info:
  title: Airia Web Generate API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Generate
paths:
  /docgen/v2/Generate:
    post:
      tags:
      - Generate
      operationId: Generate_GenerateDocument
      parameters:
      - name: X-Use-Platform-Blob-Proxy
        x-originalName: usePlatformBlobProxy
        in: header
        schema:
          type:
          - boolean
          - 'null'
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDocumentRequestV2'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateDocumentResponseV2'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Generate generate document
      x-summary-source: derived
  /docgen/v1/Generate:
    post:
      tags:
      - Generate
      operationId: Generate_GenerateDocument2
      parameters:
      - name: X-Use-Platform-Blob-Proxy
        x-originalName: usePlatformBlobProxy
        in: header
        schema:
          type:
          - boolean
          - 'null'
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDocumentRequestV1'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateDocumentResponseV1'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Generate generate document2
      x-summary-source: derived
components:
  schemas:
    GenerateDocumentRequestV2:
      type: object
      additionalProperties: false
      required:
      - docType
      properties:
        content:
          type:
          - string
          - 'null'
        htmlSlides:
          type:
          - array
          - 'null'
          items:
            type: string
        docType:
          $ref: '#/components/schemas/DocumentType'
        templateVars:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
    DocumentType:
      type: string
      description: ''
      x-enumNames:
      - PowerPoint
      - Word
      enum:
      - PowerPoint
      - Word
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    GenerateDocumentRequestV1:
      type: object
      additionalProperties: false
      required:
      - content
      - type
      properties:
        content:
          type: string
          minLength: 1
        type:
          $ref: '#/components/schemas/DocumentType'
        prepared:
          type: boolean
        disableCache:
          type: boolean
        strict:
          type: boolean
        textToReplace:
          type: object
          additionalProperties:
            type: string
    GenerateDocumentResponseV2:
      type: object
      additionalProperties: false
      properties:
        url:
          type: string
        cached:
          type: boolean
        duration:
          type:
          - integer
          - 'null'
          format: int64
    GenerateDocumentResponseV1:
      type: object
      additionalProperties: false
      properties:
        url:
          type: string
        cached:
          type: boolean
        duration:
          type:
          - integer
          - 'null'
          format: int64
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
