openapi: 3.2.0
info:
  title: Airia Web Tenant Images API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: TenantImages
paths:
  /v1/images/{type}:
    post:
      tags:
      - TenantImages
      operationId: TenantImages_UploadImage
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: entityId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type:
                  - string
                  - 'null'
                  format: binary
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageUploadResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Tenant images upload image
      x-summary-source: derived
  /v1/images/{type}/{id}:
    get:
      tags:
      - TenantImages
      operationId: TenantImages_GetImage
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Tenant images get image
      x-summary-source: derived
    delete:
      tags:
      - TenantImages
      operationId: TenantImages_DeleteImage
      parameters:
      - name: type
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Tenant images delete image
      x-summary-source: derived
  /v1/images/{id}:
    get:
      tags:
      - TenantImages
      operationId: TenantImages_GetImageById
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Tenant images get image by id
      x-summary-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    ImageUploadResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        imageUrl:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
