openapi: 3.2.0
info:
  title: Airia Web Project Graph API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: ProjectGraph
paths:
  /v1/ProjectGraph:
    post:
      tags:
      - ProjectGraph
      operationId: ProjectGraph_CreateProjectGraphObject2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectGraphDto'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGraphDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Project graph create project graph object2
      x-summary-source: derived
    get:
      tags:
      - ProjectGraph
      operationId: ProjectGraph_GetAllProjectGraphObjects2
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: projectId
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        x-position: 6
      - name: includeGlobal
        in: query
        schema:
          type: boolean
          default: false
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfProjectGraphDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Project graph get all project graph objects2
      x-summary-source: derived
  /v1/ProjectGraph/{id}:
    get:
      tags:
      - ProjectGraph
      operationId: ProjectGraph_GetProjectGraphObjectById2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectGraphDto'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Project graph get project graph object by id2
      x-summary-source: derived
    delete:
      tags:
      - ProjectGraph
      operationId: ProjectGraph_DeleteProjectGraphObject2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        503:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Project graph delete project graph object2
      x-summary-source: derived
    put:
      tags:
      - ProjectGraph
      operationId: ProjectGraph_UpdateProjectGraphObject2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: projectGraphDto
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectGraphDto'
        required: true
        x-position: 2
      responses:
        204:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Project graph update project graph object2
      x-summary-source: derived
  /v1/ProjectGraph/{id}/relationships/count:
    get:
      tags:
      - ProjectGraph
      operationId: ProjectGraph_GetProjectGraphRelationshipCountById2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GraphRelationshipRecordsInfoDto'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Project graph get project graph relationship count by id2
      x-summary-source: derived
  /v1/ProjectGraph/{id}/nodes/count:
    get:
      tags:
      - ProjectGraph
      operationId: ProjectGraph_GetProjectGraphNodesCountById2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GraphRelationshipRecordsInfoDto'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Project graph get project graph nodes count by id2
      x-summary-source: derived
components:
  schemas:
    PagedResultOfProjectGraphDto:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProjectGraphDto'
        totalCount:
          type: integer
          format: int32
    GraphRelationshipRecordsInfoDto:
      type: object
      additionalProperties: false
      properties:
        from:
          type: array
          items:
            type: string
        type:
          type: string
        to:
          type: array
          items:
            type: string
        count:
          type: integer
          format: int32
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    ProjectGraphDto:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
          minLength: 1
        projectId:
          type:
          - string
          - 'null'
          format: guid
        projectName:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        isUserSpecific:
          type: boolean
        graphName:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
