openapi: 3.2.0
info:
  title: Airia Web Users API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Users
paths:
  /v1/Users/batch-names:
    get:
      tags:
      - Users
      operationId: Users_GetUserNamesByIds2
      parameters:
      - name: ids
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityNamesResult'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
        403:
          description: ''
        default:
          description: ''
      summary: Users get user names by ids2
      x-summary-source: derived
  /v1/Users/{userId}/conversations:
    get:
      tags:
      - Users
      operationId: Users_GetConversations2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 5
      - name: AssistantIds
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationsResponse'
        401:
          description: ''
        204:
          description: ''
        403:
          description: ''
        default:
          description: ''
      summary: Users get conversations2
      x-summary-source: derived
    delete:
      tags:
      - Users
      operationId: Users_DeleteAllConversations2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
        404:
          description: ''
        401:
          description: ''
        403:
          description: ''
        default:
          description: ''
      summary: Users delete all conversations2
      x-summary-source: derived
  /v1/Users:
    post:
      tags:
      - Users
      operationId: Users_CreateUser2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: createUserViewModel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserViewModel'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagicLinkResponseDto'
        400:
          description: ''
        401:
          description: ''
        403:
          description: ''
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
      summary: Users create user2
      x-summary-source: derived
    get:
      tags:
      - Users
      operationId: Users_GetUsers2
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: organization
        in: query
        schema:
          type: boolean
          default: false
        x-position: 6
      - name: roles
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: email
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 8
      - name: includeRoles
        in: query
        schema:
          type: boolean
          default: true
        x-position: 9
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfUserViewModel'
        401:
          description: ''
        403:
          description: ''
        500:
          description: ''
        default:
          description: ''
      summary: Users get users2
      x-summary-source: derived
  /v1/Users/{userId}:
    put:
      tags:
      - Users
      operationId: Users_UpdateUser2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: updateUserViewModel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserViewModel'
        required: true
        x-position: 1
      responses:
        204:
          description: ''
        400:
          description: ''
        401:
          description: ''
        403:
          description: ''
        500:
          description: ''
        default:
          description: ''
      summary: Users update user2
      x-summary-source: derived
    get:
      tags:
      - Users
      operationId: Users_GetUser2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: organization
        in: query
        schema:
          type: boolean
          default: false
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserViewModel'
        401:
          description: ''
        403:
          description: ''
        404:
          description: ''
        default:
          description: ''
      summary: Users get user2
      x-summary-source: derived
    delete:
      tags:
      - Users
      operationId: Users_DeleteUser2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        400:
          description: ''
        401:
          description: ''
        403:
          description: ''
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
      summary: Users delete user2
      x-summary-source: derived
  /v1/Users/{userId}/reinvite:
    post:
      tags:
      - Users
      operationId: Users_ReinviteUser2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MagicLinkResponseDto'
        400:
          description: ''
        404:
          description: ''
        401:
          description: ''
        403:
          description: ''
        500:
          description: ''
        default:
          description: ''
      summary: Users reinvite user2
      x-summary-source: derived
  /v1/Users/{userid}/credentials:
    get:
      tags:
      - Users
      operationId: Users_GetCredentials2
      parameters:
      - name: userid
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCredentials'
        401:
          description: ''
        403:
          description: ''
        404:
          description: ''
        400:
          description: ''
      summary: Users get credentials2
      x-summary-source: derived
  /v1/Users/{userid}/federatedIdentities:
    get:
      tags:
      - Users
      operationId: Users_GetFederatedIdentities2
      parameters:
      - name: userid
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FederatedIdentityRepresentation'
        401:
          description: ''
        404:
          description: ''
        400:
          description: ''
      summary: Users get federated identities2
      x-summary-source: derived
  /v1/Users/{userid}/reset-password:
    post:
      tags:
      - Users
      operationId: Users_ResetPassword2
      parameters:
      - name: userid
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: userCredentials
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCredentials'
        required: true
        x-position: 2
      responses:
        204:
          description: ''
        401:
          description: ''
        400:
          description: ''
      summary: Users reset password2
      x-summary-source: derived
  /v1/Users/trigger-password-reset-email:
    post:
      tags:
      - Users
      operationId: Users_TriggerPasswordResetEmail2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerPasswordResetRequest'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerPasswordResetResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerPasswordResetResponse'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerPasswordResetResponse'
        401:
          description: ''
        500:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerPasswordResetResponse'
      summary: Users trigger password reset email2
      x-summary-source: derived
  /v1/Users/{userId}/groups:
    post:
      tags:
      - Users
      operationId: Users_AssignUserToGroup2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: organization
        in: query
        schema:
          type: boolean
          default: false
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: userViewModel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserViewModel'
        required: true
        x-position: 2
      responses:
        204:
          description: ''
        400:
          description: ''
        401:
          description: ''
        403:
          description: ''
      summary: Users assign user to group2
      x-summary-source: derived
  /v1/Users/{userId}/organizations/{organizationId}:
    delete:
      tags:
      - Users
      operationId: Users_UnAssignUserFromOrganization2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        400:
          description: ''
        401:
          description: ''
        403:
          description: ''
        500:
          description: ''
        default:
          description: ''
      summary: Users un assign user from organization2
      x-summary-source: derived
  /v1/Users/{userId}/roles:
    post:
      tags:
      - Users
      operationId: Users_AssignRoleToUser2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: assignUserRoleViewModel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignUserRoleViewModel'
        required: true
        x-position: 2
      responses:
        204:
          description: ''
        400:
          description: ''
        401:
          description: ''
        403:
          description: ''
        500:
          description: ''
        default:
          description: ''
      summary: Users assign role to user2
      x-summary-source: derived
  /v1/Users/batch:
    post:
      tags:
      - Users
      operationId: Users_GetUsersByIds2
      parameters:
      - name: includeInactive
        in: query
        schema:
          type: boolean
          default: false
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: userIds
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                format: guid
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserViewModel'
        401:
          description: ''
        400:
          description: ''
      summary: Users get users by ids2
      x-summary-source: derived
  /v1/Users/search:
    post:
      tags:
      - Users
      operationId: Users_SearchUsers2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: emails
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserViewModel'
        400:
          description: ''
        401:
          description: ''
        403:
          description: ''
        500:
          description: ''
      summary: Users search users2
      x-summary-source: derived
  /v1/Users/{userId}/projects:
    get:
      tags:
      - Users
      operationId: Users_GetUserProjectIds2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        401:
          description: ''
        400:
          description: ''
      summary: Users get user project ids2
      x-summary-source: derived
  /v1/Users/resolve-duplicates:
    post:
      tags:
      - Users
      operationId: Users_ResolveDuplicateUsers2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
      summary: Users resolve duplicate users2
      x-summary-source: derived
  /v1/Users/{userId}/external-identities:
    get:
      tags:
      - Users
      operationId: Users_GetUserExternalIdentities2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExternalIdentityMappingResponse'
        400:
          description: ''
        401:
          description: ''
        500:
          description: ''
      summary: Users get user external identities2
      x-summary-source: derived
    post:
      tags:
      - Users
      operationId: Users_CreateExternalIdentityMapping2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateExternalIdentityMappingRequest'
        required: true
        x-position: 2
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalIdentityMappingResponse'
        400:
          description: ''
        401:
          description: ''
        409:
          description: ''
        500:
          description: ''
      summary: Users create external identity mapping2
      x-summary-source: derived
  /v1/Users/{userId}/external-identities/{identityId}:
    delete:
      tags:
      - Users
      operationId: Users_DeleteExternalIdentityMapping2
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: identityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        400:
          description: ''
        404:
          description: ''
        401:
          description: ''
        500:
          description: ''
      summary: Users delete external identity mapping2
      x-summary-source: derived
  /v2/Users/{userId}/conversations:
    get:
      tags:
      - Users
      operationId: Users_GetConversations22
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: IncludeTotalCount
        in: query
        schema:
          type: boolean
        x-position: 2
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 4
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 6
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultV2OfConversationOverviewDto'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Users get conversations22
      x-summary-source: derived
  /v2/Users/{userId}/conversations/summaries:
    get:
      tags:
      - Users
      operationId: Users_GetConversationSummaries
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: IncludeTotalCount
        in: query
        schema:
          type: boolean
        x-position: 2
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 4
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 6
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultV2OfConversationSummaryDto'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Users get conversation summaries
      x-summary-source: derived
  /v2/Users/{userId}:
    get:
      tags:
      - Users
      operationId: Users_GetUser22
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserViewModelV2'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Users get user22
      x-summary-source: derived
components:
  schemas:
    UserActionType:
      type: string
      description: ''
      x-enumNames:
      - ResetPassword
      - ResendCredentials
      enum:
      - ResetPassword
      - ResendCredentials
    DataSourceFiles:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        values:
          type: array
          items:
            type: string
    UserCredentials:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        type:
          type: string
        value:
          type: string
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        userId:
          type: string
          format: guid
        currentPassword:
          type: string
    ConversationMessagePreviewDto:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        conversationId:
          type: string
          format: guid
        message:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        role:
          type:
          - string
          - 'null'
        userId:
          type: string
          format: guid
        images:
          type:
          - array
          - 'null'
          items:
            type: string
    EntityNamesResult:
      type: object
      additionalProperties: false
      properties:
        names:
          type: object
          additionalProperties:
            type: string
    ConversationOverviewDto:
      type: object
      additionalProperties: false
      properties:
        conversationId:
          type: string
          format: guid
        userId:
          type: string
          format: guid
        title:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConversationMessage'
        latestMessage:
          oneOf:
          - $ref: '#/components/schemas/ConversationMessageDto'
        deploymentId:
          type:
          - string
          - 'null'
          format: guid
        dataSourceFiles:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DataSourceFiles'
        isBookmarked:
          type: boolean
        requiresRedactionReprocessing:
          type: boolean
        lastExecutionStatus:
          oneOf:
          - $ref: '#/components/schemas/LastExecutionStatus'
        lastExecutionId:
          type:
          - string
          - 'null'
          format: guid
        inputTokens:
          type:
          - integer
          - 'null'
          format: int32
        outputTokens:
          type:
          - integer
          - 'null'
          format: int32
        totalTokens:
          type:
          - integer
          - 'null'
          format: int32
        cost:
          type:
          - number
          - 'null'
          format: decimal
        policyRedactions:
          oneOf:
          - $ref: '#/components/schemas/RedactionStoreData'
        username:
          type:
          - string
          - 'null'
        agentName:
          type:
          - string
          - 'null'
        violationCount:
          type: integer
          format: int32
        isEndUserPrivate:
          type: boolean
        lastComputeEnvironmentId:
          type:
          - string
          - 'null'
        lastComputeEnvironmentType:
          oneOf:
          - $ref: '#/components/schemas/ComputeEnvironmentType'
    ConversationSummaryDto:
      type: object
      additionalProperties: false
      properties:
        conversationId:
          type: string
          format: guid
        userId:
          type: string
          format: guid
        title:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        deploymentId:
          type:
          - string
          - 'null'
          format: guid
        isBookmarked:
          type: boolean
        lastExecutionStatus:
          oneOf:
          - $ref: '#/components/schemas/LastExecutionStatus'
        latestMessage:
          oneOf:
          - $ref: '#/components/schemas/ConversationMessagePreviewDto'
    GroupType:
      type: string
      description: ''
      x-enumNames:
      - Feature
      - Tenant
      - Keycloak
      - EndpointDiscovered
      enum:
      - Feature
      - Tenant
      - Keycloak
      - EndpointDiscovered
    TriggerPasswordResetRequest:
      type: object
      additionalProperties: false
      required:
      - userIdentifier
      - actionType
      properties:
        userIdentifier:
          type: string
          minLength: 1
        actionType:
          $ref: '#/components/schemas/UserActionType'
        redirectUrl:
          type:
          - string
          - 'null'
    ConversationMessageDto:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        conversationId:
          type: string
          format: guid
        message:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        images:
          type:
          - array
          - 'null'
          items:
            type: string
        imageAttachmentIds:
          type:
          - array
          - 'null'
          items:
            type: string
        fileContextMessages:
          type:
          - array
          - 'null'
          items:
            type: string
        files:
          type:
          - array
          - 'null'
          items:
            type: string
        role:
          type: string
        userId:
          type: string
          format: guid
        user:
          oneOf:
          - $ref: '#/components/schemas/ConversationMessageUserDto'
        isSummary:
          type: boolean
        extractedMemories:
          type:
          - array
          - 'null'
          items:
            type: string
        originStepId:
          type:
          - string
          - 'null'
          format: guid
        originStepTitle:
          type:
          - string
          - 'null'
        toolCalls:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolCallData'
        toolResponses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolResponseData'
    UpdateUserViewModel:
      type: object
      additionalProperties: false
      required:
      - id
      properties:
        id:
          type: string
          format: guid
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
        phoneNumber:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        groupIds:
          type: array
          items:
            type: string
            format: guid
        roleIds:
          type: array
          items:
            type: string
            format: guid
        isIdpProvisioned:
          type: boolean
        projectIds:
          type: array
          items:
            type: string
            format: guid
        departmentId:
          type:
          - string
          - 'null'
          format: guid
    RoleViewModelV2:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        displayName:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        projectIds:
          type: array
          items:
            type: string
            format: guid
    ExternalIdentityMappingResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        userId:
          type: string
          format: guid
        externalSystem:
          type: string
        externalUserId:
          type: string
        verifiedAt:
          type:
          - string
          - 'null'
          format: date-time
        lastSyncedAt:
          type:
          - string
          - 'null'
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
    RoleViewModel:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        displayName:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        projectId:
          type:
          - string
          - 'null'
          format: guid
    TriggerPasswordResetResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        message:
          type: string
    CreateUserViewModel:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        identityServerUserId:
          type:
          - string
          - 'null'
        firstName:
          type: string
        lastName:
          type:
          - string
          - 'null'
        email:
          type: string
        phoneNumber:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        isCurrentLoggedInUser:
          type: boolean
        isTemporaryPassword:
          type:
          - boolean
          - 'null'
        password:
          type:
          - string
          - 'null'
        enterprise:
          type:
          - string
          - 'null'
        username:
          type:
          - string
          - 'null'
        groups:
          type: array
          items:
            $ref: '#/components/schemas/GroupViewModel'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleViewModel'
        projectType:
          type:
          - string
          - 'null'
        projectIds:
          type: array
          items:
            type: string
            format: guid
        sendInvitationEmail:
          type: boolean
        departmentId:
          type:
          - string
          - 'null'
          format: guid
    UserViewModelV2:
      type: object
      additionalProperties: false
      required:
      - id
      properties:
        id:
          type: string
          format: guid
        identityServerUserId:
          type: string
        firstName:
          type: string
        lastName:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        isCurrentLoggedInUser:
          type: boolean
        lastTenantId:
          type:
          - string
          - 'null'
          format: guid
        groups:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GroupViewModel'
        roles:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RoleViewModelV2'
        organizationNames:
          type:
          - array
          - 'null'
          items:
            type: string
        organizationIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        lastLogin:
          type:
          - string
          - 'null'
          format: date-time
        isIdpProvisioned:
          type: boolean
        projectIds:
          type:
          - array
          - 'null'
          items:
            type: string
        lastInviteSentDate:
          type:
          - string
          - 'null'
          format: date-time
        invitationExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        isEligibleForReinvite:
          type: boolean
        profileImageUrl:
          type:
          - string
          - 'null'
    ConversationMessageUserDto:
      type: object
      additionalProperties: false
      properties:
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        avatarUrl:
          type:
          - string
          - 'null'
    ComputeEnvironmentType:
      type: string
      description: ''
      x-enumNames:
      - Sandbox
      - BrowserAgent
      enum:
      - Sandbox
      - BrowserAgent
    PagedResultV2OfConversationSummaryDto:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ConversationSummaryDto'
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
        hasMore:
          type:
          - boolean
          - 'null'
    LastExecutionStatus:
      type: string
      description: ''
      x-enumNames:
      - InProgress
      - Completed
      - Failed
      - NotApplicable
      enum:
      - InProgress
      - Completed
      - Failed
      - NotApplicable
    ConversationsResponse:
      type: object
      additionalProperties: false
      properties:
        conversations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ConversationOverviewDto'
    CreateExternalIdentityMappingRequest:
      type: object
      additionalProperties: false
      required:
      - externalSystem
      - externalUserId
      properties:
        externalSystem:
          type: string
          maxLength: 50
          minLength: 2
          pattern: ^[A-Za-z][A-Za-z0-9]*$
        externalUserId:
          type: string
          maxLength: 255
          minLength: 1
    RedactionRecordData:
      type: object
      additionalProperties: false
      properties:
        violatingText:
          type: string
        confidenceScore:
          type: number
          format: double
        startOffset:
          type: integer
          format: int32
        length:
          type: integer
          format: int32
        placeholderBase:
          type: string
        placeholderIndex:
          type: integer
          format: int32
        contexts:
          type: array
          items:
            type: string
        violatingSubIndex:
          type: integer
          format: int32
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    GroupViewModel:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        parentId:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        identityServerGroupId:
          type:
          - string
          - 'null'
          format: guid
        groupType:
          $ref: '#/components/schemas/GroupType'
        users:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UserViewModel'
        totalUsers:
          type: integer
          format: int32
        rolesList:
          type: array
          items:
            $ref: '#/components/schemas/RoleViewModel'
        isIdpProvisioned:
          type: boolean
        groupLeader:
          oneOf:
          - $ref: '#/components/schemas/UserViewModel'
        projectIds:
          type: array
          items:
            type: string
            format: guid
    UserViewModel:
      type: object
      additionalProperties: false
      required:
      - id
      properties:
        id:
          type: string
          format: guid
        identityServerUserId:
          type: string
        firstName:
          type: string
        lastName:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
        isActive:
          type: boolean
        isCurrentLoggedInUser:
          type: boolean
        lastTenantId:
          type:
          - string
          - 'null'
          format: guid
        groups:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/GroupViewModel'
        roles:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RoleViewModel'
        organizationNames:
          type:
          - array
          - 'null'
          items:
            type: string
        organizationIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        lastLogin:
          type:
          - string
          - 'null'
          format: date-time
        isIdpProvisioned:
          type: boolean
        projectIds:
          type:
          - array
          - 'null'
          items:
            type: string
        lastInviteSentDate:
          type:
          - string
          - 'null'
          format: date-time
        invitationExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        isEligibleForReinvite:
          type: boolean
        profileImageUrl:
          type:
          - string
          - 'null'
        isDeleted:
          type: boolean
        departmentId:
          type:
          - string
          - 'null'
          format: guid
        departmentLabel:
          type:
          - string
          - 'null'
    FederatedIdentityRepresentation:
      type: object
      additionalProperties: false
      properties:
        identityProvider:
          type:
          - string
          - 'null'
        userId:
          type:
          - string
          - 'null'
        userName:
          type:
          - string
          - 'null'
    RedactionStoreData:
      type: object
      additionalProperties: false
      properties:
        messageRedactions:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              $ref: '#/components/schemas/RedactionRecordData'
        contextIndex:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
              format: guid
        version:
          type: integer
          format: int32
        lastModified:
          type: string
          format: date-time
    MagicLinkResponseDto:
      type: object
      additionalProperties: false
      properties:
        userId:
          type:
          - string
          - 'null'
        link:
          type:
          - string
          - 'null'
        sent:
          type: boolean
        identityServerUserId:
          type:
          - string
          - 'null'
    PagedResultOfUserViewModel:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UserViewModel'
        totalCount:
          type: integer
          format: int32
    AssignUserRoleViewModel:
      type: object
      additionalProperties: false
      properties:
        userId:
          type: string
          format: guid
        roleIds:
          type: array
          items:
            type: string
            format: guid
        projectIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
    PagedResultV2OfConversationOverviewDto:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ConversationOverviewDto'
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
        hasMore:
          type:
          - boolean
          - 'null'
    ConversationMessage:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        conversationId:
          type: string
          format: guid
        message:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        role:
          type: string
        images:
          type:
          - array
          - 'null'
          items:
            type: string
        fileContextMessages:
          type:
          - array
          - 'null'
          items:
            type: string
        files:
          type:
          - array
          - 'null'
          items:
            type: string
        userId:
          type: string
          format: guid
        user:
          oneOf:
          - $ref: '#/components/schemas/ConversationMessageUserDto'
        isSummary:
          type: boolean
        extractedMemories:
          type:
          - array
          - 'null'
          items:
            type: string
        originStepId:
          type:
          - string
          - 'null'
          format: guid
        originStepTitle:
          type:
          - string
          - 'null'
        toolCalls:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolCallData'
        toolResponses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolResponseData'
    ToolResponseData:
      type: object
      additionalProperties: false
      required:
      - toolCallId
      - toolName
      properties:
        toolCallId:
          type: string
        toolName:
          type: string
        response:
          type:
          - string
          - 'null'
    ToolCallData:
      type: object
      additionalProperties: false
      required:
      - toolCallId
      - toolName
      properties:
        toolCallId:
          type: string
        toolName:
          type: string
        parameters:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
