openapi: 3.2.0
info:
  title: Airia Web Mail Connector API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: MailConnector
paths:
  /v1/MailConnector/inbound:
    post:
      tags:
      - MailConnector
      operationId: MailConnector_ProcessEmail2
      parameters:
      - name: X-Twilio-Email-Event-Webhook-Signature
        x-originalName: signatureHeader
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: X-Twilio-Email-Event-Webhook-Timestamp
        x-originalName: timestampHeader
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Mail connector process email2
      x-summary-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
