openapi: 3.2.0
info:
  title: Airia Web Artifact API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Artifact
paths:
  /v1/Artifact:
    get:
      tags:
      - Artifact
      operationId: Artifact_GetArtifacts
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfArtifactModel'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Artifact get artifacts
      x-summary-source: derived
    post:
      tags:
      - Artifact
      operationId: Artifact_CreateArtifact
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: createArtifactRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactModel'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactModel'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Artifact create artifact
      x-summary-source: derived
  /v1/Artifact/{artifactId}/conversation/{conversationId}/message/{messageId}:
    get:
      tags:
      - Artifact
      operationId: Artifact_GetArtifactById
      parameters:
      - name: artifactId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: messageId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactModel'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Artifact get artifact by id
      x-summary-source: derived
    delete:
      tags:
      - Artifact
      operationId: Artifact_DeleteArtifact
      parameters:
      - name: artifactId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: messageId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Artifact delete artifact
      x-summary-source: derived
  /v1/Artifact/conversation/{conversationId}:
    get:
      tags:
      - Artifact
      operationId: Artifact_GetArtifactsByConversationId
      parameters:
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArtifactModel'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Artifact get artifacts by conversation id
      x-summary-source: derived
  /v1/Artifact/conversation/{conversationId}/recover:
    post:
      tags:
      - Artifact
      operationId: Artifact_RecoverArtifactsForConversation
      parameters:
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ArtifactModel'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Artifact recover artifacts for conversation
      x-summary-source: derived
  /v1/Artifact/{artifactId}:
    put:
      tags:
      - Artifact
      operationId: Artifact_UpdateArtifact
      parameters:
      - name: artifactId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: updateArtifactRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtifactModel'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Artifact update artifact
      x-summary-source: derived
  /v1/Artifact/{artifactId}/conversation/{conversationId}/message/{messageId}/bookmark:
    post:
      tags:
      - Artifact
      operationId: Artifact_BookmarkArtifact
      parameters:
      - name: artifactId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: messageId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Artifact bookmark artifact
      x-summary-source: derived
    delete:
      tags:
      - Artifact
      operationId: Artifact_RemoveArtifactBookmark
      parameters:
      - name: artifactId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: conversationId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: messageId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Artifact remove artifact bookmark
      x-summary-source: derived
components:
  schemas:
    PagedResultOfArtifactModel:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ArtifactModel'
        totalCount:
          type: integer
          format: int32
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    ArtifactModel:
      type: object
      additionalProperties: false
      required:
      - id
      - messageId
      - conversationId
      - assistantId
      properties:
        id:
          type: string
          format: guid
        updatedAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
        messageId:
          type: string
          format: guid
        conversationId:
          type: string
          format: guid
        assistantId:
          type: string
          format: guid
        name:
          type: string
        content:
          type: string
        isBookmarked:
          type: boolean
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
