openapi: 3.2.0
info:
  title: Airia Web Agent Evaluation Dataset API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: AgentEvaluationDataset
paths:
  /v1/AgentEvaluationDataset/validate:
    post:
      tags:
      - AgentEvaluationDataset
      operationId: AgentEvaluationDataset_ValidateDataset
      parameters:
      - name: evaluationType
        in: query
        schema:
          default: Standard
          oneOf:
          - $ref: '#/components/schemas/EvaluationType'
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                ContentType:
                  type:
                  - string
                  - 'null'
                ContentDisposition:
                  type:
                  - string
                  - 'null'
                Headers:
                  type:
                  - array
                  - 'null'
                  items: {}
                Length:
                  type: integer
                  format: int64
                Name:
                  type:
                  - string
                  - 'null'
                FileName:
                  type:
                  - string
                  - 'null'
      responses:
        200:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Agent evaluation dataset validate dataset
      x-summary-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    EvaluationType:
      type: string
      description: ''
      x-enumNames:
      - Standard
      - RedTeaming
      - Bias
      - StandardBiasDrift
      - Consistency
      enum:
      - Standard
      - RedTeaming
      - Bias
      - StandardBiasDrift
      - Consistency
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
