openapi: 3.2.0
info:
  title: Airia Web Step Execution API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: StepExecution
paths:
  /v1/StepExecution/{stepId}:
    post:
      tags:
      - StepExecution
      operationId: StepExecution_Execute
      parameters:
      - name: stepId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: X-API-Key
        x-originalName: apiKey
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StepExecutionRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPipelineStepResult'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        402:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Step execution execute
      x-summary-source: derived
  /v1/StepExecution/contexts/{stepId}:
    get:
      tags:
      - StepExecution
      operationId: StepExecution_GetContexts
      parameters:
      - name: stepId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PipelineStepResult'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Step execution get contexts
      x-summary-source: derived
components:
  schemas:
    AgentStepCompletionStatus:
      type: string
      description: ''
      x-enumNames:
      - None
      - Cancelled
      - Complete
      - DataReady
      - BranchedComplete
      - Exception
      - Halt
      - LazyComplete
      enum:
      - None
      - Cancelled
      - Complete
      - DataReady
      - BranchedComplete
      - Exception
      - Halt
      - LazyComplete
    StepType:
      type: string
      description: ''
      x-enumNames:
      - AIOperation
      - DataSearch
      - ExecutePipelineStep
      - InputStep
      - MachineLearningOperationStep
      - MemoryLoadStep
      - MemoryStoreStep
      - OutputStep
      - PythonStep
      - Exception
      - RouterStep
      - AnnotationStep
      - ApprovalStep
      - WebhookApprovalStep
      - ToolActionStep
      - AgentCardStep
      - ConditionalBranchStep
      - LoopContainerStep
      - LoopStartStep
      - LoopEndStep
      - JsonFormatterStep
      - SdkStep
      - CustomFormHumanApprovalStep
      - ImageGenerationStep
      - DocumentSplitterStep
      enum:
      - AIOperation
      - dataSearch
      - executePipelineStep
      - inputStep
      - machineLearningOperationStep
      - memoryLoadStep
      - memoryStoreStep
      - outputStep
      - pythonStep
      - exception
      - routerStep
      - annotationStep
      - approvalStep
      - webhookApprovalStep
      - toolActionStep
      - agentCardStep
      - conditionalBranchStep
      - loopContainerStep
      - loopStartStep
      - loopEndStep
      - jsonFormatterStep
      - sdkStep
      - customFormHumanApprovalStep
      - imageGenerationStep
      - documentSplitterStep
    TimeTrackingData:
      type: object
      additionalProperties: false
      properties:
        duration:
          type:
          - string
          - 'null'
          example: 0.0
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type:
          - string
          - 'null'
          format: date-time
    IPipelineStepResult:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        stepId:
          type: string
          format: guid
        stepType:
          oneOf:
          - $ref: '#/components/schemas/StepType'
        stepTitle:
          type: string
        result:
          oneOf:
          - $ref: '#/components/schemas/AgentBaseStepResult'
        input:
          type: array
          items:
            $ref: '#/components/schemas/AgentBaseStepResult'
        success:
          type:
          - boolean
          - 'null'
        completionStatus:
          $ref: '#/components/schemas/AgentStepCompletionStatus'
        timeTrackingData:
          $ref: '#/components/schemas/TimeTrackingData'
        exceptionMessage:
          type:
          - string
          - 'null'
        debugInformation:
          type: object
          additionalProperties: {}
    AgentBaseStepResult:
      type: object
      discriminator:
        propertyName: $type
        mapping:
          string: '#/components/schemas/AgentStepStringResult'
          branch: '#/components/schemas/AgentStepBranchedResult'
          halt: '#/components/schemas/AgentStepHaltResult'
          stopAndError: '#/components/schemas/AgentStopAndErrorResult'
          memoryLoad: '#/components/schemas/AgentLoadMemoryStepResult'
          memoryStore: '#/components/schemas/AgentStoreMemoryStepResult'
          datasearch: '#/components/schemas/AgentDatasearchStepResult'
          input: '#/components/schemas/AgentInputStepResult'
          output: '#/components/schemas/AgentOutputStepResult'
          agent: '#/components/schemas/AgentInvocationStepResult'
          model: '#/components/schemas/AgentModelStepResult'
          python: '#/components/schemas/AgentPythonStepResult'
          structuredResponsePython: '#/components/schemas/AgentPythonStructuredStepResutlt'
          approval: '#/components/schemas/AgentApprovalStepResult'
          toolAction: '#/components/schemas/AgentToolActionStepResult'
          card: '#/components/schemas/AgentCardStepResult'
          loopContainer: '#/components/schemas/AgentLoopContainerStepResult'
          loopStart: '#/components/schemas/AgentLoopStartStepResult'
          loopEnd: '#/components/schemas/AgentLoopEndStepResult'
          jsonFormatter: '#/components/schemas/AgentJsonFormatterStepResult'
          sdkStep: '#/components/schemas/AgentSdkStepResult'
          messageFormatter: '#/components/schemas/AgentMessageFormatterStepResult'
          passthrough: '#/components/schemas/AgentPassthroughStepResult'
          webhookApproval: '#/components/schemas/AgentWebhookApprovalStepResult'
          modelStructured: '#/components/schemas/AgentModelStepStructuredResult'
          customFormApproval: '#/components/schemas/AgentCustomFormApprovalStepStructuredResult'
          image: '#/components/schemas/AgentImageStepResult'
          documentSplitter: '#/components/schemas/AgentDocumentSplitterStepResult'
      x-abstract: true
      additionalProperties: false
      required:
      - $type
      properties:
        stepType:
          $ref: '#/components/schemas/StepType'
        stepId:
          type: string
          format: guid
        $type:
          type: string
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    PipelineStepResult:
      type: object
      additionalProperties: false
      properties:
        stepId:
          type: string
          format: guid
        stepType:
          oneOf:
          - $ref: '#/components/schemas/StepType'
        StepTitle:
          type: string
        result:
          oneOf:
          - $ref: '#/components/schemas/AgentBaseStepResult'
        input:
          type: array
          items:
            $ref: '#/components/schemas/AgentBaseStepResult'
        success:
          type:
          - boolean
          - 'null'
        completionStatus:
          $ref: '#/components/schemas/AgentStepCompletionStatus'
        timeTrackingData:
          $ref: '#/components/schemas/TimeTrackingData'
        exceptionMessage:
          type:
          - string
          - 'null'
        debugInformation:
          type: object
          additionalProperties: {}
    StepExecutionRequest:
      type: object
      additionalProperties: false
      properties:
        userInput:
          type:
          - string
          - 'null'
        currentDateTime:
          type:
          - string
          - 'null'
          format: date-time
        promptVariables:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        variables:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        input:
          type: array
          items:
            $ref: '#/components/schemas/AgentBaseStepResult'
        userId:
          type:
          - string
          - 'null'
          format: guid
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
