openapi: 3.2.0
info:
  title: Airia Web Alert API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Alert
paths:
  /v1/Alert/HasUnread:
    get:
      tags:
      - Alert
      operationId: Alert_HasUnread2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HasUnreadResult'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert has unread2
      x-summary-source: derived
  /v1/Alert/Paging/{pageNumber}/{pageSize}:
    get:
      tags:
      - Alert
      operationId: Alert_Paging2
      parameters:
      - name: pageNumber
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: pageSize
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: alertTypes
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AlertType'
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfAlert'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert paging2
      x-summary-source: derived
  /v1/Alert/Paging/{tabCategory}/{pageNumber}/{pageSize}:
    get:
      tags:
      - Alert
      operationId: Alert_Paging4
      parameters:
      - name: tabCategory
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: pageNumber
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: pageSize
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: alertTypes
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AlertType'
        x-position: 4
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedByCategoryResult'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert paging4
      x-summary-source: derived
  /v1/Alert/IsRead/{id}/{state}:
    post:
      tags:
      - Alert
      operationId: Alert_IsRead2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: state
        in: path
        required: true
        schema:
          type: boolean
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert is read2
      x-summary-source: derived
  /v1/Alert/IsActed/{id}/{actionReport}:
    post:
      tags:
      - Alert
      operationId: Alert_IsActed2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        x-position: 1
      - name: actionReport
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert is acted2
      x-summary-source: derived
  /v1/Alert/MarkAllAsRead:
    post:
      tags:
      - Alert
      operationId: Alert_MarkAllAsRead2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert mark all as read2
      x-summary-source: derived
  /v1/Alert/Close/{id}:
    post:
      tags:
      - Alert
      operationId: Alert_Close2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivedCountResult'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert close2
      x-summary-source: derived
  /v1/Alert/CloseAll:
    post:
      tags:
      - Alert
      operationId: Alert_CloseAll2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivedCountResult'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert close all2
      x-summary-source: derived
  /v1/Alert/ForAllUsers/Archive_AlertsOlderThan30Days:
    post:
      tags:
      - Alert
      operationId: Alert_ForAllUsers_ArchiveAlertsOlderThan30Days2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArchivedCountResult'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert for all users archive alerts older than30 days2
      x-summary-source: derived
  /v1/Alert/ForAllUsers/Delete_ArchivedAlertsOlderThan90Days:
    post:
      tags:
      - Alert
      operationId: Alert_ForAllUsers_DeleteArchivedOlderThan90Days2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedCountResult'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert for all users delete archived older than90 days2
      x-summary-source: derived
  /v1/Alert/ForAllUsers/Stats:
    get:
      tags:
      - Alert
      operationId: Alert_ForAllUsers_Stats2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsResult'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Alert for all users stats2
      x-summary-source: derived
components:
  schemas:
    PagedResultOfAlert:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Alert'
        totalCount:
          type: integer
          format: int32
    HasUnreadResult:
      type: object
      additionalProperties: false
      properties:
        hasUnread:
          type: boolean
    ArchivedCountResult:
      type: object
      additionalProperties: false
      properties:
        archivedCount:
          type: integer
          format: int32
    Alert:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
        userId:
          type: string
          format: guid
        tenantId:
          type: string
          format: guid
        eventId:
          type: string
          format: guid
        alertType:
          $ref: '#/components/schemas/AlertType'
        tabCategory:
          $ref: '#/components/schemas/TabCategory'
        relatedId:
          type:
          - string
          - 'null'
          format: guid
        relatedTable:
          type:
          - string
          - 'null'
        relatedGroupId:
          type:
          - string
          - 'null'
          format: guid
        placeholdersJson:
          type:
          - string
          - 'null'
        isRead:
          type: boolean
        actionReport:
          type:
          - string
          - 'null'
        actedAt:
          type:
          - string
          - 'null'
          format: date-time
        createdAt:
          type: string
          format: date-time
        dismissedAt:
          type:
          - string
          - 'null'
          format: date-time
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    AlertResult:
      type: object
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int64
        alertType:
          $ref: '#/components/schemas/AlertType'
        iconUrl:
          type:
          - string
          - 'null'
        title:
          type: string
        message:
          type: string
        isRead:
          type: boolean
        createdAt:
          type: string
          format: date-time
        placeHolders:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
    DeletedCountResult:
      type: object
      additionalProperties: false
      properties:
        deletedCount:
          type: integer
          format: int32
    TabCategory:
      type: string
      description: ''
      x-enumNames:
      - Alert
      - Approval
      enum:
      - Alert
      - Approval
    PagedByCategoryResult:
      type: object
      additionalProperties: false
      properties:
        totalCount:
          type: integer
          format: int32
        count1:
          type: integer
          format: int32
        count2:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/AlertResult'
    AlertType:
      type: string
      description: ''
      x-enumNames:
      - BudgetLimitReached
      - BudgetThresholdLimitReached
      - BudgetBlockingAgentExecutions
      - AutoTopUpFailed
      - AutoTopUpSucceeded
      - DlpPolicyViolation
      - SecurityPolicyViolation
      - ResponsibleAiPolicyViolation
      - AgentFailure
      - ApprovalRequired
      - ModelDeprecationPlanned
      - SpacesAiriaUserInvited
      - AiInboxOperationInProgress
      - AiInboxOperationCompleted
      - AiInboxOperationFailed
      - SmartScanInProgress
      - SmartScanCompleted
      - SmartScanFailed
      - AgentLoopCompleted
      - AgentLoopFailed
      - AgentLoopCanceled
      - Requests
      - Lifecycle
      - AgentEvaluationCompleted
      - AgentEvaluationFailed
      - BudgetBlockingGatewayRequests
      - SchedulePaused
      - ScheduleDeleted
      - AgenticAiRedTeamingCompleted
      - AgenticAiRedTeamingFailed
      - DatasetRedTeamingCompleted
      - DatasetRedTeamingFailed
      - OwaspPromptGenerationCompleted
      - OwaspPromptGenerationFailed
      - GovernanceAssessmentApproval
      - GovernanceAgentCompleted
      - GovernanceAgentFailed
      - GovernanceRiskRegistryUserAssigned
      - EvaluationThresholdBreached
      - UseCaseApprovalAssigned
      - UserBudgetLimitReached
      - UserBudgetThresholdLimitReached
      - UserBudgetBlockingExecutions
      - TenantBudgetLimitReached
      - TenantBudgetThresholdLimitReached
      - TenantBudgetBlockingExecutions
      - ScheduleExecutionCompleted
      - WorkflowGateApproval
      - SharedTaskReceived
      - GatewayBudgetLimitReached
      - GatewayBudgetThresholdLimitReached
      - BudgetThresholdEmail
      - EndpointAiToolDiscovered
      - EndpointSecurityViolation
      - UebaAnomalyAlert
      - GovernanceWorkflowLifecycleChanged
      - GovernancePendingActionPosted
      - DataSourceSyncFailed
      - PermissionSyncFailed
      - BoardDeckGenerationCompleted
      - BoardDeckGenerationFailed
      - GovernanceMonitorTriggered
      enum:
      - BudgetLimitReached
      - BudgetThresholdLimitReached
      - BudgetBlockingAgentExecutions
      - AutoTopUpFailed
      - AutoTopUpSucceeded
      - DlpPolicyViolation
      - SecurityPolicyViolation
      - ResponsibleAiPolicyViolation
      - AgentFailure
      - ApprovalRequired
      - ModelDeprecationPlanned
      - SpacesAiriaUserInvited
      - AiInboxOperationInProgress
      - AiInboxOperationCompleted
      - AiInboxOperationFailed
      - SmartScanInProgress
      - SmartScanCompleted
      - SmartScanFailed
      - AgentLoopCompleted
      - AgentLoopFailed
      - AgentLoopCanceled
      - Requests
      - Lifecycle
      - AgentEvaluationCompleted
      - AgentEvaluationFailed
      - BudgetBlockingGatewayRequests
      - SchedulePaused
      - ScheduleDeleted
      - AgenticAiRedTeamingCompleted
      - AgenticAiRedTeamingFailed
      - DatasetRedTeamingCompleted
      - DatasetRedTeamingFailed
      - OwaspPromptGenerationCompleted
      - OwaspPromptGenerationFailed
      - GovernanceAssessmentApproval
      - GovernanceAgentCompleted
      - GovernanceAgentFailed
      - GovernanceRiskRegistryUserAssigned
      - EvaluationThresholdBreached
      - UseCaseApprovalAssigned
      - UserBudgetLimitReached
      - UserBudgetThresholdLimitReached
      - UserBudgetBlockingExecutions
      - TenantBudgetLimitReached
      - TenantBudgetThresholdLimitReached
      - TenantBudgetBlockingExecutions
      - ScheduleExecutionCompleted
      - WorkflowGateApproval
      - SharedTaskReceived
      - GatewayBudgetLimitReached
      - GatewayBudgetThresholdLimitReached
      - BudgetThresholdEmail
      - EndpointAiToolDiscovered
      - EndpointSecurityViolation
      - UebaAnomalyAlert
      - GovernanceWorkflowLifecycleChanged
      - GovernancePendingActionPosted
      - DataSourceSyncFailed
      - PermissionSyncFailed
      - BoardDeckGenerationCompleted
      - BoardDeckGenerationFailed
      - GovernanceMonitorTriggered
    StatsResult:
      type: object
      additionalProperties: false
      properties:
        alertsCount:
          type: integer
          format: int32
        alertsMaxByUserCount:
          type: integer
          format: int32
        alertsMaxByUserId:
          type:
          - string
          - 'null'
          format: guid
        archivedCount:
          type: integer
          format: int32
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
