openapi: 3.2.0
info:
  title: Airia Web Pipeline Import API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: PipelineImport
paths:
  /v1/PipelineImport:
    post:
      tags:
      - PipelineImport
      operationId: PipelineImport_ImportPipeline2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: pipeline
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pipeline'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineLimitResponse'
        500:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline import import pipeline2
      x-summary-source: derived
  /v1/PipelineImport/library:
    post:
      tags:
      - PipelineImport
      operationId: PipelineImport_ImportPipeline4
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: createLibraryAgentRequestModel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLibraryAgentRequestModel'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineImportResult'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineLimitResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineImportResult'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline import import pipeline4
      x-summary-source: derived
  /v1/PipelineImport/definition:
    post:
      tags:
      - PipelineImport
      operationId: PipelineImport_ImportPipeline6
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: createLibraryAgentRequestModel
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAgentFromDefinitionRequestModel'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineImportResult'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineLimitResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineImportResult'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline import import pipeline6
      x-summary-source: derived
  /v1/PipelineImport/definition/preview:
    post:
      tags:
      - PipelineImport
      operationId: PipelineImport_PreviewImport2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: previewRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreviewImportRequestModel'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportPreviewResult'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline import preview import2
      x-summary-source: derived
  /v1/PipelineImport/definition/{agentId}:
    put:
      tags:
      - PipelineImport
      operationId: PipelineImport_UpdateAgentFromDefinition2
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAgentFromDefinitionRequestModel'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineImportResult'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineImportResult'
        500:
          description: ''
      summary: Pipeline import update agent from definition2
      x-summary-source: derived
  /v1/PipelineImport/definition/{agentId}/draft:
    post:
      tags:
      - PipelineImport
      operationId: PipelineImport_ImportDefinitionAsDraft2
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportDefinitionAsDraftRequestModel'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineImportResult'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineImportResult'
        500:
          description: ''
      summary: Pipeline import import definition as draft2
      x-summary-source: derived
  /v1/PipelineImport/library/{importedAgentId}/step/{stepId}/datasource/{datasourceId}:
    patch:
      tags:
      - PipelineImport
      operationId: PipelineImport_SwitchDatasourceFromDatasourceStep2
      parameters:
      - name: importedAgentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: stepId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: datasourceId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        500:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline import switch datasource from datasource step2
      x-summary-source: derived
components:
  schemas:
    CredentialType:
      type: string
      description: ''
      x-enumNames:
      - None
      - Ai21
      - Alibaba
      - AlphaVantage
      - Anthropic
      - Asana
      - Atlassian
      - AtlassianApiKey
      - AtlassianOauth
      - Azure
      - AzureAIStudio
      - AzureBlob
      - AzureML
      - BasicAuth
      - Bedrock
      - BoxOauth
      - BraveSearchApiKey
      - Cohere
      - Compass
      - CustomCredential
      - CustomAPIKey
      - CustomOpenAI
      - DataBricksToken
      - DropboxOauth
      - ElevenLabs
      - Exa
      - Firecrawl
      - GenericOpenAI
      - GithubPersonalAccessToken
      - Google
      - GoogleOauth
      - GoogleServiceAccount
      - HeaderAuth
      - Hubspot
      - HuggingFace
      - ICDOauth
      - IPAPI
      - JinaAI
      - LinkPreview
      - McpAccessToken
      - McpHeaders
      - MicrosoftOauth
      - MicrosoftBingSearch
      - Mistral
      - MongoDb
      - MongoDbCloudId
      - MongoDbConnectionString
      - MsServer
      - MySql
      - NASA
      - NewsAPI
      - NotionIntegrationSecret
      - Nutritionix
      - Ollama
      - OpenAI
      - OpenVINO
      - Perplexity
      - PgSql
      - Pinecone
      - PyTorch
      - QueryParamAuth
      - Reddit
      - Replicate
      - S3
      - SalesforceOauth
      - ScaleFlex
      - SendGrid
      - Serper
      - ServiceNow
      - SlackBotAccessToken
      - SlackOauth
      - SlackUserAccessToken
      - SnowflakeEncryptedKey
      - SnowflakePrivateKey
      - Spotify
      - Stability
      - Strava
      - SupabasePersonalAccessToken
      - TogetherAI
      - WatsonAix
      - Weaviate
      - WeatherStack
      - WolframAlpha
      - XKey
      - XAI
      - XOauth
      - Youtube
      - FredApiKey
      - GovRegulationsApiKey
      - SecHeader
      - PineconeApiKey
      - LaunchDarklyApiKey
      - PerplexityApiKey
      - StripeApiKey
      - AirtableApiKey
      - SmartSheetApiKey
      - GrafanaApiKey
      - GenericOAuth
      - AiriaXApiKey
      - AzureAi
      - BedrockArn
      - ScaleflexMcpHeaders
      - WhatsAppCloudApi
      - NotionOauth
      - SapHana
      - BitlyApiKey
      - CalendlyAccessToken
      - ClickUpApiKey
      - DiscordBotToken
      - FreshdeskApiKey
      - IntercomAccessToken
      - LinearApiKey
      - MailchimpApiKey
      - MondayComApiKey
      - PipedriveApiKey
      - ShopifyAccessToken
      - SurveyMonkeyAccessToken
      - TelegramBotToken
      - TodoistApiKey
      - TrelloApiKey
      - TwilioApiKey
      - TypeformAccessToken
      - ZendeskApiKey
      - ZoomOauth
      - QuickBooksOauth
      - AwsAccessKey
      - JiraOauth
      - XeroOauth
      - ActiveCampaignApiKey
      - GitlabAccessToken
      - ClockifyApiKey
      - PagerDutyApiKey
      - NetlifyAccessToken
      - HelpScoutApiKey
      - HarvestAccessToken
      - DiscourseApiKey
      - ConvertKitApiKey
      - BaserowApiKey
      - NocoDBApiKey
      - PayPalOAuth
      - KeapAccessToken
      - MauticApiKey
      - AffinityApiKey
      - HighLevelApiKey
      - InvoiceNinjaApiKey
      - MagentoAccessToken
      - CustomerIoApiKey
      - AgileCrmApiKey
      - PostHogApiKey
      - OrbitApiKey
      - SentryIoApiKey
      - WooCommerceApiKey
      - SpotifyOauth
      - UptimeRobotApiKey
      - MediumAccessToken
      - LinkedInOauth
      - StravaOauth
      - SupabaseApiKey
      - MetabaseApiKey
      - PaddleApiKey
      - JenkinsApiKey
      - SalesmateApiKey
      - ChargebeeApiKey
      - HomeAssistantAccessToken
      - CircleCiApiKey
      - RedditApiOauth
      - OktaApiKey
      - WhatsAppAccessToken
      - FreshserviceApiKey
      - FreshworksCrmApiKey
      - BrevoApiKey
      - MailerLiteApiKey
      - CloudflareApiKey
      - StrapiApiKey
      - GetResponseApiKey
      - TwistAccessToken
      - WekanApiKey
      - ZulipApiKey
      - NextCloudApiKey
      - CodaApiKey
      - DriftAccessToken
      - QuickBaseApiKey
      - TheHiveApiKey
      - KoBoToolboxApiKey
      - GrafanaApiApiKey
      - ActionNetworkApiKey
      - AdaloApiKey
      - AirtopApiKey
      - ApiTemplateIoApiKey
      - AutopilotApiKey
      - AwsLambdaApiKey
      - BannerbearApiKey
      - BeeminderApiKey
      - BitwardenApiKey
      - BrandfetchApiKey
      - BubbleApiKey
      - ClearbitApiKey
      - CockpitApiKey
      - CoinGeckoApiKey
      - MicrosoftGraphAccessToken
      - GcpServiceAccount
      - GoogleCloudOAuth
      - MsServerEntraId
      - DemioApiKey
      - DhlApiKey
      - DisqusApiKey
      - DropcontactApiKey
      - EgoiApiKey
      - EmeliaApiKey
      - ErpNextApiKey
      - FlowApiKey
      - GhostApiKey
      - GongApiKey
      - GotifyApiKey
      - GoToWebinarOAuth2
      - GristApiKey
      - HackerNewsApiKey
      - HaloPsaApiKey
      - HumanticAiApiKey
      - HunterApiKey
      - IterableApiKey
      - JinaAiApiKey
      - LemlistApiKey
      - LingvaNexApiKey
      - LoneScaleApiKey
      - MailcheckApiKey
      - MailgunApiKey
      - MailjetApiKey
      - MandrillApiKey
      - MarketstackApiKey
      - MatrixApiKey
      - MattermostApiKey
      - MessageBirdApiKey
      - MindeeApiKey
      - MispApiKey
      - MistralAiApiKey
      - MoceanApiKey
      - MonicaCrmApiKey
      - Msg91ApiKey
      - NasaApiKey
      - NpmApiKey
      - OdooApiKey
      - OneSimpleApiApiKey
      - OnfleetApiKey
      - OpenThesaurusApiKey
      - OpenWeatherMapApiKey
      - OuraApiKey
      - PeekalinkApiKey
      - PhantombusterApiKey
      - PhilipsHueApiKey
      - PlivoApiKey
      - ProfitWellApiKey
      - PushbulletApiKey
      - PushcutApiKey
      - PushoverApiKey
      - QuickChartApiKey
      - RaindropApiKey
      - RocketChatApiKey
      - RundeckApiKey
      - SeaTableApiKey
      - SecurityScorecardApiKey
      - SegmentApiKey
      - SendyApiKey
      - Signl4ApiKey
      - Sms77ApiKey
      - SplunkApiKey
      - StackbyApiKey
      - StoryblokApiKey
      - SyncroMspApiKey
      - TaigaApiKey
      - TapfiliateApiKey
      - TravisCiApiKey
      - TwakeApiKey
      - UnleashedSoftwareApiKey
      - UpleadApiKey
      - UProcApiKey
      - UrlScanIoApiKey
      - VeroApiKey
      - VonageApiKey
      - WebflowApiKey
      - WiseApiKey
      - TwitterOAuth2
      - YourlsApiKey
      - ZammadApiKey
      - ZohoCrmOAuth2
      - DocuSignOAuth2
      - AzureDevOpsPersonalAccessToken
      - WorkdayOAuth2
      - DatadogApiKey
      - AmazonSESApiKey
      - BitbucketOAuth2
      - SAPApiKey
      - Dynamics365OAuth2
      - SnowflakeApiKey
      - TwitchOAuth2
      - FigmaPersonalAccessToken
      - AwsCloudWatchApiKey
      - AzureBlobStorageApiKey
      - OneLoginOAuth2
      - SmtpRelay
      - WordpressApiKey
      - ContentfulApiKey
      - CopperApiKey
      - DeepLApiKey
      - CortexApiKey
      - AzureFoundryEntraId
      - Causeway
      - Amazon
      - Clerk
      - Brightspace
      - GenericAnthropic
      - Cohesity
      - AnthropicInferenceHooks
      - AnthropicAnalytics
      - GoogleVertexAi
      enum:
      - None
      - AI21
      - Alibaba
      - AlphaVantage
      - Anthropic
      - Asana
      - Atlassian
      - AtlassianApiKey
      - AtlassianOauth
      - Azure
      - AzureAIStudio
      - AzureBlob
      - AzureML
      - BasicAuth
      - Bedrock
      - BoxOauth
      - BraveSearchApiKey
      - Cohere
      - Compass
      - CustomCredential
      - CustomAPIKey
      - Custom OpenAI
      - DataBricksToken
      - DropboxOauth
      - ElevenLabs
      - Exa
      - Firecrawl
      - GenericOpenAI
      - GithubPersonalAccessToken
      - Google
      - GoogleOauth
      - GoogleServiceAccount
      - HeaderAuth
      - Hubspot
      - Hugging Face
      - ICDOauth
      - IPAPI
      - JinaAI
      - LinkPreview
      - McpAccessToken
      - McpHeaders
      - MicrosoftOauth
      - MicrosoftBingSearch
      - Mistral
      - MongoDb
      - MongoDbCloudId
      - MongoDbConnectionString
      - MsServer
      - MySql
      - NASA
      - NewsAPI
      - NotionIntegrationSecret
      - Nutritionix
      - Ollama
      - OpenAI
      - OpenVINO
      - Perplexity
      - PgSql
      - Pinecone
      - PyTorch
      - QueryParamAuth
      - Reddit
      - Replicate
      - S3
      - SalesforceOauth
      - ScaleFlex
      - SendGrid
      - Serper
      - ServiceNow
      - SlackBotAccessToken
      - SlackOauth
      - SlackUserAccessToken
      - SnowflakeEncryptedKey
      - SnowflakePrivateKey
      - Spotify
      - Stability
      - Strava
      - SupabasePersonalAccessToken
      - Together AI
      - WatsonAix
      - Weaviate
      - WeatherStack
      - WolframAlpha
      - X
      - XAI
      - XOauth
      - Youtube
      - FredApiKey
      - GovRegulationsApiKey
      - SecHeader
      - PineconeApiKey
      - LaunchDarklyApiKey
      - PerplexityApiKey
      - StripeApiKey
      - AirtableApiKey
      - SmartSheetApiKey
      - GrafanaApiKey
      - GenericOAuth
      - AiriaXApiKey
      - AzureAi
      - BedrockArn
      - ScaleflexMcpHeaders
      - WhatsAppCloudApi
      - NotionOauth
      - SapHana
      - BitlyApiKey
      - CalendlyAccessToken
      - ClickUpApiKey
      - DiscordBotToken
      - FreshdeskApiKey
      - IntercomAccessToken
      - LinearApiKey
      - MailchimpApiKey
      - MondayComApiKey
      - PipedriveApiKey
      - ShopifyAccessToken
      - SurveyMonkeyAccessToken
      - TelegramBotToken
      - TodoistApiKey
      - TrelloApiKey
      - TwilioApiKey
      - TypeformAccessToken
      - ZendeskApiKey
      - ZoomOauth
      - QuickBooksOauth
      - AwsAccessKey
      - JiraOauth
      - XeroOauth
      - ActiveCampaignApiKey
      - GitlabAccessToken
      - ClockifyApiKey
      - PagerDutyApiKey
      - NetlifyAccessToken
      - HelpScoutApiKey
      - HarvestAccessToken
      - DiscourseApiKey
      - ConvertKitApiKey
      - BaserowApiKey
      - NocoDBApiKey
      - PayPalOAuth
      - KeapAccessToken
      - MauticApiKey
      - AffinityApiKey
      - HighLevelApiKey
      - InvoiceNinjaApiKey
      - MagentoAccessToken
      - CustomerIoApiKey
      - AgileCrmApiKey
      - PostHogApiKey
      - OrbitApiKey
      - SentryIoApiKey
      - WooCommerceApiKey
      - SpotifyOauth
      - UptimeRobotApiKey
      - MediumAccessToken
      - LinkedInOauth
      - StravaOauth
      - SupabaseApiKey
      - MetabaseApiKey
      - PaddleApiKey
      - JenkinsApiKey
      - SalesmateApiKey
      - ChargebeeApiKey
      - HomeAssistantAccessToken
      - CircleCiApiKey
      - RedditApiOauth
      - OktaApiKey
      - WhatsAppAccessToken
      - FreshserviceApiKey
      - FreshworksCrmApiKey
      - BrevoApiKey
      - MailerLiteApiKey
      - CloudflareApiKey
      - StrapiApiKey
      - GetResponseApiKey
      - TwistAccessToken
      - WekanApiKey
      - ZulipApiKey
      - NextCloudApiKey
      - CodaApiKey
      - DriftAccessToken
      - QuickBaseApiKey
      - TheHiveApiKey
      - KoBoToolboxApiKey
      - GrafanaApiApiKey
      - ActionNetworkApiKey
      - AdaloApiKey
      - AirtopApiKey
      - ApiTemplateIoApiKey
      - AutopilotApiKey
      - AwsLambdaApiKey
      - BannerbearApiKey
      - BeeminderApiKey
      - BitwardenApiKey
      - BrandfetchApiKey
      - BubbleApiKey
      - ClearbitApiKey
      - CockpitApiKey
      - CoinGeckoApiKey
      - MicrosoftGraphAccessToken
      - GcpServiceAccount
      - GoogleCloudOAuth
      - MsServerEntraId
      - DemioApiKey
      - DhlApiKey
      - DisqusApiKey
      - DropcontactApiKey
      - EgoiApiKey
      - EmeliaApiKey
      - ErpNextApiKey
      - FlowApiKey
      - GhostApiKey
      - GongApiKey
      - GotifyApiKey
      - GoToWebinarOAuth2
      - GristApiKey
      - HackerNewsApiKey
      - HaloPsaApiKey
      - HumanticAiApiKey
      - HunterApiKey
      - IterableApiKey
      - JinaAiApiKey
      - LemlistApiKey
      - LingvaNexApiKey
      - LoneScaleApiKey
      - MailcheckApiKey
      - MailgunApiKey
      - MailjetApiKey
      - MandrillApiKey
      - MarketstackApiKey
      - MatrixApiKey
      - MattermostApiKey
      - MessageBirdApiKey
      - MindeeApiKey
      - MispApiKey
      - MistralAiApiKey
      - MoceanApiKey
      - MonicaCrmApiKey
      - Msg91ApiKey
      - NasaApiKey
      - NpmApiKey
      - OdooApiKey
      - OneSimpleApiApiKey
      - OnfleetApiKey
      - OpenThesaurusApiKey
      - OpenWeatherMapApiKey
      - OuraApiKey
      - PeekalinkApiKey
      - PhantombusterApiKey
      - PhilipsHueApiKey
      - PlivoApiKey
      - ProfitWellApiKey
      - PushbulletApiKey
      - PushcutApiKey
      - PushoverApiKey
      - QuickChartApiKey
      - RaindropApiKey
      - RocketChatApiKey
      - RundeckApiKey
      - SeaTableApiKey
      - SecurityScorecardApiKey
      - SegmentApiKey
      - SendyApiKey
      - Signl4ApiKey
      - Sms77ApiKey
      - SplunkApiKey
      - StackbyApiKey
      - StoryblokApiKey
      - SyncroMspApiKey
      - TaigaApiKey
      - TapfiliateApiKey
      - TravisCiApiKey
      - TwakeApiKey
      - UnleashedSoftwareApiKey
      - UpleadApiKey
      - UProcApiKey
      - UrlScanIoApiKey
      - VeroApiKey
      - VonageApiKey
      - WebflowApiKey
      - WiseApiKey
      - TwitterOAuth2
      - YourlsApiKey
      - ZammadApiKey
      - ZohoCrmOAuth2
      - DocuSignOAuth2
      - AzureDevOpsPersonalAccessToken
      - WorkdayOAuth2
      - DatadogApiKey
      - AmazonSESApiKey
      - BitbucketOAuth2
      - SAPApiKey
      - Dynamics365OAuth2
      - SnowflakeApiKey
      - TwitchOAuth2
      - FigmaPersonalAccessToken
      - AwsCloudWatchApiKey
      - AzureBlobStorageApiKey
      - OneLoginOAuth2
      - SmtpRelay
      - WordpressApiKey
      - ContentfulApiKey
      - CopperApiKey
      - DeepLApiKey
      - CortexApiKey
      - AzureFoundryEntraId
      - Causeway
      - Amazon
      - Clerk
      - Brightspace
      - GenericAnthropic
      - Cohesity
      - AnthropicInferenceHooks
      - AnthropicAnalytics
      - GoogleVertexAi
    MitigationArtifactType:
      type: string
      description: ''
      x-enumNames:
      - Guardrail
      - Evaluation
      - RedTeamingCampaign
      - Assessment
      - GatewayLimit
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
      - ExternalAgentRouting
      enum:
      - Guardrail
      - Evaluation
      - RedTeamingCampaign
      - Assessment
      - GatewayLimit
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
      - ExternalAgentRouting
    AgentDetailItemDefinition:
      type: object
      additionalProperties: false
      properties:
        itemType:
          type: string
        name:
          type: string
        value:
          type: string
        options:
          type:
          - array
          - 'null'
          items:
            type: string
    UseCaseAssetAssignment:
      type: object
      additionalProperties: false
      properties:
        useCaseId:
          type: string
          format: guid
        aiAssetAggregateId:
          type: string
          format: guid
        aiAssetVersionId:
          type:
          - string
          - 'null'
          format: guid
    TableDocumentProcessingMode:
      type: string
      description: ''
      x-enumNames:
      - Unspecified
      - Semantic
      - Sql
      - Both
      - Embedding
      - Graph
      - Labels
      - HybridEntityRag
      enum:
      - Unspecified
      - Semantic
      - Sql
      - Both
      - Embedding
      - Graph
      - Labels
      - HybridEntityRag
    UseCaseEvaluationSelection:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - useCaseId
        - agentEvaluationId
        - source
        - selectedAt
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          useCaseId:
            type: string
            format: guid
            minLength: 1
          agentEvaluationId:
            type: string
            format: guid
            minLength: 1
          source:
            $ref: '#/components/schemas/UseCaseEvaluationSelectionSource'
          selectedAt:
            type: string
            format: date-time
          selectedByUserId:
            type:
            - string
            - 'null'
            format: guid
          useCase:
            $ref: '#/components/schemas/UseCase'
          agentEvaluation:
            $ref: '#/components/schemas/AgentEvaluation'
    StepType:
      type: string
      description: ''
      x-enumNames:
      - AIOperation
      - DataSearch
      - ExecutePipelineStep
      - InputStep
      - MachineLearningOperationStep
      - MemoryLoadStep
      - MemoryStoreStep
      - OutputStep
      - PythonStep
      - Exception
      - RouterStep
      - AnnotationStep
      - ApprovalStep
      - WebhookApprovalStep
      - ToolActionStep
      - AgentCardStep
      - ConditionalBranchStep
      - LoopContainerStep
      - LoopStartStep
      - LoopEndStep
      - JsonFormatterStep
      - SdkStep
      - CustomFormHumanApprovalStep
      - ImageGenerationStep
      - DocumentSplitterStep
      enum:
      - AIOperation
      - dataSearch
      - executePipelineStep
      - inputStep
      - machineLearningOperationStep
      - memoryLoadStep
      - memoryStoreStep
      - outputStep
      - pythonStep
      - exception
      - routerStep
      - annotationStep
      - approvalStep
      - webhookApprovalStep
      - toolActionStep
      - agentCardStep
      - conditionalBranchStep
      - loopContainerStep
      - loopStartStep
      - loopEndStep
      - jsonFormatterStep
      - sdkStep
      - customFormHumanApprovalStep
      - imageGenerationStep
      - documentSplitterStep
    ApiKeyScopeName:
      type: string
      description: ''
      x-enumNames:
      - Conversations
      - Project
      - Findings
      - EndpointAgentPolicy
      - BrowserExtensionProvisioning
      - LiteLlmGuardrail
      enum:
      - Conversations
      - Project
      - Findings
      - EndpointAgentPolicy
      - BrowserExtensionProvisioning
      - LiteLlmGuardrail
    MitigationVerifierKey:
      type: string
      description: ''
      x-enumNames:
      - Guardrail
      - Evaluation
      - RedTeaming
      - Gateway
      - Assessment
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
      enum:
      - Guardrail
      - Evaluation
      - RedTeaming
      - Gateway
      - Assessment
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
    GatewayApiKeyType:
      type: string
      description: ''
      x-enumNames:
      - Unknown
      - Standard
      - ExternalAgent
      - User
      enum:
      - Unknown
      - Standard
      - ExternalAgent
      - User
    Assessment:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - aiAssetAggregateId
        - name
        - templateId
        - templateVersionId
        - version
        - status
        - approverId
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          aiAssetAggregateId:
            type: string
            format: guid
            minLength: 1
          name:
            type: string
            maxLength: 256
            minLength: 1
          templateId:
            type: string
            format: guid
            minLength: 1
          templateVersionId:
            type: string
            format: guid
            minLength: 1
          version:
            type: string
            maxLength: 50
            minLength: 1
          status:
            $ref: '#/components/schemas/AssessmentStatus'
          lastCompletedAt:
            type:
            - string
            - 'null'
            format: date-time
          approverId:
            type: string
            format: guid
            minLength: 1
          responses:
            type:
            - string
            - 'null'
          fileId:
            type:
            - string
            - 'null'
            maxLength: 100
          template:
            oneOf:
            - $ref: '#/components/schemas/AssessmentTemplate'
          templateVersion:
            oneOf:
            - $ref: '#/components/schemas/AssessmentTemplateVersion'
          aiAssetAggregate:
            oneOf:
            - $ref: '#/components/schemas/AiAssetAggregate'
          originSource:
            type:
            - string
            - 'null'
            maxLength: 256
          originId:
            type:
            - string
            - 'null'
            format: guid
          originContext:
            type:
            - object
            - 'null'
            additionalProperties:
              type: string
    UseCaseIntendedUse:
      type: object
      additionalProperties: false
      properties:
        businessPurpose:
          type:
          - string
          - 'null'
        userPopulation:
          type:
          - string
          - 'null'
        deploymentContext:
          type: array
          items:
            type: string
        dataCategories:
          type: array
          items:
            type: string
        rightsAffecting:
          type: array
          items:
            type: string
        affectedPopulation:
          type: array
          items:
            type: string
        deploymentRegion:
          type: array
          items:
            type: string
        intendedOutcome:
          type:
          - string
          - 'null'
        operatingCadence:
          type:
          - string
          - 'null'
        intendedFor:
          type: array
          items:
            type: string
        notIntendedFor:
          type: array
          items:
            type: string
    ConnectionAzurePowerApps:
      type: object
      additionalProperties: false
      properties:
        tenantId:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
    WebhookApprovalRequestDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        webhookUrl:
          type: string
        timeoutSeconds:
          type: integer
          format: int32
        maxRetryAttempts:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        approvedHandleId:
          type: string
          format: guid
        deniedHandleId:
          type: string
          format: guid
    AgentEvaluationSpmAgent:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          agentEvaluationId:
            type: string
            format: guid
          agentEvaluation:
            $ref: '#/components/schemas/AgentEvaluation'
          spmAgentId:
            type: string
            format: guid
          spmAgent:
            $ref: '#/components/schemas/SpmAgent'
    RetryConfiguration:
      type: object
      additionalProperties: false
      properties:
        enabled:
          type: boolean
        maxRetries:
          type: integer
          format: int32
          maximum: 100
          minimum: 0
        delay:
          type: integer
          format: int32
          maximum: 300000
          minimum: 1
        maxDelay:
          type: integer
          format: int32
          maximum: 600000
          minimum: 1
        backoffMultiplier:
          type: number
          format: double
          maximum: 10
          minimum: 1
        useJitter:
          type: boolean
    SpmProviderKind:
      type: string
      description: ''
      x-enumNames:
      - AgentRefresh
      - ShadowAI
      - CodeScanner
      - Analytics
      - EndpointInventory
      - ProcessExecutionDetection
      enum:
      - AgentRefresh
      - ShadowAI
      - CodeScanner
      - Analytics
      - EndpointInventory
      - ProcessExecutionDetection
    AgentToolAnnotationsDefinition:
      type: object
      additionalProperties: false
      properties:
        destructiveHint:
          type:
          - boolean
          - 'null'
        idempotentHint:
          type:
          - boolean
          - 'null'
        openWorldHint:
          type:
          - boolean
          - 'null'
        readOnlyHint:
          type:
          - boolean
          - 'null'
        title:
          type:
          - string
          - 'null'
    EntityImportPreview:
      type: object
      additionalProperties: false
      properties:
        definitionId:
          type: string
          format: guid
        displayName:
          type: string
        matchedExistingEntityId:
          type:
          - string
          - 'null'
          format: guid
        matchedExistingEntityName:
          type:
          - string
          - 'null'
        matchedExistingEntityProjectId:
          type:
          - string
          - 'null'
          format: guid
        matchedExistingEntityProjectName:
          type:
          - string
          - 'null'
        plannedAction:
          $ref: '#/components/schemas/PipelineImportedEntityAction'
        matchedExistingEntityCredentialId:
          type:
          - string
          - 'null'
          format: guid
        matchedExistingEntityCredentialName:
          type:
          - string
          - 'null'
        requiresMapping:
          type: boolean
    AdministrativeScope:
      type: string
      description: ''
      x-enumNames:
      - Tenant
      - Project
      - Personal
      enum:
      - Tenant
      - Project
      - User
    ProviderType:
      type: string
      description: ''
      x-enumNames:
      - OpenAI
      - Ollama
      - Azure
      - HuggingFace
      - Anthropic
      - AzureAIStudio
      - OpenVINO
      - PyTorch
      - Replicate
      - Stability
      - Mistral
      - Perplexity
      - WatsonAix
      - Ai21
      - Cohere
      - Google
      - TogetherAI
      - XAI
      - Bedrock
      - Compass
      - AzureML
      - Unknown
      - Alibaba
      - GenericOpenAI
      - GenericAnthropic
      - GoogleVertex
      enum:
      - OpenAI
      - Ollama
      - Azure
      - Hugging Face
      - Anthropic
      - AzureAIStudio
      - OpenVINO
      - PyTorch
      - Replicate
      - Stability
      - Mistral
      - Perplexity
      - WatsonAix
      - AI21
      - Cohere
      - Google
      - Together AI
      - xAI
      - Amazon Bedrock
      - Compass
      - AzureML
      - Unknown
      - Alibaba
      - GenericOpenAI
      - GenericAnthropic
      - Google Vertex AI
    UserPrompt:
      allOf:
      - $ref: '#/components/schemas/BaseProjectEntity'
      - type: object
        additionalProperties: false
        properties:
          name:
            type: string
            maxLength: 256
          message:
            type: string
            maxLength: 4096
          description:
            type: string
            maxLength: 4096
          deploymentUserPrompts:
            type: array
            items:
              $ref: '#/components/schemas/DeploymentUserPrompt'
    CredentialsDataListDefinition:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        value:
          type: string
    ModelOverride:
      type: object
      additionalProperties: false
      properties:
        modelId:
          type: string
        identifierType:
          $ref: '#/components/schemas/ModelIdentifierType'
    Deployment:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        additionalProperties: false
        properties:
          pipelineId:
            type: string
            format: guid
          name:
            type: string
            maxLength: 256
            minLength: 0
          description:
            type: string
          deploymentUserPrompts:
            type: array
            items:
              $ref: '#/components/schemas/DeploymentUserPrompt'
          deploymentPrompt:
            oneOf:
            - $ref: '#/components/schemas/DeploymentPrompt'
          projectId:
            type: string
            format: guid
          isRecommended:
            type: boolean
          deploymentType:
            $ref: '#/components/schemas/AgentDeploymentType'
          conversationType:
            $ref: '#/components/schemas/ConversationType'
          externalOAuthCredentialId:
            type:
            - string
            - 'null'
            format: guid
          about:
            oneOf:
            - $ref: '#/components/schemas/AboutDeploymentMetadata'
          isDeployedViaAssistants:
            type: boolean
          assignments:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/DeploymentAssignments'
          targetAgents:
            type: array
            items:
              $ref: '#/components/schemas/DeploymentTargetAgent'
          supportedInputModes:
            type: array
            items:
              $ref: '#/components/schemas/SupportedInputMode'
          browserExtensionConfig:
            oneOf:
            - $ref: '#/components/schemas/BrowserExtensionConfig'
          teamsManifestCustomization:
            oneOf:
            - $ref: '#/components/schemas/TeamsManifestCustomizationConfig'
          displayConsumptionInfo:
            type: boolean
          greetingMessage:
            type:
            - string
            - 'null'
    RiskTransferDecision:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - justification
        - transferredOwner
        properties:
          id:
            type: string
            format: guid
          riskMetadataId:
            type: string
            format: guid
          justification:
            type: string
            maxLength: 2000
            minLength: 1
          transferredOwner:
            type: string
            maxLength: 500
            minLength: 1
          evidenceLink:
            type:
            - string
            - 'null'
            maxLength: 200
          user:
            oneOf:
            - $ref: '#/components/schemas/User'
          tenantId:
            type: string
            format: guid
    McpHydrationFailurePolicyDefinition:
      type: string
      description: ''
      x-enumNames:
      - Unspecified
      - ContinueWithoutUnavailableTools
      - FailExecution
      enum:
      - Unspecified
      - ContinueWithoutUnavailableTools
      - FailExecution
    ChunkingStrategy:
      type: string
      description: ''
      x-enumNames:
      - Automatic
      - Recursive
      - Html
      - Markdown
      - Code
      - Token
      - Character
      enum:
      - automatic
      - recursive
      - html
      - markdown
      - code
      - token
      - character
    RiskSubDomainControl:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        riskSubDomainId:
          type: string
          format: guid
        riskControlId:
          type: string
          format: guid
        displayOrder:
          type: integer
          format: int32
        riskSubDomain:
          oneOf:
          - $ref: '#/components/schemas/RiskSubDomain'
        riskControl:
          oneOf:
          - $ref: '#/components/schemas/RiskControl'
    EnforcementMode:
      type: string
      description: ''
      x-enumNames:
      - Legacy
      - Audit
      - Enforce
      enum:
      - Legacy
      - Audit
      - Enforce
    ConnectionGeminiEnterprise:
      type: object
      additionalProperties: false
      properties:
        projectId:
          type: string
        location:
          type: string
        serviceAccountJson:
          type: string
    MitigationStepStatus:
      type: string
      description: ''
      x-enumNames:
      - New
      - InProgress
      - Completed
      - Failed
      enum:
      - New
      - InProgress
      - Completed
      - Failed
    ConversationType:
      type: string
      description: ''
      x-enumNames:
      - StandardChat
      - ImageOnly
      - FileOnly
      enum:
      - StandardChat
      - ImageOnly
      - FileOnly
    AssessmentTemplateVersionStatus:
      type: string
      description: ''
      x-enumNames:
      - Processing
      - Completed
      - Failed
      enum:
      - Processing
      - Completed
      - Failed
    RiskProfile:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          useCaseRiskClassificationId:
            type: string
            format: guid
          riskClassification:
            oneOf:
            - $ref: '#/components/schemas/UseCaseRiskClassification'
          governanceScoreInherent:
            type:
            - integer
            - 'null'
            format: int32
          governanceScoreResidual:
            type:
            - integer
            - 'null'
            format: int32
          governanceLevel:
            type:
            - string
            - 'null'
            maxLength: 50
          inherentStaleAt:
            type:
            - string
            - 'null'
            format: date-time
          residualStaleAt:
            type:
            - string
            - 'null'
            format: date-time
          regulatoryRisks:
            type: array
            items:
              $ref: '#/components/schemas/RegulatoryRisk'
          subdomainApplicabilities:
            type: array
            items:
              $ref: '#/components/schemas/SubdomainApplicability'
    AgentEvaluationDataset:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - input
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          agentEvaluationId:
            type: string
            format: guid
          agentEvaluation:
            $ref: '#/components/schemas/AgentEvaluation'
          input:
            type: string
            minLength: 1
          expectedOutput:
            type:
            - string
            - 'null'
          context:
            type:
            - string
            - 'null'
          configuration:
            oneOf:
            - $ref: '#/components/schemas/AgentEvaluationDatasetConfiguration'
          baselineDatasetId:
            type:
            - string
            - 'null'
            format: guid
          sourceLibraryId:
            type:
            - string
            - 'null'
            format: guid
          sourceTestCaseId:
            type:
            - string
            - 'null'
            format: guid
          sourceLibraryVersion:
            type:
            - string
            - 'null'
            maxLength: 32
    Credentials:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        properties:
          name:
            type:
            - string
            - 'null'
          displayIdentifierName:
            type:
            - string
            - 'null'
          type:
            $ref: '#/components/schemas/CredentialType'
          sourceType:
            $ref: '#/components/schemas/SourceType'
          administrativeScope:
            $ref: '#/components/schemas/AdministrativeScope'
          expired:
            type:
            - boolean
            - 'null'
          ExpiresOn:
            type:
            - string
            - 'null'
            format: date-time
          Origin:
            $ref: '#/components/schemas/CredentialOrigin'
          enabledForPythonBlocks:
            type: boolean
          credentialData:
            type: string
          credentialDataList:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/CredentialEntry'
          customCredentialsId:
            type:
            - string
            - 'null'
            format: guid
          customCredentials:
            oneOf:
            - $ref: '#/components/schemas/CustomCredentials'
          sourceId:
            type:
            - string
            - 'null'
            format: guid
          ucsProvider:
            type:
            - string
            - 'null'
          ucsAuthenticationType:
            type:
            - string
            - 'null'
          binderId:
            type:
            - string
            - 'null'
            format: guid
          credentialId:
            type:
            - string
            - 'null'
            format: guid
    AgentEvaluationSchedule:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          second:
            type: integer
            format: int32
            maximum: 59
            minimum: 0
          minute:
            type: integer
            format: int32
            maximum: 59
            minimum: 0
          hour:
            type: integer
            format: int32
            maximum: 23
            minimum: 0
          day:
            type: integer
            format: int32
            maximum: 31
            minimum: 1
          month:
            type: integer
            format: int32
            maximum: 12
            minimum: 1
          scheduleType:
            $ref: '#/components/schemas/ScheduleType'
          daysOfWeek:
            type:
            - string
            - 'null'
            maxLength: 100
            minLength: 0
          year:
            type:
            - integer
            - 'null'
            format: int32
            maximum: 2099
            minimum: 1970
          startDate:
            type:
            - string
            - 'null'
            format: date-time
          endDate:
            type:
            - string
            - 'null'
            format: date-time
          isCancelled:
            type: boolean
    ConnectionOpenAi:
      type: object
      additionalProperties: false
      properties:
        workspaceLabel:
          type:
          - string
          - 'null'
        enabledCapabilities:
          type: array
          items:
            $ref: '#/components/schemas/SpmProviderKind'
    AgentTriggerAllowedType:
      type: string
      description: ''
      x-enumNames:
      - Unrestricted
      - Domains
      - Emails
      enum:
      - Unrestricted
      - Domains
      - Emails
    UserPromptDefinition:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        message:
          type: string
        promptDescription:
          type: string
    RiskDomain:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
          maxLength: 200
          minLength: 1
        color:
          type:
          - string
          - 'null'
          maxLength: 20
        displayOrder:
          type: integer
          format: int32
        subDomains:
          type: array
          items:
            $ref: '#/components/schemas/RiskSubDomain'
    DeploymentTargetAgent:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        additionalProperties: false
        properties:
          deploymentId:
            type: string
            format: guid
          targetPipelineId:
            type: string
            format: guid
    SpmAgent:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - spmConnectionId
        - name
        - externalId
        - securePostureProvider
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          spmConnectionId:
            type: string
            format: guid
            minLength: 1
          name:
            type: string
            minLength: 1
          externalId:
            type: string
            minLength: 1
          description:
            type:
            - string
            - 'null'
          versionId:
            type:
            - string
            - 'null'
          isActive:
            type:
            - boolean
            - 'null'
          nodesCount:
            type:
            - integer
            - 'null'
            format: int32
          aiModelNames:
            type:
            - string
            - 'null'
          aiProviderNames:
            type:
            - string
            - 'null'
          aiNodesCount:
            type:
            - integer
            - 'null'
            format: int32
          aiSecurableNodesCount:
            type:
            - integer
            - 'null'
            format: int32
          securedNodesCount:
            type:
            - integer
            - 'null'
            format: int32
          credentialsCount:
            type:
            - integer
            - 'null'
            format: int32
          externalCreatedAt:
            type:
            - string
            - 'null'
            format: date-time
          externalCreatedBy:
            type:
            - string
            - 'null'
            maxLength: 255
          externalOwner:
            type:
            - string
            - 'null'
            maxLength: 255
          sourceEnvironment:
            type:
            - string
            - 'null'
            maxLength: 255
          sourceEnvironmentId:
            type: string
            maxLength: 255
          lastSeenSyncOrgTaskId:
            type: string
            format: guid
          externalModifiedBy:
            type:
            - string
            - 'null'
            maxLength: 255
          externalPublishedAt:
            type:
            - string
            - 'null'
            format: date-time
          language:
            type:
            - string
            - 'null'
            maxLength: 100
          authenticationMode:
            type:
            - string
            - 'null'
            maxLength: 100
          authenticationTrigger:
            type:
            - string
            - 'null'
            maxLength: 100
          accessControlPolicy:
            type:
            - string
            - 'null'
            maxLength: 100
          externalStatus:
            type:
            - string
            - 'null'
            maxLength: 100
          owningBusinessUnit:
            type:
            - string
            - 'null'
            maxLength: 255
          externalPublishedBy:
            type:
            - string
            - 'null'
            maxLength: 255
          externalUpdatedAt:
            type:
            - string
            - 'null'
            format: date-time
          securedStatus:
            $ref: '#/components/schemas/SecurePostureStatus'
          securedNote:
            type:
            - string
            - 'null'
          securedAt:
            type:
            - string
            - 'null'
            format: date-time
          secureApiKeyId:
            type:
            - string
            - 'null'
            format: guid
          agentJson:
            type: string
          securePostureProvider:
            $ref: '#/components/schemas/SecurePostureProvider'
          agentType:
            oneOf:
            - $ref: '#/components/schemas/SpmAgentType'
          spmConnection:
            $ref: '#/components/schemas/SpmConnection'
          spmComponents:
            type: array
            items:
              $ref: '#/components/schemas/SpmComponent'
          hasAnySecuring:
            type: boolean
          isSecurable:
            type: boolean
          refreshedAt:
            type:
            - string
            - 'null'
            format: date-time
          securityScoreStatus:
            $ref: '#/components/schemas/SpmSecurityScoreStatus'
          securityScore:
            type:
            - number
            - 'null'
            format: double
          securityAnalyzedAt:
            type:
            - string
            - 'null'
            format: date-time
          securityAnalysisDetails:
            type:
            - string
            - 'null'
          workflowDisplayJson:
            type:
            - string
            - 'null'
          workflowDisplayComputedAt:
            type:
            - string
            - 'null'
            format: date-time
          discoveryPublishedAt:
            type:
            - string
            - 'null'
            format: date-time
          isAutonomous:
            type:
            - boolean
            - 'null'
          platformUrl:
            type:
            - string
            - 'null'
            maxLength: 2048
          orgWideAccessible:
            type:
            - boolean
            - 'null'
          publiclyAccessible:
            type:
            - boolean
            - 'null'
          sharedWithUserCount:
            type:
            - integer
            - 'null'
            format: int32
          sharedWithUsers:
            type:
            - string
            - 'null'
            maxLength: 2000
          projectId:
            type:
            - string
            - 'null'
            maxLength: 255
          projectName:
            type:
            - string
            - 'null'
            maxLength: 255
          instructions:
            type:
            - string
            - 'null'
          schemaName:
            type:
            - string
            - 'null'
            maxLength: 255
          autonomousTriggersCount:
            type:
            - integer
            - 'null'
            format: int32
          webBrowsingCapability:
            type:
            - boolean
            - 'null'
          requireUsersToSignIn:
            type:
            - boolean
            - 'null'
          generativeAiEnabled:
            type:
            - boolean
            - 'null'
          agentToAgentEnabled:
            type:
            - boolean
            - 'null'
          guardrailPolicyName:
            type:
            - string
            - 'null'
            maxLength: 255
          guardrailPolicyJson:
            type:
            - string
            - 'null'
          guardrailsCollectedAt:
            type:
            - string
            - 'null'
            format: date-time
          resourceCategory:
            type: string
          resourceType:
            type: string
          platformResourceId:
            type: string
          agentAuthenticationSetting:
            type:
            - string
            - 'null'
    ImportDefinitionAsDraftRequestModel:
      type: object
      additionalProperties: false
      required:
      - pipelineDefinition
      properties:
        pipelineDefinition:
          $ref: '#/components/schemas/ExportPipelineDefinition'
        credentialMappings:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
            format: guid
        datasourceMappings:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
            format: guid
        mcpServerMappings:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
            format: guid
        requireMcpBindings:
          type: boolean
        modelMappings:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
            format: guid
    GatewayRuleEntity:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        additionalProperties: false
        properties:
          gatewayConfigurationId:
            type: string
            format: guid
          gatewayConfiguration:
            oneOf:
            - $ref: '#/components/schemas/GatewayConfigurationEntity'
          name:
            type: string
          priority:
            type: integer
            format: int32
          conditionId:
            type: string
            format: guid
          condition:
            oneOf:
            - $ref: '#/components/schemas/RuleConditionEntity'
          allConditions:
            type: array
            items:
              $ref: '#/components/schemas/RuleConditionEntity'
          actions:
            type: array
            items:
              $ref: '#/components/schemas/RuleActionEntity'
          behavior:
            type: string
          syncParameterId:
            type:
            - string
            - 'null'
            format: guid
          origin:
            type:
            - string
            - 'null'
          sourceRef:
            type:
            - string
            - 'null'
          displayName:
            type:
            - string
            - 'null'
    PipelineStepDefinition:
      type: object
      additionalProperties: false
      required:
      - stepTitle
      properties:
        id:
          type: string
          format: guid
        stepType:
          type: string
        position:
          $ref: '#/components/schemas/PositionDefinition'
        handles:
          type: array
          items:
            $ref: '#/components/schemas/HandleDefinition'
        dependenciesObject:
          type: array
          items:
            $ref: '#/components/schemas/PipelineStepDependencyDefinition'
        temperature:
          type:
          - number
          - 'null'
          format: float
        reasoningEffort:
          type:
          - string
          - 'null'
        includeDateTimeContext:
          type:
          - boolean
          - 'null'
        dateTimeTimezoneSettings:
          oneOf:
          - $ref: '#/components/schemas/DateTimeTimezoneSettingsDefinition'
        includeUserDetailsContext:
          type:
          - boolean
          - 'null'
        promptId:
          type:
          - string
          - 'null'
          format: guid
        promptSegments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PromptSegmentDefinition'
        modelId:
          type:
          - string
          - 'null'
          format: guid
        toolIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        agentDelegateIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        toolParamsJson:
          type:
          - string
          - 'null'
        dataSourceId:
          type:
          - string
          - 'null'
          format: guid
        topK:
          type:
          - integer
          - 'null'
          format: int32
        relevanceThreshold:
          type:
          - number
          - 'null'
          format: float
        neighboringChunksCount:
          type:
          - integer
          - 'null'
          format: int32
        hybridSearchAlpha:
          type:
          - number
          - 'null'
          format: float
        databaseType:
          type:
          - string
          - 'null'
        enableSqlQueries:
          type:
          - boolean
          - 'null'
        fuzzySearch:
          type:
          - boolean
          - 'null'
        sqlResultLimit:
          type:
          - integer
          - 'null'
          format: int32
        hybridSearchFusionType:
          type:
          - string
          - 'null'
        userInputOnVectorSearch:
          type:
          - boolean
          - 'null'
        performReranking:
          type:
          - boolean
          - 'null'
        memoryId:
          type:
          - string
          - 'null'
          format: guid
        pythonCodeBlockId:
          type:
          - string
          - 'null'
          format: guid
        useUserIdTokenForwarding:
          type:
          - boolean
          - 'null'
        includedStepResultTitles:
          type:
          - array
          - 'null'
          items:
            type: string
        approvalRequestId:
          type:
          - string
          - 'null'
          format: guid
        webhookApprovalRequestId:
          type:
          - string
          - 'null'
          format: guid
        customFormApprovalRequestId:
          type:
          - string
          - 'null'
          format: guid
        agentCardId:
          type:
          - string
          - 'null'
          format: guid
        backgroundColor:
          type:
          - string
          - 'null'
        content:
          type:
          - string
          - 'null'
        stepTitle:
          type: string
        parentId:
          type:
          - string
          - 'null'
          format: guid
        width:
          type:
          - integer
          - 'null'
          format: int32
        height:
          type:
          - integer
          - 'null'
          format: int32
        loopStepConfiguration:
          oneOf:
          - $ref: '#/components/schemas/LoopStepConfigurationDefinition'
        jsonFormatterStepConfiguration:
          oneOf:
          - $ref: '#/components/schemas/JsonFormatterStepConfigurationDefinition'
        inputVariablesJson:
          type:
          - string
          - 'null'
        inputTemplate:
          type:
          - string
          - 'null'
        includeChatHistory:
          type:
          - boolean
          - 'null'
        isMultiRoute:
          type:
          - boolean
          - 'null'
        routerConfigJson:
          type:
          - string
          - 'null'
        conditionalBranchCode:
          type:
          - string
          - 'null'
        conditionalBranchConfigJson:
          type:
          - string
          - 'null'
        routerConfig:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/ConditionalBranchConfigurationDefinition'
        selectedPromptVersion:
          type:
          - string
          - 'null'
          format: guid
        stepParams:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        useUserInput:
          type:
          - boolean
          - 'null'
        aiOperationStepIncludeChatHistory:
          type:
          - boolean
          - 'null'
        aiOperationStepIncludeAttachments:
          type:
          - boolean
          - 'null'
        aiOperationStepUseDataSource:
          type:
          - boolean
          - 'null'
        selectedDataSources:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        memoryStoreStepAppendText:
          type:
          - boolean
          - 'null'
        aiOperationStepChatHistoryMessagesLimit:
          type:
          - integer
          - 'null'
          format: int32
        aiOperationStepOutputSchemaJson:
          type:
          - string
          - 'null'
        executePipelineId:
          type:
          - string
          - 'null'
          format: guid
        selectedPipelineVersion:
          type:
          - string
          - 'null'
          format: guid
        embeddedAgentVariablesJson:
          type:
          - string
          - 'null'
        preferredPdfParserId:
          type:
          - string
          - 'null'
          format: guid
        customPdfParserPrompt:
          type:
          - string
          - 'null'
        retryConfiguration:
          oneOf:
          - $ref: '#/components/schemas/RetryConfigurationDefinition'
        mcpServerDeploymentIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        mcpHydrationFailurePolicy:
          oneOf:
          - $ref: '#/components/schemas/McpHydrationFailurePolicyDefinition'
        mcpServerDeploymentParamsJson:
          type:
          - string
          - 'null'
        documentSplitterPrompt:
          type:
          - string
          - 'null'
        documentSplitterWindowSize:
          type:
          - integer
          - 'null'
          format: int32
        documentSplitterMaxWindowSize:
          type:
          - integer
          - 'null'
          format: int32
        documentSplitterOutputSchemaJson:
          type:
          - string
          - 'null'
    GatewayConfigurationEntity:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        properties:
          name:
            type: string
            maxLength: 128
          description:
            type: string
            maxLength: 512
          enabled:
            type: boolean
          complexityRoutingEnabled:
            type:
            - boolean
            - 'null'
          taskTypeRoutingEnabled:
            type:
            - boolean
            - 'null'
          conversationFloorRoutingEnabled:
            type:
            - boolean
            - 'null'
          maxActiveApiKeys:
            type:
            - integer
            - 'null'
            format: int32
          providerConfigurations:
            type: array
            items:
              $ref: '#/components/schemas/GatewayProviderConfigurationEntity'
          apiKeys:
            type: array
            items:
              $ref: '#/components/schemas/GatewayApiKeyEntity'
          rules:
            type: array
            items:
              $ref: '#/components/schemas/GatewayRuleEntity'
          resilienceRules:
            type: array
            items:
              $ref: '#/components/schemas/GatewayResilienceRuleEntity'
          rulesIncludeSyncOwned:
            type: boolean
    AgentTrigger:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        additionalProperties: false
        properties:
          emailId:
            type: string
            maxLength: 256
            minLength: 0
          allowedType:
            $ref: '#/components/schemas/AgentTriggerAllowedType'
          allowedValues:
            type: string
            maxLength: 4000
            minLength: 0
          pipelineId:
            type: string
            format: guid
          dataSourceId:
            type:
            - string
            - 'null'
            format: guid
          storeConnectorId:
            type:
            - string
            - 'null'
            format: guid
          emailAction:
            $ref: '#/components/schemas/EmailAction'
          forwardTo:
            type:
            - string
            - 'null'
            maxLength: 4000
            minLength: 0
          useEmailUserMapping:
            type:
            - boolean
            - 'null'
          requireUserMapping:
            type:
            - boolean
            - 'null'
          autoProvisionUsers:
            type:
            - boolean
            - 'null'
    AgentBehaviours:
      type: string
      description: ''
      x-enumNames:
      - IterateCsv
      - IterateFiles
      - Voice
      - IterateDatasourceFiles
      - IterateDatasourceFileContent
      enum:
      - IterateCsv
      - IterateFiles
      - Voice
      - IterateDatasourceFiles
      - IterateDatasourceFileContent
    GovernanceFrameworkDefinition:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - key
        - name
        - type
        properties:
          id:
            type: string
            format: guid
          key:
            type: string
            maxLength: 128
            minLength: 1
          name:
            type: string
            maxLength: 256
            minLength: 1
          type:
            type: string
            maxLength: 32
            minLength: 1
          jurisdiction:
            type:
            - string
            - 'null'
            maxLength: 128
          currentVersionId:
            type:
            - string
            - 'null'
            format: guid
          currentVersion:
            oneOf:
            - $ref: '#/components/schemas/GovernanceFrameworkDefinitionVersion'
          isHidden:
            type: boolean
          versions:
            type: array
            items:
              $ref: '#/components/schemas/GovernanceFrameworkDefinitionVersion'
    AiAssetSourceSyncParameterType:
      type: string
      description: ''
      x-enumNames:
      - AzureOpenAI
      - AwsBedrock
      - GoogleVertex
      enum:
      - AzureOpenAI
      - AwsBedrock
      - GoogleVertex
    UseCaseEvaluationSelectionSource:
      type: string
      description: ''
      x-enumNames:
      - Manual
      - CreatedFromUseCase
      - Automation
      - LegacyAuto
      enum:
      - Manual
      - CreatedFromUseCase
      - Automation
      - LegacyAuto
    AboutDeploymentMetadata:
      type: object
      additionalProperties: false
      properties:
        version:
          type: integer
          format: int32
        videoUrl:
          type: string
    AIModel:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        required:
        - priceType
        properties:
          category:
            oneOf:
            - $ref: '#/components/schemas/ModelCategory'
          outputModalities:
            type:
            - array
            - 'null'
            items:
              type: string
          modelParameters:
            type: array
            items:
              $ref: '#/components/schemas/ModelParameter'
          displayName:
            type: string
          modelName:
            type:
            - string
            - 'null'
          promptId:
            type:
            - string
            - 'null'
            format: guid
          systemPrompt:
            oneOf:
            - $ref: '#/components/schemas/Prompt'
          url:
            type:
            - string
            - 'null'
          type:
            $ref: '#/components/schemas/InputType'
          provider:
            $ref: '#/components/schemas/ProviderType'
          credentialsId:
            type:
            - string
            - 'null'
            format: guid
          oAuthProviderConfigId:
            type:
            - string
            - 'null'
            format: guid
          credentials:
            oneOf:
            - $ref: '#/components/schemas/Credentials'
          gatewayConfigurationId:
            type:
            - string
            - 'null'
            format: guid
          deploymentType:
            $ref: '#/components/schemas/DeploymentType'
          sourceType:
            $ref: '#/components/schemas/SourceType'
          connectionString:
            type:
            - string
            - 'null'
          containerName:
            type:
            - string
            - 'null'
          deployedKey:
            type:
            - string
            - 'null'
          deployedUrl:
            type:
            - string
            - 'null'
          state:
            oneOf:
            - $ref: '#/components/schemas/ModelState'
          uploadedContainerId:
            type:
            - string
            - 'null'
            format: guid
          libraryModelId:
            type:
            - string
            - 'null'
            format: guid
          inputTokenPrice:
            type:
            - number
            - 'null'
            format: decimal
          outputTokenPrice:
            type:
            - number
            - 'null'
            format: decimal
          tokenUnits:
            type:
            - integer
            - 'null'
            format: int32
          hasToolSupport:
            type: boolean
          hasStreamSupport:
            type: boolean
          allowAiriaCredentials:
            type: boolean
          allowBYOKCredentials:
            type: boolean
          author:
            type:
            - string
            - 'null'
          priceType:
            $ref: '#/components/schemas/PriceType'
          routeThroughACC:
            type: boolean
          accGroup:
            type:
            - string
            - 'null'
          hasResponseSchemaSupport:
            type: boolean
          reasoning:
            type: boolean
          reasoningEffortLevels:
            type:
            - array
            - 'null'
            items:
              type: string
          requiresAdaptiveThinking:
            type: boolean
          supportsSearch:
            type: boolean
          supportsPromptCaching:
            type: boolean
          maxOutputTokens:
            type:
            - integer
            - 'null'
            format: int32
    AgentEvaluationTarget:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - targetKind
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          agentEvaluationId:
            type: string
            format: guid
          agentEvaluation:
            $ref: '#/components/schemas/AgentEvaluation'
          targetKind:
            $ref: '#/components/schemas/CampaignTargetKind'
          pipelineVersionId:
            type:
            - string
            - 'null'
            format: guid
          pipelineVersion:
            oneOf:
            - $ref: '#/components/schemas/PipelineVersion'
          targetEntityPayload:
            type:
            - string
            - 'null'
    LoopStepParallelConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        maxDegreeOfParallelism:
          type: integer
          format: int32
    EvaluationType:
      type: string
      description: ''
      x-enumNames:
      - Standard
      - RedTeaming
      - Bias
      - StandardBiasDrift
      - Consistency
      enum:
      - Standard
      - RedTeaming
      - Bias
      - StandardBiasDrift
      - Consistency
    N8nOriginalNodeCredentials:
      type: object
      additionalProperties: false
      properties:
        nodeId:
          type: string
        credentials:
          type:
          - object
          - 'null'
          additionalProperties: {}
    ConnectionCopilotStudio:
      type: object
      additionalProperties: false
      properties:
        tenantId:
          type:
          - string
          - 'null'
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        certificateData:
          type:
          - string
          - 'null'
        certificatePassword:
          type:
          - string
          - 'null'
        useCertificateAuth:
          type: boolean
        environmentUrl:
          type:
          - string
          - 'null'
        webhookThreatDetectionEnabled:
          type: boolean
        allowedWebhookAppIds:
          type: array
          items:
            type: string
        collectConversationTranscripts:
          type: boolean
        transcriptCollectionStartedAt:
          type:
          - string
          - 'null'
          format: date-time
    ProjectType:
      type: string
      description: ''
      x-enumNames:
      - Standard
      - Frontline
      - Legal
      - FieldService
      - BrainFreeze
      enum:
      - Standard
      - Frontline
      - Legal
      - FieldService
      - BrainFreeze
    GovernanceArtifact:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        required:
        - useCaseId
        - artifactType
        - fileId
        - fileName
        - uploadedByUserId
        - uploadedAt
        properties:
          useCaseId:
            type: string
            format: guid
            minLength: 1
          useCaseVersionId:
            type:
            - string
            - 'null'
            format: guid
          artifactType:
            type: string
            maxLength: 200
            minLength: 1
          fileId:
            type: string
            maxLength: 100
            minLength: 1
          fileName:
            type: string
            maxLength: 500
            minLength: 1
          slotKey:
            type:
            - string
            - 'null'
            maxLength: 200
          uploadedByUserId:
            type: string
            format: guid
            minLength: 1
          uploadedAt:
            type: string
            format: date-time
          useCase:
            $ref: '#/components/schemas/UseCase'
    AiAssetDisplayStatus:
      type: string
      description: ''
      x-enumNames:
      - Unrevised
      - Undefined
      - Updated
      enum:
      - Unrevised
      - Undefined
      - Updated
    RiskRegistryStatus:
      type: string
      description: ''
      x-enumNames:
      - PendingReview
      - Mitigate
      - Accept
      - Transfer
      - Avoid
      enum:
      - PendingReview
      - Mitigate
      - Accept
      - Transfer
      - Avoid
    BrowserExtensionConfigDefinition:
      type: object
      additionalProperties: false
      properties:
        browserType:
          type: string
        quickActions:
          type: array
          items:
            $ref: '#/components/schemas/QuickActionDefinition'
    UseCaseReviewPolicy:
      type: object
      additionalProperties: false
      properties:
        disclaimerText:
          type:
          - string
          - 'null'
        reviewCadence:
          type:
          - string
          - 'null'
        nextReviewDate:
          type:
          - string
          - 'null'
          format: date-time
    SpmComponentType:
      type: string
      description: ''
      x-enumNames:
      - Undefined
      - AiModel
      - SpmAgent
      - Tool
      - McpServer
      - Knowledge
      enum:
      - Undefined
      - AiModel
      - SpmAgent
      - Tool
      - McpServer
      - Knowledge
    ParameterLocation:
      type: string
      description: ''
      x-enumNames:
      - QueryString
      - Header
      - Body
      enum:
      - QueryString
      - Header
      - Body
    ConnectionSnowflake:
      type: object
      additionalProperties: false
      properties:
        accountUrl:
          type: string
        programmaticAccessToken:
          type: string
        role:
          type:
          - string
          - 'null'
    IntegrationAnalysisRunStatus:
      type: string
      description: ''
      x-enumNames:
      - Pending
      - Completed
      - Failed
      enum:
      - Pending
      - Completed
      - Failed
    EuAiActCategory:
      type: string
      description: ''
      x-enumNames:
      - Prohibited
      - HighRisk
      - LimitedRisk
      - MinimalRisk
      - NotApplicable
      enum:
      - Prohibited
      - HighRisk
      - LimitedRisk
      - MinimalRisk
      - NotApplicable
    ConnectionSalesforceAgentforce:
      type: object
      additionalProperties: false
      properties:
        instanceUrl:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
    AiAssetUsageStatus:
      type: string
      description: ''
      x-enumNames:
      - Undefined
      - Confirmed
      - Updating
      enum:
      - Undefined
      - Confirmed
      - Updating
    RouterConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        prompt:
          type: string
        isDefault:
          type:
          - boolean
          - 'null'
    SpmAppIntegrationAnalysisRun:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - providerType
        - status
        - analyzedIdentifier
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          connectionId:
            type:
            - string
            - 'null'
            format: guid
          providerType:
            $ref: '#/components/schemas/IntegrationProviderType'
          status:
            $ref: '#/components/schemas/IntegrationAnalysisRunStatus'
          analyzedIdentifier:
            type: string
            maxLength: 255
            minLength: 1
          totalUsers:
            type: integer
            format: int32
          totalIntegrations:
            type: integer
            format: int32
          errors:
            type:
            - string
            - 'null'
          startedAt:
            type:
            - string
            - 'null'
            format: date-time
          endedAt:
            type:
            - string
            - 'null'
            format: date-time
    VectorStoreDefinition:
      type: object
      additionalProperties: false
      properties:
        hostingType:
          type:
          - string
          - 'null'
        modality:
          type:
          - string
          - 'null'
        provider:
          type:
          - string
          - 'null'
        storeTypeId:
          type:
          - string
          - 'null'
        credentialId:
          type:
          - string
          - 'null'
        configurationJson:
          type:
          - string
          - 'null'
        sparseVectorEnabled:
          type: boolean
        embeddingProvider:
          type:
          - string
          - 'null'
        embeddingConfigurationJson:
          type:
          - string
          - 'null'
    AgentExtension2:
      type: object
      additionalProperties: false
      properties:
        uri:
          type: string
        description:
          type:
          - string
          - 'null'
        required:
          type:
          - boolean
          - 'null'
        params:
          type:
          - object
          - 'null'
          additionalProperties: {}
    PipelineStep:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        x-abstract: true
        additionalProperties: false
        properties:
          position:
            oneOf:
            - $ref: '#/components/schemas/PipelineStepPosition'
          handles:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/PipelineStepHandle'
          dependenciesObject:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/PipelineStepDependency'
          stepType:
            $ref: '#/components/schemas/StepType'
          pipelineVersionId:
            type: string
            format: guid
          stepTitle:
            type: string
            maxLength: 100
            minLength: 0
          parentId:
            type:
            - string
            - 'null'
            format: guid
          width:
            type:
            - integer
            - 'null'
            format: int32
          height:
            type:
            - integer
            - 'null'
            format: int32
          retryConfiguration:
            oneOf:
            - $ref: '#/components/schemas/RetryConfiguration'
    SupportedInputMode:
      type: string
      description: ''
      x-enumNames:
      - FileUpload
      - Whiteboard
      - Code
      - Math
      enum:
      - FileUpload
      - Whiteboard
      - Code
      - Math
    RiskSubDomainMitigation:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        riskSubDomainId:
          type: string
          format: guid
        mitigationStepDefinitionId:
          type: string
          format: guid
        displayOrder:
          type: integer
          format: int32
        riskSubDomain:
          oneOf:
          - $ref: '#/components/schemas/RiskSubDomain'
        definition:
          oneOf:
          - $ref: '#/components/schemas/MitigationStepDefinition'
    ConnectionOkta:
      type: object
      additionalProperties: false
      properties:
        orgUrl:
          type:
          - string
          - 'null'
        apiToken:
          type:
          - string
          - 'null'
        maxUsers:
          type:
          - integer
          - 'null'
          format: int32
        autoManageDiscoveredAiApps:
          type:
          - boolean
          - 'null'
    CredentialsDefinition:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        credentialType:
          type: string
        sourceType:
          type: string
        credentialDataList:
          type: array
          items:
            $ref: '#/components/schemas/CredentialsDataListDefinition'
        displayIdentifierName:
          type:
          - string
          - 'null'
        administrativeScope:
          type:
          - string
          - 'null'
        origin:
          type:
          - string
          - 'null'
        customCredentials:
          oneOf:
          - $ref: '#/components/schemas/CustomCredentialsDefinition'
        id:
          type: string
          format: guid
    MitigationStepOrigin:
      type: string
      description: ''
      x-enumNames:
      - Generated
      - Manual
      enum:
      - Generated
      - Manual
    ConnectionMicrosoftDefenderXdr:
      type: object
      additionalProperties: false
      properties:
        tenantId:
          type:
          - string
          - 'null'
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        maxUsers:
          type:
          - integer
          - 'null'
          format: int32
    PipelineDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        executionName:
          type:
          - string
          - 'null'
        agentIcon:
          type:
          - string
          - 'null'
        agentDescription:
          type: string
        markdownDescription:
          type:
          - string
          - 'null'
        tagline:
          type:
          - string
          - 'null'
        videoLink:
          type:
          - string
          - 'null'
        industry:
          type:
          - string
          - 'null'
        subIndustries:
          type:
          - array
          - 'null'
          items:
            type: string
        tags:
          type:
          - array
          - 'null'
          items:
            type: string
        agentDetails:
          type:
          - object
          - 'null'
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/AgentDetailItemDefinition'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/PipelineStepDefinition'
        behaviours:
          type:
          - array
          - 'null'
          items:
            type: string
        agentUnicodeIcon:
          type:
          - string
          - 'null'
        agentIconBase64:
          type:
          - string
          - 'null'
        alignment:
          type: string
        saveToolResponsesToHistory:
          type:
          - boolean
          - 'null'
    PromptVersion:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        properties:
          promptId:
            type: string
            format: guid
          versionNumber:
            type: integer
            format: int32
          isLatest:
            type: boolean
          versionChangeDescription:
            type: string
            maxLength: 256
            minLength: 0
          promptMessage:
            type: string
    AgentImportSource:
      type: string
      description: ''
      x-enumNames:
      - PlatformApi
      - ChatCommunity
      - PlatformCommunity
      - PlatformJson
      - Marketplace
      enum:
      - PlatformApi
      - ChatCommunity
      - PlatformCommunity
      - PlatformJson
      - Marketplace
    UpdateAgentFromDefinitionRequestModel:
      type: object
      additionalProperties: false
      required:
      - pipelineDefinition
      properties:
        pipelineDefinition:
          $ref: '#/components/schemas/ExportPipelineDefinition'
        credentialMappings:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
            format: guid
        datasourceMappings:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
            format: guid
        mcpServerMappings:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
            format: guid
        requireMcpBindings:
          type: boolean
        modelMappings:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
            format: guid
        forceUpdate:
          type: boolean
    AgentTriggersDefinition:
      type: object
      additionalProperties: false
      properties:
        allowedType:
          type:
          - string
          - 'null'
        emailAction:
          type:
          - string
          - 'null'
    QuickAction:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        displayName:
          type: string
        quickActionType:
          $ref: '#/components/schemas/QuickActionType'
        initialMessage:
          type:
          - string
          - 'null'
        assignedAgent:
          oneOf:
          - $ref: '#/components/schemas/AssignedAgent'
        targetDomains:
          type:
          - array
          - 'null'
          items:
            type: string
    AiAssetAggregate:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        x-abstract: true
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          sourceId:
            type: string
            format: guid
          source:
            oneOf:
            - $ref: '#/components/schemas/AiAssetAggregateSource'
          sourceType:
            $ref: '#/components/schemas/AiAssetSourceType'
          sourceInstanceId:
            type:
            - string
            - 'null'
            format: guid
          sourceEnvironmentId:
            type: string
            maxLength: 255
            minLength: 0
          assetType:
            $ref: '#/components/schemas/AiAssetType'
          internalStatus:
            $ref: '#/components/schemas/AiAssetInternalStatus'
          displayStatus:
            $ref: '#/components/schemas/AiAssetDisplayStatus'
          timeReference:
            type:
            - string
            - 'null'
            format: date-time
          usage:
            type: array
            items:
              $ref: '#/components/schemas/AiAssetUsage'
          childUsages:
            type: array
            items:
              $ref: '#/components/schemas/AiAssetUsage'
          name:
            type: string
            maxLength: 4000
            minLength: 0
          classifications:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ClassificationAssignment'
          metadataAssignments:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AiAssetMetadataAssignment'
          assessments:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Assessment'
          useCases:
            type: array
            items:
              $ref: '#/components/schemas/UseCase'
    LoopStepBatchConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        batchSize:
          type: integer
          format: int32
        batchDelaySeconds:
          type: integer
          format: int32
    AiAssetMetadataAssignment:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          aiAssetAggregateId:
            type: string
            format: guid
          aiAssetAggregate:
            $ref: '#/components/schemas/AiAssetAggregate'
          aiAssetMetadataDefinitionId:
            type: string
            format: guid
          aiAssetMetadataDefinition:
            $ref: '#/components/schemas/AiAssetMetadataDefinition'
          aiAssetMetadataDefinitionOptionId:
            type:
            - string
            - 'null'
            format: guid
          aiAssetMetadataDefinitionOption:
            oneOf:
[...]
