openapi: 3.2.0
info:
  title: Airia Web Migration Job API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: MigrationJob
paths:
  /v1/MigrationJob/{jobType}:
    get:
      tags:
      - MigrationJob
      operationId: MigrationJob_TriggerJob
      parameters:
      - name: jobType
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Migration job trigger job
      x-summary-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
