openapi: 3.2.0
info:
  title: Airia Web Billing Executions API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: BillingExecutions
paths:
  /v1/BillingExecutions/details:
    get:
      tags:
      - BillingExecutions
      operationId: BillingExecutions_GetBillingExecutions2
      parameters:
      - name: UserEmail
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: AgentName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: ModelName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartDate
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 4
      - name: EndDate
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 5
      - name: Cursor
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: PageSize
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 7
      - name: IncludeTotalCount
        in: query
        schema:
          type:
          - boolean
          - 'null'
        x-position: 8
      - name: Descending
        in: query
        schema:
          type:
          - boolean
          - 'null'
        x-position: 9
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingExecutionsPagedResultV1'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Billing executions get billing executions2
      x-summary-source: derived
  /v1/BillingExecutions/summary:
    get:
      tags:
      - BillingExecutions
      operationId: BillingExecutions_GetBillingSummary2
      parameters:
      - name: UserEmail
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: AgentName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: ModelName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartDate
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 4
      - name: EndDate
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 5
      - name: Cursor
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: PageSize
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 7
      - name: IncludeTotalCount
        in: query
        schema:
          type:
          - boolean
          - 'null'
        x-position: 8
      - name: Descending
        in: query
        schema:
          type:
          - boolean
          - 'null'
        x-position: 9
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingSummaryPagedResultV1'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Billing executions get billing summary2
      x-summary-source: derived
  /v1/BillingExecutions/totalconsumption:
    get:
      tags:
      - BillingExecutions
      operationId: BillingExecutions_GetTotalConsumption2
      parameters:
      - name: UserEmail
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: AgentName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: ModelName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: StartDate
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 4
      - name: EndDate
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 5
      - name: Cursor
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: PageSize
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 7
      - name: IncludeTotalCount
        in: query
        schema:
          type:
          - boolean
          - 'null'
        x-position: 8
      - name: Descending
        in: query
        schema:
          type:
          - boolean
          - 'null'
        x-position: 9
      - name: ExecutionSourceType
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 10
      - name: ProjectName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 11
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TotalConsumptionPagedResultV1'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Billing executions get total consumption2
      x-summary-source: derived
components:
  schemas:
    BillingExecutionsPagedResultV1:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/BillingExecutionResponseV2'
        nextPageCursor:
          type:
          - string
          - 'null'
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
        aggregatedTotals:
          $ref: '#/components/schemas/BillingAggregatedTotalsResponseV1'
    TotalConsumptionPagedResultV1:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/TotalConsumptionItemV1'
        nextPageCursor:
          type:
          - string
          - 'null'
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
    TotalConsumptionItemV1:
      type: object
      additionalProperties: false
      properties:
        executionSourceType:
          oneOf:
          - $ref: '#/components/schemas/QuerySourceType'
        executionId:
          type: string
          format: guid
        executionDateTime:
          type:
          - string
          - 'null'
          format: date-time
        providerType:
          type:
          - string
          - 'null'
        modelName:
          type:
          - string
          - 'null'
        modelDisplayName:
          type:
          - string
          - 'null'
        pipelineId:
          type:
          - string
          - 'null'
          format: guid
        pipelineName:
          type:
          - string
          - 'null'
        pipelineVersion:
          type:
          - string
          - 'null'
        projectId:
          type:
          - string
          - 'null'
          format: guid
        projectName:
          type:
          - string
          - 'null'
        userEmail:
          type:
          - string
          - 'null'
        userFirstName:
          type:
          - string
          - 'null'
        userLastName:
          type:
          - string
          - 'null'
        totalTokenCountConsumed:
          type: integer
          format: int32
        inputTokenCountConsumed:
          type: integer
          format: int32
        outputTokenCountConsumed:
          type: integer
          format: int32
        totalTokenAmountConsumed:
          type:
          - string
          - 'null'
        balanceUsed:
          type:
          - string
          - 'null'
        cachedInputTokenCountConsumed:
          type: integer
          format: int32
        additionalCharges:
          type:
          - object
          - 'null'
          additionalProperties:
            type: number
            format: decimal
    QuerySourceType:
      type: string
      description: ''
      x-enumNames:
      - Pipeline
      - Gateway
      - Datasource
      - Playground
      - Voice
      - Meeting
      - Guardrail
      enum:
      - Pipeline
      - Gateway
      - Data Source
      - Playground
      - Voice
      - Meeting
      - Guardrail
    BillingSummaryResponseV1:
      type: object
      additionalProperties: false
      properties:
        pipelineId:
          type:
          - string
          - 'null'
          format: guid
        pipelineName:
          type:
          - string
          - 'null'
        executionCount:
          type: integer
          format: int64
        totalInputTokens:
          type: integer
          format: int64
        totalOutputTokens:
          type: integer
          format: int64
        totalCachedInputTokens:
          type: integer
          format: int64
        totalTokenCost:
          type: number
          format: decimal
        totalAdditionalChargesCost:
          type: number
          format: decimal
        totalCost:
          type: number
          format: decimal
        executionSourceType:
          oneOf:
          - $ref: '#/components/schemas/QuerySourceType'
        modelBreakdown:
          type: array
          items:
            $ref: '#/components/schemas/BillingModelBreakdownV1'
    BillingSummaryPagedResultV1:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/BillingSummaryResponseV1'
        nextPageCursor:
          type:
          - string
          - 'null'
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
        aggregatedTotals:
          $ref: '#/components/schemas/BillingAggregatedTotalsResponseV1'
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    BillingAggregatedTotalsResponseV1:
      type: object
      additionalProperties: false
      properties:
        totalInputTokens:
          type: integer
          format: int64
        totalOutputTokens:
          type: integer
          format: int64
        totalCachedInputTokens:
          type: integer
          format: int64
        totalTokenCost:
          type: number
          format: decimal
        totalAdditionalChargesCost:
          type: number
          format: decimal
        totalCost:
          type: number
          format: decimal
        totalExecutions:
          type: integer
          format: int64
    BillingModelBreakdownV1:
      type: object
      additionalProperties: false
      properties:
        modelName:
          type: string
        provider:
          $ref: '#/components/schemas/QueryProviderType'
        executionCount:
          type: integer
          format: int64
        totalInputTokens:
          type: integer
          format: int64
        totalOutputTokens:
          type: integer
          format: int64
        totalCachedInputTokens:
          type: integer
          format: int64
        totalTokenCost:
          type: number
          format: decimal
        totalAdditionalChargesCost:
          type: number
          format: decimal
        totalCost:
          type: number
          format: decimal
    BillingExecutionResponseV2:
      type: object
      additionalProperties: false
      properties:
        executionId:
          type: string
          format: guid
        pipelineId:
          type:
          - string
          - 'null'
          format: guid
        pipelineName:
          type:
          - string
          - 'null'
        projectId:
          type: string
          format: guid
        executionSourceType:
          oneOf:
          - $ref: '#/components/schemas/QuerySourceType'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        duration:
          type: string
        success:
          type:
          - boolean
          - 'null'
        inputTokens:
          type: integer
          format: int32
        outputTokens:
          type: integer
          format: int32
        totalTokens:
          type: integer
          format: int32
        totalCost:
          type: number
          format: decimal
        userId:
          type:
          - string
          - 'null'
          format: guid
        userName:
          type:
          - string
          - 'null'
        additionalCharges:
          type: object
          additionalProperties:
            type: number
            format: decimal
        steps:
          type: array
          items:
            $ref: '#/components/schemas/BillingTokenUsageStepDetailV1'
    QueryProviderType:
      type: string
      description: ''
      x-enumNames:
      - Unknown
      - Anthropic
      - OpenAI
      - Ollama
      - Azure
      - HuggingFace
      - AzureAIStudio
      - OpenVINO
      - PyTorch
      - Replicate
      - Stability
      - Mistral
      - Perplexity
      - WatsonAix
      - Ai21
      - Cohere
      - Google
      - TogetherAI
      - XAI
      - Bedrock
      - Compass
      - AzureML
      - Alibaba
      - GenericOpenAI
      enum:
      - Unknown
      - Anthropic
      - OpenAI
      - Ollama
      - Azure
      - HuggingFace
      - AzureAIStudio
      - OpenVINO
      - PyTorch
      - Replicate
      - Stability
      - Mistral
      - Perplexity
      - WatsonAix
      - Ai21
      - Cohere
      - Google
      - TogetherAI
      - XAI
      - Bedrock
      - Compass
      - AzureML
      - Alibaba
      - GenericOpenAI
    BillingTokenUsageStepDetailV1:
      type: object
      additionalProperties: false
      properties:
        modelName:
          type:
          - string
          - 'null'
        modelDisplayName:
          type:
          - string
          - 'null'
        provider:
          type:
          - string
          - 'null'
        inputTokens:
          type:
          - integer
          - 'null'
          format: int32
        outputTokens:
          type:
          - integer
          - 'null'
          format: int32
        tokensCost:
          type:
          - number
          - 'null'
          format: decimal
        modelCallDuration:
          type:
          - string
          - 'null'
          example: 0.0
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
