openapi: 3.2.0
info:
  title: Airia Web Email API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Email
paths:
  /v1/Email:
    post:
      tags:
      - Email
      operationId: Email_SendEmail
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: payload
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmailPayload'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailSendResult'
        400:
          description: ''
        401:
          description: ''
        default:
          description: ''
      summary: Email send email
      x-summary-source: derived
components:
  schemas:
    EmailSendResult:
      type: object
      additionalProperties: false
      properties:
        statusCode:
          type: integer
          format: int32
        isSuccess:
          type: boolean
        errorMessage:
          type:
          - string
          - 'null'
    EmailPayload:
      type: object
      additionalProperties: false
      required:
      - subject
      - html
      properties:
        subject:
          type: string
          maxLength: 998
          minLength: 0
        html:
          type: string
          minLength: 1
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
