openapi: 3.2.0
info:
  title: Airia Web Communities API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Communities
paths:
  /v1/Communities:
    get:
      tags:
      - Communities
      operationId: Communities_GetAll2
      parameters:
      - name: intent
        in: query
        schema:
          default: View
          oneOf:
          - $ref: '#/components/schemas/CommunityListIntent'
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 5
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPrivateCommunityResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities get all2
      x-summary-source: derived
    post:
      tags:
      - Communities
      operationId: Communities_Create2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommunityRequest'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCommunityResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities create2
      x-summary-source: derived
  /v1/Communities/{communityId}:
    get:
      tags:
      - Communities
      operationId: Communities_GetById2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCommunityResponse'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities get by id2
      x-summary-source: derived
    put:
      tags:
      - Communities
      operationId: Communities_Update2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommunityRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateCommunityResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities update2
      x-summary-source: derived
    delete:
      tags:
      - Communities
      operationId: Communities_Delete2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities delete2
      x-summary-source: derived
  /v1/Communities/submissions:
    get:
      tags:
      - Communities
      operationId: Communities_GetAccessibleSubmissions2
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: CommunityId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 5
      - name: Status
        in: query
        schema:
          oneOf:
          - $ref: '#/components/schemas/SubmissionStatus'
        x-position: 6
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfCommunityAgentSubmissionResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities get accessible submissions2
      x-summary-source: derived
  /v1/Communities/agents:
    get:
      tags:
      - Communities
      operationId: Communities_GetAccessibleAgents2
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: privateCommunityId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 6
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPrivateCommunitySubmissionResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities get accessible agents2
      x-summary-source: derived
  /v1/Communities/{communityId}/submissions/{submissionId}:
    put:
      tags:
      - Communities
      operationId: Communities_UpdateSubmission2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: submissionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCommunitySubmissionRequest'
        required: true
        x-position: 3
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunityAgentSubmissionResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities update submission2
      x-summary-source: derived
  /v1/Communities/{communityId}/submit-agent:
    post:
      tags:
      - Communities
      operationId: Communities_Submit2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommunitySubmissionRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommunitySubmissionResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities submit2
      x-summary-source: derived
  /v1/Communities/submissions/{submissionId}/definition:
    get:
      tags:
      - Communities
      operationId: Communities_GetSubmissionDefinition2
      parameters:
      - name: submissionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportPipelineDefinition'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities get submission definition2
      x-summary-source: derived
  /v1/Communities/{communityId}/memberships:
    get:
      tags:
      - Communities
      operationId: Communities_GetMemberships2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 5
      - name: Roles
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CommunityRole'
        x-position: 6
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfMembershipResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities get memberships2
      x-summary-source: derived
  /v1/Communities/{communityId}/memberships/{membershipId}:
    patch:
      tags:
      - Communities
      operationId: Communities_UpdateMembershipRole2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: membershipId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMembershipRequest'
        required: true
        x-position: 3
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities update membership role2
      x-summary-source: derived
    delete:
      tags:
      - Communities
      operationId: Communities_DeleteMembership2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: membershipId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities delete membership2
      x-summary-source: derived
  /v1/Communities/{communityId}/memberships/me:
    delete:
      tags:
      - Communities
      operationId: Communities_LeaveCommunity2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities leave community2
      x-summary-source: derived
  /v1/Communities/{communityId}/invite-codes:
    post:
      tags:
      - Communities
      operationId: Communities_GenerateInviteCode2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateInviteCodeRequest'
        required: true
        x-position: 2
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateInviteCodeResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities generate invite code2
      x-summary-source: derived
    get:
      tags:
      - Communities
      operationId: Communities_GetInviteCodes2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfInviteCodeResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities get invite codes2
      x-summary-source: derived
  /v1/Communities/{communityId}/invite-codes/{codeId}:
    delete:
      tags:
      - Communities
      operationId: Communities_RevokeInviteCode2
      parameters:
      - name: communityId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: codeId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities revoke invite code2
      x-summary-source: derived
  /v1/Communities/join/{token}/preview:
    get:
      tags:
      - Communities
      operationId: Communities_PreviewInviteCode2
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteCodePreviewResponse'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        410:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities preview invite code2
      x-summary-source: derived
  /v1/Communities/join/{token}:
    post:
      tags:
      - Communities
      operationId: Communities_RedeemInviteCode2
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedeemInviteCodeResponse'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        410:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Communities redeem invite code2
      x-summary-source: derived
components:
  schemas:
    CommunityListIntent:
      type: string
      description: ''
      x-enumNames:
      - View
      - Contribute
      - Manage
      enum:
      - View
      - Contribute
      - Manage
    AgentToolAnnotationsDefinition:
      type: object
      additionalProperties: false
      properties:
        destructiveHint:
          type:
          - boolean
          - 'null'
        idempotentHint:
          type:
          - boolean
          - 'null'
        openWorldHint:
          type:
          - boolean
          - 'null'
        readOnlyHint:
          type:
          - boolean
          - 'null'
        title:
          type:
          - string
          - 'null'
    PagedResultOfPrivateCommunityResponse:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PrivateCommunityResponse'
        totalCount:
          type: integer
          format: int32
    CommunitySubmissionRequest:
      type: object
      additionalProperties: false
      required:
      - agentId
      properties:
        agentId:
          type: string
          format: guid
          minLength: 1
        note:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        errorDetails:
          type:
          - array
          - 'null'
          items:
            type: string
    AgentCapabilities2:
      type: object
      additionalProperties: false
      properties:
        streaming:
          type:
          - boolean
          - 'null'
        pushNotifications:
          type:
          - boolean
          - 'null'
        extendedAgentCard:
          type:
          - boolean
          - 'null'
        extensions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgentExtension2'
    JsonFormatterStepConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        template:
          type: string
        fallbackToRawResultOnUnresolvedPath:
          type: boolean
    LoopStepConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        stopOnError:
          type: boolean
        retryOnError:
          type: boolean
        retryOnErrorCount:
          type: integer
          format: int32
        maxIterations:
          type: integer
          format: int32
        executionMode:
          type: string
        parallelConfiguration:
          oneOf:
          - $ref: '#/components/schemas/LoopStepParallelConfigurationDefinition'
        batchConfiguration:
          oneOf:
          - $ref: '#/components/schemas/LoopStepBatchConfigurationDefinition'
        inputExpression:
          type:
          - string
          - 'null'
    SubmissionStatus:
      type: string
      description: ''
      x-enumNames:
      - PendingReview
      - ChangesRequested
      - Approved
      - Rejected
      - Failed
      - Archived
      - Overridden
      - Live
      enum:
      - PendingReview
      - ChangesRequested
      - Approved
      - Rejected
      - Failed
      - Archived
      - Overridden
      - Live
    AgentCardDefinition:
      type: object
      additionalProperties: false
      properties:
        agentCardId:
          type: string
          format: guid
        name:
          type: string
        description:
          type: string
        supportedInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/AgentInterface2'
        provider:
          oneOf:
          - $ref: '#/components/schemas/AgentProvider2'
        version:
          type: string
        documentationUrl:
          type:
          - string
          - 'null'
        iconUrl:
          type:
          - string
          - 'null'
        capabilities:
          $ref: '#/components/schemas/AgentCapabilities2'
        securitySchemes:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/SecurityScheme2'
        securityRequirements:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SecurityRequirement2'
        signatures:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgentCardSignature2'
        defaultInputModes:
          type: array
          items:
            type: string
        defaultOutputModes:
          type: array
          items:
            type: string
        skills:
          type: array
          items:
            $ref: '#/components/schemas/AgentSkill2'
    HandleDefinition:
      type: object
      additionalProperties: false
      properties:
        uuid:
          type: string
          format: guid
        type:
          type: string
          maxLength: 6
        label:
          type:
          - string
          - 'null'
          maxLength: 100
        tooltip:
          type:
          - string
          - 'null'
        x:
          type: number
          format: float
        y:
          type: number
          format: float
    RetryConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        enabled:
          type: boolean
        maxRetries:
          type: integer
          format: int32
        delay:
          type: integer
          format: int32
        maxDelay:
          type: integer
          format: int32
        backoffMultiplier:
          type: number
          format: double
        useJitter:
          type: boolean
    PagedResultOfMembershipResponse:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MembershipResponse'
        totalCount:
          type: integer
          format: int32
    AgentEventTriggerDefinition:
      type: object
      additionalProperties: false
      properties:
        eventTypeName:
          type:
          - string
          - 'null'
        filters:
          type:
          - object
          - 'null'
          additionalProperties:
            type: array
            items:
              type: string
        triggerMode:
          type:
          - string
          - 'null'
    CommunitySettings:
      type: object
      additionalProperties: false
      required:
      - permissions
      - curationMode
      - discoverability
      properties:
        permissions:
          $ref: '#/components/schemas/CommunityPermissions'
        curationMode:
          $ref: '#/components/schemas/CurationMode'
        discoverability:
          $ref: '#/components/schemas/DiscoverabilityMode'
    PipelineStepDependencyDefinition:
      type: object
      additionalProperties: false
      properties:
        parentId:
          type: string
          format: guid
        parentHandleId:
          type: string
          format: guid
        handleId:
          type: string
          format: guid
    DiscoverabilityMode:
      type: string
      description: ''
      x-enumNames:
      - InviteOnly
      enum:
      - InviteOnly
    ConditionalBranchConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        label:
          type:
          - string
          - 'null'
    AssignedAgentDefinition:
      type: object
      additionalProperties: false
      properties:
        deploymentId:
          type: string
          format: guid
        agentName:
          type: string
        agentUrl:
          type: string
        isConfigurable:
          type: boolean
    AgentTriggersDefinition:
      type: object
      additionalProperties: false
      properties:
        allowedType:
          type:
          - string
          - 'null'
        emailAction:
          type:
          - string
          - 'null'
    SdkStepCredentialReference:
      type: object
      additionalProperties: false
      properties:
        propertyName:
          type: string
        originalCredentialId:
          type: string
          format: guid
        credentialsDefinition:
          $ref: '#/components/schemas/CredentialsDefinition'
        required:
          type: boolean
        supportedTypes:
          type: array
          items:
            type: string
    CreateCommunityRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - slug
      properties:
        name:
          type: string
          minLength: 1
        description:
          type:
          - string
          - 'null'
        slug:
          type: string
          minLength: 1
    SecurityRequirement2:
      type: object
      additionalProperties: false
      properties:
        schemes:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
    CurationMode:
      type: string
      description: ''
      x-enumNames:
      - ReviewRequired
      - AutoApprove
      enum:
      - ReviewRequired
      - AutoApprove
    CustomFormApprovalRequestDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        emailNotification:
          type: boolean
        title:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        actions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFormActionDefinition'
        structuredOutputSchema: {}
        useCustomFields:
          type: boolean
    RouterConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        prompt:
          type: string
        isDefault:
          type:
          - boolean
          - 'null'
    PipelineDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        executionName:
          type:
          - string
          - 'null'
        agentIcon:
          type:
          - string
          - 'null'
        agentDescription:
          type: string
        markdownDescription:
          type:
          - string
          - 'null'
        tagline:
          type:
          - string
          - 'null'
        videoLink:
          type:
          - string
          - 'null'
        industry:
          type:
          - string
          - 'null'
        subIndustries:
          type:
          - array
          - 'null'
          items:
            type: string
        tags:
          type:
          - array
          - 'null'
          items:
            type: string
        agentDetails:
          type:
          - object
          - 'null'
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/AgentDetailItemDefinition'
        steps:
          type: array
          items:
            $ref: '#/components/schemas/PipelineStepDefinition'
        behaviours:
          type:
          - array
          - 'null'
          items:
            type: string
        agentUnicodeIcon:
          type:
          - string
          - 'null'
        agentIconBase64:
          type:
          - string
          - 'null'
        alignment:
          type: string
        saveToolResponsesToHistory:
          type:
          - boolean
          - 'null'
    InviteCodePreviewResponse:
      type: object
      additionalProperties: false
      properties:
        communityId:
          type: string
          format: guid
        communityName:
          type: string
        communityDescription:
          type:
          - string
          - 'null'
        communitySlug:
          type: string
        ownerTenantName:
          type:
          - string
          - 'null'
        role:
          $ref: '#/components/schemas/CommunityRole'
        expiresAt:
          type: string
          format: date-time
        memberCount:
          type: integer
          format: int32
        agentCount:
          type: integer
          format: int32
    UpdateCommunityRequest:
      type: object
      additionalProperties: false
      required:
      - name
      - slug
      - isActive
      - settings
      properties:
        name:
          type: string
          minLength: 1
        description:
          type:
          - string
          - 'null'
        slug:
          type: string
          minLength: 1
        isActive:
          type: boolean
        settings:
          $ref: '#/components/schemas/CommunitySettings'
    AgentDetailItemDefinition:
      type: object
      additionalProperties: false
      properties:
        itemType:
          type: string
        name:
          type: string
        value:
          type: string
        options:
          type:
          - array
          - 'null'
          items:
            type: string
    LoopStepBatchConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        batchSize:
          type: integer
          format: int32
        batchDelaySeconds:
          type: integer
          format: int32
    MembershipStatus:
      type: string
      description: ''
      x-enumNames:
      - Invited
      - Active
      - Requested
      - Revoked
      enum:
      - Invited
      - Active
      - Requested
      - Revoked
    ChunkingConfigDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        chunkSize:
          type: integer
          format: int32
        chunkOverlap:
          type: integer
          format: int32
        strategyType:
          type: string
    CommunityAgentSubmissionResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        communityId:
          type: string
          format: guid
        communityName:
          type:
          - string
          - 'null'
        agentName:
          type:
          - string
          - 'null'
        agentVersion:
          type:
          - string
          - 'null'
        tagline:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        tenantName:
          type:
          - string
          - 'null'
        contributorName:
          type:
          - string
          - 'null'
        communityAgentId:
          type: string
          format: guid
        views:
          type: integer
          format: int32
        downloads:
          type: integer
          format: int32
        status:
          $ref: '#/components/schemas/SubmissionStatus'
        userNotes:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
    ToolsExportDefinition:
      type: object
      additionalProperties: false
      properties:
        toolType:
          type: string
        name:
          type: string
        standardizedName:
          type: string
        toolDescription:
          type: string
        purpose:
          type: string
        apiEndpoint:
          type: string
        credentialsDefinition:
          oneOf:
          - $ref: '#/components/schemas/CredentialsDefinition'
        headersDefinition:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolHeadersDefinition'
        body:
          type:
          - string
          - 'null'
        parametersDefinition:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolParametersDefinition'
        methodType:
          type: string
        routeThroughACC:
          type:
          - boolean
          - 'null'
        accGroup:
          type:
          - string
          - 'null'
        iconUrl:
          type:
          - string
          - 'null'
        useUserCredentials:
          type: boolean
        useUserCredentialsType:
          type:
          - string
          - 'null'
        provider:
          type:
          - string
          - 'null'
        bodyType:
          type:
          - string
          - 'null'
        numberOfPages:
          type:
          - string
          - 'null'
        shouldRetrieveFullPageContent:
          type:
          - string
          - 'null'
        schemaDefinition:
          type:
          - string
          - 'null'
        requestTimeout:
          type:
          - integer
          - 'null'
          format: int32
        annotations:
          type:
          - object
          - 'null'
          additionalProperties: {}
        shouldReroute:
          type:
          - boolean
          - 'null'
        credentialsSourceType:
          type:
          - string
          - 'null'
        useJwtForwarding:
          type:
          - boolean
          - 'null'
        id:
          type: string
          format: guid
        agentId:
          type:
          - string
          - 'null'
          format: guid
    InviteCodeResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        token:
          type: string
        communityId:
          type: string
          format: guid
        role:
          $ref: '#/components/schemas/CommunityRole'
        maxUses:
          type: integer
          format: int32
        usesRemaining:
          type: integer
          format: int32
        expiresAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: guid
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
    DataSourceFileDefinition:
      type: object
      additionalProperties: false
      properties:
        dataSourceId:
          type: string
          format: guid
        filePath:
          type:
          - string
          - 'null'
        inputToken:
          type:
          - string
          - 'null'
    DataSourcesDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type:
          - string
          - 'null'
        executionName:
          type:
          - string
          - 'null'
        chunkingConfig:
          oneOf:
          - $ref: '#/components/schemas/ChunkingConfigDefinition'
        dataSourceType:
          type: string
        databaseType:
          type:
          - string
          - 'null'
        embeddingProvider:
          type:
          - string
          - 'null'
        isUserSpecific:
          type: boolean
        files:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DataSourceFileDefinition'
        fileCount:
          type:
          - integer
          - 'null'
          format: int32
        configurationJson:
          type:
          - string
          - 'null'
        credentials:
          oneOf:
          - $ref: '#/components/schemas/CredentialsDefinition'
        isImageProcessingEnabled:
          type: boolean
        description:
          type:
          - string
          - 'null'
        vectorStore:
          oneOf:
          - $ref: '#/components/schemas/VectorStoreDefinition'
        scanDocumentForImages:
          type: boolean
        imageProcessingPrompt:
          type:
          - string
          - 'null'
        storeType:
          type:
          - string
          - 'null'
        tableDocumentProcessingMode:
          type:
          - string
          - 'null'
        parserConfigurationJson:
          type:
          - string
          - 'null'
    UpdateMembershipRequest:
      type: object
      additionalProperties: false
      required:
      - role
      properties:
        role:
          $ref: '#/components/schemas/CommunityRole'
    PipelineStepDefinition:
      type: object
      additionalProperties: false
      required:
      - stepTitle
      properties:
        id:
          type: string
          format: guid
        stepType:
          type: string
        position:
          $ref: '#/components/schemas/PositionDefinition'
        handles:
          type: array
          items:
            $ref: '#/components/schemas/HandleDefinition'
        dependenciesObject:
          type: array
          items:
            $ref: '#/components/schemas/PipelineStepDependencyDefinition'
        temperature:
          type:
          - number
          - 'null'
          format: float
        reasoningEffort:
          type:
          - string
          - 'null'
        includeDateTimeContext:
          type:
          - boolean
          - 'null'
        dateTimeTimezoneSettings:
          oneOf:
          - $ref: '#/components/schemas/DateTimeTimezoneSettingsDefinition'
        includeUserDetailsContext:
          type:
          - boolean
          - 'null'
        promptId:
          type:
          - string
          - 'null'
          format: guid
        promptSegments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PromptSegmentDefinition'
        modelId:
          type:
          - string
          - 'null'
          format: guid
        toolIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        agentDelegateIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        toolParamsJson:
          type:
          - string
          - 'null'
        dataSourceId:
          type:
          - string
          - 'null'
          format: guid
        topK:
          type:
          - integer
          - 'null'
          format: int32
        relevanceThreshold:
          type:
          - number
          - 'null'
          format: float
        neighboringChunksCount:
          type:
          - integer
          - 'null'
          format: int32
        hybridSearchAlpha:
          type:
          - number
          - 'null'
          format: float
        databaseType:
          type:
          - string
          - 'null'
        enableSqlQueries:
          type:
          - boolean
          - 'null'
        fuzzySearch:
          type:
          - boolean
          - 'null'
        sqlResultLimit:
          type:
          - integer
          - 'null'
          format: int32
        hybridSearchFusionType:
          type:
          - string
          - 'null'
        userInputOnVectorSearch:
          type:
          - boolean
          - 'null'
        performReranking:
          type:
          - boolean
          - 'null'
        memoryId:
          type:
          - string
          - 'null'
          format: guid
        pythonCodeBlockId:
          type:
          - string
          - 'null'
          format: guid
        useUserIdTokenForwarding:
          type:
          - boolean
          - 'null'
        includedStepResultTitles:
          type:
          - array
          - 'null'
          items:
            type: string
        approvalRequestId:
          type:
          - string
          - 'null'
          format: guid
        webhookApprovalRequestId:
          type:
          - string
          - 'null'
          format: guid
        customFormApprovalRequestId:
          type:
          - string
          - 'null'
          format: guid
        agentCardId:
          type:
          - string
          - 'null'
          format: guid
        backgroundColor:
          type:
          - string
          - 'null'
        content:
          type:
          - string
          - 'null'
        stepTitle:
          type: string
        parentId:
          type:
          - string
          - 'null'
          format: guid
        width:
          type:
          - integer
          - 'null'
          format: int32
        height:
          type:
          - integer
          - 'null'
          format: int32
        loopStepConfiguration:
          oneOf:
          - $ref: '#/components/schemas/LoopStepConfigurationDefinition'
        jsonFormatterStepConfiguration:
          oneOf:
          - $ref: '#/components/schemas/JsonFormatterStepConfigurationDefinition'
        inputVariablesJson:
          type:
          - string
          - 'null'
        inputTemplate:
          type:
          - string
          - 'null'
        includeChatHistory:
          type:
          - boolean
          - 'null'
        isMultiRoute:
          type:
          - boolean
          - 'null'
        routerConfigJson:
          type:
          - string
          - 'null'
        conditionalBranchCode:
          type:
          - string
          - 'null'
        conditionalBranchConfigJson:
          type:
          - string
          - 'null'
        routerConfig:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/ConditionalBranchConfigurationDefinition'
        selectedPromptVersion:
          type:
          - string
          - 'null'
          format: guid
        stepParams:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        useUserInput:
          type:
          - boolean
          - 'null'
        aiOperationStepIncludeChatHistory:
          type:
          - boolean
          - 'null'
        aiOperationStepIncludeAttachments:
          type:
          - boolean
          - 'null'
        aiOperationStepUseDataSource:
          type:
          - boolean
          - 'null'
        selectedDataSources:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        memoryStoreStepAppendText:
          type:
          - boolean
          - 'null'
        aiOperationStepChatHistoryMessagesLimit:
          type:
          - integer
          - 'null'
          format: int32
        aiOperationStepOutputSchemaJson:
          type:
          - string
          - 'null'
        executePipelineId:
          type:
          - string
          - 'null'
          format: guid
        selectedPipelineVersion:
          type:
          - string
          - 'null'
          format: guid
        embeddedAgentVariablesJson:
          type:
          - string
          - 'null'
        preferredPdfParserId:
          type:
          - string
          - 'null'
          format: guid
        customPdfParserPrompt:
          type:
          - string
          - 'null'
        retryConfiguration:
          oneOf:
          - $ref: '#/components/schemas/RetryConfigurationDefinition'
        mcpServerDeploymentIds:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        mcpHydrationFailurePolicy:
          oneOf:
          - $ref: '#/components/schemas/McpHydrationFailurePolicyDefinition'
        mcpServerDeploymentParamsJson:
          type:
          - string
          - 'null'
        documentSplitterPrompt:
          type:
          - string
          - 'null'
        documentSplitterWindowSize:
          type:
          - integer
          - 'null'
          format: int32
        documentSplitterMaxWindowSize:
          type:
          - integer
          - 'null'
          format: int32
        documentSplitterOutputSchemaJson:
          type:
          - string
          - 'null'
    AgentExtension2:
      type: object
      additionalProperties: false
      properties:
        uri:
          type: string
        description:
          type:
          - string
          - 'null'
        required:
          type:
          - boolean
          - 'null'
        params:
          type:
          - object
          - 'null'
          additionalProperties: {}
    SdkStepDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        sdkStepType:
          type: string
        category:
          type: string
        group:
          type: string
        version:
          type: string
        stepParameters:
          type: string
        credentialReferences:
          type: array
          items:
            $ref: '#/components/schemas/SdkStepCredentialReference'
        supportedCredentialTypes:
          type: array
          items:
            type: string
    DateTimeTimezoneSettingsDefinition:
      type: object
      additionalProperties: false
      properties:
        mode:
          type:
          - string
          - 'null'
        value:
          type:
          - string
          - 'null'
    ToolHeadersDefinition:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        value:
          type: string
        sensitive:
          type: boolean
    WebhookApprovalRequestDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        webhookUrl:
          type: string
        timeoutSeconds:
          type: integer
          format: int32
        maxRetryAttempts:
          type: integer
          format: int32
        message:
          type:
          - string
          - 'null'
        approvedHandleId:
          type: string
          format: guid
        deniedHandleId:
          type: string
          format: guid
    SecurityScheme2:
      type: object
      discriminator:
        propertyName: type
        mapping:
          apiKey: '#/components/schemas/ApiKeySecurityScheme2'
          http: '#/components/schemas/HttpSecurityScheme2'
          oauth2: '#/components/schemas/OAuth2SecurityScheme2'
          openIdConnect: '#/components/schemas/OpenIdConnectSecurityScheme2'
          mutualTLS: '#/components/schemas/MutualTlsSecurityScheme2'
      x-abstract: true
      additionalProperties: false
      required:
      - type
      properties:
        description:
          type:
          - string
          - 'null'
        type:
          type: string
    PagedResultOfPrivateCommunitySubmissionResponse:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/PrivateCommunitySubmissionResponse'
        totalCount:
          type: integer
          format: int32
    ExportPipelineDefinition:
      type: object
      additionalProperties: false
      properties:
        available:
          type: boolean
        metadata:
          $ref: '#/components/schemas/PipelineDefinitionMetadata'
        agent:
          $ref: '#/components/schemas/PipelineDefinition'
        dataSources:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DataSourcesDefinition'
        prompts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PromptDefinition'
        tools:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolsExportDefinition'
        models:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ModelDefinition'
        memories:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MemoryDefinition'
        pythonCodeBlocks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PythonCodeBlockDefinition'
        routers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/RouterDefinition'
        approvalRequests:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ApprovalRequestDefinition'
        webhookApprovalRequests:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/WebhookApprovalRequestDefinition'
        customFormApprovalRequests:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CustomFormApprovalRequestDefinition'
        agentCards:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgentCardDefinition'
        subAgents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PipelineDefinition'
        subAgentInterfaces:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/InterfacesDefinition'
        deployment:
          oneOf:
          - $ref: '#/components/schemas/DeploymentDefinition'
        interfaces:
          oneOf:
          - $ref: '#/components/schemas/InterfacesDefinition'
        eventTriggers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgentEventTriggerDefinition'
        sdkSteps:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SdkStepDefinition'
        mcpServerPlaceholders:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/McpServerPlaceholderDefinition'
    PromptDefinition:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        versionChangeDescription:
          type: string
        promptMessage:
          type:
          - string
          - 'null'
        isAgentSpecific:
          type:
          - boolean
          - 'null'
        isGlobal:
          type:
          - boolean
          - 'null'
        id:
          type: string
          format: guid
    PromptSegmentDefinition:
      type: object
      additionalProperties: false
      properties:
        promptId:
          type: string
          format: guid
        order:
          type: integer
          format: int32
    AgentProvider2:
      type: object
      additionalProperties: false
      properties:
        organization:
          type: string
        url:
          type: string
    RouterDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        modelId:
          type:
          - string
          - 'null'
          format: guid
        routerConfigJson:
          type:
          - string
          - 'null'
        routerConfig:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/RouterConfigurationDefinition'
        isMultiRoute:
          type:
          - boolean
          - 'null'
        includeChatHistory:
          type: boolean
    CredentialsDataListDefinition:
      type: object
      additionalProperties: false
      properties:
        key:
          type: string
        value:
          type: string
    QuickActionDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        displayName:
          type: string
        quickActionType:
          type: string
        assignedAgent:
          oneOf:
          - $ref: '#/components/schemas/AssignedAgentDefinition'
    PipelineDefinitionMetadata:
      type: object
      additionalProperties: false
      required:
      - state
      properties:
        id:
          type: string
          format: guid
        exportVersion:
          type:
          - string
          - 'null'
        tagline:
          type: string
        agentDescription:
          type: string
        industry:
          type: string
        tasks:
          type: string
        credentialExportOption:
          type: string
        dataSourceExportOption:
          type: string
        versionInformation:
          type: string
        state:
          type: string
        contributorId:
          type:
          - string
          - 'null'
        contributorGivenName:
          type:
          - string
          - 'null'
        contributorSurname:
          type:
          - string
          - 'null'
        videoLink:
          type:
          - string
          - 'null'
        readiness:
          type:
          - string
          - 'null'
        department:
          type:
          - string
          - 'null'
        agentLastUpdated:
          type:
          - string
          - 'null'
          format: date-time
        country:
          type:
          - string
          - 'null'
    ModelDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        displayName:
          type: string
        modelName:
          type:
          - string
          - 'null'
        promptId:
          type:
          - string
          - 'null'
          format: guid
        systemPromptDefinition:
          oneOf:
          - $ref: '#/components/schemas/PromptDefinition'
        url:
          type:
          - string
          - 'null'
        inputType:
          type:
          - string
          - 'null'
        provider:
          type:
          - string
          - 'null'
        credentialsDefinition:
          oneOf:
          - $ref: '#/components/schemas/CredentialsDefinition'
        deploymentType:
          type:
          - string
          - 'null'
        sourceType:
          type: string
        connectionString:
          type:
          - string
          - 'null'
        containerName:
          type:
          - string
          - 'null'
        deployedKey:
          type:
          - string
          - 'null'
        deployedUrl:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        uploadedContainerId:
          type:
          - string
          - 'null'
          format: guid
        libraryModelId:
          type:
          - string
          - 'null'
          format: guid
        inputTokenPrice:
          type:
          - string
          - 'null'
        outputTokenPrice:
          type:
          - string
          - 'null'
        tokenUnits:
          type:
          - integer
          - 'null'
          format: int32
        hasToolSupport:
          type:
          - boolean
          - 'null'
        allowAiriaCredentials:
          type:
          - boolean
          - 'null'
        allowBYOKCredentials:
          type:
          - boolean
          - 'null'
        author:
          type:
          - string
          - 'null'
        priceType:
          type:
          - string
          - 'null'
        category:
          type:
          - string
          - 'null'
        maxOutputTokens:
          type:
          - integer
          - 'null'
          format: int32
    PositionDefinition:
      type: object
      additionalProperties: false
      properties:
        x:
          type: string
        y:
          type: string
    CustomFormActionDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        label:
          type: string
        handleId:
          type: string
          format: guid
        style:
          type: string
        confirmationText:
          type:
          - string
          - 'null'
        requiresComment:
          type: boolean
    VectorStoreDefinition:
      type: object
      additionalProperties: false
      properties:
        hostingType:
          type:
          - string
          - 'null'
        modality:
          type:
          - string
          - 'null'
        provider:
          type:
          - string
          - 'null'
        storeTypeId:
          type:
          - string
          - 'null'
        credentialId:
          type:
          - string
          - 'null'
        configurationJson:
          type:
          - string
          - 'null'
        sparseVectorEnabled:
          type: boolean
        embeddingProvider:
          type:
          - string
          - 'null'
        embeddingConfigurationJson:
          type:
          - string
          - 'null'
    McpServerPlaceholderDefinition:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        gatewayLibraryId:
          type:
          - string
          - 'null'
          format: guid
        selectedTools:
          type:
          - array
          - 'null'
          items:
            type: string
        authenticationType:
          type:
          - string
          - 'null'
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    PythonCodeBlockDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        code:
          type: string
        credentialIds:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        oAuthProviderConfigIds:
          type:
          - object
          - 'null'
          additionalProperties:
            type: string
        isStructuredOutputEnabled:
          type:
          - boolean
          - 'null'
        includeParsedFiles:
          type:
          - boolean
          - 'null'
        credentialsDefinitions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CredentialsDefinition'
    CreateInviteCodeResponse:
      allOf:
      - $ref: '#/components/schemas/InviteCodeResponse'
      - type: object
        additionalProperties: false
    PagedResultOfCommunityAgentSubmissionResponse:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CommunityAgentSubmissionResponse'
        totalCount:
          type: integer
          format: int32
    CommunityPermissions:
      type: object
      additionalProperties: false
      required:
      - Owner
      - Contributor
      - Viewer
      properties:
        Owner:
          type: array
          items:
            type: string
        Contributor:
          type: array
          items:
            type: string
        Viewer:
          type: array
          items:
            type: string
    ApprovalRequestDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        message:
          type:
          - string
          - 'null'
        emailNotification:
          type: boolean
        approvalDescription:
          type:
          - string
          - 'null'
        denialDescription:
          type:
          - string
          - 'null'
        approvedHandleId:
          type: string
          format: guid
        deniedHandleId:
          type: string
          format: guid
    UpdateCommunitySubmissionRequest:
      type: object
      additionalProperties: false
      required:
      - status
      properties:
        status:
          $ref: '#/components/schemas/SubmissionStatus'
    DeploymentDefinition:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        deploymentIcon:
          type:
          - string
          - 'null'
        deploymentDescription:
          type: string
        userPrompts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UserPromptDefinition'
        deploymentPrompt:
          type:
          - string
          - 'null'
        isRecommended:
          type: boolean
        deploymentType:
          type: string
        conversationType:
          type: string
        aboutJson:
          type:
          - string
          - 'null'
        supportedInputModes:
          type:
          - array
          - 'null'
          items:
            type: string
        browserExtensionConfig:
          oneOf:
          - $ref: '#/components/schemas/BrowserExtensionConfigDefinition'
        displayConsumptionInfo:
          type: boolean
    McpHydrationFailurePolicyDefinition:
      type: string
      description: ''
      x-enumNames:
      - Unspecified
      - ContinueWithoutUnavailableTools
      - FailExecution
      enum:
      - Unspecified
      - ContinueWithoutUnavailableTools
      - FailExecution
    AgentInterface2:
      type: object
      additionalProperties: false
      properties:
        url:
          type: string
        protocolBinding:
          type: string
        protocolVersion:
          type: string
        tenant:
          type:
          - string
          - 'null'
    CommunityRole:
      type: string
      description: ''
      x-enumNames:
      - Owner
      - Contributor
      - Viewer
      enum:
      - Owner
      - Contributor
      - Viewer
    AgentCardSignature2:
      type: object
      additionalProperties: false
      properties:
        protected:
          type: string
        signature:
          type: string
        header:
          type:
          - object
          - 'null'
          additionalProperties: {}
    AgentSkill2:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        examples:
          type:
          - array
          - 'null'
          items:
            type: string
        inputModes:
          type:
          - array
          - 'null'
          items:
            type: string
        outputModes:
          type:
          - array
          - 'null'
          items:
            type: string
        securityRequirements:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SecurityRequirement2'
    PagedResultOfInviteCodeResponse:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InviteCodeResponse'
        totalCount:
          type: integer
          format: int32
    PrivateCommunityResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        description:
          type:
          - string
          - 'null'
        slug:
          type: string
        ownerTenantId:
          type: string
          format: guid
        sourceEnvironmentUrl:
          type: string
        ownerOrganizationId:
          type:
          - string
          - 'null'
          format: guid
        isActive:
          type: boolean
        settings:
          $ref: '#/components/schemas/CommunitySettings'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        agentCount:
          type: integer
          format: int32
        memberCount:
          type: integer
          format: int32
        callerRole:
          oneOf:
          - $ref: '#/components/schemas/CommunityRole'
    CommunitySubmissionResponse:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        message:
          type: string
        communityAgentId:
          type:
          - string
          - 'null'
          format: guid
        errorCode:
          type:
          - string
          - 'null'
    MembershipResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        communityId:
          type: string
          format: guid
        tenantId:
          type: string
          format: guid
        tenantName:
          type:
          - string
          - 'null'
        sourceEnvironmentUrl:
          type: string
        role:
          $ref: '#/components/schemas/CommunityRole'
        status:
          $ref: '#/components/schemas/MembershipStatus'
        invitedByTenantId:
          type:
          - string
          - 'null'
          format: guid
        joinedAt:
          type:
          - string
          - 'null'
          format: date-time
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
    AgentToolInterfaceDefinition:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        title:
          type:
          - string
          - 'null'
        description:
          type: string
        inputSchema:
          type: string
        outputSchema:
          type:
          - string
          - 'null'
        enabled:
          type: boolean
        annotations:
          oneOf:
          - $ref: '#/components/schemas/AgentToolAnnotationsDefinition'
    RedeemInviteCodeResponse:
      type: object
      additionalProperties: false
      properties:
        membershipId:
          type: string
          format: guid
        communityId:
          type: string
          format: guid
        communityName:
          type: string
        role:
          $ref: '#/components/schemas/CommunityRole'
    LoopStepParallelConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        maxDegreeOfParallelism:
          type: integer
          format: int32
    ToolParametersDefinition:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        parameterType:
          type: string
        parameterDescription:
          type: string
        default:
          type: string
        validOptions:
          type:
          - array
          - 'null'
          items:
            type: string
        arrayItemType:
          type:
          - string
          - 'null'
        parameters:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolParametersDefinition'
        requirement:
          type: string
    PrivateCommunitySubmissionResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        privateCommunityId:
          type: string
          format: guid
        privateCommunityName:
          type:
          - string
          - 'null'
        agentName:
          type:
          - string
          - 'null'
        agentVersion:
          type:
          - string
          - 'null'
        tagline:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        tenantName:
          type:
          - string
          - 'null'
        contributorName:
          type:
          - string
          - 'null'
        communityAgentId:
          type: string
          format: guid
        views:
          type: integer
          format: int32
        downloads:
          type: integer
          format: int32
        status:
          $ref: '#/components/schemas/SubmissionStatus'
        userNotes:
          type:
          - string
          - 'null'
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
    CustomCredentialsDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        credentialType:
          type: string
        credentialData:
          type:
          - string
          - 'null'
    CredentialsDefinition:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        credentialType:
          type: string
        sourceType:
          type: string
        credentialDataList:
          type: array
          items:
            $ref: '#/components/schemas/CredentialsDataListDefinition'
        displayIdentifierName:
          type:
          - string
          - 'null'
        administrativeScope:
          type:
          - string
          - 'null'
        origin:
          type:
          - string
          - 'null'
        customCredentials:
          oneOf:
          - $ref: '#/components/schemas/CustomCredentialsDefinition'
        id:
          type: string
          format: guid
    MemoryDefinition:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        isUserSpecific:
          type: boolean
        isConversationScoped:
          type:
          - boolean
          - 'null'
        defaultValue:
          type:
          - string
          - 'null'
    CreateInviteCodeRequest:
      type: object
      additionalProperties: false
      required:
      - role
      - maxUses
      - expiresAt
      properties:
        role:
          $ref: '#/components/schemas/CommunityRole'
        maxUses:
          type: integer
          format: int32
          maximum: 2147483647
          minimum: 1
        expiresAt:
          type: string
          format: date-time
    InterfacesDefinition:
      type: object
      additionalProperties: false
      properties:
        emailInbox:
          oneOf:
          - $ref: '#/components/schemas/AgentTriggersDefinition'
        toolInterface:
          oneOf:
          - $ref: '#/components/schemas/AgentToolInterfaceDefinition'
    BrowserExtensionConfigDefinition:
      type: object
      additionalProperties: false
      properties:
        browserType:
          type: string
        quickActions:
          type: array
          items:
            $ref: '#/components/schemas/QuickActionDefinition'
    UserPromptDefinition:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        message:
          type: string
        promptDescription:
          type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
