openapi: 3.2.0
info:
  title: Airia Web Discovery Asset Actions API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: DiscoveryAssetActions
paths:
  /v1/discovery/assets/{aiAssetAggregateId}/sanction:
    post:
      tags:
      - DiscoveryAssetActions
      operationId: DiscoveryAssetActions_Sanction
      parameters:
      - name: aiAssetAggregateId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SanctionAiAssetRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SanctionAiAssetResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Discovery asset actions sanction
      x-summary-source: derived
  /v1/discovery/assets/{aiAssetAggregateId}/divert:
    post:
      tags:
      - DiscoveryAssetActions
      operationId: DiscoveryAssetActions_Divert
      parameters:
      - name: aiAssetAggregateId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DivertAiAssetRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DivertAiAssetResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Discovery asset actions divert
      x-summary-source: derived
components:
  schemas:
    AiAssetSanctionDecision:
      type: string
      description: ''
      x-enumNames:
      - Sanctioned
      - Unsanctioned
      - PendingReview
      enum:
      - Sanctioned
      - Unsanctioned
      - PendingReview
    DivertAiAssetResponse:
      type: object
      additionalProperties: false
      required:
      - value
      - createdAt
      - auditEventEmitted
      - historyRecorded
      properties:
        value:
          type: string
        previousValue:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        auditEventEmitted:
          type: boolean
        historyRecorded:
          type: boolean
        detail:
          type:
          - string
          - 'null'
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    SanctionAiAssetRequest:
      type: object
      additionalProperties: false
      required:
      - decision
      properties:
        decision:
          $ref: '#/components/schemas/AiAssetSanctionDecision'
        reason:
          type:
          - string
          - 'null'
    SanctionAiAssetResponse:
      type: object
      additionalProperties: false
      required:
      - value
      - createdAt
      - auditEventEmitted
      properties:
        value:
          type: string
        previousValue:
          type:
          - string
          - 'null'
        createdAt:
          type: string
          format: date-time
        auditEventEmitted:
          type: boolean
    AiAssetDivertDecision:
      type: string
      description: ''
      x-enumNames:
      - Diverted
      - Reverted
      enum:
      - Diverted
      - Reverted
    DivertAiAssetRequest:
      type: object
      additionalProperties: false
      required:
      - decision
      properties:
        decision:
          $ref: '#/components/schemas/AiAssetDivertDecision'
        reason:
          type:
          - string
          - 'null'
        gatewayConfigurationId:
          type:
          - string
          - 'null'
          format: guid
        airiaGatewayUrl:
          type:
          - string
          - 'null'
        selectedComponentIds:
          type:
          - array
          - 'null'
          items:
            type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
