openapi: 3.2.0
info:
  title: Airia Web Spm API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Spm
paths:
  /v1/spm/providers:
    get:
      tags:
      - Spm
      operationId: Spm_GetProviders
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProvidersResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get providers
      x-summary-source: derived
  /v1/spm/providers/connection-schemas:
    get:
      tags:
      - Spm
      operationId: Spm_GetProviderConnectionSchemas
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderConnectionSchemaResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get provider connection schemas
      x-summary-source: derived
  /v1/spm/providers/connection-counts:
    get:
      tags:
      - Spm
      operationId: Spm_GetProvidersConnectionCounts
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfProviderConnectionCountResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get providers connection counts
      x-summary-source: derived
  /v1/spm/providers/{securePostureProvider}/connections:
    get:
      tags:
      - Spm
      operationId: Spm_GetConnectionsByProvider
      parameters:
      - name: securePostureProvider
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/SecurePostureProvider'
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 5
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfConnectionResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get connections by provider
      x-summary-source: derived
  /v1/spm/providers/{securePostureProvider}/connections/refresh:
    post:
      tags:
      - Spm
      operationId: Spm_RefreshConnectionsByProvider
      parameters:
      - name: securePostureProvider
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/SecurePostureProvider'
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRefreshResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm refresh connections by provider
      x-summary-source: derived
  /v1/spm/connections:
    get:
      tags:
      - Spm
      operationId: Spm_GetConnections
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfConnectionResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get connections
      x-summary-source: derived
    post:
      tags:
      - Spm
      operationId: Spm_CreateConnection
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionCreateRequest'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionCreateResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items: {}
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm create connection
      x-summary-source: derived
  /v1/spm/connections/agent-counts:
    get:
      tags:
      - Spm
      operationId: Spm_GetConnectionsAgentCounts
      parameters:
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfConnectionAgentCountResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get connections agent counts
      x-summary-source: derived
  /v1/spm/connections/app-counts:
    get:
      tags:
      - Spm
      operationId: Spm_GetConnectionsAppCounts
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ConnectionAppCountResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get connections app counts
      x-summary-source: derived
  /v1/spm/connections/{id}:
    get:
      tags:
      - Spm
      operationId: Spm_GetConnection
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get connection
      x-summary-source: derived
    put:
      tags:
      - Spm
      operationId: Spm_UpdateConnection
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionUpdateRequest'
        required: true
        x-position: 2
      responses:
        204:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm update connection
      x-summary-source: derived
    delete:
      tags:
      - Spm
      operationId: Spm_DeleteConnection
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm delete connection
      x-summary-source: derived
  /v1/spm/connections/{connectionId}/agents:
    get:
      tags:
      - Spm
      operationId: Spm_GetAgents
      parameters:
      - name: connectionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 5
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfAgentResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get agents
      x-summary-source: derived
  /v1/spm/connections/{connectionId}/agents/refresh:
    post:
      tags:
      - Spm
      operationId: Spm_RefreshAgents
      parameters:
      - name: connectionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        202:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRefreshResponse'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRefreshResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRefreshResponse'
        500:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRefreshResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm refresh agents
      x-summary-source: derived
  /v1/spm/agents/{agentId}/components:
    get:
      tags:
      - Spm
      operationId: Spm_GetComponents
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 5
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfComponentResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: string
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get components
      x-summary-source: derived
  /v1/spm/agents/{agentId}/usage-events:
    get:
      tags:
      - Spm
      operationId: Spm_GetUsageEvents
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: IncludeTotalCount
        in: query
        schema:
          type: boolean
        x-position: 2
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 4
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultV2OfSpmAgentUsageEventResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get usage events
      x-summary-source: derived
  /v1/spm/agents/{agentId}/usage-events/{usageEventId}/transcript/messages:
    get:
      tags:
      - Spm
      operationId: Spm_GetTranscriptMessages
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: usageEventId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: IncludeTotalCount
        in: query
        schema:
          type: boolean
        x-position: 3
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 4
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 5
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultV2OfSpmTranscriptMessageResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get transcript messages
      x-summary-source: derived
  /v1/spm/agents/{agentId}/usage-events/{usageEventId}/transcript/segments:
    get:
      tags:
      - Spm
      operationId: Spm_GetTranscriptSegments
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: usageEventId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: IncludeTotalCount
        in: query
        schema:
          type: boolean
        x-position: 3
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 4
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 5
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultV2OfSpmTranscriptSegmentResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get transcript segments
      x-summary-source: derived
  /v1/spm/sync-runs:
    get:
      tags:
      - Spm
      operationId: Spm_GetAllSyncRuns
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfSyncRunResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get all sync runs
      x-summary-source: derived
  /v1/spm/connections/{connectionId}/sync-runs:
    get:
      tags:
      - Spm
      operationId: Spm_GetSyncRuns
      parameters:
      - name: connectionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 5
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfSyncRunResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get sync runs
      x-summary-source: derived
  /v1/spm/sync-runs/{syncRunId}/changes:
    get:
      tags:
      - Spm
      operationId: Spm_GetSyncRunChanges
      parameters:
      - name: syncRunId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 5
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfSyncRunChangeResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get sync run changes
      x-summary-source: derived
  /v1/spm/sync-runs/{syncRunId}/environment-failures:
    get:
      tags:
      - Spm
      operationId: Spm_GetSyncRunEnvironmentFailures
      parameters:
      - name: syncRunId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SyncRunEnvironmentFailureResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get sync run environment failures
      x-summary-source: derived
  /v1/spm/connections/refresh:
    post:
      tags:
      - Spm
      operationId: Spm_RefreshAllConnections
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        202:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRefreshResponse'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRefreshResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm refresh all connections
      x-summary-source: derived
  /v1/spm/connections/{id}/affected-evaluations:
    get:
      tags:
      - Spm
      operationId: Spm_GetAffectedEvaluations
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: top
        in: query
        schema:
          type: integer
          format: int32
          default: 5
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionAffectedEvaluationsResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get affected evaluations
      x-summary-source: derived
  /v1/spm/agents/{agentId}/refresh:
    post:
      tags:
      - Spm
      operationId: Spm_RefreshAgent
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentRefreshResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm refresh agent
      x-summary-source: derived
  /v1/spm/agents/{agentId}/secure:
    post:
      tags:
      - Spm
      operationId: Spm_SecureAgent
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentSecureRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSecureResponse'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSecureResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSecureResponse'
        500:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentSecureResponse'
      summary: Spm secure agent
      x-summary-source: derived
  /v1/spm/connections/test:
    post:
      tags:
      - Spm
      operationId: Spm_TestConnection
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestConnectionCommand'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResponse'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResponse'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResponse'
        500:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResponse'
        501:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResponse'
        502:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResponse'
        503:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResponse'
        504:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionTestResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm test connection
      x-summary-source: derived
  /v1/spm/agents/directory:
    get:
      tags:
      - Spm
      operationId: Spm_GetAgentsDirectory
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: providerFilter
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SecurePostureProvider'
        x-position: 6
      - name: aiProviderFilter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: aiModelFilter
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
        x-position: 8
      - name: capabilityFilters
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SpmCapabilityFilter'
        x-position: 9
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfAgentDirectoryResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get agents directory
      x-summary-source: derived
  /v1/spm/agents/{agentId}/aliases:
    get:
      tags:
      - Spm
      operationId: Spm_GetAgentAliases
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentAliasResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get agent aliases
      x-summary-source: derived
  /v1/spm/views/graph:
    get:
      tags:
      - Spm
      operationId: Spm_GetGraphView
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphViewResponse'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get graph view
      x-summary-source: derived
  /v1/spm/views/workflow/{agentId}:
    get:
      tags:
      - Spm
      operationId: Spm_GetWorkflowView
      parameters:
      - name: agentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalWorkflowDisplayResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get workflow view
      x-summary-source: derived
  /v1/spm/settings:
    get:
      tags:
      - Spm
      operationId: Spm_GetSpmSettings
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpmSettingsResponse'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get spm settings
      x-summary-source: derived
    put:
      tags:
      - Spm
      operationId: Spm_UpdateSpmSettings
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpmSettingsRequest'
        required: true
        x-position: 1
      responses:
        204:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm update spm settings
      x-summary-source: derived
  /v1/spm/integrations/analysis-runs/latest:
    get:
      tags:
      - Spm
      operationId: Spm_GetLatestAnalysisRuns
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnalysisRunSummaryResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get latest analysis runs
      x-summary-source: derived
  /v1/spm/integrations/scan-apps:
    post:
      tags:
      - Spm
      operationId: Spm_ScanIntegrationApps
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScanIntegrationAppsRequest'
        x-position: 1
      responses:
        202:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScanIntegrationAppsResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm scan integration apps
      x-summary-source: derived
  /v1/spm/integrations/records/{integrationRecordId}/revoke:
    delete:
      tags:
      - Spm
      operationId: Spm_RevokeOAuthToken
      parameters:
      - name: integrationRecordId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevokeOAuthTokenResponse'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm revoke OAuth token
      x-summary-source: derived
  /v1/spm/integrations/records/{integrationRecordId}/disposition:
    post:
      tags:
      - Spm
      operationId: Spm_SetGrantDisposition
      parameters:
      - name: integrationRecordId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetGrantDispositionRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GrantDispositionResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm set grant disposition
      x-summary-source: derived
  /v1/spm/integrations/records:
    get:
      tags:
      - Spm
      operationId: Spm_GetIntegrationRecords
      parameters:
      - name: pageNumber
        in: query
        schema:
          type: integer
          format: int32
          default: 1
        x-position: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 20
        x-position: 2
      - name: providerTypes
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: aiConfidenceLevels
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 4
      - name: latestOnly
        in: query
        schema:
          type: boolean
          default: true
        x-position: 5
      - name: userIdentifier
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: excludeOrgWideAdminConsents
        in: query
        schema:
          type: boolean
          default: true
        x-position: 7
      - name: externalApplicationId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 8
      - name: connectionId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 9
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRecordsResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get integration records
      x-summary-source: derived
  /v1/spm/integrations/changes:
    get:
      tags:
      - Spm
      operationId: Spm_GetIntegrationChanges
      parameters:
      - name: pageNumber
        in: query
        schema:
          type: integer
          format: int32
          default: 1
        x-position: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 20
        x-position: 2
      - name: providerTypes
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: operation
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: userIdentifier
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: analysisRunId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 6
      - name: fromDate
        in: query
        schema:
          type:
          - string
          - 'null'
          format: date-time
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationChangesResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get integration changes
      x-summary-source: derived
  /v1/spm/integrations/change-runs:
    get:
      tags:
      - Spm
      operationId: Spm_GetIntegrationChangeRuns
      parameters:
      - name: pageNumber
        in: query
        schema:
          type: integer
          format: int32
          default: 1
        x-position: 1
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 20
        x-position: 2
      - name: providerTypes
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationChangeRunsResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get integration change runs
      x-summary-source: derived
  /v1/spm/integrations/events:
    get:
      tags:
      - Spm
      operationId: Spm_GetAppIntegrationEvents
      parameters:
      - name: IncludeTotalCount
        in: query
        schema:
          type: boolean
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: connectionId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 4
      - name: clientId
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: securePostureProvider
        in: query
        schema:
          oneOf:
          - oneOf:
            - $ref: '#/components/schemas/SecurePostureProvider'
        x-position: 6
      - name: externalApplicationId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultV2OfSpmAppIntegrationEventResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get app integration events
      x-summary-source: derived
  /v1/spm/process-execution-events:
    get:
      tags:
      - Spm
      operationId: Spm_GetProcessExecutionEvents
      parameters:
      - name: IncludeTotalCount
        in: query
        schema:
          type: boolean
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: connectionId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 4
      - name: securePostureProvider
        in: query
        schema:
          oneOf:
          - oneOf:
            - $ref: '#/components/schemas/SecurePostureProvider'
        x-position: 5
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultV2OfSpmProcessExecutionEventResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get process execution events
      x-summary-source: derived
  /v1/spm/integrations/records/by-run/{analysisRunId}:
    get:
      tags:
      - Spm
      operationId: Spm_GetRecordsByRun
      parameters:
      - name: analysisRunId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: pageNumber
        in: query
        schema:
          type: integer
          format: int32
          default: 1
        x-position: 2
      - name: pageSize
        in: query
        schema:
          type: integer
          format: int32
          default: 50
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationRecordsResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get records by run
      x-summary-source: derived
  /v1/spm/integrations/analytics/top-apps:
    get:
      tags:
      - Spm
      operationId: Spm_GetTopAiApps
      parameters:
      - name: topCount
        in: query
        schema:
          type: integer
          format: int32
          default: 10
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAppUsageStatisticsResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get top ai apps
      x-summary-source: derived
  /v1/spm/integrations/analytics/usage-over-time:
    get:
      tags:
      - Spm
      operationId: Spm_GetAiAppUsageOverTime
      parameters:
      - name: daysBack
        in: query
        schema:
          type: integer
          format: int32
          default: 30
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiAppUsageOverTimeResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get ai app usage over time
      x-summary-source: derived
  /v1/spm/cloudflare/ai-app-catalog:
    get:
      tags:
      - Spm
      operationId: Spm_GetCloudflareAiAppCatalog
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: categoryId
        in: query
        schema:
          type:
          - integer
          - 'null'
          format: int32
        x-position: 6
      - name: categoryName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCloudflareAiAppCatalogResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get cloudflare ai app catalog
      x-summary-source: derived
  /v1/spm/cloudflare/ai-app-catalog/categories:
    get:
      tags:
      - Spm
      operationId: Spm_GetAiAppCatalogCategories
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get ai app catalog categories
      x-summary-source: derived
  /v1/spm/ai-app-catalog:
    get:
      tags:
      - Spm
      operationId: Spm_GetAiAppCatalog
      parameters:
      - name: IncludeTotalCount
        in: query
        schema:
          type: boolean
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 5
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: categoryName
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAiAppCatalogResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get ai app catalog
      x-summary-source: derived
  /v1/spm/cloudflare/ai-app-catalog/sync:
    post:
      tags:
      - Spm
      operationId: Spm_SyncCloudflareAiAppCatalog
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm sync cloudflare ai app catalog
      x-summary-source: derived
  /v1/spm/cloudflare/ai-app-catalog/by-names:
    get:
      tags:
      - Spm
      operationId: Spm_GetCloudflareAiAppsByNames
      parameters:
      - name: appNames
        in: query
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudflareAiAppCatalog'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get cloudflare ai apps by names
      x-summary-source: derived
  /v1/spm/cloudflare/ai-app-catalog/{cloudflareAppId}/block:
    post:
      tags:
      - Spm
      operationId: Spm_BlockCloudflareAiApp
      parameters:
      - name: cloudflareAppId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockCloudflareAiAppResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Spm block cloudflare ai app
      x-summary-source: derived
    delete:
      tags:
      - Spm
      operationId: Spm_UnblockCloudflareAiApp
      parameters:
      - name: cloudflareAppId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Spm unblock cloudflare ai app
      x-summary-source: derived
  /v1/spm/cloudflare/ai-app-catalog/{cloudflareAppId}/block-status:
    get:
      tags:
      - Spm
      operationId: Spm_GetCloudflareAiAppBlockStatus
      parameters:
      - name: cloudflareAppId
        in: path
        required: true
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudflareAiAppBlockStatusResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get cloudflare ai app block status
      x-summary-source: derived
  /v1/spm/cloudflare/ai-app-catalog/batch-block-status:
    post:
      tags:
      - Spm
      operationId: Spm_GetCloudflareAiAppBatchBlockStatus
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: cloudflareAppIds
        content:
          application/json:
            schema:
              type: array
              items:
                type: integer
                format: int32
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudflareAiAppBlockStatusResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Spm get cloudflare ai app batch block status
      x-summary-source: derived
components:
  schemas:
    GetCloudflareAiAppCatalogResponse:
      type: object
      additionalProperties: false
      properties:
        catalog:
          $ref: '#/components/schemas/PagedResultOfCloudflareAiAppCatalog'
        hasCustomerCloudflareConfiguration:
          type: boolean
    IntegrationRecordsResponse:
      type: object
      additionalProperties: false
      properties:
        records:
          type: array
          items:
            $ref: '#/components/schemas/SpmAppIntegrationRecord'
        totalCount:
          type: integer
          format: int32
        pageNumber:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        totalPages:
          type: integer
          format: int32
    GrantDispositionResponse:
      type: object
      additionalProperties: false
      properties:
        integrationRecordId:
          type: string
          format: guid
        state:
          $ref: '#/components/schemas/GrantDispositionState'
        previousState:
          oneOf:
          - $ref: '#/components/schemas/GrantDispositionState'
        reason:
          type:
          - string
          - 'null'
        decidedAt:
          type: string
          format: date-time
    SpmSecurityScoreStatus:
      type: string
      description: ''
      x-enumNames:
      - NotAnalyzed
      - Analyzed
      - Error
      - NotApplicable
      enum:
      - NotAnalyzed
      - Analyzed
      - Error
      - NotApplicable
    SpmAppIntegrationEventSource:
      type: string
      description: ''
      x-enumNames:
      - Monitor
      - Alert
      enum:
      - Monitor
      - Alert
    ProviderConnectionSchemaResponse:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProviderConnectionSchema'
    ExternalWorkflowVersion:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        pipelineId:
          type: string
          format: guid
        majorVersion:
          type: integer
          format: int32
        minorVersion:
          type: integer
          format: int32
        versionNumber:
          type: string
        isDraftVersion:
          type: boolean
        isLatest:
          type: boolean
        alignment:
          type: string
        steps:
          type: array
          items:
            $ref: '#/components/schemas/ExternalWorkflowStep'
    DependencyObject:
      type: object
      additionalProperties: false
      properties:
        parentId:
          type: string
        parentHandleId:
          type: string
        handleId:
          type: string
    SpmProviderGraphNode:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        agents:
          type: array
          items:
            $ref: '#/components/schemas/SpmAgentSummary'
    SpmAppIntegrationChange:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - providerType
        - analysisRunId
        - operation
        - userIdentifier
        - occurredAt
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          connectionId:
            type:
            - string
            - 'null'
            format: guid
          providerType:
            $ref: '#/components/schemas/IntegrationProviderType'
          analysisRunId:
            type: string
            format: guid
            minLength: 1
          operation:
            $ref: '#/components/schemas/SpmAppIntegrationChangeOperation'
          userIdentifier:
            type: string
            maxLength: 255
            minLength: 1
          clientId:
            type:
            - string
            - 'null'
            maxLength: 255
          appName:
            type:
            - string
            - 'null'
            maxLength: 500
          scopes:
            type:
            - string
            - 'null'
          previousScopes:
            type:
            - string
            - 'null'
          grantId:
            type:
            - string
            - 'null'
            maxLength: 500
          isAIService:
            type:
            - boolean
            - 'null'
          aiServiceConfidence:
            type:
            - number
            - 'null'
            format: double
          occurredAt:
            type: string
            format: date-time
          isGenesisBaseline:
            type:
            - boolean
            - 'null'
    PagedResultV2OfAiAppCatalogItemDto:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/AiAppCatalogItemDto'
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
        hasMore:
          type:
          - boolean
          - 'null'
    BaseOptionalTenantEntity:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        x-abstract: true
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type:
            - string
            - 'null'
            format: guid
    PagedResultOfCloudflareAiAppCatalog:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/CloudflareAiAppCatalog'
        totalCount:
          type: integer
          format: int32
    ConnectionUpdateRequest:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        connection:
          type:
          - object
          - 'null'
          additionalProperties: {}
    SpmComponentType:
      type: string
      description: ''
      x-enumNames:
      - Undefined
      - AiModel
      - SpmAgent
      - Tool
      - McpServer
      - Knowledge
      enum:
      - Undefined
      - AiModel
      - SpmAgent
      - Tool
      - McpServer
      - Knowledge
    SpmTranscriptMessageResponse:
      type: object
      additionalProperties: false
      properties:
        activityId:
          type:
          - string
          - 'null'
        replyToId:
          type:
          - string
          - 'null'
        role:
          $ref: '#/components/schemas/SpmTranscriptMessageRole'
        timestamp:
          type:
          - string
          - 'null'
          format: date-time
        channel:
          type:
          - string
          - 'null'
        textFormat:
          type:
          - string
          - 'null'
        text:
          type: string
        isDesignMode:
          type: boolean
    SpmAppIntegrationAnalysisRun:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - providerType
        - status
        - analyzedIdentifier
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          connectionId:
            type:
            - string
            - 'null'
            format: guid
          providerType:
            $ref: '#/components/schemas/IntegrationProviderType'
          status:
            $ref: '#/components/schemas/IntegrationAnalysisRunStatus'
          analyzedIdentifier:
            type: string
            maxLength: 255
            minLength: 1
          totalUsers:
            type: integer
            format: int32
          totalIntegrations:
            type: integer
            format: int32
          errors:
            type:
            - string
            - 'null'
          startedAt:
            type:
            - string
            - 'null'
            format: date-time
          endedAt:
            type:
            - string
            - 'null'
            format: date-time
    ConnectionTestDetails:
      type: object
      additionalProperties: false
      properties:
        systemName:
          type: string
        responseTimeMs:
          type: integer
          format: int32
    ExternalWorkflowStep:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        stepType:
          type: string
        stepTitle:
          type:
          - string
          - 'null'
        dependenciesObject:
          type: array
          items:
            $ref: '#/components/schemas/DependencyObject'
        handles:
          type: array
          items:
            $ref: '#/components/schemas/NodeHandle'
        pipelineId:
          type: string
          format: guid
        projectId:
          type:
          - string
          - 'null'
          format: guid
        alignment:
          type: string
        position:
          $ref: '#/components/schemas/Position'
        width:
          type:
          - integer
          - 'null'
          format: int32
        height:
          type:
          - integer
          - 'null'
          format: int32
        metadata:
          $ref: '#/components/schemas/ExternalNodeMetadata'
    AiAppUsageStatisticsResponse:
      type: object
      additionalProperties: false
      properties:
        topApps:
          type: array
          items:
            $ref: '#/components/schemas/TopAiAppByUsers'
    ConnectionAffectedEvaluationsResponse:
      type: object
      additionalProperties: false
      properties:
        total:
          type: integer
          format: int32
        evaluations:
          type: array
          items:
            $ref: '#/components/schemas/AffectedEvaluationSummary'
    AgentRefreshResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        status:
          type: string
        message:
          type: string
        timestamp:
          type: string
          format: date-time
        details:
          $ref: '#/components/schemas/AgentRefreshDetails'
    SpmTranscriptStatus:
      type: string
      description: ''
      x-enumNames:
      - NotCollected
      - Pending
      - Available
      - Expired
      - Unavailable
      enum:
      - NotCollected
      - Pending
      - Available
      - Expired
      - Unavailable
    AgentSecureDetails:
      type: object
      additionalProperties: false
      properties:
        agentId:
          type: string
          format: guid
        workflowId:
          type: string
        modelId:
          type: string
        aiProviders:
          type: string
        aiModels:
          type: string
        gatewayUrl:
          type: string
        responseTimeMs:
          type: integer
          format: int32
        credentialsCreated:
          type: integer
          format: int32
        credentialNames:
          type:
          - string
          - 'null'
        bedrockAgentId:
          type:
          - string
          - 'null'
    SpmAgentUsageEventResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        spmAgentId:
          type: string
          format: guid
        securePostureProvider:
          $ref: '#/components/schemas/SecurePostureProvider'
        occurredAt:
          type: string
          format: date-time
        actorDisplayName:
          type:
          - string
          - 'null'
        actorEmail:
          type:
          - string
          - 'null'
        channel:
          type:
          - string
          - 'null'
        transcriptStatus:
          $ref: '#/components/schemas/SpmTranscriptStatus'
        transcriptCollectedAt:
          type:
          - string
          - 'null'
          format: date-time
        transcriptExpiresAt:
          type:
          - string
          - 'null'
          format: date-time
        transcriptExpiredAt:
          type:
          - string
          - 'null'
          format: date-time
        transcriptStatusReason:
          type:
          - string
          - 'null'
    ConnectionCreateResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
    SpmAppIntegrationChangeRunSummary:
      type: object
      additionalProperties: false
      properties:
        analysisRunId:
          type: string
          format: guid
        connectionId:
          type:
          - string
          - 'null'
          format: guid
        providerType:
          $ref: '#/components/schemas/IntegrationProviderType'
        occurredAt:
          type: string
          format: date-time
        detectedCount:
          type: integer
          format: int32
        scopesChangedCount:
          type: integer
          format: int32
        revokedCount:
          type: integer
          format: int32
        totalCount:
          type: integer
          format: int32
    SpmSettingsResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        tenantId:
          type: string
          format: guid
        defaultGatewayConfigurationId:
          type:
          - string
          - 'null'
          format: guid
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        userId:
          type:
          - string
          - 'null'
          format: guid
    UpdateSpmSettingsRequest:
      type: object
      additionalProperties: false
      properties:
        defaultGatewayConfigurationId:
          type:
          - string
          - 'null'
          format: guid
    SpmAppIntegrationChangeOperation:
      type: string
      description: ''
      x-enumNames:
      - Detected
      - ScopesChanged
      - Revoked
      enum:
      - Detected
      - ScopesChanged
      - Revoked
    AgentResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        securePostureProvider:
          $ref: '#/components/schemas/SecurePostureProvider'
        spmConnectionId:
          type: string
          format: guid
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        agentDictionary:
          type: object
          additionalProperties: {}
        externalId:
          type: string
        versionId:
          type:
          - string
          - 'null'
        isActive:
          type:
          - boolean
          - 'null'
        nodesCount:
          type:
          - integer
          - 'null'
          format: int32
        aiModelNames:
          type:
          - string
          - 'null'
        aiProviderNames:
          type:
          - string
          - 'null'
        aiNodesCount:
          type:
          - integer
          - 'null'
          format: int32
        aiSecurableNodesCount:
          type:
          - integer
          - 'null'
          format: int32
        securedNodesCount:
          type:
          - integer
          - 'null'
          format: int32
        credentialsCount:
          type:
          - integer
          - 'null'
          format: int32
        externalCreatedAt:
          type:
          - string
          - 'null'
          format: date-time
        externalCreatedBy:
          type:
          - string
          - 'null'
        externalOwner:
          type:
          - string
          - 'null'
        externalModifiedBy:
          type:
          - string
          - 'null'
        externalPublishedAt:
          type:
          - string
          - 'null'
          format: date-time
        language:
          type:
          - string
          - 'null'
        authenticationMode:
          type:
          - string
          - 'null'
        authenticationTrigger:
          type:
          - string
          - 'null'
        accessControlPolicy:
          type:
          - string
          - 'null'
        externalStatus:
          type:
          - string
          - 'null'
        owningBusinessUnit:
          type:
          - string
          - 'null'
        externalPublishedBy:
          type:
          - string
          - 'null'
        externalUpdatedAt:
          type:
          - string
          - 'null'
          format: date-time
        securedAt:
          type:
          - string
          - 'null'
          format: date-time
        secureApiKeyId:
          type:
          - string
          - 'null'
          format: guid
        securedStatus:
          $ref: '#/components/schemas/SecurePostureStatus'
        securedNote:
          type:
          - string
          - 'null'
        refreshedAt:
          type:
          - string
          - 'null'
          format: date-time
        securityScore:
          type:
          - number
          - 'null'
          format: double
        securityScoreStatus:
          oneOf:
          - $ref: '#/components/schemas/SpmSecurityScoreStatus'
        securityAnalysisDetails:
          type:
          - string
          - 'null'
        securityAnalyzedAt:
          type:
          - string
          - 'null'
          format: date-time
        isAutonomous:
          type:
          - boolean
          - 'null'
        platformUrl:
          type:
          - string
          - 'null'
        sourceEnvironment:
          type:
          - string
          - 'null'
        orgWideAccessible:
          type:
          - boolean
          - 'null'
        publiclyAccessible:
          type:
          - boolean
          - 'null'
        sharedWithUserCount:
          type:
          - integer
          - 'null'
          format: int32
        sharedWithUsers:
          type:
          - string
          - 'null'
        resourceCategory:
          type:
          - string
          - 'null'
        resourceType:
          type:
          - string
          - 'null'
        platformResourceId:
          type:
          - string
          - 'null'
        agentAuthenticationSetting:
          type:
          - string
          - 'null'
    AiAppCatalogItemDto:
      type: object
      additionalProperties: false
      required:
      - id
      - name
      - categoryNames
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        categoryNames:
          type: array
          items:
            type: string
        description:
          type:
          - string
          - 'null'
        url:
          type:
          - string
          - 'null'
        cloudflareAppId:
          type:
          - integer
          - 'null'
          format: int32
    SpmAppIntegrationRecordKind:
      type: string
      description: ''
      x-enumNames:
      - OAuthGrant
      - SsoAssignment
      enum:
      - OAuthGrant
      - SsoAssignment
    ConnectionResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        securePostureProvider:
          $ref: '#/components/schemas/SecurePostureProvider'
        userId:
          type:
          - string
          - 'null'
          format: guid
        tenantId:
          type: string
          format: guid
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        connection:
          type: object
          additionalProperties: {}
    ConnectionAgentCountResponse:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
        securePostureProvider:
          $ref: '#/components/schemas/SecurePostureProvider'
        agentCount:
          type: integer
          format: int32
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        lastAgentRefreshedAt:
          type:
          - string
          - 'null'
          format: date-time
        healthStatus:
          type: string
        connection:
          type: object
          additionalProperties: {}
    PagedResultV2OfSpmAgentUsageEventResponse:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SpmAgentUsageEventResponse'
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
        hasMore:
          type:
          - boolean
          - 'null'
    DiscoveryPersonKeyKind:
      type: string
      description: ''
      x-enumNames:
      - Email
      - Upn
      - Opaque
      - Synthetic
      enum:
      - Email
      - Upn
      - Opaque
      - Synthetic
    WorkflowMetadata:
      type: object
      additionalProperties: false
      properties:
        nodesCount:
          type: integer
          format: int32
        aiNodesCount:
          type: integer
          format: int32
        securableNodesCount:
          type: integer
          format: int32
        securedNodesCount:
          type: integer
          format: int32
        hasLoops:
          type: boolean
        hasMergeNodes:
          type: boolean
        triggerCount:
          type: integer
          format: int32
        tags:
          type: array
          items:
            type: string
    BaseAuditEntity:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        userId:
          type:
          - string
          - 'null'
          format: guid
    ExternalNodeMetadata:
      type: object
      additionalProperties: false
      properties:
        externalType:
          type: string
        category:
          type: string
        typeVersion:
          type:
          - number
          - 'null'
          format: float
        disabled:
          type: boolean
        isTrigger:
          type: boolean
        notes:
          type:
          - string
          - 'null'
        color:
          type:
          - string
          - 'null'
        aiModelName:
          type:
          - string
          - 'null'
        aiProviderName:
          type:
          - string
          - 'null'
        securityStatus:
          type: string
        isSecurable:
          type: boolean
        flowId:
          type:
          - string
          - 'null'
    AgentSecureResponse:
      type: object
[...]
