openapi: 3.2.0
info:
  title: Airia Web SCIM API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: SCIM
paths:
  /v1/Scim/sync:
    post:
      tags:
      - SCIM
      operationId: Scim_SyncUsersOfOrganizationDomain
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Scim sync users of organization domain
      x-summary-source: derived
  /v1/Scim/token:
    get:
      tags:
      - SCIM
      operationId: Scim_GenerateToken
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimTokenResponse'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Scim generate token
      x-summary-source: derived
  /v1/Scim/test-token:
    post:
      tags:
      - SCIM
      operationId: Scim_TestToken
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScimTokenTestResult'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Scim test token
      x-summary-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    KeycloakApiTokenDto:
      type: object
      additionalProperties: false
      properties:
        accessToken:
          type: string
        idToken:
          type: string
        expiresIn:
          type: integer
          format: int32
        refreshExpiresIn:
          type: integer
          format: int32
        refreshToken:
          type: string
        tokenType:
          type: string
        not-before-policy:
          type: integer
          format: int32
        sessionState:
          type: string
        scope:
          type: string
    ScimTokenTestResult:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
        error:
          type:
          - string
          - 'null'
    ScimTokenResponse:
      type: object
      additionalProperties: false
      properties:
        keycloakApiTokenDto:
          $ref: '#/components/schemas/KeycloakApiTokenDto'
        scimResourceBaseUrl:
          type: string
        expiryDate:
          type: string
          format: date-time
        daysUntilExpiry:
          type: integer
          format: int32
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
