openapi: 3.2.0
info:
  title: Airia Web Text To Speech API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: Text To Speech
paths:
  /v1/TextToSpeech:
    post:
      tags:
      - Text To Speech
      operationId: TextToSpeech_SynthesizeSpeech2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Text to speech synthesize speech2
      x-summary-source: derived
  /v1/TextToSpeech/Stream:
    post:
      tags:
      - Text To Speech
      operationId: TextToSpeech_SynthesizeSpeechStream2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        400:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Text to speech synthesize speech stream2
      x-summary-source: derived
components:
  schemas:
    TextToSpeechRequest:
      type: object
      additionalProperties: false
      properties:
        text:
          type: string
        voice:
          type:
          - string
          - 'null'
        model:
          type:
          - string
          - 'null'
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
