openapi: 3.2.0
info:
  title: Airia Web Risk Artifact API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: RiskArtifact
paths:
  /v1/risk-registry/{riskId}/artifacts:
    post:
      tags:
      - RiskArtifact
      operationId: RiskArtifact_CreateArtifact
      parameters:
      - name: riskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRiskArtifactRequest'
        required: true
        x-position: 2
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RiskArtifactDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Risk artifact create artifact
      x-summary-source: derived
    get:
      tags:
      - RiskArtifact
      operationId: RiskArtifact_GetArtifacts
      parameters:
      - name: riskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RiskArtifactDto'
      summary: Risk artifact get artifacts
      x-summary-source: derived
  /v1/risk-registry/{riskId}/artifacts/{artifactId}:
    delete:
      tags:
      - RiskArtifact
      operationId: RiskArtifact_DeleteArtifact
      parameters:
      - name: riskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: artifactId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Risk artifact delete artifact
      x-summary-source: derived
  /v1/risk-registry/{riskId}/artifacts/{artifactId}/download:
    get:
      tags:
      - RiskArtifact
      operationId: RiskArtifact_GetArtifactDownloadUrl
      parameters:
      - name: riskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: artifactId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema: {}
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Risk artifact get artifact download url
      x-summary-source: derived
components:
  schemas:
    CreateRiskArtifactRequest:
      type: object
      additionalProperties: false
      required:
      - artifactType
      - fileId
      - fileName
      properties:
        artifactType:
          type: string
          maxLength: 200
          minLength: 1
        fileId:
          type: string
          maxLength: 100
          minLength: 1
        fileName:
          type: string
          maxLength: 500
          minLength: 1
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    RiskArtifactDto:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        riskMetadataId:
          type: string
          format: guid
        artifactType:
          type: string
        fileId:
          type: string
        fileName:
          type: string
        userId:
          type:
          - string
          - 'null'
          format: guid
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
