openapi: 3.2.0
info:
  title: Airia Web Pipelines Config API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: PipelinesConfig
paths:
  /v1/PipelinesConfig:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetPipelines2
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: projectId
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: modelCredentialSourceType
        in: query
        schema:
          oneOf:
          - oneOf:
            - $ref: '#/components/schemas/SourceType'
        x-position: 7
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pipeline'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get pipelines2
      x-summary-source: derived
    post:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_PostPipeline2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: pipelineRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePipelineRequest'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPipelineDto'
        500:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config post pipeline2
      x-summary-source: derived
  /v1/PipelinesConfig/batch-names:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetPipelineNamesByIds2
      parameters:
      - name: ids
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityNamesResult'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get pipeline names by ids2
      x-summary-source: derived
  /v1/PipelinesConfig/withSchedule:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetPipelinesWithSchedule2
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: projectId
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPaginatedPipelineWithScheduleDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get pipelines with schedule2
      x-summary-source: derived
  /v1/PipelinesConfig/summary:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetAgentSummary2
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: agentFilter
        in: query
        schema:
          $ref: '#/components/schemas/AgentSummaryFilter'
        x-position: 6
      - name: agentAccessibleAsFilter
        in: query
        schema:
          oneOf:
          - $ref: '#/components/schemas/AgentAccessibleAsFilter'
        x-position: 7
      - name: projectId
        x-originalName: projectIds
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        x-position: 8
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPaginatedPipelineDtoWithClassifications'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get agent summary2
      x-summary-source: derived
  /v1/PipelinesConfig/{id}:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetPipeline2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPipelineDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get pipeline2
      x-summary-source: derived
    put:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_PutPipeline2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: X-API-Key
        x-originalName: apiKey
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: pipeline
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePipelineRequest'
        required: true
        x-position: 2
      responses:
        204:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config put pipeline2
      x-summary-source: derived
    delete:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_DeletePipeline2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentDeletionBlockedDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config delete pipeline2
      x-summary-source: derived
  /v1/PipelinesConfig/{id}/editor-shell:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetPipelineEditorShell2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineEditorShellDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get pipeline editor shell2
      x-summary-source: derived
  /v1/PipelinesConfig/{id}/editor-icon:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetPipelineEditorIcon2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get pipeline editor icon2
      x-summary-source: derived
  /v1/PipelinesConfig/{id}/editor-versions:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetPipelineEditorVersions2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineEditorVersionsDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get pipeline editor versions2
      x-summary-source: derived
  /v1/PipelinesConfig/{pipelineVersionId}/report:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetReportByPipelineVersionId2
      parameters:
      - name: pipelineVersionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineIntegrations'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get report by pipeline version id2
      x-summary-source: derived
  /v1/PipelinesConfig/{id}/integrations:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetPipelineIntegrations2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineIntegrations'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get pipeline integrations2
      x-summary-source: derived
  /v1/PipelinesConfig/{pipelineVersionId}/has-image-support:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_HasImageSupport2
      parameters:
      - name: pipelineVersionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: boolean
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config has image support2
      x-summary-source: derived
  /v1/PipelinesConfig/from-version:
    post:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_PostPipelineFromVersion2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: pipelineRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePipelineRequest'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineCloneCreatedDto'
        500:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config post pipeline from version2
      x-summary-source: derived
  /v1/PipelinesConfig/bulk-delete:
    post:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_BulkDeletePipelines2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkDeletePipelinesRequest'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkDeletePipelinesResult'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config bulk delete pipelines2
      x-summary-source: derived
  /v1/PipelinesConfig/{id}/duplicate:
    post:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_DuplicatePipeline2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPipelineDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config duplicate pipeline2
      x-summary-source: derived
  /v1/PipelinesConfig/{id}/versions/{versionId}/publish:
    post:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_PublishVersion2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: versionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineVersion'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config publish version2
      x-summary-source: derived
  /v1/PipelinesConfig/{id}/tags:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetVersionTags2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PipelineVersionTagDto'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get version tags2
      x-summary-source: derived
    post:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_CreateVersionTag2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePipelineVersionTagRequest'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineVersionTagDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config create version tag2
      x-summary-source: derived
  /v1/PipelinesConfig/{id}/tags/{tag}:
    put:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_MoveVersionTag2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: tag
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MovePipelineVersionTagRequest'
        required: true
        x-position: 3
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineVersionTagDto'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        409:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config move version tag2
      x-summary-source: derived
    delete:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_DeleteVersionTag2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: tag
        in: path
        required: true
        schema:
          type: string
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config delete version tag2
      x-summary-source: derived
  /v1/PipelinesConfig/validate:
    post:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetPipelineValidationResultByVersion2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: pipelineRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePipelineRequest'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get pipeline validation result by version2
      x-summary-source: derived
  /v1/PipelinesConfig/export/{id}:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_ExportPipeline2
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: Tagline
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: Description
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: Industry
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: Tasks
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: CredentialExportOption
        in: query
        schema:
          $ref: '#/components/schemas/CredentialExportOption'
        x-position: 6
      - name: DataSourceExportOption
        in: query
        schema:
          $ref: '#/components/schemas/DataSourceExportOption'
        x-position: 7
      - name: Country
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 8
      - name: SquashPromptSegments
        in: query
        schema:
          type: boolean
        x-position: 9
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportPipelineDefinition'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExportError'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config export pipeline2
      x-summary-source: derived
  /v1/PipelinesConfig/pipeline-limit:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_CheckPipelineLimit2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineLimitResponse'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config check pipeline limit2
      x-summary-source: derived
  /v1/PipelinesConfig/generateForwardingEmail:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetForwardEmailIdForEMailConnector2
      parameters:
      - name: projectId
        in: query
        schema:
          type: string
          format: guid
        x-position: 1
      - name: pipelineId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
          content:
            application/json:
              schema:
                type: string
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get forward email id for EMail connector2
      x-summary-source: derived
  /v1/PipelinesConfig/tags:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetPipelineTags2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipelines config get pipeline tags2
      x-summary-source: derived
  /v2/PipelinesConfig/summary:
    get:
      tags:
      - PipelinesConfig
      operationId: PipelinesConfig_GetAgentSummary22
      parameters:
      - name: IncludeTotalCount
        in: query
        schema:
          type: boolean
        x-position: 1
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 3
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 4
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 5
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 6
      - name: agentFilter
        in: query
        schema:
          $ref: '#/components/schemas/AgentSummaryFilter'
        x-position: 7
      - name: agentAccessibleAsFilter
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgentAccessibleAsFilter'
        x-position: 8
      - name: projectId
        x-originalName: projectIds
        in: query
        style: form
        explode: true
        schema:
          type:
          - array
          - 'null'
          items:
            type: string
            format: guid
        x-position: 9
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultV2OfAgentSummaryDtoV2'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Pipelines config get agent summary22
      x-summary-source: derived
components:
  schemas:
    AiAssetSourceType:
      type: string
      description: ''
      x-enumNames:
      - Airia
      - Aws
      - Azure
      - Global
      - N8n
      - LangGraph
      - CopilotStudio
      - GitHub
      - Governance
      - GoogleWorkspace
      - MicrosoftGraph
      - EndpointAgent
      - Browser
      - CrowdStrike
      - Okta
      - CrowdStrikeEndpoint
      - MicrosoftDefenderCloudApps
      - MicrosoftDefenderXdr
      - SentinelOne
      - Netskope
      - Zscaler
      - Gateway
      - AzureDevOps
      - Gcp
      - Databricks
      - Snowflake
      - Glean
      - Atlan
      - ServiceNow
      - SalesforceAgentforce
      - CrewAi
      - AzurePowerApps
      - GeminiEnterprise
      - GoogleAgentPlatform
      - Purview
      - AzureFunctionApps
      - GitLab
      enum:
      - Airia
      - Aws
      - Azure
      - Global
      - N8n
      - LangGraph
      - CopilotStudio
      - GitHub
      - Governance
      - GoogleWorkspace
      - MicrosoftGraph
      - EndpointAgent
      - Browser
      - CrowdStrike
      - Okta
      - CrowdStrikeEndpoint
      - MicrosoftDefenderCloudApps
      - MicrosoftDefenderXdr
      - SentinelOne
      - Netskope
      - Zscaler
      - Gateway
      - AzureDevOps
      - Gcp
      - Databricks
      - Snowflake
      - Glean
      - Atlan
      - ServiceNow
      - SalesforceAgentforce
      - CrewAi
      - AzurePowerApps
      - GeminiEnterprise
      - GoogleAgentPlatform
      - Purview
      - AzureFunctionApps
      - GitLab
    MitigationStepStatus:
      type: string
      description: ''
      x-enumNames:
      - New
      - InProgress
      - Completed
      - Failed
      enum:
      - New
      - InProgress
      - Completed
      - Failed
    RiskMetadata:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          classificationAssignmentId:
            type: string
            format: guid
          classificationAssignment:
            oneOf:
            - $ref: '#/components/schemas/ClassificationAssignment'
          description:
            type:
            - string
            - 'null'
          inherentRiskScore:
            type:
            - integer
            - 'null'
            format: int32
          residualRiskScore:
            type:
            - integer
            - 'null'
            format: int32
          confidence:
            type:
            - string
            - 'null'
            maxLength: 50
          rationale:
            type:
            - string
            - 'null'
            maxLength: 2000
          euAiAct:
            oneOf:
            - $ref: '#/components/schemas/EuAiActCategory'
          nistAiRmf:
            oneOf:
            - $ref: '#/components/schemas/NistAiRmfTier'
          iso42001:
            oneOf:
            - $ref: '#/components/schemas/Iso42001Level'
          status:
            $ref: '#/components/schemas/RiskRegistryStatus'
          riskDomainId:
            type:
            - string
            - 'null'
            format: guid
          riskDomain:
            oneOf:
            - $ref: '#/components/schemas/RiskDomain'
          riskSubDomainId:
            type:
            - string
            - 'null'
            format: guid
          riskSubDomain:
            oneOf:
            - $ref: '#/components/schemas/RiskSubDomain'
          type:
            oneOf:
            - $ref: '#/components/schemas/RiskRegistryType'
          tenantId:
            type: string
            format: guid
          riskProfileId:
            type:
            - string
            - 'null'
            format: guid
          riskProfile:
            oneOf:
            - $ref: '#/components/schemas/RiskProfile'
          user:
            oneOf:
            - $ref: '#/components/schemas/User'
          mitigationSteps:
            type: array
            items:
              $ref: '#/components/schemas/MitigationStep'
          acceptanceDecision:
            oneOf:
            - $ref: '#/components/schemas/AcceptanceDecision'
          avoidanceDecision:
            oneOf:
            - $ref: '#/components/schemas/RiskAvoidanceDecision'
          transferDecision:
            oneOf:
            - $ref: '#/components/schemas/RiskTransferDecision'
          riskControls:
            type: array
            items:
              $ref: '#/components/schemas/RiskControl'
          artifacts:
            type: array
            items:
              $ref: '#/components/schemas/RiskArtifact'
          catalogVersion:
            type:
            - string
            - 'null'
            maxLength: 50
    MitigationArtifactEvidenceState:
      type: string
      description: ''
      x-enumNames:
      - Qualifying
      - Candidate
      - Missing
      - InProgress
      enum:
      - Qualifying
      - Candidate
      - Missing
      - InProgress
    ConnectionCopilotStudio:
      type: object
      additionalProperties: false
      properties:
        tenantId:
          type:
          - string
          - 'null'
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        certificateData:
          type:
          - string
          - 'null'
        certificatePassword:
          type:
          - string
          - 'null'
        useCertificateAuth:
          type: boolean
        environmentUrl:
          type:
          - string
          - 'null'
        webhookThreatDetectionEnabled:
          type: boolean
        allowedWebhookAppIds:
          type: array
          items:
            type: string
        collectConversationTranscripts:
          type: boolean
        transcriptCollectionStartedAt:
          type:
          - string
          - 'null'
          format: date-time
    SpmComponentType:
      type: string
      description: ''
      x-enumNames:
      - Undefined
      - AiModel
      - SpmAgent
      - Tool
      - McpServer
      - Knowledge
      enum:
      - Undefined
      - AiModel
      - SpmAgent
      - Tool
      - McpServer
      - Knowledge
    ScheduleModel:
      type: object
      additionalProperties: false
      properties:
        second:
          type: integer
          format: int32
          maximum: 59
          minimum: 0
        minute:
          type: integer
          format: int32
          maximum: 59
          minimum: 0
        hour:
          type: integer
          format: int32
          maximum: 23
          minimum: 0
        executionHour:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 23
          minimum: 0
        day:
          type: integer
          format: int32
          maximum: 31
          minimum: 1
        month:
          type: integer
          format: int32
          maximum: 12
          minimum: 1
        scheduleType:
          $ref: '#/components/schemas/ScheduleType'
        daysOfWeek:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DayOfWeek'
        monthlyWeekOccurrence:
          oneOf:
          - $ref: '#/components/schemas/MonthlyWeekOccurrence'
        timeZoneId:
          type:
          - string
          - 'null'
          maxLength: 100
          minLength: 0
        year:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2099
          minimum: 1970
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
    AgentDetailItemDefinition:
      type: object
      additionalProperties: false
      properties:
        itemType:
          type: string
        name:
          type: string
        value:
          type: string
        options:
          type:
          - array
          - 'null'
          items:
            type: string
    PromptDefinition:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        versionChangeDescription:
          type: string
        promptMessage:
          type:
          - string
          - 'null'
        isAgentSpecific:
          type:
          - boolean
          - 'null'
        isGlobal:
          type:
          - boolean
          - 'null'
        id:
          type: string
          format: guid
    AiAssetAggregateSource:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          source:
            $ref: '#/components/schemas/AiAssetSourceType'
          timeReference:
            type:
            - string
            - 'null'
            format: date-time
          syncParameters:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AiAssetSourceSyncParameters'
    MitigationCapability:
      type: string
      description: ''
      x-enumNames:
      - Invocable
      - TrafficInterposed
      - ConfigControlledLlmRouting
      - ConfigControlledMcpRouting
      - ConfigControlledMcpSanction
      - ConfigControlledGateway
      - Observed
      - Declared
      enum:
      - Invocable
      - TrafficInterposed
      - ConfigControlledLlmRouting
      - ConfigControlledMcpRouting
      - ConfigControlledMcpSanction
      - ConfigControlledGateway
      - Observed
      - Declared
    DeploymentDefinition:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
        deploymentIcon:
          type:
          - string
          - 'null'
        deploymentDescription:
          type: string
        userPrompts:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UserPromptDefinition'
        deploymentPrompt:
          type:
          - string
          - 'null'
        isRecommended:
          type: boolean
        deploymentType:
          type: string
        conversationType:
          type: string
        aboutJson:
          type:
          - string
          - 'null'
        supportedInputModes:
          type:
          - array
          - 'null'
          items:
            type: string
        browserExtensionConfig:
          oneOf:
          - $ref: '#/components/schemas/BrowserExtensionConfigDefinition'
        displayConsumptionInfo:
          type: boolean
    SpmComponent:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - spmAgentId
        - name
        - externalId
        - securePostureProvider
        - componentType
        - componentJson
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          spmAgentId:
            type: string
            format: guid
            minLength: 1
          name:
            type: string
            minLength: 1
          externalId:
            type: string
            minLength: 1
          aiModelName:
            type:
            - string
            - 'null'
          aiProviderName:
            type:
            - string
            - 'null'
          aiSecurable:
            type:
            - boolean
            - 'null'
          securedStatus:
            $ref: '#/components/schemas/SecurePostureStatus'
          securedNote:
            type:
            - string
            - 'null'
          securedAt:
            type:
            - string
            - 'null'
            format: date-time
          secureApiKeyId:
            type:
            - string
            - 'null'
            format: guid
          securePostureProvider:
            $ref: '#/components/schemas/SecurePostureProvider'
          componentType:
            $ref: '#/components/schemas/SpmComponentType'
          externalType:
            type:
            - string
            - 'null'
          externalTypeVersion:
            type:
            - number
            - 'null'
            format: float
          category:
            type:
            - string
            - 'null'
            maxLength: 100
          externalOwner:
            type:
            - string
            - 'null'
            maxLength: 255
          externalCreatedAt:
            type:
            - string
            - 'null'
            format: date-time
          externalModifiedAt:
            type:
            - string
            - 'null'
            format: date-time
          language:
            type:
            - string
            - 'null'
            maxLength: 100
          externalCreatedBy:
            type:
            - string
            - 'null'
            maxLength: 255
          externalModifiedBy:
            type:
            - string
            - 'null'
            maxLength: 255
          reusePolicy:
            type:
            - string
            - 'null'
            maxLength: 50
          credentialsCount:
            type:
            - integer
            - 'null'
            format: int32
          parametersCount:
            type:
            - integer
            - 'null'
            format: int32
          componentJson:
            type: string
            minLength: 1
          endUserAuthenticationSetting:
            type:
            - string
            - 'null'
            maxLength: 100
          knowledgeSourceType:
            type:
            - string
            - 'null'
            maxLength: 100
          knowledgeSourceLocation:
            type:
            - string
            - 'null'
            maxLength: 2048
          spmAgent:
            $ref: '#/components/schemas/SpmAgent'
          gatewayApiKey:
            oneOf:
            - $ref: '#/components/schemas/GatewayApiKeyEntity'
    EvalSuiteEvaluator:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - evaluatorKey
        - displayName
        - descriptorJson
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type:
            - string
            - 'null'
            format: guid
          evalSuiteId:
            type: string
            format: guid
          evalSuite:
            $ref: '#/components/schemas/EvalSuite'
          evaluatorKey:
            type: string
            maxLength: 128
            minLength: 1
          displayName:
            type: string
            maxLength: 128
            minLength: 1
          isEnabled:
            type: boolean
          isHidden:
            type: boolean
          descriptorJson:
            type: string
            minLength: 1
    AssessmentTemplateCategory:
      type: string
      description: ''
      x-enumNames:
      - Exploratory
      - Attestation
      enum:
      - Exploratory
      - Attestation
    AssignedAgentDefinition:
      type: object
      additionalProperties: false
      properties:
        deploymentId:
          type: string
          format: guid
        agentName:
          type: string
        agentUrl:
          type: string
        isConfigurable:
          type: boolean
    EvaluatorSource:
      type: string
      description: ''
      x-enumNames:
      - Airia
      - AzureFoundry
      enum:
      - Airia
      - AzureFoundry
    QuickActionType:
      type: string
      description: ''
      x-enumNames:
      - Page
      - Selection
      - PageSource
      enum:
      - Page
      - Selection
      - PageSource
    ConnectionSentinelOne:
      type: object
      additionalProperties: false
      properties:
        consoleUrl:
          type:
          - string
          - 'null'
        apiToken:
          type:
          - string
          - 'null'
    UpdatePipelineRequest:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        backupPipelineId:
          type:
          - string
          - 'null'
          format: guid
        name:
          type:
          - string
          - 'null'
        executionName:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        markdownDescription:
          type:
          - string
          - 'null'
        agentIconId:
          type:
          - string
          - 'null'
          format: guid
        agentUnicodeIcon:
          type:
          - string
          - 'null'
        projectId:
          type: string
          format: guid
        activeVersionId:
          type:
          - string
          - 'null'
          format: guid
        agentDetails:
          type:
          - object
          - 'null'
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/AgentDetailItem'
        industry:
          type:
          - string
          - 'null'
        subIndustries:
          type:
          - array
          - 'null'
          items:
            type: string
        videoLink:
          type:
          - string
          - 'null'
        behaviours:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgentBehaviours'
        departmentId:
          type:
          - string
          - 'null'
          format: guid
        ownerId:
          type:
          - string
          - 'null'
          format: guid
        tags:
          type: array
          items:
            type: string
        isEndUserPrivate:
          type:
          - boolean
          - 'null'
        saveToolResponsesToHistory:
          type:
          - boolean
          - 'null'
    MonthlyWeekOccurrence:
      type: string
      description: ''
      x-enumNames:
      - First
      - Second
      - Third
      - Fourth
      - Last
      enum:
      - First
      - Second
      - Third
      - Fourth
      - Last
    DataSourceFile:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        additionalProperties: false
        properties:
          dataSourceId:
            type: string
            format: guid
          filePath:
            type:
            - string
            - 'null'
          inputToken:
            type:
            - string
            - 'null'
          processingStatus:
            $ref: '#/components/schemas/FileProcessingStatus'
          processingStartedAt:
            type:
            - string
            - 'null'
            format: date-time
          fileMetadataJson:
            type:
            - string
            - 'null'
          fileMetadata:
            oneOf:
            - $ref: '#/components/schemas/DataSourceFileMetadata'
          processingLogsJson:
            type:
            - string
            - 'null'
          processingLogs:
            oneOf:
            - $ref: '#/components/schemas/FileProcessingLogDetails'
    GovernanceFramework:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        - tenantId
        properties:
          id:
            type: string
            format: guid
          name:
            type: string
            maxLength: 256
            minLength: 1
          key:
            type:
            - string
            - 'null'
            maxLength: 128
          isEnabled:
            type: boolean
          isHidden:
            type: boolean
          definitionId:
            type:
            - string
            - 'null'
            format: guid
          definition:
            oneOf:
            - $ref: '#/components/schemas/GovernanceFrameworkDefinition'
          tenantId:
            type: string
            format: guid
            minLength: 1
          assessmentTemplates:
            type: array
            items:
              $ref: '#/components/schemas/AssessmentTemplate'
    ExecutionStats:
      type: object
      additionalProperties: false
      properties:
        successCount:
          type: integer
          format: int32
        failureCount:
          type: integer
          format: int32
    AgentCardDefinition:
      type: object
      additionalProperties: false
      properties:
        agentCardId:
          type: string
          format: guid
        name:
          type: string
        description:
          type: string
        supportedInterfaces:
          type: array
          items:
            $ref: '#/components/schemas/AgentInterface2'
        provider:
          oneOf:
          - $ref: '#/components/schemas/AgentProvider2'
        version:
          type: string
        documentationUrl:
          type:
          - string
          - 'null'
        iconUrl:
          type:
          - string
          - 'null'
        capabilities:
          $ref: '#/components/schemas/AgentCapabilities2'
        securitySchemes:
          type:
          - object
          - 'null'
          additionalProperties:
            $ref: '#/components/schemas/SecurityScheme2'
        securityRequirements:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SecurityRequirement2'
        signatures:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AgentCardSignature2'
        defaultInputModes:
          type: array
          items:
            type: string
        defaultOutputModes:
          type: array
          items:
            type: string
        skills:
          type: array
          items:
            $ref: '#/components/schemas/AgentSkill2'
    AgentDeletionBlockedDetails:
      type: object
      additionalProperties: false
      properties:
        message:
          type: string
        pipelineId:
          type: string
          format: guid
        pipelineName:
          type: string
        activeCampaigns:
          type: array
          items:
            $ref: '#/components/schemas/ActiveCampaignInfo'
        hasActiveExecutions:
          type: boolean
    DatasourceState:
      type: string
      description: ''
      x-enumNames:
      - Unknown
      - Pending
      - Validating
      - Ingesting
      - Storing
      - Indexing
      - Finished
      - Failed
      - Validated
      - Ingested
      - Stored
      - Indexed
      enum:
      - Unknown
      - Pending
      - Validating
      - Ingesting
      - Storing
      - Indexing
      - Finished
      - Failed
      - Validated
      - Ingested
      - Stored
      - Indexed
    LoopStepBatchConfigurationDefinition:
      type: object
      additionalProperties: false
      properties:
        batchSize:
          type: integer
          format: int32
        batchDelaySeconds:
          type: integer
          format: int32
    SubdomainApplicability:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          riskProfileId:
            type: string
            format: guid
          riskSubDomainId:
            type: string
            format: guid
          applicable:
            type: boolean
          confidence:
            type:
            - string
            - 'null'
            maxLength: 50
          rationale:
            type:
            - string
            - 'null'
            maxLength: 2000
          inherentImpact:
            type:
            - integer
            - 'null'
            format: int32
          inherentLikelihood:
            type:
            - integer
            - 'null'
            format: int32
          inherentScore:
            type:
            - integer
            - 'null'
            format: int32
          residualImpact:
            type:
            - integer
            - 'null'
            format: int32
          residualLikelihood:
            type:
            - integer
            - 'null'
            format: int32
          residualScore:
            type:
            - integer
            - 'null'
            format: int32
          inherentExposure:
            type:
            - integer
            - 'null'
            format: int32
          inherentAutonomy:
            type:
            - integer
            - 'null'
            format: int32
          inherentOpFrequency:
            type:
            - integer
            - 'null'
            format: int32
          inherentInputSurface:
            type:
            - integer
            - 'null'
            format: int32
          residualExposure:
            type:
            - integer
            - 'null'
            format: int32
          residualAutonomy:
            type:
            - integer
            - 'null'
            format: int32
          residualOpFrequency:
            type:
            - integer
            - 'null'
            format: int32
          residualInputSurface:
            type:
            - integer
            - 'null'
            format: int32
          inherentUnknownFieldsJson:
            type:
            - string
            - 'null'
          residualUnknownFieldsJson:
            type:
            - string
            - 'null'
    ConnectionGlean:
      type: object
      additionalProperties: false
      properties:
        instance:
          type: string
        apiToken:
          type: string
    PipelineCloneCreatedDto:
      type: object
      additionalProperties: false
      required:
      - id
      - projectId
      - activeVersionId
      - activeVersion
      properties:
        id:
          type: string
          format: guid
        projectId:
          type: string
          format: guid
        activeVersionId:
          type: string
          format: guid
        activeVersion:
          $ref: '#/components/schemas/PipelineVersionEditorDto'
    AssessmentTemplateVersion:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - templateId
        - name
        - description
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          templateId:
            type: string
            format: guid
            minLength: 1
          name:
            type: string
            maxLength: 256
            minLength: 1
          description:
            type: string
            maxLength: 2000
            minLength: 1
          versionNumber:
            type: integer
            format: int32
          isDraft:
            type: boolean
          templateStructure:
            type:
            - string
            - 'null'
          questionCount:
            type: integer
            format: int32
          status:
            $ref: '#/components/schemas/AssessmentTemplateVersionStatus'
          failureReason:
            type:
            - string
            - 'null'
            maxLength: 2000
          template:
            $ref: '#/components/schemas/AssessmentTemplate'
    DeploymentAssignments:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          deploymentId:
            type: string
            format: guid
          id:
            type: string
            format: guid
          entityId:
            type: string
            format: guid
          entityType:
            type: string
    MitigationControlFunction:
      type: string
      description: ''
      x-enumNames:
      - Prevent
      - Detect
      - Respond
      enum:
      - Prevent
      - Detect
      - Respond
    SupportedInputMode:
      type: string
      description: ''
      x-enumNames:
      - FileUpload
      - Whiteboard
      - Code
      - Math
      enum:
      - FileUpload
      - Whiteboard
      - Code
      - Math
    PaginatedPipelineDto:
      allOf:
      - $ref: '#/components/schemas/Pipeline'
      - type: object
        additionalProperties: false
        properties:
          versions:
            type: array
            items:
              $ref: '#/components/schemas/PipelineVersion'
          deploymentId:
            type:
            - string
            - 'null'
            format: guid
          deploymentName:
            type:
            - string
            - 'null'
          deploymentDescription:
            type:
            - string
            - 'null'
          slackBotDeploymentId:
            type:
            - string
            - 'null'
            format: guid
          teamDeploymentId:
            type:
            - string
            - 'null'
            format: guid
          whatsAppBotDeploymentId:
            type:
            - string
            - 'null'
            format: guid
          allDeployments:
            type: array
            items:
              $ref: '#/components/schemas/DeploymentInfo'
          userKeys:
            type: object
            additionalProperties:
              type: string
          groupKeys:
            type: object
            additionalProperties:
              type: string
          agentIcon:
            type:
            - string
            - 'null'
          external:
            type: boolean
          ownerDisplayName:
            type:
            - string
            - 'null'
    MovePipelineVersionTagRequest:
      type: object
      additionalProperties: false
      required:
      - pipelineVersionId
      properties:
        pipelineVersionId:
          type: string
          format: guid
    AgentAccessibleAsFilter:
      type: string
      description: ''
      x-enumFlags: true
      x-enumNames:
      - None
      - Embedded
      - Word
      - Scheduled
      - Email
      - AiriaAgents
      - Webhooks
      - Chrome
      - ToolInterface
      enum:
      - None
      - Embedded
      - Word
      - Scheduled
      - Email
      - AiriaAgents
      - Webhooks
      - Chrome
      - ToolInterface
    AzureFoundryAuthMethod:
      type: string
      description: ''
      x-enumNames:
      - ApiKey
      - EntraId
      - GcpServiceAccount
      enum:
      - ApiKey
      - EntraId
      - GcpServiceAccount
    AgentSummaryVersionDtoV2:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        versionNumber:
          type: string
        isDraftVersion:
          type: boolean
        isLatest:
          type: boolean
    BrowserExtensionConfig:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
        quickActions:
          type: array
          items:
            $ref: '#/components/schemas/QuickAction'
    JsonNodeOptions:
      type: object
      additionalProperties: false
      properties:
        propertyNameCaseInsensitive:
          type: boolean
    ProviderType:
      type: string
      description: ''
      x-enumNames:
      - OpenAI
      - Ollama
      - Azure
      - HuggingFace
      - Anthropic
      - AzureAIStudio
      - OpenVINO
      - PyTorch
      - Replicate
      - Stability
      - Mistral
      - Perplexity
      - WatsonAix
      - Ai21
      - Cohere
      - Google
      - TogetherAI
      - XAI
      - Bedrock
      - Compass
      - AzureML
      - Unknown
      - Alibaba
      - GenericOpenAI
      - GenericAnthropic
      - GoogleVertex
      enum:
      - OpenAI
      - Ollama
      - Azure
      - Hugging Face
      - Anthropic
      - AzureAIStudio
      - OpenVINO
      - PyTorch
      - Replicate
      - Stability
      - Mistral
      - Perplexity
      - WatsonAix
      - AI21
      - Cohere
      - Google
      - Together AI
      - xAI
      - Amazon Bedrock
      - Compass
      - AzureML
      - Unknown
      - Alibaba
      - GenericOpenAI
      - GenericAnthropic
      - Google Vertex AI
    UseCaseEvaluationSelectionSource:
      type: string
      description: ''
      x-enumNames:
      - Manual
      - CreatedFromUseCase
      - Automation
      - LegacyAuto
      enum:
      - Manual
      - CreatedFromUseCase
      - Automation
      - LegacyAuto
    PipelineExportError:
      type: object
      additionalProperties: false
      properties:
        errorMessage:
          type:
          - string
          - 'null'
        errorDetails:
          type:
          - array
          - 'null'
          items:
            type: string
        errorCode:
          type:
          - string
          - 'null'
    AgentEvaluation:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - evaluationName
        - evaluationType
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          evaluationName:
            type: string
            maxLength: 128
            minLength: 1
          description:
            type:
            - string
            - 'null'
            maxLength: 512
          pipelineVersionIds:
            type: array
            items:
              type: string
              format: guid
          agentEvaluationTargets:
            type: array
            items:
              $ref: '#/components/schemas/AgentEvaluationTarget'
          datasetIds:
            type: array
            items:
              type: string
              format: guid
          spmAgentIds:
            type: array
            items:
              type: string
              format: guid
          agentEvaluationToSpmAgents:
            type: array
            items:
              $ref: '#/components/schemas/AgentEvaluationSpmAgent'
          agentEvaluationToEvaluators:
            type: array
            items:
              $ref: '#/components/schemas/AgentEvaluationEvaluator'
          dataset:
            type: array
            items:
              $ref: '#/components/schemas/AgentEvaluationDataset'
          modelId:
            type:
            - string
            - 'null'
            format: guid
          evaluatorSource:
            oneOf:
            - $ref: '#/components/schemas/EvaluatorSource'
          spmConnectionId:
            type:
            - string
            - 'null'
            format: guid
          spmConnection:
            oneOf:
            - $ref: '#/components/schemas/SpmConnection'
          modelIdentifierType:
            $ref: '#/components/schemas/ModelIdentifierType'
          evaluationType:
            $ref: '#/components/schemas/EvaluationType'
          runsPerTestCase:
            type:
            - integer
            - 'null'
            format: int32
          baselineEvaluationId:
            type:
            - string
            - 'null'
            format: guid
          variants:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AgentEvaluationVariant'
          comparisonSetId:
            type:
            - string
            - 'null'
            format: guid
          baselineMode:
            $ref: '#/components/schemas/WhatIfBaselineMode'
          accuracyThreshold:
            type:
            - integer
            - 'null'
            format: int32
          biasThreshold:
            type:
            - number
            - 'null'
            format: double
          driftThreshold:
            type:
            - integer
            - 'null'
            format: int32
          scheduleId:
            type:
            - string
            - 'null'
            format: guid
          schedule:
            oneOf:
            - $ref: '#/components/schemas/AgentEvaluationSchedule'
          originSource:
            type:
            - string
            - 'null'
            maxLength: 256
          originId:
            type:
            - string
            - 'null'
            format: guid
          originContext:
            type:
            - object
            - 'null'
            additionalProperties:
              type: string
    AgentTriggerAllowedType:
      type: string
      description: ''
      x-enumNames:
      - Unrestricted
      - Domains
      - Emails
      enum:
      - Unrestricted
      - Domains
      - Emails
    UseCase:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        - stage
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type:
            - string
            - 'null'
            format: guid
          name:
            type: string
            maxLength: 200
            minLength: 0
          stage:
            $ref: '#/components/schemas/UseCaseStage'
          description:
            type:
            - string
            - 'null'
          ownerId:
            type:
            - string
            - 'null'
            format: guid
          reviewerId:
            type:
            - string
            - 'null'
            format: guid
          impacted:
            type:
            - string
            - 'null'
            maxLength: 500
            minLength: 0
          reviewedAt:
            type:
            - string
            - 'null'
            format: date-time
          contextChangedAt:
            type:
            - string
            - 'null'
            format: date-time
          registerTemplatesPinnedAt:
            type:
            - string
            - 'null'
            format: date-time
          riskDomainId:
            type:
            - string
            - 'null'
            format: guid
          riskSubDomainId:
            type:
            - string
            - 'null'
            format: guid
          autonomy:
            oneOf:
            - $ref: '#/components/schemas/UseCaseAutonomy'
          status:
            oneOf:
            - $ref: '#/components/schemas/UseCaseStatus'
          acceptsAssetUpdates:
            type: boolean
          hasAutoGeneratedName:
            type: boolean
          core:
            oneOf:
            - $ref: '#/components/schemas/UseCaseCore'
          intendedUse:
            oneOf:
            - $ref: '#/components/schemas/UseCaseIntendedUse'
          reviewPolicy:
            oneOf:
            - $ref: '#/components/schemas/UseCaseReviewPolicy'
          registerFactAnswers:
            type: object
            additionalProperties:
              type: string
          receiptJson:
            type:
            - string
            - 'null'
          nutritionLabelJson:
            type:
            - string
            - 'null'
          activeVersionId:
            type:
            - string
            - 'null'
            format: guid
          approvedVersionId:
            type:
            - string
            - 'null'
            format: guid
          rowVersion:
            type: integer
          activeVersion:
            oneOf:
            - $ref: '#/components/schemas/UseCaseVersion'
          approvedVersion:
            oneOf:
            - $ref: '#/components/schemas/UseCaseVersion'
          reviewer:
            oneOf:
            - $ref: '#/components/schemas/User'
          riskDomain:
            oneOf:
            - $ref: '#/components/schemas/RiskDomain'
          riskSubDomain:
            oneOf:
            - $ref: '#/components/schemas/RiskSubDomain'
          assignedAssets:
            type: array
            items:
              $ref: '#/components/schemas/AiAssetAggregate'
          assetAssignments:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseAssetAssignment'
          artifacts:
            type: array
            items:
              $ref: '#/components/schemas/GovernanceArtifact'
          frameworkSnapshots:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseGovernanceFrameworkSnapshot'
          registerTemplateSnapshots:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseRegisterTemplateSnapshot'
          evaluationSelections:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseEvaluationSelection'
    FileProcessingLogDetails:
      type: object
      additionalProperties: false
      properties:
        timestamp:
          type: string
          format: date-time
        message:
          type: string
    NistAiRmfTier:
      type: string
      description: ''
      x-enumNames:
      - Tier1
      - Tier2
      - Tier3
      - Tier4
      - Tier5
      - NotApplicable
      enum:
      - Tier1
      - Tier2
      - Tier3
      - Tier4
      - Tier5
      - NotApplicable
    Assessment:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - aiAssetAggregateId
        - name
        - templateId
        - templateVersionId
        - version
        - status
        - approverId
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          aiAssetAggregateId:
            type: string
            format: guid
            minLength: 1
          name:
            type: string
            maxLength: 256
            minLength: 1
          templateId:
            type: string
            format: guid
            minLength: 1
          templateVersionId:
            type: string
            format: guid
            minLength: 1
          version:
            type: string
            maxLength: 50
            minLength: 1
          status:
            $ref: '#/components/schemas/AssessmentStatus'
          lastCompletedAt:
            type:
            - string
            - 'null'
            format: date-time
          approverId:
            type: string
            format: guid
            minLength: 1
          responses:
            type:
            - string
            - 'null'
          fileId:
            type:
            - string
            - 'null'
            maxLength: 100
          template:
            oneOf:
            - $ref: '#/components/schemas/AssessmentTemplate'
          templateVersion:
            oneOf:
            - $ref: '#/components/schemas/AssessmentTemplateVersion'
          aiAssetAggregate:
            oneOf:
            - $ref: '#/components/schemas/AiAssetAggregate'
          originSource:
            type:
            - string
            - 'null'
            maxLength: 256
          originId:
            type:
            - string
            - 'null'
            format: guid
          originContext:
            type:
            - object
            - 'null'
            additionalProperties:
              type: string
    AgentEvaluationVariant:
      type: object
      additionalProperties: false
      properties:
        variantId:
          type: string
          format: guid
        label:
          type: string
        isBaseline:
          type: boolean
        overrides:
          oneOf:
          - $ref: '#/components/schemas/ExternalScenarioOverrides'
    SourceType:
      type: string
      description: ''
      x-enumNames:
      - UserProvided
      - Library
      enum:
      - userProvided
      - library
    AgentEvaluationTarget:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - targetKind
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          agentEvaluationId:
            type: string
            format: guid
          agentEvaluation:
            $ref: '#/components/schemas/AgentEvaluation'
          targetKind:
            $ref: '#/components/schemas/CampaignTargetKind'
          pipelineVersionId:
            type:
            - string
            - 'null'
            format: guid
          pipelineVersion:
            oneOf:
            - $ref: '#/components/schemas/PipelineVersion'
          targetEntityPayload:
            type:
            - string
            - 'null'
    WebhookConfiguration:
      type: object
      additionalProperties: false
      properties:
        impersonateUser:
          type: boolean
        successfulResponseCode:
          type: integer
          format: int32
        failedResponseCode:
          type: integer
          format: int32
        useExternalUserMapping:
          type:
          - boolean
          - 'null'
        requireUserMapping:
          type:
          - boolean
          - 'null'
        autoProvisionUsers:
          type:
          - boolean
          - 'null'
        provisionedUserRole:
          type:
          - string
          - 'null'
        sendTypingIndicator:
          type:
          - boolean
          - 'null'
        teamsAppId:
          type:
          - string
          - 'null'
        oneDriveDriveId:
          type:
          - string
          - 'null'
        oneDriveFolderId:
          type:
          - string
          - 'null'
        oneDriveCredentialId:
          type:
          - string
          - 'null'
          format: guid
        oneDriveProviderConfigurationId:
          type:
          - string
          - 'null'
          format: guid
        oneDriveAllowedExtensions:
          type:
          - array
          - 'null'
          items:
            type: string
        oneDriveIncludeSubfolders:
          type:
          - boolean
          - 'null'
        oneDriveGraphSubscriptionId:
          type:
          - string
          - 'null'
        oneDriveClientState:
          type:
          - string
          - 'null'
        oneDriveSubscriptionExpiration:
          type:
          - string
          - 'null'
          format: date-time
        oneDriveDeltaLink:
          type:
          - string
          - 'null'
        sharePointSiteId:
          type:
          - string
          - 'null'
        sharePointDriveId:
          type:
          - string
          - 'null'
        sharePointFolderId:
          type:
          - string
          - 'null'
        sharePointListId:
          type:
          - string
          - 'null'
        sharePointCredentialId:
          type:
          - string
          - 'null'
          format: guid
        sharePointProviderConfigurationId:
          type:
          - string
          - 'null'
          format: guid
        sharePointAllowedExtensions:
          type:
          - array
          - 'null'
          items:
            type: string
        sharePointIncludeSubfolders:
          type:
          - boolean
          - 'null'
        sharePointGraphSubscriptionId:
          type:
          - string
          - 'null'
        sharePointClientState:
          type:
          - string
          - 'null'
        sharePointSubscriptionExpiration:
          type:
          - string
          - 'null'
          format: date-time
        sharePointDeltaLink:
          type:
          - string
          - 'null'
        fetchChannelContext:
          type:
          - boolean
          - 'null'
        channelContextMessageCount:
          type:
          - integer
          - 'null'
          format: int32
        asanaHookSecret:
          type:
          - string
          - 'null'
    Project:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        properties:
          id:
            type: string
            format: guid
          name:
            type: string
            minLength: 1
          tenantId:
            type: string
            format: guid
          description:
            type:
            - string
            - 'null'
          projectIconId:
            type:
            - string
            - 'null'
            format: guid
          requireClassification:
            type: boolean
          pipelines:
            type: array
            items:
              $ref: '#/components/schemas/Pipeline'
          models:
            type: array
            items:
              $ref: '#/components/schemas/AIModel'
          dataSources:
            type: array
            items:
              $ref: '#/components/schemas/DataSource'
          prompts:
            type: array
            items:
              $ref: '#/components/schemas/Prompt'
          userPrompts:
            type: array
            items:
              $ref: '#/components/schemas/UserPrompt'
          apiKeys:
            type: array
            items:
              $ref: '#/components/schemas/ApiKey'
          credentials:
            type: array
            items:
              $ref: '#/components/schemas/Credentials'
          memories:
            type: array
            items:
              $ref: '#/components/schemas/Memory'
          classifications:
            type: array
            items:
              $ref: '#/components/schemas/Classification'
          classificationProjects:
            type: array
            items:
              $ref: '#/components/schemas/ClassificationProject'
          projectType:
            $ref: '#/components/schemas/ProjectType'
          sourceType:
            $ref: '#/components/schemas/SourceType'
          isDeleted:
            type:
            - boolean
            - 'null'
    AgentDetailItem:
      type: object
      additionalProperties: false
      properties:
        type:
          type: string
        name:
          type: string
        value: {}
        options:
          type:
          - array
          - 'null'
          items:
            type: string
    WebhookAuthorizationBase:
      type: object
      discriminator:
        propertyName: $type
        mapping:
          WebhookHmacAuthorization: '#/components/schemas/WebhookHmacAuthorization'
      x-abstract: true
      additionalProperties: false
      required:
      - $type
      properties:
        $type:
          type: string
    ApiKey:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        - key
        properties:
          name:
            type: string
            minLength: 1
          userIdentifier:
            type:
            - string
            - 'null'
          key:
            type: string
            minLength: 1
          agentId:
            type:
            - string
            - 'null'
            format: guid
          scopes:
            type: array
            items:
              $ref: '#/components/schemas/ApiKeyScope'
          boundUserId:
            type:
            - string
            - 'null'
            format: guid
          boundKeycloakSubject:
            type:
            - string
            - 'null'
          isShadowUser:
            type: boolean
          enforcementMode:
            $ref: '#/components/schemas/EnforcementMode'
          expiresAt:
            type:
            - string
            - 'null'
            format: date-time
          lastUsedAt:
            type:
            - string
            - 'null'
            format: date-time
    ConfiguredModelEntry:
      type: object
      additionalProperties: false
      properties:
        modelName:
          type: string
        aiModelId:
          type:
          - string
          - 'null'
          format: guid
        routeThroughAcc:
          type: boolean
        accGroup:
          type:
          - string
          - 'null'
          format: guid
        url:
          type:
          - string
          - 'null'
        credentialId:
          type:
          - string
          - 'null'
          format: guid
    AgentDeploymentType:
      type: string
      description: ''
      x-enumNames:
      - Chat
      - AddinChat
      - AddinPlaybookCompare
      - AddinPlaybookRules
      - ChromeExtensionSummarize
      - ChromeExtensionKeyPoints
      - ChromeExtensionTranslate
      - BrowserExtension
      - SlackBot
      - TeamsBot
      - AddinOutlookEmailAssistant
      - NativeSpotlightSearch
      - WhatsAppBot
      - AddinOutlookCustomReadView
      - AddinPowerPointChat
      - AddinExcelChat
      - SalesforceChat
      - OmniAgent
      - HubSpotChat
      - SubAgent
      enum:
      - Chat
      - AddinChat
      - AddinPlaybookCompare
      - AddinPlaybookRules
      - ChromeExtensionSummarize
      - ChromeExtensionKeyPoints
      - ChromeExtensionTranslate
      - BrowserExtension
      - SlackBot
      - TeamsBot
      - AddinOutlookEmailAssistant
      - NativeSpotlightSearch
      - WhatsAppBot
      - AddinOutlookCustomReadView
      - AddinPowerPointChat
      - AddinExcelChat
      - SalesforceChat
      - OmniAgent
      - HubSpotChat
      - SubAgent
    MitigationVerificationEvidence:
      type: object
      additionalProperties: false
      properties:
        verifierKey:
          $ref: '#/components/schemas/MitigationVerifierKey'
        evidenceEntityIds:
          type: array
          items:
            type: string
            format: guid
        artifacts:
          type: array
          items:
[...]
