openapi: 3.2.0
info:
  title: Airia Web User Task API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: UserTask
paths:
  /v1/UserTask:
    get:
      tags:
      - UserTask
      operationId: UserTask_GetAllPaginated
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfUserTaskModel'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task get all paginated
      x-summary-source: derived
    post:
      tags:
      - UserTask
      operationId: UserTask_Create
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserTaskModel'
        required: true
        x-position: 1
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTaskModel'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task create
      x-summary-source: derived
  /v1/UserTask/shared:
    get:
      tags:
      - UserTask
      operationId: UserTask_GetSharedPaginated
      parameters:
      - name: PageNumber
        in: query
        schema:
          type: integer
          format: int32
        x-position: 1
      - name: PageSize
        in: query
        schema:
          type: integer
          format: int32
        x-position: 2
      - name: SortBy
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: SortDirection
        in: query
        schema:
          type: string
        x-position: 4
      - name: filter
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 5
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfUserTaskModel'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task get shared paginated
      x-summary-source: derived
  /v1/UserTask/shared/pending-count:
    get:
      tags:
      - UserTask
      operationId: UserTask_GetPendingSharedCount
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: integer
                format: int32
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task get pending shared count
      x-summary-source: derived
  /v1/UserTask/{taskId}:
    get:
      tags:
      - UserTask
      operationId: UserTask_GetById
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTaskModel'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task get by id
      x-summary-source: derived
    put:
      tags:
      - UserTask
      operationId: UserTask_Update
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserTaskModel'
        required: true
        x-position: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTaskModel'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task update
      x-summary-source: derived
    delete:
      tags:
      - UserTask
      operationId: UserTask_Delete
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task delete
      x-summary-source: derived
  /v1/UserTask/source/{sourceTaskId}:
    get:
      tags:
      - UserTask
      operationId: UserTask_GetBySourceTaskId
      parameters:
      - name: sourceTaskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTaskModel'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task get by source task id
      x-summary-source: derived
  /v1/UserTask/deployment/{deploymentId}:
    get:
      tags:
      - UserTask
      operationId: UserTask_GetByDeployment
      parameters:
      - name: deploymentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserTaskModel'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task get by deployment
      x-summary-source: derived
  /v1/UserTask/{taskId}/share:
    post:
      tags:
      - UserTask
      operationId: UserTask_Share
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: model
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareUserTaskModel'
        required: true
        x-position: 2
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task share
      x-summary-source: derived
  /v1/UserTask/{taskId}/accept:
    post:
      tags:
      - UserTask
      operationId: UserTask_Accept
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task accept
      x-summary-source: derived
  /v1/UserTask/{taskId}/decline:
    post:
      tags:
      - UserTask
      operationId: UserTask_Decline
      parameters:
      - name: taskId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        204:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: User task decline
      x-summary-source: derived
components:
  schemas:
    UserTaskModel:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        title:
          type: string
        prompt:
          type: string
        description:
          type:
          - string
          - 'null'
        deploymentId:
          type: string
          format: guid
        pipelineId:
          type: string
          format: guid
        sourceTaskId:
          type:
          - string
          - 'null'
          format: guid
        sharedByUserId:
          type:
          - string
          - 'null'
          format: guid
        shareStatus:
          type:
          - string
          - 'null'
        isSharedWithOrganization:
          type: boolean
        schedule:
          oneOf:
          - $ref: '#/components/schemas/DeploymentScheduleModel'
        lastExecutedAt:
          type:
          - string
          - 'null'
          format: date-time
        executionStatus:
          $ref: '#/components/schemas/UserTaskExecutionStatus'
        hasSchedule:
          type: boolean
        scheduleId:
          type:
          - string
          - 'null'
          format: guid
    CreateUserTaskModel:
      type: object
      additionalProperties: false
      required:
      - title
      - prompt
      - deploymentId
      properties:
        title:
          type: string
          maxLength: 256
          minLength: 0
        prompt:
          type: string
          maxLength: 16000
          minLength: 0
        description:
          type:
          - string
          - 'null'
          maxLength: 1000
          minLength: 0
        deploymentId:
          type: string
          format: guid
          minLength: 1
    ScheduleModel:
      type: object
      additionalProperties: false
      properties:
        second:
          type: integer
          format: int32
          maximum: 59
          minimum: 0
        minute:
          type: integer
          format: int32
          maximum: 59
          minimum: 0
        hour:
          type: integer
          format: int32
          maximum: 23
          minimum: 0
        executionHour:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 23
          minimum: 0
        day:
          type: integer
          format: int32
          maximum: 31
          minimum: 1
        month:
          type: integer
          format: int32
          maximum: 12
          minimum: 1
        scheduleType:
          $ref: '#/components/schemas/ScheduleType'
        daysOfWeek:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/DayOfWeek'
        monthlyWeekOccurrence:
          oneOf:
          - $ref: '#/components/schemas/MonthlyWeekOccurrence'
        timeZoneId:
          type:
          - string
          - 'null'
          maxLength: 100
          minLength: 0
        year:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2099
          minimum: 1970
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    UserTaskExecutionStatus:
      type: string
      description: ''
      x-enumNames:
      - Idle
      - Running
      - Completed
      - Failed
      enum:
      - Idle
      - Running
      - Completed
      - Failed
    ShareUserTaskModel:
      type: object
      additionalProperties: false
      properties:
        userIds:
          type: array
          items:
            type: string
            format: guid
        shareWithOrganization:
          type: boolean
    ScheduleType:
      type: string
      description: ''
      x-enumNames:
      - Hourly
      - Daily
      - Weekly
      - Minute
      - OneTime
      - Monthly
      - Quarterly
      enum:
      - Hourly
      - Daily
      - Weekly
      - Minute
      - OneTime
      - Monthly
      - Quarterly
    DeploymentScheduleModel:
      allOf:
      - $ref: '#/components/schemas/ScheduleModel'
      - type: object
        additionalProperties: false
        required:
        - deploymentId
        properties:
          id:
            type:
            - string
            - 'null'
            format: guid
          deploymentId:
            type: string
            format: guid
            minLength: 1
          name:
            type:
            - string
            - 'null'
            maxLength: 200
            minLength: 0
          userInput:
            type:
            - string
            - 'null'
          isPaused:
            type: boolean
          threadingMode:
            $ref: '#/components/schemas/ScheduleThreadingMode'
          conversationId:
            type:
            - string
            - 'null'
            format: guid
          notifyOnCompletion:
            type: boolean
          userTaskId:
            type:
            - string
            - 'null'
            format: guid
    MonthlyWeekOccurrence:
      type: string
      description: ''
      x-enumNames:
      - First
      - Second
      - Third
      - Fourth
      - Last
      enum:
      - First
      - Second
      - Third
      - Fourth
      - Last
    PagedResultOfUserTaskModel:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UserTaskModel'
        totalCount:
          type: integer
          format: int32
    DayOfWeek:
      type: string
      description: ''
      x-enumNames:
      - Sunday
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
      enum:
      - Sunday
      - Monday
      - Tuesday
      - Wednesday
      - Thursday
      - Friday
      - Saturday
    ScheduleThreadingMode:
      type: string
      description: ''
      x-enumNames:
      - NewThread
      - SameThread
      enum:
      - NewThread
      - SameThread
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
