openapi: 3.2.0
info:
  title: Airia Web Red Teaming Tool Analysis API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: RedTeamingToolAnalysis
paths:
  /v1/RedTeamingToolAnalysis/{pipelineId}/has-tools:
    get:
      tags:
      - RedTeamingToolAnalysis
      operationId: RedTeamingToolAnalysis_HasTools
      parameters:
      - name: pipelineId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: boolean
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Red teaming tool analysis has tools
      x-summary-source: derived
  /v1/RedTeamingToolAnalysis/{pipelineId}/attack-objectives:
    get:
      tags:
      - RedTeamingToolAnalysis
      operationId: RedTeamingToolAnalysis_GetAttackObjectiveSuggestions
      parameters:
      - name: pipelineId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: modelId
        in: query
        schema:
          type: string
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolRedTeamingResponse'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Red teaming tool analysis get attack objective suggestions
      x-summary-source: derived
components:
  schemas:
    ToolRedTeamingResponse:
      type: object
      additionalProperties: false
      properties:
        redTeamingGoals:
          type: array
          items:
            type: string
        excessiveAgencyReasoning:
          type: string
        toolAnalysisStructured:
          oneOf:
          - $ref: '#/components/schemas/JsonDocument'
        configurationRaw:
          oneOf:
          - $ref: '#/components/schemas/JsonDocument'
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    JsonDocument:
      type: object
      additionalProperties: false
      properties:
        isDisposable:
          type: boolean
        rootElement: {}
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
