openapi: 3.2.0
info:
  title: Airia Web Pipeline Execution API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: PipelineExecution
paths:
  /v1/PipelineExecution/{executionId}:
    get:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_GetPipelineExecutionResult2
      parameters:
      - name: executionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPipelineExecutionResult'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline execution get pipeline execution result2
      x-summary-source: derived
  /v1/PipelineExecution:
    get:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_GetPipelineUsingGivenTool2
      parameters:
      - name: toolId
        in: query
        schema:
          type:
          - string
          - 'null'
        x-position: 1
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfPipeline'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline execution get pipeline using given tool2
      x-summary-source: derived
  /v1/PipelineExecution/{executionId}/python-inputs:
    get:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_GetPythonInputsFromExecution2
      parameters:
      - name: executionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: pythonStepId
        in: query
        schema:
          type:
          - string
          - 'null'
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PythonScriptExecutionRequest'
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline execution get python inputs from execution2
      x-summary-source: derived
  /v1/PipelineExecution/{pipelineId}:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_RunPipelineV22
      parameters:
      - name: pipelineId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: X-API-Key
        x-originalName: apiKey
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineExecutionRequest'
        required: true
        x-position: 2
      responses:
        500:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        402:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        503:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline execution run pipeline V22
      x-summary-source: derived
  /v2/PipelineExecution/{pipelineId}:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_RunPipelineV23
      parameters:
      - name: pipelineId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: X-API-Key
        x-originalName: apiKey
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PipelineExecutionRequest'
        required: true
        x-position: 2
      responses:
        500:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        402:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        503:
          description: ''
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline execution run pipeline V23
      x-summary-source: derived
  /v1/PipelineExecution/Multipart/{pipelineIdentifier}:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_RunPipelineMultipartV22
      parameters:
      - name: pipelineIdentifier
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: X-API-Key
        x-originalName: apiKey
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                FileAttachment:
                  type:
                  - string
                  - 'null'
                  format: binary
                VariablesJson:
                  type:
                  - string
                  - 'null'
                UserInput:
                  type:
                  - string
                  - 'null'
                UserInputId:
                  type:
                  - string
                  - 'null'
                  format: guid
                Debug:
                  type: boolean
                UserId:
                  type:
                  - string
                  - 'null'
                  format: guid
                ExternalUserId:
                  type:
                  - string
                  - 'null'
                ConversationId:
                  type:
                  - string
                  - 'null'
                  format: guid
                AsyncOutput:
                  type: boolean
                IncludeToolsResponse:
                  type: boolean
                VoiceEnabled:
                  type: boolean
                Images:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                Files:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                ImageAttachmentIds:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                DataSourceFolders:
                  type:
                  - object
                  - 'null'
                  additionalProperties:
                    type: array
                    items:
                      type: string
                      format: guid
                DataSourceFiles:
                  type:
                  - object
                  - 'null'
                  additionalProperties:
                    type: array
                    items:
                      type: string
                      format: guid
                InMemoryMessages:
                  type:
                  - array
                  - 'null'
                  items:
                    $ref: '#/components/schemas/InMemoryMessage'
                CurrentDateTime:
                  type:
                  - string
                  - 'null'
                  format: date-time
                SaveHistory:
                  type: boolean
                AdditionalInfo:
                  type:
                  - array
                  - 'null'
                  items: {}
                PromptVariables:
                  type:
                  - object
                  - 'null'
                  additionalProperties:
                    type: string
                Variables:
                  type:
                  - object
                  - 'null'
                  additionalProperties:
                    type: string
                EmailTriggerMetadata.EmailMetadata.Metadata.From:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.To:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.Cc:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.Subject:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.Html:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.Text:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.Timestamp:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Attachments:
                  type:
                  - array
                  - 'null'
                  items:
                    $ref: '#/components/schemas/AttachmentInfoToUpload'
                EmailTriggerMetadata.EmailMetadata.Headers:
                  type:
                  - object
                  - 'null'
                  additionalProperties:
                    type: string
                EmailTriggerMetadata.EmailAction:
                  $ref: '#/components/schemas/EmailAction'
                EmailTriggerMetadata.ForwardTo:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.AgentId:
                  type:
                  - string
                  - 'null'
                  format: guid
                OutputConfiguration.OutputType:
                  $ref: '#/components/schemas/OutputType'
                UserTaskId:
                  type:
                  - string
                  - 'null'
                  format: guid
      responses:
        500:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        402:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
        202:
          description: ''
          content:
            application/json:
              schema:
                type: string
                format: guid
      summary: Pipeline execution run pipeline multipart V22
      x-summary-source: derived
  /v2/PipelineExecution/Multipart/{pipelineIdentifier}:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_RunPipelineMultipartV23
      parameters:
      - name: pipelineIdentifier
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: X-API-Key
        x-originalName: apiKey
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                FileAttachment:
                  type:
                  - string
                  - 'null'
                  format: binary
                VariablesJson:
                  type:
                  - string
                  - 'null'
                UserInput:
                  type:
                  - string
                  - 'null'
                UserInputId:
                  type:
                  - string
                  - 'null'
                  format: guid
                Debug:
                  type: boolean
                UserId:
                  type:
                  - string
                  - 'null'
                  format: guid
                ExternalUserId:
                  type:
                  - string
                  - 'null'
                ConversationId:
                  type:
                  - string
                  - 'null'
                  format: guid
                AsyncOutput:
                  type: boolean
                IncludeToolsResponse:
                  type: boolean
                VoiceEnabled:
                  type: boolean
                Images:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                Files:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                ImageAttachmentIds:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                DataSourceFolders:
                  type:
                  - object
                  - 'null'
                  additionalProperties:
                    type: array
                    items:
                      type: string
                      format: guid
                DataSourceFiles:
                  type:
                  - object
                  - 'null'
                  additionalProperties:
                    type: array
                    items:
                      type: string
                      format: guid
                InMemoryMessages:
                  type:
                  - array
                  - 'null'
                  items:
                    $ref: '#/components/schemas/InMemoryMessage'
                CurrentDateTime:
                  type:
                  - string
                  - 'null'
                  format: date-time
                SaveHistory:
                  type: boolean
                AdditionalInfo:
                  type:
                  - array
                  - 'null'
                  items: {}
                PromptVariables:
                  type:
                  - object
                  - 'null'
                  additionalProperties:
                    type: string
                Variables:
                  type:
                  - object
                  - 'null'
                  additionalProperties:
                    type: string
                EmailTriggerMetadata.EmailMetadata.Metadata.From:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.To:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.Cc:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.Subject:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.Html:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.Text:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Metadata.Timestamp:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.EmailMetadata.Attachments:
                  type:
                  - array
                  - 'null'
                  items:
                    $ref: '#/components/schemas/AttachmentInfoToUpload'
                EmailTriggerMetadata.EmailMetadata.Headers:
                  type:
                  - object
                  - 'null'
                  additionalProperties:
                    type: string
                EmailTriggerMetadata.EmailAction:
                  $ref: '#/components/schemas/EmailAction'
                EmailTriggerMetadata.ForwardTo:
                  type:
                  - string
                  - 'null'
                EmailTriggerMetadata.AgentId:
                  type:
                  - string
                  - 'null'
                  format: guid
                OutputConfiguration.OutputType:
                  $ref: '#/components/schemas/OutputType'
                UserTaskId:
                  type:
                  - string
                  - 'null'
                  format: guid
      responses:
        500:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        402:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
        202:
          description: ''
          content:
            application/json:
              schema:
                type: string
                format: guid
      summary: Pipeline execution run pipeline multipart V23
      x-summary-source: derived
  /v1/PipelineExecution/batch:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_RunBatchPipelineExecution
      parameters:
      - name: X-API-Key
        x-originalName: apiKey
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: batchRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchPipelineExecutionRequest'
        required: true
        x-position: 1
      responses:
        500:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchPipelineExecutionResponse'
      summary: Pipeline execution run batch pipeline execution
      x-summary-source: derived
  /v1/PipelineExecution/TemporaryPipeline:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_RunTemporaryPipelineV22
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemporaryPipelineExecutionRequest'
        required: true
        x-position: 1
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        202:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
        402:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionStringResult'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
      summary: Pipeline execution run temporary pipeline V22
      x-summary-source: derived
  /v2/PipelineExecution/TemporaryPipeline:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_RunTemporaryPipelineV23
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemporaryPipelineExecutionRequest'
        required: true
        x-position: 1
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        202:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
        402:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionStringResult'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
      summary: Pipeline execution run temporary pipeline V23
      x-summary-source: derived
  /v1/PipelineExecution/TemporaryAssistant:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_RunTemporaryAssistantV22
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemporaryAssistantExecutionRequest'
        required: true
        x-position: 1
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        202:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
        402:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionStringResult'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
      summary: Pipeline execution run temporary assistant V22
      x-summary-source: derived
  /v2/PipelineExecution/TemporaryAssistant:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_RunTemporaryAssistantV23
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TemporaryAssistantExecutionRequest'
        required: true
        x-position: 1
      responses:
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
        202:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
        402:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionStringResult'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
      summary: Pipeline execution run temporary assistant V23
      x-summary-source: derived
  /v2/PipelineExecution/StopStream:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_StopAgentStream
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopStreamRequest'
        required: true
        x-position: 1
      responses:
        500:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        429:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
      summary: Pipeline execution stop agent stream
      x-summary-source: derived
  /v2/PipelineExecution/StopExecution:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_StopExecution
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopExecutionRequest'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        429:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Pipeline execution stop execution
      x-summary-source: derived
  /v2/PipelineExecution/ResumeStream/{executionId}:
    get:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_ResumeStream
      parameters:
      - name: executionId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: Last-Event-ID
        x-originalName: lastEventId
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        429:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Pipeline execution resume stream
      x-summary-source: derived
  /v2/PipelineExecution/system-agents/{systemAgentId}:
    post:
      tags:
      - PipelineExecution
      operationId: PipelineExecution_ExecuteSystemAgent
      parameters:
      - name: systemAgentId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: X-API-Key
        x-originalName: apiKey
        in: header
        schema:
          type:
          - string
          - 'null'
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SystemAgentExecutionRequest'
        required: true
        x-position: 2
      responses:
        500:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        402:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineExecutionResult'
        422:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Pipeline execution execute system agent
      x-summary-source: derived
components:
  schemas:
    ChunkingConfig:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        id:
          type: string
          format: guid
        chunkSize:
          type: integer
          format: int32
        chunkOverlap:
          type: integer
          format: int32
        strategyType:
          $ref: '#/components/schemas/ChunkingStrategy'
    UseCaseVersion:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          useCaseId:
            type: string
            format: guid
          revisionNumber:
            type: integer
            format: int32
          versionLabel:
            type:
            - string
            - 'null'
            maxLength: 64
            minLength: 0
          isActive:
            type: boolean
          isArchived:
            type: boolean
          name:
            type: string
            maxLength: 200
            minLength: 0
          description:
            type:
            - string
            - 'null'
          stage:
            $ref: '#/components/schemas/UseCaseStage'
          status:
            oneOf:
            - $ref: '#/components/schemas/UseCaseStatus'
          autonomy:
            oneOf:
            - $ref: '#/components/schemas/UseCaseAutonomy'
          impacted:
            type:
            - string
            - 'null'
            maxLength: 500
            minLength: 0
          ownerId:
            type:
            - string
            - 'null'
            format: guid
          reviewerId:
            type:
            - string
            - 'null'
            format: guid
          riskDomainId:
            type:
            - string
            - 'null'
            format: guid
          riskSubDomainId:
            type:
            - string
            - 'null'
            format: guid
          reviewedAt:
            type:
            - string
            - 'null'
            format: date-time
          contextChangedAt:
            type:
            - string
            - 'null'
            format: date-time
          acceptsAssetUpdates:
            type: boolean
          core:
            oneOf:
            - $ref: '#/components/schemas/UseCaseCore'
          intendedUse:
            oneOf:
            - $ref: '#/components/schemas/UseCaseIntendedUse'
          reviewPolicy:
            oneOf:
            - $ref: '#/components/schemas/UseCaseReviewPolicy'
          nutritionLabelJson:
            type:
            - string
            - 'null'
          receiptJson:
            type:
            - string
            - 'null'
          rowVersion:
            type: integer
          useCase:
            oneOf:
            - $ref: '#/components/schemas/UseCase'
    CredentialType:
      type: string
      description: ''
      x-enumNames:
      - None
      - Ai21
      - Alibaba
      - AlphaVantage
      - Anthropic
      - Asana
      - Atlassian
      - AtlassianApiKey
      - AtlassianOauth
      - Azure
      - AzureAIStudio
      - AzureBlob
      - AzureML
      - BasicAuth
      - Bedrock
      - BoxOauth
      - BraveSearchApiKey
      - Cohere
      - Compass
      - CustomCredential
      - CustomAPIKey
      - CustomOpenAI
      - DataBricksToken
      - DropboxOauth
      - ElevenLabs
      - Exa
      - Firecrawl
      - GenericOpenAI
      - GithubPersonalAccessToken
      - Google
      - GoogleOauth
      - GoogleServiceAccount
      - HeaderAuth
      - Hubspot
      - HuggingFace
      - ICDOauth
      - IPAPI
      - JinaAI
      - LinkPreview
      - McpAccessToken
      - McpHeaders
      - MicrosoftOauth
      - MicrosoftBingSearch
      - Mistral
      - MongoDb
      - MongoDbCloudId
      - MongoDbConnectionString
      - MsServer
      - MySql
      - NASA
      - NewsAPI
      - NotionIntegrationSecret
      - Nutritionix
      - Ollama
      - OpenAI
      - OpenVINO
      - Perplexity
      - PgSql
      - Pinecone
      - PyTorch
      - QueryParamAuth
      - Reddit
      - Replicate
      - S3
      - SalesforceOauth
      - ScaleFlex
      - SendGrid
      - Serper
      - ServiceNow
      - SlackBotAccessToken
      - SlackOauth
      - SlackUserAccessToken
      - SnowflakeEncryptedKey
      - SnowflakePrivateKey
      - Spotify
      - Stability
      - Strava
      - SupabasePersonalAccessToken
      - TogetherAI
      - WatsonAix
      - Weaviate
      - WeatherStack
      - WolframAlpha
      - XKey
      - XAI
      - XOauth
      - Youtube
      - FredApiKey
      - GovRegulationsApiKey
      - SecHeader
      - PineconeApiKey
      - LaunchDarklyApiKey
      - PerplexityApiKey
      - StripeApiKey
      - AirtableApiKey
      - SmartSheetApiKey
      - GrafanaApiKey
      - GenericOAuth
      - AiriaXApiKey
      - AzureAi
      - BedrockArn
      - ScaleflexMcpHeaders
      - WhatsAppCloudApi
      - NotionOauth
      - SapHana
      - BitlyApiKey
      - CalendlyAccessToken
      - ClickUpApiKey
      - DiscordBotToken
      - FreshdeskApiKey
      - IntercomAccessToken
      - LinearApiKey
      - MailchimpApiKey
      - MondayComApiKey
      - PipedriveApiKey
      - ShopifyAccessToken
      - SurveyMonkeyAccessToken
      - TelegramBotToken
      - TodoistApiKey
      - TrelloApiKey
      - TwilioApiKey
      - TypeformAccessToken
      - ZendeskApiKey
      - ZoomOauth
      - QuickBooksOauth
      - AwsAccessKey
      - JiraOauth
      - XeroOauth
      - ActiveCampaignApiKey
      - GitlabAccessToken
      - ClockifyApiKey
      - PagerDutyApiKey
      - NetlifyAccessToken
      - HelpScoutApiKey
      - HarvestAccessToken
      - DiscourseApiKey
      - ConvertKitApiKey
      - BaserowApiKey
      - NocoDBApiKey
      - PayPalOAuth
      - KeapAccessToken
      - MauticApiKey
      - AffinityApiKey
      - HighLevelApiKey
      - InvoiceNinjaApiKey
      - MagentoAccessToken
      - CustomerIoApiKey
      - AgileCrmApiKey
      - PostHogApiKey
      - OrbitApiKey
      - SentryIoApiKey
      - WooCommerceApiKey
      - SpotifyOauth
      - UptimeRobotApiKey
      - MediumAccessToken
      - LinkedInOauth
      - StravaOauth
      - SupabaseApiKey
      - MetabaseApiKey
      - PaddleApiKey
      - JenkinsApiKey
      - SalesmateApiKey
      - ChargebeeApiKey
      - HomeAssistantAccessToken
      - CircleCiApiKey
      - RedditApiOauth
      - OktaApiKey
      - WhatsAppAccessToken
      - FreshserviceApiKey
      - FreshworksCrmApiKey
      - BrevoApiKey
      - MailerLiteApiKey
      - CloudflareApiKey
      - StrapiApiKey
      - GetResponseApiKey
      - TwistAccessToken
      - WekanApiKey
      - ZulipApiKey
      - NextCloudApiKey
      - CodaApiKey
      - DriftAccessToken
      - QuickBaseApiKey
      - TheHiveApiKey
      - KoBoToolboxApiKey
      - GrafanaApiApiKey
      - ActionNetworkApiKey
      - AdaloApiKey
      - AirtopApiKey
      - ApiTemplateIoApiKey
      - AutopilotApiKey
      - AwsLambdaApiKey
      - BannerbearApiKey
      - BeeminderApiKey
      - BitwardenApiKey
      - BrandfetchApiKey
      - BubbleApiKey
      - ClearbitApiKey
      - CockpitApiKey
      - CoinGeckoApiKey
      - MicrosoftGraphAccessToken
      - GcpServiceAccount
      - GoogleCloudOAuth
      - MsServerEntraId
      - DemioApiKey
      - DhlApiKey
      - DisqusApiKey
      - DropcontactApiKey
      - EgoiApiKey
      - EmeliaApiKey
      - ErpNextApiKey
      - FlowApiKey
      - GhostApiKey
      - GongApiKey
      - GotifyApiKey
      - GoToWebinarOAuth2
      - GristApiKey
      - HackerNewsApiKey
      - HaloPsaApiKey
      - HumanticAiApiKey
      - HunterApiKey
      - IterableApiKey
      - JinaAiApiKey
      - LemlistApiKey
      - LingvaNexApiKey
      - LoneScaleApiKey
      - MailcheckApiKey
      - MailgunApiKey
      - MailjetApiKey
      - MandrillApiKey
      - MarketstackApiKey
      - MatrixApiKey
      - MattermostApiKey
      - MessageBirdApiKey
      - MindeeApiKey
      - MispApiKey
      - MistralAiApiKey
      - MoceanApiKey
      - MonicaCrmApiKey
      - Msg91ApiKey
      - NasaApiKey
      - NpmApiKey
      - OdooApiKey
      - OneSimpleApiApiKey
      - OnfleetApiKey
      - OpenThesaurusApiKey
      - OpenWeatherMapApiKey
      - OuraApiKey
      - PeekalinkApiKey
      - PhantombusterApiKey
      - PhilipsHueApiKey
      - PlivoApiKey
      - ProfitWellApiKey
      - PushbulletApiKey
      - PushcutApiKey
      - PushoverApiKey
      - QuickChartApiKey
      - RaindropApiKey
      - RocketChatApiKey
      - RundeckApiKey
      - SeaTableApiKey
      - SecurityScorecardApiKey
      - SegmentApiKey
      - SendyApiKey
      - Signl4ApiKey
      - Sms77ApiKey
      - SplunkApiKey
      - StackbyApiKey
      - StoryblokApiKey
      - SyncroMspApiKey
      - TaigaApiKey
      - TapfiliateApiKey
      - TravisCiApiKey
      - TwakeApiKey
      - UnleashedSoftwareApiKey
      - UpleadApiKey
      - UProcApiKey
      - UrlScanIoApiKey
      - VeroApiKey
      - VonageApiKey
      - WebflowApiKey
      - WiseApiKey
      - TwitterOAuth2
      - YourlsApiKey
      - ZammadApiKey
      - ZohoCrmOAuth2
      - DocuSignOAuth2
      - AzureDevOpsPersonalAccessToken
      - WorkdayOAuth2
      - DatadogApiKey
      - AmazonSESApiKey
      - BitbucketOAuth2
      - SAPApiKey
      - Dynamics365OAuth2
      - SnowflakeApiKey
      - TwitchOAuth2
      - FigmaPersonalAccessToken
      - AwsCloudWatchApiKey
      - AzureBlobStorageApiKey
      - OneLoginOAuth2
      - SmtpRelay
      - WordpressApiKey
      - ContentfulApiKey
      - CopperApiKey
      - DeepLApiKey
      - CortexApiKey
      - AzureFoundryEntraId
      - Causeway
      - Amazon
      - Clerk
      - Brightspace
      - GenericAnthropic
      - Cohesity
      - AnthropicInferenceHooks
      - AnthropicAnalytics
      - GoogleVertexAi
      enum:
      - None
      - AI21
      - Alibaba
      - AlphaVantage
      - Anthropic
      - Asana
      - Atlassian
      - AtlassianApiKey
      - AtlassianOauth
      - Azure
      - AzureAIStudio
      - AzureBlob
      - AzureML
      - BasicAuth
      - Bedrock
      - BoxOauth
      - BraveSearchApiKey
      - Cohere
      - Compass
      - CustomCredential
      - CustomAPIKey
      - Custom OpenAI
      - DataBricksToken
      - DropboxOauth
      - ElevenLabs
      - Exa
      - Firecrawl
      - GenericOpenAI
      - GithubPersonalAccessToken
      - Google
      - GoogleOauth
      - GoogleServiceAccount
      - HeaderAuth
      - Hubspot
      - Hugging Face
      - ICDOauth
      - IPAPI
      - JinaAI
      - LinkPreview
      - McpAccessToken
      - McpHeaders
      - MicrosoftOauth
      - MicrosoftBingSearch
      - Mistral
      - MongoDb
      - MongoDbCloudId
      - MongoDbConnectionString
      - MsServer
      - MySql
      - NASA
      - NewsAPI
      - NotionIntegrationSecret
      - Nutritionix
      - Ollama
      - OpenAI
      - OpenVINO
      - Perplexity
      - PgSql
      - Pinecone
      - PyTorch
      - QueryParamAuth
      - Reddit
      - Replicate
      - S3
      - SalesforceOauth
      - ScaleFlex
      - SendGrid
      - Serper
      - ServiceNow
      - SlackBotAccessToken
      - SlackOauth
      - SlackUserAccessToken
      - SnowflakeEncryptedKey
      - SnowflakePrivateKey
      - Spotify
      - Stability
      - Strava
      - SupabasePersonalAccessToken
      - Together AI
      - WatsonAix
      - Weaviate
      - WeatherStack
      - WolframAlpha
      - X
      - XAI
      - XOauth
      - Youtube
      - FredApiKey
      - GovRegulationsApiKey
      - SecHeader
      - PineconeApiKey
      - LaunchDarklyApiKey
      - PerplexityApiKey
      - StripeApiKey
      - AirtableApiKey
      - SmartSheetApiKey
      - GrafanaApiKey
      - GenericOAuth
      - AiriaXApiKey
      - AzureAi
      - BedrockArn
      - ScaleflexMcpHeaders
      - WhatsAppCloudApi
      - NotionOauth
      - SapHana
      - BitlyApiKey
      - CalendlyAccessToken
      - ClickUpApiKey
      - DiscordBotToken
      - FreshdeskApiKey
      - IntercomAccessToken
      - LinearApiKey
      - MailchimpApiKey
      - MondayComApiKey
      - PipedriveApiKey
      - ShopifyAccessToken
      - SurveyMonkeyAccessToken
      - TelegramBotToken
      - TodoistApiKey
      - TrelloApiKey
      - TwilioApiKey
      - TypeformAccessToken
      - ZendeskApiKey
      - ZoomOauth
      - QuickBooksOauth
      - AwsAccessKey
      - JiraOauth
      - XeroOauth
      - ActiveCampaignApiKey
      - GitlabAccessToken
      - ClockifyApiKey
      - PagerDutyApiKey
      - NetlifyAccessToken
      - HelpScoutApiKey
      - HarvestAccessToken
      - DiscourseApiKey
      - ConvertKitApiKey
      - BaserowApiKey
      - NocoDBApiKey
      - PayPalOAuth
      - KeapAccessToken
      - MauticApiKey
      - AffinityApiKey
      - HighLevelApiKey
      - InvoiceNinjaApiKey
      - MagentoAccessToken
      - CustomerIoApiKey
      - AgileCrmApiKey
      - PostHogApiKey
      - OrbitApiKey
      - SentryIoApiKey
      - WooCommerceApiKey
      - SpotifyOauth
      - UptimeRobotApiKey
      - MediumAccessToken
      - LinkedInOauth
      - StravaOauth
      - SupabaseApiKey
      - MetabaseApiKey
      - PaddleApiKey
      - JenkinsApiKey
      - SalesmateApiKey
      - ChargebeeApiKey
      - HomeAssistantAccessToken
      - CircleCiApiKey
      - RedditApiOauth
      - OktaApiKey
      - WhatsAppAccessToken
      - FreshserviceApiKey
      - FreshworksCrmApiKey
      - BrevoApiKey
      - MailerLiteApiKey
      - CloudflareApiKey
      - StrapiApiKey
      - GetResponseApiKey
      - TwistAccessToken
      - WekanApiKey
      - ZulipApiKey
      - NextCloudApiKey
      - CodaApiKey
      - DriftAccessToken
      - QuickBaseApiKey
      - TheHiveApiKey
      - KoBoToolboxApiKey
      - GrafanaApiApiKey
      - ActionNetworkApiKey
      - AdaloApiKey
      - AirtopApiKey
      - ApiTemplateIoApiKey
      - AutopilotApiKey
      - AwsLambdaApiKey
      - BannerbearApiKey
      - BeeminderApiKey
      - BitwardenApiKey
      - BrandfetchApiKey
      - BubbleApiKey
      - ClearbitApiKey
      - CockpitApiKey
      - CoinGeckoApiKey
      - MicrosoftGraphAccessToken
      - GcpServiceAccount
      - GoogleCloudOAuth
      - MsServerEntraId
      - DemioApiKey
      - DhlApiKey
      - DisqusApiKey
      - DropcontactApiKey
      - EgoiApiKey
      - EmeliaApiKey
      - ErpNextApiKey
      - FlowApiKey
      - GhostApiKey
      - GongApiKey
      - GotifyApiKey
      - GoToWebinarOAuth2
      - GristApiKey
      - HackerNewsApiKey
      - HaloPsaApiKey
      - HumanticAiApiKey
      - HunterApiKey
      - IterableApiKey
      - JinaAiApiKey
      - LemlistApiKey
      - LingvaNexApiKey
      - LoneScaleApiKey
      - MailcheckApiKey
      - MailgunApiKey
      - MailjetApiKey
      - MandrillApiKey
      - MarketstackApiKey
      - MatrixApiKey
      - MattermostApiKey
      - MessageBirdApiKey
      - MindeeApiKey
      - MispApiKey
      - MistralAiApiKey
      - MoceanApiKey
      - MonicaCrmApiKey
      - Msg91ApiKey
      - NasaApiKey
      - NpmApiKey
      - OdooApiKey
      - OneSimpleApiApiKey
      - OnfleetApiKey
      - OpenThesaurusApiKey
      - OpenWeatherMapApiKey
      - OuraApiKey
      - PeekalinkApiKey
      - PhantombusterApiKey
      - PhilipsHueApiKey
      - PlivoApiKey
      - ProfitWellApiKey
      - PushbulletApiKey
      - PushcutApiKey
      - PushoverApiKey
      - QuickChartApiKey
      - RaindropApiKey
      - RocketChatApiKey
      - RundeckApiKey
      - SeaTableApiKey
      - SecurityScorecardApiKey
      - SegmentApiKey
      - SendyApiKey
      - Signl4ApiKey
      - Sms77ApiKey
      - SplunkApiKey
      - StackbyApiKey
      - StoryblokApiKey
      - SyncroMspApiKey
      - TaigaApiKey
      - TapfiliateApiKey
      - TravisCiApiKey
      - TwakeApiKey
      - UnleashedSoftwareApiKey
      - UpleadApiKey
      - UProcApiKey
      - UrlScanIoApiKey
      - VeroApiKey
      - VonageApiKey
      - WebflowApiKey
      - WiseApiKey
      - TwitterOAuth2
      - YourlsApiKey
      - ZammadApiKey
      - ZohoCrmOAuth2
      - DocuSignOAuth2
      - AzureDevOpsPersonalAccessToken
      - WorkdayOAuth2
      - DatadogApiKey
      - AmazonSESApiKey
      - BitbucketOAuth2
      - SAPApiKey
      - Dynamics365OAuth2
      - SnowflakeApiKey
      - TwitchOAuth2
      - FigmaPersonalAccessToken
      - AwsCloudWatchApiKey
      - AzureBlobStorageApiKey
      - OneLoginOAuth2
      - SmtpRelay
      - WordpressApiKey
      - ContentfulApiKey
      - CopperApiKey
      - DeepLApiKey
      - CortexApiKey
      - AzureFoundryEntraId
      - Causeway
      - Amazon
      - Clerk
      - Brightspace
      - GenericAnthropic
      - Cohesity
      - AnthropicInferenceHooks
      - AnthropicAnalytics
      - GoogleVertexAi
    Department:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          label:
            type: string
            maxLength: 256
            minLength: 0
          order:
            type: integer
            format: int32
          createdBy:
            oneOf:
            - $ref: '#/components/schemas/User'
          tenantId:
            type: string
            format: guid
    MitigationStepOrigin:
      type: string
      description: ''
      x-enumNames:
      - Generated
      - Manual
      enum:
      - Generated
      - Manual
    GatewayProviders:
      type: string
      description: ''
      x-enumNames:
      - Unknown
      - OpenAI
      - Anthropic
      - Gemini
      - Ollama
      - AzureFoundry
      - AwsBedrock
      - TogetherAI
      - Replicate
      - GoogleVertex
      enum:
      - Unknown
      - OpenAI
      - Anthropic
      - Gemini
      - Ollama
      - AzureFoundry
      - AwsBedrock
      - TogetherAI
      - Replicate
      - GoogleVertex
    MitigationArtifactType:
      type: string
      description: ''
      x-enumNames:
      - Guardrail
      - Evaluation
      - RedTeamingCampaign
      - Assessment
      - GatewayLimit
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
      - ExternalAgentRouting
      enum:
      - Guardrail
      - Evaluation
      - RedTeamingCampaign
      - Assessment
      - GatewayLimit
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
      - ExternalAgentRouting
    AssessmentTemplateCategory:
      type: string
      description: ''
      x-enumNames:
      - Exploratory
      - Attestation
      enum:
      - Exploratory
      - Attestation
    OutputConfiguration:
      type: object
      additionalProperties: false
      properties:
        outputType:
          $ref: '#/components/schemas/OutputType'
    DataSource:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        properties:
          executionName:
            type:
            - string
            - 'null'
            maxLength: 256
            minLength: 0
          state:
            $ref: '#/components/schemas/DatasourceState'
          chunkingConfigId:
            type:
            - string
            - 'null'
            format: guid
          chunkingConfig:
            $ref: '#/components/schemas/ChunkingConfig'
          dataSourceType:
            type: string
          databaseType:
            type: string
          pineconeApiKey:
            type:
            - string
            - 'null'
          pineconeIndexName:
            type:
            - string
            - 'null'
          embeddingProvider:
            $ref: '#/components/schemas/EmbeddingProviderType'
          isUserSpecific:
            type: boolean
          isImageProcessingEnabled:
            type: boolean
          customImageProcessingPrompt:
            type: string
          files:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/DataSourceFile'
          fileCount:
            type:
            - integer
            - 'null'
            format: int32
          dataSourceGroupId:
            type:
            - string
            - 'null'
            format: guid
          dataSourceGroup:
            oneOf:
            - $ref: '#/components/schemas/DataSourceGroup'
          configurationJson:
            type: string
          credentialsId:
            type:
            - string
            - 'null'
            format: guid
          tableDocumentProcessingMode:
            oneOf:
            - $ref: '#/components/schemas/TableDocumentProcessingMode'
          sourceType:
            $ref: '#/components/schemas/SourceType'
          lastIngested:
            type:
            - string
            - 'null'
            format: date-time
          agentTrigger:
            oneOf:
            - $ref: '#/components/schemas/AgentTrigger'
          isDeleted:
            type:
            - boolean
            - 'null'
          name:
            type: string
            minLength: 1
    JsonNode:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        underlyingElement: {}
        options:
          oneOf:
          - $ref: '#/components/schemas/JsonNodeOptions'
        parent:
          oneOf:
          - $ref: '#/components/schemas/JsonNode'
        root:
          $ref: '#/components/schemas/JsonNode'
    UseCaseAssetAssignment:
      type: object
      additionalProperties: false
      properties:
        useCaseId:
          type: string
          format: guid
        aiAssetAggregateId:
          type: string
          format: guid
        aiAssetVersionId:
          type:
          - string
          - 'null'
          format: guid
    SpmConnection:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - name
        - securePostureProvider
        - connectionJson
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          name:
            type: string
            minLength: 1
          securePostureProvider:
            $ref: '#/components/schemas/SecurePostureProvider'
          connectionJson:
            type: string
            minLength: 1
          connection:
            oneOf:
            - $ref: '#/components/schemas/ConnectionConfiguration'
          isDeleted:
            type:
            - boolean
            - 'null'
          spmAgents:
            type: array
            items:
              $ref: '#/components/schemas/SpmAgent'
          analysisRuns:
            type: array
            items:
              $ref: '#/components/schemas/SpmAppIntegrationAnalysisRun'
    RuleActionEntity:
      allOf:
      - $ref: '#/components/schemas/BaseEntity'
      - type: object
        x-abstract: true
        additionalProperties: false
        properties:
          ruleId:
            type:
            - string
            - 'null'
            format: guid
          rule:
            oneOf:
            - $ref: '#/components/schemas/GatewayRuleEntity'
          resilienceTargetId:
            type:
            - string
            - 'null'
            format: guid
          resilienceTarget:
            oneOf:
            - $ref: '#/components/schemas/GatewayResilienceTargetEntity'
          order:
            type: integer
            format: int32
    PromptVersion:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        properties:
          promptId:
            type: string
            format: guid
          versionNumber:
            type: integer
            format: int32
          isLatest:
            type: boolean
          versionChangeDescription:
            type: string
            maxLength: 256
            minLength: 0
          promptMessage:
            type: string
    ConnectionAtlan:
      type: object
      additionalProperties: false
      properties:
        baseUrl:
          type: string
        apiToken:
          type: string
    ConnectionCrowdStrike:
      type: object
      additionalProperties: false
      properties:
        clientId:
          type:
          - string
          - 'null'
        clientSecret:
          type:
          - string
          - 'null'
        region:
          type:
          - string
          - 'null'
        maxUsers:
          type:
          - integer
          - 'null'
          format: int32
        enabledCapabilities:
          type: array
          items:
            $ref: '#/components/schemas/SpmProviderKind'
    BatchPipelineExecutionRequest:
      type: object
      additionalProperties: false
      required:
      - requests
      properties:
        requests:
          type: array
          maxItems: 100
          minItems: 1
          items:
            $ref: '#/components/schemas/BatchPipelineExecutionItemRequest'
    AiAssetInternalStatus:
      type: string
      description: ''
      x-enumNames:
      - Undefined
      - Synchronizing
      - MissingFromSource
      enum:
      - Undefined
      - Synchronizing
      - MissingFromSource
    PythonScriptExecutionParameters:
      type: object
      additionalProperties: false
      properties:
        execution_id:
          type:
          - string
          - 'null'
          format: guid
        step_results_by_type:
          type: object
          additionalProperties:
            type: array
            items:
              $ref: '#/components/schemas/AgentBaseStepResult'
        step_results_by_name:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/AgentBaseStepResult'
    TableDocumentProcessingMode:
      type: string
      description: ''
      x-enumNames:
      - Unspecified
      - Semantic
      - Sql
      - Both
      - Embedding
      - Graph
      - Labels
      - HybridEntityRag
      enum:
      - Unspecified
      - Semantic
      - Sql
      - Both
      - Embedding
      - Graph
      - Labels
      - HybridEntityRag
    QuickAction:
      type: object
      additionalProperties: false
      properties:
        id:
          type: string
        displayName:
          type: string
        quickActionType:
          $ref: '#/components/schemas/QuickActionType'
        initialMessage:
          type:
          - string
          - 'null'
        assignedAgent:
          oneOf:
          - $ref: '#/components/schemas/AssignedAgent'
        targetDomains:
          type:
          - array
          - 'null'
          items:
            type: string
    UseCaseEvaluationSelection:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - useCaseId
        - agentEvaluationId
        - source
        - selectedAt
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          useCaseId:
            type: string
            format: guid
            minLength: 1
          agentEvaluationId:
            type: string
            format: guid
            minLength: 1
          source:
            $ref: '#/components/schemas/UseCaseEvaluationSelectionSource'
          selectedAt:
            type: string
            format: date-time
          selectedByUserId:
            type:
            - string
            - 'null'
            format: guid
          useCase:
            $ref: '#/components/schemas/UseCase'
          agentEvaluation:
            $ref: '#/components/schemas/AgentEvaluation'
    ToolResponse:
      type: object
      additionalProperties: false
      properties:
        toolCallId:
          type: string
        toolName:
          type: string
        response:
          type:
          - string
          - 'null'
    StepType:
      type: string
      description: ''
      x-enumNames:
      - AIOperation
      - DataSearch
      - ExecutePipelineStep
      - InputStep
      - MachineLearningOperationStep
      - MemoryLoadStep
      - MemoryStoreStep
      - OutputStep
      - PythonStep
      - Exception
      - RouterStep
      - AnnotationStep
      - ApprovalStep
      - WebhookApprovalStep
      - ToolActionStep
      - AgentCardStep
      - ConditionalBranchStep
      - LoopContainerStep
      - LoopStartStep
      - LoopEndStep
      - JsonFormatterStep
      - SdkStep
      - CustomFormHumanApprovalStep
      - ImageGenerationStep
      - DocumentSplitterStep
      enum:
      - AIOperation
      - dataSearch
      - executePipelineStep
      - inputStep
      - machineLearningOperationStep
      - memoryLoadStep
      - memoryStoreStep
      - outputStep
      - pythonStep
      - exception
      - routerStep
      - annotationStep
      - approvalStep
      - webhookApprovalStep
      - toolActionStep
      - agentCardStep
      - conditionalBranchStep
      - loopContainerStep
      - loopStartStep
      - loopEndStep
      - jsonFormatterStep
      - sdkStep
      - customFormHumanApprovalStep
      - imageGenerationStep
      - documentSplitterStep
    ClassificationAssignment:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          assetId:
            type: string
            format: guid
          classificationId:
            type: string
            format: guid
          assignedClassificationLabelId:
            type:
            - string
            - 'null'
            format: guid
          assignedClassificationLabel:
            oneOf:
            - $ref: '#/components/schemas/ClassificationLabel'
          inferredClassificationLabelId:
            type:
            - string
            - 'null'
            format: guid
          classification:
            $ref: '#/components/schemas/Classification'
          riskMetadata:
            oneOf:
            - $ref: '#/components/schemas/RiskMetadata'
    AiAssetAggregate:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        x-abstract: true
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          sourceId:
            type: string
            format: guid
          source:
            oneOf:
            - $ref: '#/components/schemas/AiAssetAggregateSource'
          sourceType:
            $ref: '#/components/schemas/AiAssetSourceType'
          sourceInstanceId:
            type:
            - string
            - 'null'
            format: guid
          sourceEnvironmentId:
            type: string
            maxLength: 255
            minLength: 0
          assetType:
            $ref: '#/components/schemas/AiAssetType'
          internalStatus:
            $ref: '#/components/schemas/AiAssetInternalStatus'
          displayStatus:
            $ref: '#/components/schemas/AiAssetDisplayStatus'
          timeReference:
            type:
            - string
            - 'null'
            format: date-time
          usage:
            type: array
            items:
              $ref: '#/components/schemas/AiAssetUsage'
          childUsages:
            type: array
            items:
              $ref: '#/components/schemas/AiAssetUsage'
          name:
            type: string
            maxLength: 4000
            minLength: 0
          classifications:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/ClassificationAssignment'
          metadataAssignments:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/AiAssetMetadataAssignment'
          assessments:
            type:
            - array
            - 'null'
            items:
              $ref: '#/components/schemas/Assessment'
          useCases:
            type: array
            items:
              $ref: '#/components/schemas/UseCase'
    UseCase:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        - stage
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type:
            - string
            - 'null'
            format: guid
          name:
            type: string
            maxLength: 200
            minLength: 0
          stage:
            $ref: '#/components/schemas/UseCaseStage'
          description:
            type:
            - string
            - 'null'
          ownerId:
            type:
            - string
            - 'null'
            format: guid
          reviewerId:
            type:
            - string
            - 'null'
            format: guid
          impacted:
            type:
            - string
            - 'null'
            maxLength: 500
            minLength: 0
          reviewedAt:
            type:
            - string
            - 'null'
            format: date-time
          contextChangedAt:
            type:
            - string
            - 'null'
            format: date-time
          registerTemplatesPinnedAt:
            type:
            - string
            - 'null'
            format: date-time
          riskDomainId:
            type:
            - string
            - 'null'
            format: guid
          riskSubDomainId:
            type:
            - string
            - 'null'
            format: guid
          autonomy:
            oneOf:
            - $ref: '#/components/schemas/UseCaseAutonomy'
          status:
            oneOf:
            - $ref: '#/components/schemas/UseCaseStatus'
          acceptsAssetUpdates:
            type: boolean
          hasAutoGeneratedName:
            type: boolean
          core:
            oneOf:
            - $ref: '#/components/schemas/UseCaseCore'
          intendedUse:
            oneOf:
            - $ref: '#/components/schemas/UseCaseIntendedUse'
          reviewPolicy:
            oneOf:
            - $ref: '#/components/schemas/UseCaseReviewPolicy'
          registerFactAnswers:
            type: object
            additionalProperties:
              type: string
          receiptJson:
            type:
            - string
            - 'null'
          nutritionLabelJson:
            type:
            - string
            - 'null'
          activeVersionId:
            type:
            - string
            - 'null'
            format: guid
          approvedVersionId:
            type:
            - string
            - 'null'
            format: guid
          rowVersion:
            type: integer
          activeVersion:
            oneOf:
            - $ref: '#/components/schemas/UseCaseVersion'
          approvedVersion:
            oneOf:
            - $ref: '#/components/schemas/UseCaseVersion'
          reviewer:
            oneOf:
            - $ref: '#/components/schemas/User'
          riskDomain:
            oneOf:
            - $ref: '#/components/schemas/RiskDomain'
          riskSubDomain:
            oneOf:
            - $ref: '#/components/schemas/RiskSubDomain'
          assignedAssets:
            type: array
            items:
              $ref: '#/components/schemas/AiAssetAggregate'
          assetAssignments:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseAssetAssignment'
          artifacts:
            type: array
            items:
              $ref: '#/components/schemas/GovernanceArtifact'
          frameworkSnapshots:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseGovernanceFrameworkSnapshot'
          registerTemplateSnapshots:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseRegisterTemplateSnapshot'
          evaluationSelections:
            type: array
            items:
              $ref: '#/components/schemas/UseCaseEvaluationSelection'
    AiAssetMetadataAssignment:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          aiAssetAggregateId:
            type: string
            format: guid
          aiAssetAggregate:
            $ref: '#/components/schemas/AiAssetAggregate'
          aiAssetMetadataDefinitionId:
            type: string
            format: guid
          aiAssetMetadataDefinition:
            $ref: '#/components/schemas/AiAssetMetadataDefinition'
          aiAssetMetadataDefinitionOptionId:
            type:
            - string
            - 'null'
            format: guid
          aiAssetMetadataDefinitionOption:
            oneOf:
            - $ref: '#/components/schemas/AiAssetMetadataDefinitionOption'
          assetType:
            $ref: '#/components/schemas/AiAssetType'
          value:
            type:
            - string
            - 'null'
            maxLength: 4000
            minLength: 0
          version:
            type:
            - string
            - 'null'
            maxLength: 100
            minLength: 0
          tenantId:
            type: string
            format: guid
    PriceType:
      type: string
      description: ''
      x-enumNames:
      - Unknown
      - AITextOutputModelPrice
      - AIImageOutputModelPrice
      enum:
      - Unknown
      - AITextOutputModelPrice
      - AIImageOutputModelPrice
    AgentBaseStepResult:
      type: object
      discriminator:
        propertyName: $type
        mapping:
          string: '#/components/schemas/AgentStepStringResult'
          branch: '#/components/schemas/AgentStepBranchedResult'
          halt: '#/components/schemas/AgentStepHaltResult'
          stopAndError: '#/components/schemas/AgentStopAndErrorResult'
          memoryLoad: '#/components/schemas/AgentLoadMemoryStepResult'
          memoryStore: '#/components/schemas/AgentStoreMemoryStepResult'
          datasearch: '#/components/schemas/AgentDatasearchStepResult'
          input: '#/components/schemas/AgentInputStepResult'
          output: '#/components/schemas/AgentOutputStepResult'
          agent: '#/components/schemas/AgentInvocationStepResult'
          model: '#/components/schemas/AgentModelStepResult'
          python: '#/components/schemas/AgentPythonStepResult'
          structuredResponsePython: '#/components/schemas/AgentPythonStructuredStepResutlt'
          approval: '#/components/schemas/AgentApprovalStepResult'
          toolAction: '#/components/schemas/AgentToolActionStepResult'
          card: '#/components/schemas/AgentCardStepResult'
          loopContainer: '#/components/schemas/AgentLoopContainerStepResult'
          loopStart: '#/components/schemas/AgentLoopStartStepResult'
          loopEnd: '#/components/schemas/AgentLoopEndStepResult'
          jsonFormatter: '#/components/schemas/AgentJsonFormatterStepResult'
          sdkStep: '#/components/schemas/AgentSdkStepResult'
          messageFormatter: '#/components/schemas/AgentMessageFormatterStepResult'
          passthrough: '#/components/schemas/AgentPassthroughStepResult'
          webhookApproval: '#/components/schemas/AgentWebhookApprovalStepResult'
          modelStructured: '#/components/schemas/AgentModelStepStructuredResult'
          customFormApproval: '#/components/schemas/AgentCustomFormApprovalStepStructuredResult'
          image: '#/components/schemas/AgentImageStepResult'
          documentSplitter: '#/components/schemas/AgentDocumentSplitterStepResult'
      x-abstract: true
      additionalProperties: false
      required:
      - $type
      properties:
        stepType:
          $ref: '#/components/schemas/StepType'
        stepId:
          type: string
          format: guid
        $type:
          type: string
    CredentialKeyField:
      type: string
      description: ''
      x-enumNames:
      - OpenAIAPIKey
      - AzureAPIKey
      - OllamaAPIKey
      - HuggingFaceAPIKey
      - AnthropicAPIKey
      - AzureAIStudioApiKey
      - ReplicateAPIKey
      - StabilityAPIKey
      - MistralAPIKey
      - PerplexityAPIKey
      - WatsonAPIKey
      - Ai21APIKey
      - CohereAPIKey
      - GoogleAPIKey
      - TogetherAIAPIKey
      - PineconeAPIKey
      - WeaviateAPIKey
      - CustomOpenAIAPIKey
      - XAIAPIKey
      - XAPIKey
      - FirecrawlAPIKey
      - YoutubeAPIKey
      - MicrosoftBingSearchAPIKey
      - BedrockAPIKey
      - AWSSecretKey
      - AwsAccessKey
      - AWSRegion
      - CustomApiKey
      - ConvertKitApiSecret
      - AccessToken
      - RefreshToken
      - Scope
      - Domain
      - Username
      - Password
      - Header
      - HeaderValue
      - Key
      - QueryParam
      - CompassAPIKey
      - SnowflakePrivateKey
      - SnowflakePasswordPhrase
      - AzureMLAPIKey
      - OpenVinoAPIKey
      - PyTorchAPIKey
      - AzureClientId
      - AzureClientSecret
      - AzureTenantId
      - AlibabaApiKey
      - GenericOpenAIAPIKey
      - ClientId
      - ClientSecret
      - ConnectionString
      - WolframAlphaAppId
      - ServiceAccountCredentials
      - ApplicationName
      - ImpersonateUser
      - AzureAiAPIKey
      - BedrockAccountNumber
      - BedrockExternalId
      - BedrockIamRole
      - BedrockUseIRSA
      - FilerobotToken
      - XFilerobotKey
      - WhatsAppAccessToken
      - WhatsAppPhoneNumberId
      - WhatsAppAppSecret
      - Host
      - Port
      - Database
      - Schema
      - Ssl
      - Encrypt
      - ValidateCert
      - HanaConnectionType
      - HanaInstanceNumber
      - ConfluenceUrl
      - JiraUrl
      - ContentfulSpaceId
      - ContentfulPreviewApiKey
      - AccessKeyId
      - SecretAccessKey
      - SessionToken
      - Expiration
      - SlackSigningSecret
      - CohesityApiKey
      - CohesityEndpoint
      - AnthropicInferenceHooksSigningSecret
      - AnthropicAdminKey
      - AnthropicAnalyticsKey
      - GcpProjectId
      - GcpLocation
      enum:
      - openaiApiKey
      - azureApiKey
      - ollamaApiKey
      - huggingFaceApiKey
      - anthropicApiKey
      - azureAIStudioApiKey
      - replicateApiKey
      - stabilityApiKey
      - mistralApiKey
      - perplexityApiKey
      - watsonApiKey
      - ai21ApiKey
      - cohereApiKey
      - googleApiKey
      - togetherAiApiKey
      - pineconeApiKey
      - weaviateApiKey
      - customOpenAiApiKey
      - xAiApiKey
      - xApiKey
      - firecrawlApiKey
      - youtubeApiKey
      - microsoftBingSearchAPIKey
      - bedrockApiKey
      - awsSecretKey
      - awsAccessKey
      - awsRegion
      - CustomAPIKey
      - convertkitApiSecret
      - AccessToken
      - RefreshToken
      - Scope
      - Domain
      - Username
      - Password
      - Header
      - HeaderValue
      - Key
      - QueryParam
      - compassApiKey
      - snowflakePrivateKey
      - snowflakePasswordPhrase
      - azureMLApiKey
      - OpenVinoAPIKey
      - PyTorchAPIKey
      - azureClientId
      - azureClientSecret
      - azureTenantId
      - AlibabaApiKey
      - genericOpenAiApiKey
      - ClientId
      - ClientSecret
      - ConnectionString
      - WolframAlphaAppId
      - serviceAccountCredentials
      - applicationName
      - impersonateUser
      - azureAiApiKey
      - bedrockAccountNumber
      - bedrockExternalId
      - bedrockIamRole
      - bedrockUseIRSA
      - filerobotToken
      - xFilerobotKey
      - whatsAppAccessToken
      - whatsAppPhoneNumberId
      - whatsAppAppSecret
      - host
      - port
      - database
      - schema
      - Ssl
      - Encrypt
      - ValidateCert
      - hanaConnectionType
      - hanaInstanceNumber
      - confluenceUrl
      - jiraUrl
      - contentfulSpaceId
      - contentfulPreviewApiKey
      - AccessKeyId
      - SecretAccessKey
      - SessionToken
      - Expiration
      - SlackSigningSecret
      - cohesityApiKey
      - cohesityEndpoint
      - anthropicInferenceHooksSigningSecret
      - anthropicAdminKey
      - anthropicAnalyticsKey
      - gcpProjectId
      - gcpLocation
    ConnectionGlean:
      type: object
      additionalProperties: false
      properties:
        instance:
          type: string
        apiToken:
          type: string
    RuleGroupConditionEntity:
      allOf:
      - $ref: '#/components/schemas/RuleConditionEntity'
      - type: object
        additionalProperties: false
        properties:
          logicalOperator:
            type: string
          children:
            type: array
            items:
              $ref: '#/components/schemas/RuleConditionEntity'
    MitigationVerifierKey:
      type: string
      description: ''
      x-enumNames:
      - Guardrail
      - Evaluation
      - RedTeaming
      - Gateway
      - Assessment
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
      enum:
      - Guardrail
      - Evaluation
      - RedTeaming
      - Gateway
      - Assessment
      - Disclosure
      - EndpointRouting
      - GatewayBudget
      - GatewayAgentConstraint
    ScenarioOverrideKind:
      type: string
      description: ''
      x-enumNames:
      - Internal
      - External
      enum:
      - Internal
      - External
    ModelIdentifierType:
      type: string
      description: ''
      x-enumNames:
      - None
      - Library
      - Project
      enum:
      - None
      - Library
      - Project
    ApiKeyScopeName:
      type: string
      description: ''
      x-enumNames:
      - Conversations
      - Project
      - Findings
      - EndpointAgentPolicy
      - BrowserExtensionProvisioning
      - LiteLlmGuardrail
      enum:
      - Conversations
      - Project
      - Findings
      - EndpointAgentPolicy
      - BrowserExtensionProvisioning
      - LiteLlmGuardrail
    DeploymentPrompt:
      type: string
      description: ''
      x-enumNames:
      - Artifact
      - Citation
      enum:
      - Artifact
      - Citation
    RiskControlGroup:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: string
          format: guid
        name:
          type: string
          maxLength: 200
          minLength: 1
        key:
          type:
          - string
          - 'null'
          maxLength: 128
        controls:
          type: array
          items:
            $ref: '#/components/schemas/RiskControl'
    ScenarioOverrides:
      type: object
      discriminator:
        propertyName: kind
        mapping:
          Internal: '#/components/schemas/InternalScenarioOverrides'
          External: '#/components/schemas/ExternalScenarioOverrides'
      x-abstract: true
      additionalProperties: false
      required:
      - kind
      properties:
        modelOverride:
          oneOf:
          - $ref: '#/components/schemas/ModelOverride'
        toolOverrides:
          oneOf:
          - $ref: '#/components/schemas/ToolPatch'
        kind:
          type: string
    ToolPatch:
      type: object
      additionalProperties: false
      properties:
        add:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolPatchEntry'
        remove:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolPatchEntry'
        modify:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ToolPatchEntry'
    RiskSubDomain:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        id:
          type: string
          format: guid
        riskDomainId:
          type: string
          format: guid
        name:
          type: string
          maxLength: 500
          minLength: 1
        code:
          type:
          - string
          - 'null'
          maxLength: 10
        description:
          type:
          - string
          - 'null'
          maxLength: 2000
        displayOrder:
          type: integer
          format: int32
        riskDomain:
          oneOf:
          - $ref: '#/components/schemas/RiskDomain'
        mitigations:
          type: array
          items:
            $ref: '#/components/schemas/RiskSubDomainMitigation'
        controls:
          type: array
          items:
            $ref: '#/components/schemas/RiskSubDomainControl'
    RiskControl:
      type: object
      additionalProperties: false
      required:
      - controlId
      - name
      properties:
        id:
          type: string
          format: guid
        controlGroupId:
          type: string
          format: guid
        controlId:
          type: string
          maxLength: 50
          minLength: 1
        name:
          type: string
          maxLength: 500
          minLength: 1
        controlGroup:
          oneOf:
          - $ref: '#/components/schemas/RiskControlGroup'
    PagedResultOfPipeline:
      type: object
      additionalProperties: false
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Pipeline'
        totalCount:
          type: integer
          format: int32
    Memory:
      allOf:
      - $ref: '#/components/schemas/BaseOptionalProjectEntity'
      - type: object
        additionalProperties: false
        required:
        - name
        properties:
          lookupId:
            type:
            - string
            - 'null'
            format: guid
          isUserSpecific:
            type: boolean
          name:
            type: string
            minLength: 1
          isDeleted:
            type:
            - boolean
            - 'null'
          isConversationScoped:
            type: boolean
          memoryDataEntries:
            type: array
            items:
              $ref: '#/components/schemas/MemoryData'
    GatewayApiKeyType:
      type: string
      description: ''
      x-enumNames:
      - Unknown
      - Standard
      - ExternalAgent
      - User
      enum:
      - Unknown
      - Standard
      - ExternalAgent
      - User
    Assessment:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        - aiAssetAggregateId
        - name
        - templateId
        - templateVersionId
        - version
        - status
        - approverId
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          aiAssetAggregateId:
            type: string
            format: guid
            minLength: 1
          name:
            type: string
            maxLength: 256
            minLength: 1
          templateId:
            type: string
            format: guid
            minLength: 1
          templateVersionId:
            type: string
            format: guid
            minLength: 1
          version:
            type: string
            maxLength: 50
            minLength: 1
          status:
            $ref: '#/components/schemas/AssessmentStatus'
          lastCompletedAt:
            type:
            - string
            - 'null'
            format: date-time
          approverId:
            type: string
            format: guid
            minLength: 1
          responses:
            type:
            - string
            - 'null'
          fileId:
            type:
            - string
            - 'null'
            maxLength: 100
          template:
            oneOf:
            - $ref: '#/components/schemas/AssessmentTemplate'
          templateVersion:
            oneOf:
            - $ref: '#/components/schemas/AssessmentTemplateVersion'
          aiAssetAggregate:
            oneOf:
            - $ref: '#/components/schemas/AiAssetAggregate'
          originSource:
            type:
            - string
            - 'null'
            maxLength: 256
          originId:
            type:
            - string
            - 'null'
            format: guid
          originContext:
            type:
            - object
            - 'null'
            additionalProperties:
              type: string
    DisclosurePayload:
      type: object
      additionalProperties: false
      properties:
        mode:
          type: string
        agentName:
          type:
          - string
          - 'null'
        agentId:
          type:
          - string
          - 'null'
          format: guid
        agentVersion:
          type:
          - string
          - 'null'
        agentType:
          type:
          - string
          - 'null'
        models:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ModelDisclosure'
        primaryModel:
          oneOf:
          - $ref: '#/components/schemas/ModelDisclosure'
        guardrailsApplied:
          type:
          - array
          - 'null'
          items:
            type: string
        guardrailCount:
          type:
          - integer
          - 'null'
          format: int32
        useCases:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/UseCaseDisclosure'
        riskTier:
          type:
          - string
          - 'null'
        euAiActCategory:
          type:
          - string
          - 'null'
        nistAiRmfTier:
          type:
          - string
          - 'null'
        humanReviewed:
          type:
          - boolean
          - 'null'
        reviewedBy:
          type:
          - string
          - 'null'
        disclosureVersion:
          type: string
    AiAssetType:
      type: string
      description: ''
      x-enumNames:
      - InternalModel
      - InternalDataSource
      - InternalTools
      - InternalAgent
      - InternalProject
      - InternalMcpServer
      - ExternalModel
      - UseCase
      - ExternalAgent
      - GovernanceAgent
      - ExternalApplication
      - InternalApplication
      - EndpointApp
      - EndpointMcpServer
      - ExternalDataSource
      enum:
      - InternalModel
      - InternalDataSource
      - InternalTools
      - InternalAgent
      - InternalProject
      - InternalMcpServer
      - ExternalModel
      - UseCase
      - ExternalAgent
      - GovernanceAgent
      - ExternalApplication
      - InternalApplication
      - EndpointApp
      - EndpointMcpServer
      - ExternalDataSource
    OutputParameters:
      type: object
      additionalProperties: false
      properties:
        outputStructure:
          oneOf:
          - $ref: '#/components/schemas/OutputStructureTypes'
        customOutputStructure:
          type:
          - string
          - 'null'
        characterCount:
          type:
          - integer
          - 'null'
          format: int32
          maximum: 2147483647
          minimum: 1
    UserProvisioningSource:
      type: string
      description: ''
      x-enumNames:
      - EndpointDiscovered
      enum:
      - EndpointDiscovered
    ConfiguredModelEntry:
      type: object
      additionalProperties: false
      properties:
        modelName:
          type: string
        aiModelId:
          type:
          - string
          - 'null'
          format: guid
        routeThroughAcc:
          type: boolean
        accGroup:
          type:
          - string
          - 'null'
          format: guid
        url:
          type:
          - string
          - 'null'
        credentialId:
          type:
          - string
          - 'null'
          format: guid
    SecurePostureProvider:
      type: string
      description: ''
      x-enumNames:
      - Undefined
      - N8n
      - Airia
      - AwsBedrock
      - AzureFoundry
      - LangGraph
      - CopilotStudio
      - MicrosoftGraph
      - GoogleWorkspace
      - GitHubRepository
      - Cloudflare
      - GoogleAgentPlatform
      - Glean
      - Atlan
      - Okta
      - Databricks
      - Purview
      - ServiceNow
      - GeminiEnterprise
      - SalesforceAgentforce
      - AzurePowerApps
      - CrewAi
      - CrowdStrike
      - MicrosoftDefenderCloudApps
      - MicrosoftDefenderXdr
      - SentinelOne
      - OpenAi
      - Netskope
      - Zscaler
      - Snowflake
      - AzureFunctionApps
      - AzureDevOpsRepository
      - GitLabRepository
      enum:
      - Undefined
      - N8n
      - Airia
      - AwsBedrock
      - AzureFoundry
      - LangGraph
      - CopilotStudio
      - MicrosoftGraph
      - GoogleWorkspace
      - GitHubRepository
      - Cloudflare
      - GoogleAgentPlatform
      - Glean
      - Atlan
      - Okta
      - Databricks
      - Purview
      - ServiceNow
      - GeminiEnterprise
      - SalesforceAgentforce
      - AzurePowerApps
      - CrewAi
      - CrowdStrike
      - MicrosoftDefenderCloudApps
      - MicrosoftDefenderXdr
      - SentinelOne
      - OpenAi
      - Netskope
      - Zscaler
      - Snowflake
      - AzureFunctionApps
      - AzureDevOpsRepository
      - GitLabRepository
    DeploymentType:
      type: string
      description: ''
      x-enumNames:
      - Marketplace
      - External
      - Internal
      enum:
      - marketplace
      - external
      - internal
    SubdomainApplicability:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
          riskProfileId:
            type: string
            format: guid
          riskSubDomainId:
            type: string
            format: guid
          applicable:
            type: boolean
          confidence:
            type:
            - string
            - 'null'
            maxLength: 50
          rationale:
            type:
            - string
            - 'null'
            maxLength: 2000
          inherentImpact:
            type:
            - integer
            - 'null'
            format: int32
          inherentLikelihood:
            type:
            - integer
            - 'null'
            format: int32
          inherentScore:
            type:
            - integer
            - 'null'
            format: int32
          residualImpact:
            type:
            - integer
            - 'null'
            format: int32
          residualLikelihood:
            type:
            - integer
            - 'null'
            format: int32
          residualScore:
            type:
            - integer
            - 'null'
            format: int32
          inherentExposure:
            type:
            - integer
            - 'null'
            format: int32
          inherentAutonomy:
            type:
            - integer
            - 'null'
            format: int32
          inherentOpFrequency:
            type:
            - integer
            - 'null'
            format: int32
          inherentInputSurface:
            type:
            - integer
            - 'null'
            format: int32
          residualExposure:
            type:
            - integer
            - 'null'
            format: int32
          residualAutonomy:
            type:
            - integer
            - 'null'
            format: int32
          residualOpFrequency:
            type:
            - integer
            - 'null'
            format: int32
          residualInputSurface:
            type:
            - integer
            - 'null'
            format: int32
          inherentUnknownFieldsJson:
            type:
            - string
            - 'null'
          residualUnknownFieldsJson:
            type:
            - string
            - 'null'
    CredentialOrigin:
      type: string
      description: ''
      x-enumNames:
      - Platform
      - Chat
      enum:
      - Platform
      - Chat
    UseCaseIntendedUse:
      type: object
      additionalProperties: false
      properties:
        businessPurpose:
          type:
          - string
          - 'null'
        userPopulation:
          type:
          - string
          - 'null'
        deploymentContext:
          type: array
          items:
            type: string
        dataCategories:
          type: array
          items:
            type: string
        rightsAffecting:
          type: array
          items:
            type: string
        affectedPopulation:
          type: array
          items:
            type: string
        deploymentRegion:
          type: array
          items:
            type: string
        intendedOutcome:
          type:
          - string
          - 'null'
        operatingCadence:
          type:
          - string
          - 'null'
        intendedFor:
          type: array
          items:
            type: string
        notIntendedFor:
          type: array
          items:
            type: string
    AcceptanceDecision:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - decision
        properties:
          id:
            type: string
            format: guid
          riskMetadataId:
            type: string
            format: guid
          decision:
            type: string
            maxLength: 2000
            minLength: 1
          residualRisk:
            oneOf:
            - $ref: '#/components/schemas/ResidualRisk'
          user:
            oneOf:
            - $ref: '#/components/schemas/User'
          tenantId:
            type: string
            format: guid
    GatewayApiKeyOrigin:
      type: string
      description: ''
      x-enumNames:
      - SelfServe
      - EndpointAgent
      - SecurePosture
      enum:
      - SelfServe
      - EndpointAgent
      - SecurePosture
    ConnectionAzurePowerApps:
      type: object
      additionalProperties: false
      properties:
        tenantId:
          type: string
        clientId:
          type: string
        clientSecret:
          type: string
    ModelState:
      type: string
      description: ''
      x-enumNames:
      - Unknown
      - Pending
      - Retrieving
      - Storing
      - Finished
      - Failed
      enum:
      - unknown
      - pending
      - retrieving
      - storing
      - finished
      - failed
    UseCaseGovernanceFrameworkSnapshot:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
[...]
