openapi: 3.2.0
info:
  title: Airia Web Sql Documents API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: SqlDocuments
paths:
  /v1/SqlDocuments/{dataStoreId}/{dataStoreConnectorId}:
    get:
      tags:
      - SqlDocuments
      operationId: SqlDocuments_Get
      parameters:
      - name: dataStoreId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: dataStoreConnectorId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: string
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      deprecated: true
      summary: Sql documents get
      x-summary-source: derived
  /v1/SqlDocuments/{dataStoreId}/{dataStoreConnectorId}/{tableName}:
    get:
      tags:
      - SqlDocuments
      operationId: SqlDocuments_Get2
      parameters:
      - name: dataStoreId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: dataStoreConnectorId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: tableName
        in: path
        required: true
        schema:
          type: string
        x-position: 3
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: string
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      deprecated: true
      summary: Sql documents get2
      x-summary-source: derived
  /v1/SqlDocuments/{dataStoreId}/{dataStoreConnectorId}/query:
    post:
      tags:
      - SqlDocuments
      operationId: SqlDocuments_PostExecuteSqlQuery
      parameters:
      - name: dataStoreId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 1
      - name: dataStoreConnectorId
        in: path
        required: true
        schema:
          type: string
          format: guid
        x-position: 2
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SqlQueryRequest'
        required: true
        x-position: 3
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: string
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      deprecated: true
      summary: Sql documents post execute sql query
      x-summary-source: derived
components:
  schemas:
    SqlQueryRequest:
      type: object
      additionalProperties: false
      properties:
        sqlQuery:
          type: string
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
