openapi: 3.2.0
info:
  title: Airia Web Mdm Enrollment API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: MdmEnrollment
paths:
  /v1/security/mdm-enrollment:
    get:
      tags:
      - MdmEnrollment
      operationId: MdmEnrollment_Get
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MdmEnrollmentStatusResponse'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Mdm enrollment get
      x-summary-source: derived
    post:
      tags:
      - MdmEnrollment
      operationId: MdmEnrollment_Record
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordMdmEnrollmentRequest'
        required: true
        x-position: 1
      responses:
        204:
          description: ''
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        401:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        403:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Mdm enrollment record
      x-summary-source: derived
components:
  schemas:
    RecordMdmEnrollmentRequest:
      type: object
      additionalProperties: false
      required:
      - provider
      properties:
        provider:
          $ref: '#/components/schemas/MdmProvider'
    MdmProvider:
      type: string
      description: ''
      x-enumNames:
      - Intune
      - Kandji
      - JamfPro
      - BigFix
      enum:
      - Intune
      - Kandji
      - JamfPro
      - BigFix
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    MdmEnrollmentStatusResponse:
      type: object
      additionalProperties: false
      properties:
        providers:
          type: array
          items:
            $ref: '#/components/schemas/MdmProvider'
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
