openapi: 3.2.0
info:
  title: Airia Web Default Approver Configuration API
  version: 1.0.0
servers:
- url: https://api.airia.ai
tags:
- name: DefaultApproverConfiguration
paths:
  /v1/governance/configurations/default-approvers:
    get:
      tags:
      - DefaultApproverConfiguration
      operationId: DefaultApproverConfiguration_Get2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultApproverConfiguration'
        500:
          description: ''
      summary: Default approver configuration get2
      x-summary-source: derived
    put:
      tags:
      - DefaultApproverConfiguration
      operationId: DefaultApproverConfiguration_Update2
      parameters:
      - name: x-correlation-id
        in: header
        schema:
          type: string
      requestBody:
        x-name: request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDefaultApproverConfigurationRequest'
        required: true
        x-position: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultApproverConfiguration'
        400:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        500:
          description: ''
      summary: Default approver configuration update2
      x-summary-source: derived
components:
  schemas:
    DefaultApproverConfiguration:
      allOf:
      - $ref: '#/components/schemas/BaseAuditEntity'
      - type: object
        additionalProperties: false
        required:
        - tenantId
        properties:
          id:
            type: string
            format: guid
          tenantId:
            type: string
            format: guid
            minLength: 1
          approverUserIds:
            type: array
            items:
              type: string
              format: guid
          approverGroupIds:
            type: array
            items:
              type: string
              format: guid
          approvalLogic:
            type: string
    ProblemDetails:
      type: object
      additionalProperties: {}
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
    BaseAuditEntity:
      type: object
      x-abstract: true
      additionalProperties: false
      properties:
        createdAt:
          type:
          - string
          - 'null'
          format: date-time
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
        userId:
          type:
          - string
          - 'null'
          format: guid
    UpdateDefaultApproverConfigurationRequest:
      type: object
      additionalProperties: false
      properties:
        approverUserIds:
          type: array
          items:
            type: string
            format: guid
        approverGroupIds:
          type: array
          items:
            type: string
            format: guid
        approvalLogic:
          type: string
  securitySchemes:
    ApiKey:
      type: apiKey
      description: API Key Authentication
      name: X-API-Key
      in: header
    Cookies:
      type: apiKey
      description: Cookie based Authentication
      name: Cookie
      in: header
x-generator: NSwag v14.7.1.0 (NJsonSchema v11.6.1.0 (Newtonsoft.Json v13.0.0.0))
